.side-drawer {
    width: 400px;
    background-color: #3A4045;
    position: absolute;
    z-index: 999999;
    overflow-y: scroll;
    text-align: left;
  
    transition: all 0.3s ease-in-out;
  }
  
  .side-drawer.left {
    left: -400px;
  }
  
  .side-drawer.right {
    right: -400px;
  }
  
  .side-drawer.left.open {
    left: 0;
    z-index: 999999;
  }
  .side-drawer.right.open {
    right: 0;
    z-index: 999999;
  }
  