{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": false,
      "globalReturn": true
    },
    "sourceType": "script"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "extends": "semistandard",
  "rules": {
    "spaced-comment": 1,
    "quotes": 1,
    "space-unary-ops": 1,
    "no-eval": 1,
    "camelcase": 1,
    "brace-style": 1,
    "no-multiple-empty-lines": 1,
    "space-before-function-paren": 1,
    "no-multi-spaces": 1,
    "no-trailing-spaces": 1,
    "key-spacing": 1,
    "padded-blocks": 1,
    "yoda": 1,
    "no-throw-literal": 1,
    "operator-linebreak": 1,
    "indent": 1,
    "one-var": 1,
    "no-unused-vars": 1,
    "comma-spacing": 1,
    "block-spacing": 1,
    "space-in-parens": 1,
    "space-infix-ops": 1,
    "no-spaced-func": 1,
    "new-cap": 1,
    "no-new-func": 1,
    "keyword-spacing": 1,
    "curly": 1,
    "no-extra-semi": 1,
    "space-before-blocks": 1,
    "no-useless-escape": 1,
    "no-control-regex": 1,
    "standard/object-curly-even-spacing": 1,
    "standard/array-bracket-even-spacing": 1,
    "template-curly-spacing": 1,
    "no-unneeded-ternary": 1,
    "generator-star-spacing": 1,
    "yield-star-spacing": 1,
    "dot-location": 1,
    "eol-last": 1,
    "comma-dangle": 1,
    "no-extra-bind": 1,
    "semi-spacing": 1,
    "no-unreachable": 1,
    "no-self-compare": 1,
    "no-duplicate-case": 1,
    "no-whitespace-before-property": 1,
    "no-unexpected-multiline": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-extra-boolean-cast": 1,
    "handle-callback-err": 1,
  }
}
