.application-detail-view {
  section.info {
    float: left;
    padding: 13px 0 0;

    .header {
      height: 200px;
      margin-bottom: 10px;
      position: relative;

      div.header-icon-container {
        border-radius: 3px;
        height: 160px;
        left: 0;
        margin: 0 0 4px;
        position: absolute;
        width: 160px;

        img.icon {
          background-color: $c-white;
          border: 1px solid $c-content-border;
          border-radius: 3px;
          height: auto;
          max-height: 160px;
          max-width: 160px;
          padding: 5px;
          width: auto;
        }

      }

      .header_left {
        left: 170px;
        padding-top: 1px;
        position: absolute;
        width: 120px;

        input.delete,
        input.upgrade,
        input.switch-mode {
          margin-top: (170px - 4 * 30px) / 3;
        }

        input {
          width: 90px;
        }
      }

      .header_right {
        margin-left: 300px;
        padding: 5px;

        input {
          margin-left: 0;
          margin-top: -4px;
        }

        .header_line {
          h3 {
            float: left;
            padding-right: 5px;
          }

          .license {
            margin-left: 20px;
          }

          .license,
          .version {
            @include border-radius(3px);

            background-color: $c-white;
            border: 1px solid $c-content-border;
            color: $c-editor-toolbar;
            font-size: .6em;
            font-weight: 400;
            padding: 0 8px 2px;
            position: relative;
            top: -2px;
          }

          &:after {
            clear: both;
            content: '';
            display: table;
          }
        }
      }

      .app-warning {
        @include border-radius(6px);
        background: $c-negative-bg;
        border: 1px solid $c-negative-hover;
        color: $c-negative;
        padding: 4px 8px;
        position: absolute;
        right: 20px;
        top: 0;

        h4,
        p {
          font-size: 1em;
          margin: 0;
        }
      }
    }

    .swagger {
      iframe {
        border: 1px solid $c-content-border;
        border-radius: 3px;
        height: 600px;
        width: 100%;

      }
    }

    .readme {
      background: $c-white;
      border: 1px solid $c-black;
      padding: 1em 2em;
    }
  }

  aside.meta {
    background-color: $c-white;
    border: 1px solid $c-content-border;
    border-radius: 3px;
    clear: right;
    float: left;
    margin-top: 12px;
    position: relative;
    right: -10px;
    width: 188px;

    dl {
      margin-top: 0;
      padding-left: 7px;
      padding-top: 5px;
    }
  }
}


.tests-result {
  .stack {
    border-color: $c-negative;
    color: $c-negative;
    font-size: 12px;
    line-height: 1.5;
    margin: 5px 0;
  }

  &-stats {
    .pass,
    .fail,
    .pending {
      padding: 0 2px;
    }
  }

  &-spec {
    margin-bottom: 0;

    &-suites {
      & & {
        margin-left: 20px;
      }

      dd {
        margin-bottom: 20px;
        margin-left: 0;
      }
    }

    &-tests {
      margin-left: 20px;
    }

    &-test {
      &-title {
        padding-left: 20px;

        .fa {
          line-height: 18px;
          margin-left: -20px;
          margin-top: 2px;
          position: absolute;

        }

        .fa-circle {
          font-size: 50%;
          margin-left: -16px;
        }
      }
    }
  }

  .pass {
    color: $c-positive;
  }

  .fail {
    color: $c-negative;
  }

  .pending {
    color: $c-darker-grey;
  }

}
