.application-detail-view {
  section.info {
    float: left;
    padding: 13px 0 0;

    .header {
      height: 200px;
      margin-bottom: 0;
      position: relative;

      div.header-icon-container {
        border-radius: 3px;
        height: 182px;
        left: 0;
        margin: 0 0 4px;
        position: absolute;
        width: 182px;

        img.icon {
          background-color: $c-white;
          border: 1px solid $c-content-border;
          border-radius: 3px;
          height: auto;
          max-height: 160px;
          max-width: 160px;
          padding: 10px;
          width: auto;
        }

      }

      .header_right {
        padding-top: 1px;
        position: absolute;
        right: -10px;
        width: 150px;

        input.delete,
        input.upgrade,
        input.switch-docu,
        input.switch-mode {
          margin-top: (173.5px - 5 * 30px) / 3;
          padding-left: 10px;
          padding-right: 10px;
        }

        input {
          width: 130px;
        }
      }

      .header_left {
        margin-left: 190px;
        margin-right: 145px;
        padding-left: 10px;
        padding-top: 1px;

        input {
          margin-left: 0;
          margin-top: -4px;
        }

        .header_line {
          h3 {
            float: left;
            margin-bottom: 0;
            margin-top: 0;
            padding-right: 5px;
          }

          .license,
          .version {
            @include border-radius(3px);

            background-color: $c-white;
            border: 1px solid $c-content-border;
            color: $c-editor-toolbar;
            font-size: .6em;
            font-weight: 400;
            padding: 0 8px 2px;
            position: relative;
            top: -3px;
          }

          &:after {
            clear: both;
            content: '';
            display: table;
          }
        }
      }

      .app-warning {
        @include border-radius(3px);
        background: $c-negative;
        color: $c-white;
        padding: 6px 8px;

        h4,
        p {
          font-size: 1em;
          margin: 0;
        }
      }
    }

  }

  aside.meta {
    background-color: $c-white;
    border: 1px solid $c-content-border;
    border-radius: 3px;
    clear: right;
    float: left;
    height: 182px;
    margin-top: 12px;
    max-height: 182px;
    max-width: 182px;
    overflow-x: hidden;
    position: relative;
    right: -16px;
    width: 182px;

    dl {
      margin-bottom: 0;
      margin-top: 0;
      padding-left: 7px;
      padding-top: 5px;
    }
  }
}

main {
  background-color: $c-white;
  border: 1px solid $c-content-border;
  border-radius: 3px;
  margin-top: 220px;

  .app-info {
    @include border-radius(3px);
    background: $c-info-blue;
    color: $c-white;
    margin: 10px;
    padding: 6px 8px;

    h4,
    p {
      font-size: 1em;
      margin: 0;
    }
  }

  .swagger {
    iframe {
      border: 0;
      border-radius: 3px;
      height: 600px;
      width: 100%;
    }
  }

  .readme {
    background: $c-white;
    padding: 1em 2em;
  }

}

.tests-result {
  .stack {
    border-color: $c-negative;
    color: $c-negative;
    font-size: 12px;
    line-height: 1.5;
    margin: 5px 0;
  }

  &-stats {
    .pass,
    .fail,
    .pending {
      padding: 0 2px;
    }
  }

  &-spec {
    margin-bottom: 0;

    &-suites {
      & & {
        margin-left: 20px;
      }

      dd {
        margin-bottom: 20px;
        margin-left: 0;
      }
    }

    &-tests {
      margin-left: 20px;
    }

    &-test {
      &-title {
        padding-left: 20px;

        .fa {
          line-height: 18px;
          margin-left: -20px;
          margin-top: 2px;
          position: absolute;

        }

        .fa-circle {
          font-size: 50%;
          margin-left: -16px;
        }
      }
    }
  }

  .pass {
    color: $c-positive;
  }

  .fail {
    color: $c-negative;
  }

  .pending {
    color: $c-darker-grey;
  }

}
