.application-detail-view {
  section.info {
    float: left;
    padding: 13px 0 0;

    .header {
      height: 200px;
      margin-bottom: 10px;
      position: relative;

      div.header-icon-container {
        height: 160px;
        left: 0;
        margin: 0 0 4px;
        position: absolute;
        width: 160px;

        img.icon {
          border: 1px solid $c-content-border;
          border-radius: 3px;
          height: auto;
          max-height: 160px;
          max-width: 160px;
          width: auto;
        }

      }

      .header_left {
        left: 170px;
        position: absolute;
        width: 120px;
        padding-top: 1px;

        input.delete,
        input.upgrade,
        input.switch-mode {
          margin-top: (160px - 4 * 30px) / 3;
        }

        input {
          width: 90px;
        }
      }

      .header_right {
        margin-left: 300px;
        padding: 5px;

        input {
          margin-left: 0;
        }

        .header_line {
          h3 {
            float: left;
            padding-right: 5px;
          }

          .license,
          .version {
            @include border-radius(3px);

            background-color: $c-white;
            border: 1px solid $c-editor-toolbar;
            color: $c-editor-toolbar;
            font-size: .6em;
            padding: 0 8px 2px;
            position: relative;
            top: -2px;
          }

          &:after {
            content: '';
            display: table;
            clear: both;
          }
        }
      }

      .app-warning {
        position: absolute;
        top: 0;
        right: 20px;
        @include border-radius(6px);
        border: 1px solid $c-negative-hover;
        color: $c-negative;
        background: $c-negative-bg;
        padding: 4px 8px;

        h4, p {
          margin: 0;
          font-size: 1em;
        }
      }
    }

    .swagger {
      iframe {
        border: 1px solid $c-content-border;
        border-radius: 3px;
        height: 600px;
        width: 100%;
      }
    }

    .readme {
      border: 1px solid black;
      background: white;
      padding: 1em 2em;
    }
  }

  aside.meta {
    background-color: #fff; 
    border: 1px solid $c-content-border;
    border-radius: 3px;
    clear: right;
    float: left;
    width: 198px;

    dl {
      padding-left: 7px;
      padding-top: 5px;
      margin-top: 0;
    }
  }
}


.tests-result {
  .stack {
    border-color: #f04;
    margin: 5px 0;
    line-height: 1.5;
    font-size: 12px;
    color: #802;
  }
  &-stats {
    .pass,
    .fail,
    .pending {
      padding: 0 2px;
    }
  }
  &-spec {
    margin-bottom: 0;

    &-suites {
      & & {
        margin-left: 20px;
      }
      dd {
        margin-left: 0;
        margin-bottom: 20px;
      }
    }
    &-tests {
      margin-left: 20px;
    }
    &-test {
      &-title {
        padding-left: 20px;

        .fa {
          position: absolute;
          margin-left: -20px;
          margin-top: 2px;
          line-height: 18px;

        }
        .fa-circle {
          font-size: 50%;
          margin-left: -16px;
        }
      }
    }
  }
  .pass {
    color: #4c0;
  }
  .fail {
    color: #f04;
  }
  .pending {
    color: #888;
  }
}
