.application-detail-view {
  section.info {
    float: left;
    padding: 13px 0 0;

    .header {
      float: left;
      height: 200px;
      margin-bottom: 10px;
      position: relative;

      div.header-icon-container {
        height: 160px;
        left: 0;
        margin: 0 0 4px;
        position: absolute;
        width: 160px;

        img.icon {
          height: auto;
          max-height: 160px;
          max-width: 160px;
          width: auto;
        }

      }

      .header_left {
        left: 170px;
        position: absolute;
        width: 120px;

        input.delete,
        input.upgrade,
        input.switch-mode {
          margin-top: (160px - 4 * 30px) / 3;
        }
      }

      .header_right {
        left: 300px;
        padding: 5px;
        position: relative;

        h3 {
          float: left;
          padding-right: 5px;
        }

        .license,
        .version {
          @include border-radius(6px);

          border: 1px solid $c-editor-toolbar;
          color: $c-editor-toolbar;
          font-size: .6em;
          padding: 0 8px;
          position: relative;
          top: -2px;
        }

        .description {
          clear: left;
        }
      }
    }

    .swagger {
      iframe {
        height: 600px;
        width: 100%;
      }
    }
  }

  aside.meta {
    clear: right;
    float: left;
    width: 200px;
  }
}


.tests-result {
  .stack {
    border-color: #f04;
    margin: 5px 0;
    line-height: 1.5;
    font-size: 12px;
    color: #802;
  }
  &-stats {
    .pass,
    .fail,
    .pending {
      padding: 0 2px;
    }
  }
  &-spec {
    .stack {
      margin-left: 20px;
    }
    &-suites {
      & & {
        margin-left: 20px;
      }
      dd {
        margin-left: 0;
      }
    }
    &-tests {
      margin-left: 20px;
    }
    &-test {
      &-title {
        padding-left: 20px;

        .fa {
          position: absolute;
          margin-left: -20px;
          margin-top: 2px;
          line-height: 18px;

        }
        .fa-circle {
          font-size: 50%;
          margin-left: -16px;
        }
      }
    }
  }
  .pass {
    color: #4c0;
  }
  .fail {
    color: #f04;
  }
  .pending {
    color: #888;
  }
}