html {
  height: 100%;
}

body {
  //background: $c-lightgreen-2-bg !important;
  background: $c-bluegrey-bg;
  color: $c-body-color;
  display: block;
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  line-height: 20px;
  margin: 0;
  overflow: hidden;

  .bodyWrapper {
    height: 100%;
    left: 150px;
    min-height: 100%;
    position: absolute;
    right: 0;
  }

  .centralRow {
    position: relative;
  }
}


