body {
  background-color: $c-white !important;
  color: $c-body-color;
  display: block;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}


