.scenarioImage {
  @extend %clickable;
  height: 70%;
  width: auto;
}

svg.clusterChart {
  height: auto;
  margin: auto;
  width: auto;
}

.lineGraph {
  position: absolute;

  .many .dygraph-legend > span {
    display: none;

    &.highlight {
      display: inline;
    }
  }
}
