$c-body-color: #333;

$c-lightgreen-bg: rgba(222, 233, 207, 1);
/*
$c-lightgreen-2-bg: #e4ecd9;;
$c-lightgreen-transp-bg: rgba(222, 233, 207, 0.8);
$c-lightgreen-2-transp-bg: rgba(228, 236, 217, 0.8);
*/
$c-lightgreen-2-bg: #F5F8F0;
$c-lightgreen-transp-bg: #F5F8F0;
$c-lightgreen-2-transp-bg: rgba(245, 248, 240, 0.95);

$c-positive: #8aa051;
$c-positive-hover: #788f3d;

$c-table-odd-color: rgba(104, 103, 102, 0.05);

$c-negative: #da4f49;
$c-negative-hover: #be342e;
$c-negative-bg: desaturate(lighten($c-negative-hover, 40%), 50%);

$c-neutral: #8f8d8c;
$c-neutral-hover: #736b68;

$c-warning: #faa732;
$c-warning-hover: #f89406;
$c-unloaded: #ff8f35;

$c-primary: #564e4a;
$c-primary-hover: #3a322e;

$c-notification: #faa020;
$c-notification-hover: #f87c0f;

$c-inactive: #d3d3d3;
$c-inactive-hover: #d3d3d3;

$c-header-btn-bg: #fff;
$c-header-btn-fg: #555;
$c-header-btn-border: #fff;

$c-black: #000;
$c-white: #fff;

$c-c2grey: #c2c2c2;

$c-nav-bg: $c-white;
$c-bar-bg: #686766;

$c-grey: #e5e5e5;
$c-e1grey: #e1e1e1;
$c-dark-grey: #999;
$c-darker-grey: #666;

$c-transp: transparent;
$c-low-transp: rgba(0, 0, 0, .7);
$c-halfsemi-transp: rgba(0, 0, 0, .3);
$c-semi-transp: rgba(0, 0, 0, .2);
$c-very-transp: rgba(0, 0, 0, .05);
$c-content-transp: rgba(0, 0, 0, .0675);
$c-scenario-border-transp: rgba(0, 0, 0, .19);
$c-scenario-bg-transp: rgba(0, 0, 0, .075);
$c-arangodb-locked: rgba(0, 0, 0, .5);

$c-content-row-active: #bdcc92;

$c-odd : #d9d9d9;
$c-even : #fff;

$c-navbar-spacer : #a0a0a0;
$c-navbar-spacer-shadow : #c8c8c8;

$c-btn-inverse : #736b68;

$c-shell-error : #f06;
$c-shell-success : #6f0;
$c-shell-bg : #808080;
$c-shell-losing-focus: #c4cccc;

$c-shell-prompt: #b91;
$c-shell-old-prompt: #f60;

$c-slider-bg: #f6f6f6;
$c-shell-input: #dd0;
$c-shell-old-input: #bb0;

$c-notification-red: #c00;
$c-invalid-red: rgba(234, 23, 23, .6);

$c-cluster-button-green: #617e2b;
$c-cluster-button-green-hover: #8ba142;

$c-cluster-button-grey: #f1f1f1;
$c-cluster-button-grey-fg: #333;
$c-cluster-button-grey-border: rgba(0, 0, 0, .1875);
$c-cluster-button-grey-hover: #e8e8e8;
$c-cluster-button-grey-hover-fg: #4a6c30;

$c-chart-border: #808080;

$c-state-ok: #aa0;
$c-state-warning: #070;
$c-state-critical: #700;
$c-icon-grey: #686766;

$c-login-window-bg: #f4f4f4;
$c-login-window-border: #868686;

$c-toolbar-bg: #f0f0f0;

$c-editor-toolbar: #a0a0a0;

$c-query-output-border: #c0c0c0;

$c-tab-inactive: #f1f0ee;
$c-tab-active: #fff;
$c-tab-bottom-border: #ddd;
$c-tab-border: #888;

$c-pag-disabled-fg: #666;
$c-pag-disabled-bg: #777;

$c-accordion-heading: #ccc;

$c-icon-with-opacity: #333;

$c-api-docs-bg: #f4f3f3;
$c-api-docs-bg-input: #8f8d8c;

$c-breadcrumb-bg: #f5f5f5;
$c-breadcrumb-a-active-bread: #7da817;
$c-breadcrumb-a-active-bread-transp: rgba(185, 211, 117, 0.2);

$c-logs-table-id-thead-bg: #f9f9f9;

$c-viewer-border: rgba(0, 0, 0, .125);

$c-modal-header: #fff;
$c-modal-table-border-bottom: #f7f3f2;
$c-collection-tab-border-bottom: #888;
