div.demo-dropdown-menu {
  @extend %clickable;
  @include border-radius(0 0 5px 5px);
  background-color: $c-bar-bg;
  margin-bottom: 5px;
  margin-left: 5px;
  position: absolute;
  top: 32px;
  width: 222px;
  z-index: 100;
}

#flightQuerySelect.query-select {
  font-size: 13px;
  height: 25px;
  line-height: 1.1em;
  margin-top: 6px;
}

#demo-mapdiv {
  position: relative;
}

#demo-mapdiv-info {
  background-color: rgba(255, 255, 255, .75);
  border: 1.5px solid $c-darker-grey;
  border-radius: 3px;
  bottom: 20px;
  font-size: 11px;
  height: 150px;
  line-height: 1.3em;
  padding: 6px 6px 3px;
  position: absolute;
  right: 20px;
  width: 225px;
}

.amcharts-balloon-div {
  line-height: 1.1em;
}


