.footer {
  bottom: 0;
  font-size: 14px;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 1000;
}

footer.footer {
  @extend %fixedbar;
  bottom: 0;
  height: 40px;

  p {
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 100;
    font-size: 10pt;
  }
}

div.footer-left {
  @extend %pull-left;
  background: none repeat scroll 0 0 $c-transp;
  color: $c-bar-bg;
  width: 45%;

  p {
    @extend %pull-left;
  }

  .social-icons {

    margin-top: 5px;

    a {
      width: 25px;
      display: block;
      height: 25px;
      float: left;
    }

    p {
      font-size: 12pt;
      background: $c-white;
      border: 1px solid rgba(104, 103, 102, 0.1);
      border-radius: 20px;
      height: 25px;
      width: 25px;
      padding: 0;
      margin-right: 10px;
    }

    p:hover {
      cursor: pointer;
      background: $c-new-grey;

      i {
        color: $c-white;
      }
    }

    i {
      color: $c-black;
      position: absolute;
      margin-top: 4px;

      &.fa-twitter {
        margin-left: -7px;
      }
      &.fa-envelope {
        margin-left: -20px;
      }
      &.fa-google {
        margin-top: 6px;
        margin-left: -18px;
      }
      &.fa-stack-overflow {
        margin-left: -18px;
      }
    }


  }
}

div.footer-center {
  @extend %pull-left;
  background: none repeat scroll 0 0 $c-transp;
  color: $c-bar-bg;
  width: 10%;

  p:hover {
    cursor: pointer;
  }
}

div.footer-right {
  @extend %pull-right;
  background: none repeat scroll 0 0 $c-transp;
  color: $c-bar-bg;
  width: 45%;

  p {
    @extend %pull-right;
    color: $c-white;
  }

  i {
    color: $c-negative;
    font-size: 18px;
  }

  a {
    color: $c-bar-bg;
    margin-left: 5px;
    position: relative;
    top: -1px;
  }

  .isOnline {
    color: $c-positive !important;
  }

}
