.display-none {
  display: none;
}

.row {
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.innerContent {
  min-height: 200px;
  background-color: $c-white;
  border-radius: 4px;
  padding-top: 13px;
}

//still in use???
.container {
  margin-left: 20px;
  margin-right: 20px;
  width: auto !important;
}
