.graphContent {

  #graph-container {
    background-color: $c-white;
    z-index: 5;
  }

  #graph-container:-webkit-full-screen {
    height: 100% !important;
    width: 100% !important;
  }

  #graph-container:-moz-full-screen {
    height: 100% !important;
    width: 100% !important;
  }

  #graph-container:-ms-full-screen {
    height: 100% !important;
    width: 100% !important;
  }

  #graph-container:-o-full-screen {
    height: 100% !important;
    width: 100% !important;
  }

  #graph-container:full-screen {
    height: 100% !important;
    width: 100% !important;
  }

  .fa {
    &.fa-television {
      margin-top: 6px;
      position: absolute;
      right: 20px;
      z-index: 10;
    }
  }
}

.nodeContextMenu {

  position: fixed;

  svg {
    path {
      font-size: 2pt !important;
    }
  }
}
