input.search-input {
  @include border-radius(3px);
  background-color: $c-white !important;
  border: 1px solid #eeeeee;
  box-shadow: none;
  height: 14px;
  line-height: 18px;
  margin-top: 6px;
  margin-right: -1px;
  width: 120px;
  outline: none;
    outline-color: $c-transp;
    outline-style: none;

  &:focus {
    border-color: #999999;
    box-shadow: none;
    outline: none;
    outline-color: $c-transp;
    outline-style: none;
  }
}


.search-field {
  @extend %pull-right;
  margin-left: 10px;

  .fa-search {
    color: #D2D2D2;
    font-size: 13pt;
    opacity: 0.5;
    position: absolute;
    right: 7px;
    top: 9px;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

}

%search-submit-icon {
  @extend %clickable;
  background-image: url('../img/enter_icon.png');
  background-size: 14px;
  height: 14px;
  margin-left: -18px;
  opacity: .2;
  position: absolute;
  width: 14px;

  &:hover {
    opacity: .8;
  }
}

.search-submit-icon {
  @extend %search-submit-icon;
  margin-top: 11px;
}

.gv-search-submit-icon {
  @extend %search-submit-icon;
  margin-top: 6px;
}

// To be cleaned up from here on!

// The bar on top of each page
div.headerBar {
  background-color: $c-white;
  border-radius: 3px;
  border: 1px solid rgba(104, 103, 102, 0.10);
  color: $c-white;
  font-size: 16px;
  height: 36px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;

  .infoField {
    background-color: #f5f8f0;
    border: 1px solid lightgrey;
    border-radius: 3px !important;
    color: black;
    float: right;
    font-size: 12px;
    margin-top: 7px;
    margin-right: 7px;
    padding-left: 5px;
    padding-right: 5px;

    .fa {
      cursor: pointer;
      margin-left: 5px;
    }

  }

  input[type=checkbox].css-checkbox {
    display: none;

    & + label.css-label {
      background-position: 0 0;
      background-repeat: no-repeat;
      cursor: pointer;
      display: inline-block;
      font-size: 15px;
      height: 15px;
      margin-top: 0;
      padding-left: 20px;
      vertical-align: middle;
    }
  }

  input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
  }

  input[type="radio"] {
    display: none;

    & + label span {
      background: url('../img/check_radio_sheet.png') -38px top no-repeat;
      cursor: pointer;
      display: inline-block;
      height: 19px;
      margin: -1px 4px 0 0;
      vertical-align: middle;
      width: 19px;
    }
  }

  input[type="radio"]:checked + label span {
    background: url('../img/check_radio_sheet.png') -57px top no-repeat;
  }
}



// The title of the page

div.headerBar a.arangoHeader {
  color: $c-black;
  font-size: 16px;
  left: 0px;
  position: relative;
  top: 7px;
}

// The buttons on the right side

div.headerBar > div.headerButtonBar {
  @extend %clear-float;
  @extend %pull-right;
  margin: 4px 0;
  margin-bottom: 0 !important;
}

// Breadcrumbs on the left side 


.breadcrumb {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 8px 0;

  // Disabled breadcrumb
  .disabledBread {
    color: $c-darker-grey;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }

  .activeBread {
    color: $c-breadcrumb-a-active-bread;
    float: left;
  }
}

// arangoHeader
.arangoHeader {
  font-weight: 400;
}

#transparentHeader input[type=checkbox].css-checkbox {
  display: none;
}
