// TODO Needs to be cleaned up it is not so !important as it looks...
.jsoneditor {
  background-color: $c-white !important;
  border: 0px solid $c-semi-transp !important;

  .menu {
    background-color: $c-white !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-bottom: 1px solid $c-c2grey !important;

    button {
      border: 0 !important;
    }
    button:hover {
      background-color: $c-positive;
      color: $c-white;
    }

  }

  .search {

    .frame {
      border: 0 !important;
      margin: 3px !important;

      input {
        border: 1px solid $c-c2grey !important;
        border-radius: 4px;
        margin-top: -2px;
        margin-left: 5px;
        margin-right: 5px;
      }

    }

    .results {
      color: $c-white !important;
      margin-top: 3px !important;
    }
  }
}

.show-save-state {
  @extend %pull-right;
  color: #008000;
  display: none;
  font-weight: 300;
  margin-top: 5px;
}

.document-editor {
  height: 500px;
  margin-bottom: 5px;
  width: 100%;
}
