.loginFixedWindow {
  background: #dee8d0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.login-window {
  background-color: #fff;
  border-radius: 5px;
  height: 280px;
  left: 50%;
  margin-left: -220px !important;
  margin-top: -150px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 50%;
  width: 400px;

  img {
    margin-left: 12px;
  }

  .fa {
    color: rgba(0, 0, 0, .4);
    float: right;
    font-size: 14pt;
    margin-right: 5px;
    margin-top: -34px;
  }
}

.login-space {
  height: 50px;
}

.login-input {
  width: 387px;
}
