.loginFixedWindow {
  background: var(--gray-400);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  #databases {
    height: 140px;

    .no-database {
      background: $c-white;
      border-radius: 2px;
      padding: 40px;
      text-align: center;
    }

    #logout {
      margin-top: 20px;
    }
  }

  .resizecontainer {
    position: relative;
    top: 0;

    img {
      height: 33px;
      margin-left: -6px;
      margin-top: 9px;
    }
  }
}

.login-window {
  background-color: white;
  border-radius: 8px;
  height: auto;
  margin: 0 auto;

  padding: {
    bottom: 50px;
    left: 20px;
    right: 20px;
    top: 20px;
  }

  position: relative;
  top: 25px;
  width: 350px;

  .databaseInput {
    box-sizing: border-box;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 30px;
    padding-left: 10px;
    width: 100%;
  }

  select {
    @extend %flat-select;
    margin-bottom: 30px;
    padding-left: 35px;
    -moz-appearance: none;
  }

  .login-logo-round {
    margin-bottom: 30px;
    margin-top: 35px;

    img,
    #ArangoDBLogoVersion {
      display: block;
      margin: 0 auto;
      width: 270px;
    }

    #ArangoDBLogoVersion {
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 9pt;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: right;
    }

  }

  .checking-password {
    box-sizing: border-box;
    color: rgba(0, 0, 0, .5);
    margin-left: -21px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  form {
    .fa {
      color: rgba(0, 0, 0, .2);
      float: left;
      font-size: 14pt;
      left: 30px;
      margin-top: 11px;
      position: absolute;
    }
  }

  .no-access,
  .wrong-credentials {
    color: $c-negative;
    margin-left: -20px;
    margin-top: -24px;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .login-space {
    height: 50px;
  }

  .login-input {
    @extend %inputs;
    background: var(--gray-100) !important;
    background-color: var(--gray-100) !important;
    border: 2px solid var(--gray-100) !important;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
    height: 40px;
    margin: 0 0 15px;
    outline: 0;
    padding: 10px;
    padding-left: 35px;
    width: 100%;

    &:focus {
      border: 2px solid var(--blue-600) !important;
      box-shadow: none !important;
    }
  }

  .databaseInput {
    padding-left: 10px !important;
  }

  .form-error {
    border: 2px solid $c-negative !important;
  }

  button {
    @extend %animated;
    height: 40px;
    width: 100%;
  }

}