.navbar {

  -webkit-font-smoothing: subpixel-antialiased;

  .nav {
    li.dropdown {
      .active > .dropdown-toggle,
      .open > .dropdown-toggle,
      .open.active > .dropdown-toggle {
        background: $c-positive-hover;
      }
    }
  }
}

nav.navbar {
  @extend %fixedbar;
  padding-top: 6px;
  height: 44px;
  margin-bottom: 3px;
  top: 0;

  .arangodbLogo {
    height: auto;
    margin-left: -5px;
    margin-top: -1px;
    width: 40%;
  }

  .nav {

    & > .active {

      & > a {
        background-color: $c-white;
        color: $c-black;
        @include box-shadow(0 0 0 $c-transp inset);
      }
    }

    & > li {

      & > a:focus {
        background-color: $c-nav-bg;
      }

      & > a:hover {
        background-color: $c-black;
        color: $c-bar-bg;
      }
    }
  }
}

div.navlogo {
  @extend %pull-left;
  margin-left: 5px;
  margin-right: -3px;
  padding-top: 3px;
}

div.navmenu {
  @extend %pull-right;
}

ul.navlist {
  list-style: none;

  li {
    @extend %pull-left;
    margin-left: 1px;

    &.navbar-spacer {
      background-color: $c-navbar-spacer;
      height: 21px;
      margin-top: 9px;
      width: 1px;

      &.big {
        margin-left: 15px;
        margin-right: 15px;
      }

      &.med {
        margin-left: 5px;
        margin-right: 5px;
      }

      &:hover {
        background-color: $c-navbar-spacer;
      }
    }
  }

  li.active {
    font-weight: bold;

    .tab {
      border-bottom: 2px solid $c-positive;
      padding-bottom: 4px;
    }
  }

  > li.active {
    background-color: $c-transp;

    a {
      color: $c-black;
    }
  }

  > li.active:hover {
    background-color: $c-transp;

    a {
      color: $c-black;
    }

  }
  li {
    &.navbar-spacer,
    &.divider {
      border: none;
    }

    &.divider {
      background-color: rgba(0,0,0,0.2);
    }
  }


  li {

   border-top: 1px solid transparent;
   border-left: 1px solid transparent;
   border-right: 1px solid transparent;

    &.dropdown:hover {
      border-top: 1px solid rgba(0,0,0,0.2);
      border-left: 1px solid rgba(0,0,0,0.2);
      border-right: 1px solid rgba(0,0,0,0.2);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  li.dropdown-item:hover,
  > li:hover {
    background-color: $c-white;
    border-radius: 3px;

    a {
      color: $c-black;
    }
  }

  li.dropdown-item {
    margin-left: 0;

    a {
      display: block;
      border-bottom: 0;
      font-size: 11pt;
    }

    a:hover {
      color: $c-bar-bg;
      background-color: $c-lightgreen-bg;
    }
  }
}

a.tab {
  color: $c-bar-bg;
  display: block;
  font-size: 12pt;
  font-weight: 100;
  padding: {
    top: 9px;
    left: 10px;
    bottom: 10px;
    right: 10px;
  }

  &.userImg {
    padding-bottom: 5px;
  }
}

.dropdown-item {
  a {
    border-bottom: 0 !important;
    font-weight: 300;
  }
}

ul.link-dropdown-menu,
ul.user-dropdown-menu {
  @extend %dropdown-menu;
  background-color: $c-white;
  z-index: -10;
  margin-top: 7px;
  margin-right: -1px;
  border: 1px solid rgba(0,0,0,0.2);
  border-top-right-radius: 0;
}

ul.user-dropdown-menu {
  margin-top: 6px;
}

ul.script-dropdown-menu {
  @extend %dropdown-menu;

  li.dropdown-item {
    @extend %clickable;

    margin-left: 0;

    a {
      display: block;

      &:hover {
        color: $c-white;
      }
    }

    &:hover {
      background-color: $c-positive;
    }
  }
}

ul.gv-dropdown-menu {
  @extend %dropdown-menu;
  @include border-radius(0);

  background-color: $c-low-transp;
  border: solid 1px $c-c2grey;
  margin-right: -20px;
  margin-top: 6px;

  &:after {
    border-bottom-color: $c-nav-bg;
  }

  li {

    &:hover {
      background-color: $c-white;
      background-image: none;
    }

    a {
      padding: 0;

      label {
        color: $c-white;
        padding-left: 5px;
      }

      &:focus {
        background-color: $c-positive !important;
        background-image: none;
      }
    }
  }
}

#arangoCollectionSelect {
  display: none;
  float: right;
  margin-bottom: 0;
  margin-right: 15px;
  padding-bottom: 0;
}

.caret {
  border: {
    left: 5px solid $c-transp;
    top: 5px solid $c-bar-bg;
    right: 5px solid $c-transp;
  }
  content: '';
  display: inline-block;
  height: 0;
  vertical-align: top;
  width: 0;
}

.applications-menu {
  display: block;
}

.arango-logo {
  height: 34px;
  padding: 0 !important;

  img {
    margin-left: 22px;
  }
}
