.navbar {
  @extend %fixedbar;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  margin-bottom: 3px;
  padding-top: 6px;
  top: 0;


  .arangodbLogo {
    height: auto;
    margin-left: -5px;
    margin-top: -1px;
    width: 40%;
  }

  .nav {

    .dropdown {
      .active > .dropdown-toggle,
      .open > .dropdown-toggle,
      .open.active > .dropdown-toggle {
        background: $c-positive-hover;
      }
    }

    > .active {

      > a {
        @include box-shadow(0 0 0 $c-transp inset);
        background-color: $c-white;
        color: $c-black;
      }
    }

    > li {

      > a:focus {
        background-color: $c-nav-bg;
      }

      > a:hover {
        background-color: $c-black;
        color: $c-bar-bg;
      }
    }
  }
}

.navlogo {
  @extend %pull-left;
  margin-left: 5px;
  margin-right: -3px;
  padding-top: 3px;
}

.navmenu {
  @extend %pull-right;
}

.navlist {
  list-style: none;

  li {
    @extend %pull-left;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    margin-left: 1px;

    &.dropdown:hover {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-left: 1px solid rgba(0, 0, 0, .2);
      border-right: 1px solid rgba(0, 0, 0, .2);
      border-top: 1px solid rgba(0, 0, 0, .2);
    }

    &.navbar-spacer,
    &.divider {
      border: 0;
    }

    &.divider {
      background-color: rgba(0, 0, 0, .2);
    }

    &.navbar-spacer {
      background-color: $c-navbar-spacer;
      height: 21px;
      margin-top: 9px;
      width: 1px;

      &.big {
        margin-left: 15px;
        margin-right: 15px;
      }

      &.med {
        margin-left: 5px;
        margin-right: 5px;
      }

      &:hover {
        background-color: $c-navbar-spacer;
      }
    }
  }

  .active {
    .tab {
      border-bottom: 2px solid $c-positive;
      padding-bottom: 4px;
    }
  }

  > .active {
    background-color: $c-transp;

    a {
      color: $c-black;
    }
  }

  > .active:hover {
    background-color: $c-transp;

    a {
      color: $c-black;
    }

  }

  .dropdown-item:hover,
  > li:hover {
    background-color: $c-white;
    border-radius: 3px;

    a {
      color: $c-black;
    }
  }

  .dropdown-item {
    margin-left: 0;

    a {
      border-bottom: 0;
      display: block;
      font-size: 11pt;
    }

    a:hover {
      background-color: $c-lightgreen-bg;
      color: $c-bar-bg;
    }
  }
}

.tab {
  color: $c-bar-bg;
  display: block;
  font-size: 12pt;
  font-weight: 100;
  padding: {
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 9px;
  }

  &.userImg {
    padding-bottom: 5px;
  }
}

.dropdown-item {
  a {
    border-bottom: 0 !important;
    font-weight: 300;
  }
}

.link-dropdown-menu,
.user-dropdown-menu {
  @extend %dropdown-menu;
  background-color: $c-white;
  border: 1px solid rgba(0, 0, 0, .2);
  border-top-right-radius: 0;
  margin-right: -1px;
  margin-top: 7px;
  z-index: -10;
}

.user-dropdown-menu {
  margin-top: 6px;
}

.script-dropdown-menu {
  @extend %dropdown-menu;

  .dropdown-item {
    @extend %clickable;

    margin-left: 0;

    a {
      display: block;

      &:hover {
        color: $c-white;
      }
    }

    &:hover {
      background-color: $c-positive;
    }
  }
}

.gv-dropdown-menu {
  @extend %dropdown-menu;
  @include border-radius(0);

  background-color: $c-low-transp;
  border: solid 1px $c-c2grey;
  margin-right: -20px;
  margin-top: 6px;

  &:after {
    border-bottom-color: $c-nav-bg;
  }

  li {

    &:hover {
      background-color: $c-white;
      background-image: none;
    }

    a {
      padding: 0;

      label {
        color: $c-white;
        padding-left: 5px;
      }

      &:focus {
        background-color: $c-positive !important;
        background-image: none;
      }
    }
  }
}

#arangoCollectionSelect {
  display: none;
  float: right;
  margin-bottom: 0;
  margin-right: 15px;
  padding-bottom: 0;
}

.caret {
  border: {
    left: 5px solid $c-transp;
    right: 5px solid $c-transp;
    top: 5px solid $c-bar-bg;
  }
  content: '';
  display: inline-block;
  height: 0;
  vertical-align: top;
  width: 0;
}

.applications-menu {
  display: block;
}

.arango-logo {
  height: 34px;
  padding: 0 !important;

  img {
    margin-left: 22px;
  }
}
