#notification_menu {
  .innerDropdownInnerUL {
    margin-left: 0;
  }
}

#noty_bottom_layout_container {
  li {
    border: 0 !important;
  }
}

.noty_bar {

  .arango_message {
    font-weight: 500 !important;

    div {
      float: right;
      width: 20px;
    }
  }

}

.fixedDropdown {
  background: $c-white !important;
  border-color: $c-content-border !important;
  border-radius: 3px !important;
  margin: 10px -3px 0 !important;
  right: -1px !important;
  width: 210px;

  &:after {
    visibility: hidden;
  }

  .dropdown-item {
    border-bottom: 1px solid $c-semi-transp;
  }

  .dropdown-header {
    border-bottom: 1px solid $c-semi-transp;
    margin-left: -1px;
    padding: 0 !important;

    a {
      color: $c-black;
    }
  }

  a {
    padding-left: 5px !important;
  }

  .notificationItemContent {
    @extend %pull-left;
    font-size: .9em;
    font-weight: 300;
    margin-left: 15px;
    max-width: 180px;
    min-height: 15px;
    white-space: normal;
    width: 180px;
    word-wrap: break-word;
  }

  button {
    @extend %pull-right;
    margin-right: 5px;
    margin-top: 5px;
  }

  .notificationItem {
    color: $c-black;

    .notificationItemTitle {
      color: $c-black;
      font-weight: 400;
      max-width: 165px;
      overflow-wrap: break-word;
      white-space: normal;
      word-wrap: break-word;
    }

    .notificationItemTitle:hover {
      background-color: $c-transp;
      cursor: default;
    }

    i {
      @extend %pull-right;
      @extend %clickable;
      color: $c-semi-transp;
      font-size: 20px;
      padding-left: 5px;
      position: relative;
      right: 2px;

      &:hover {
        color: $c-black;
      }

    }

  }

}

.innerDropdownInnerUL {
  @extend %pull-left;
  border-bottom: 1px solid $c-semi-transp;
  height: 220px !important;
  min-height: 220px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;

  .dropdown-item:hover {
    background-color: $c-e1grey !important;
  }

  li {
    width: auto !important;
  }

}

#stat_hd {
  @include border-radius(3px);
  background-color: $c-white;
  border: 1px solid $c-content-border;
  height: 25px;
  margin-top: 3px;
  position: relative;
  right: 3px;
  text-align: center;
  width: 25px;

  #stat_hd_counter {
    color: $c-c2grey;
    line-height: 25px;
    text-align: center;
  }
}

.fullNotification {
  background-color: $c-notification-red !important;
  border: 1px solid $c-notification-red !important;

  p {
    color: $c-white !important;
  }

  &:hover {
    @extend %clickable;
  }
}

