.machineClass {
  @extend %clear-float;
  @extend %pull-left;

  background-color: $c-e1grey;
  margin-left: 31px;
  margin-right: 31px;
  padding: 10px;
}

.scenarioBox {
  @include border-radius(3px);

  background-color: $c-scenario-bg-transp;
  border: 1px solid $c-scenario-border-transp;
  height: 65px;
  left: 10px;
  margin-top: 30px;
  position: absolute;
  right: 10px;
  width: auto;

  &.bottomBox {
    bottom: 30px;
  }
}

.scenarioBoxHeader {
  border-bottom: 1px solid $c-scenario-border-transp;
  height: 18px;
  line-height: 18px;
  margin-top: 0;
  padding-bottom: 0;
  text-align: center;
  width: auto;
}

.scenarioBoxText {
  font-size: 13px;
  font-weight: 400;
  margin-top: 17px;
  text-align: center;
  width: auto;
}

.scenarioMachine {
  @extend %pull-left;
  @include border-radius(3px 3px 0 0);

  background-color: $c-white;
  border: 1px solid $c-scenario-border-transp;
  height: 257px;
  margin-right: 17px;
  position: relative;
  width: 109px;

  &:last-child {
    margin-right: 0;
  }
}

.scenarioSingleMachine {
  @extend %clear-float;
  @include border-radius(3px 3px 0 0);
  background-color: $c-white;
  border: 1px solid $c-scenario-border-transp;

  .scenarioMachine {
    border: 1px solid $c-transp;
    height: 238px;
  }
}

.bigtile.informationtile {
  cursor: auto;
}

.informationText {
  background: $c-white;
  font-size: 12px;
  margin: 10px;
  padding: 5px;
  text-align: left;
}
