#progressPlaceholder {
  background-color: rgba(0, 0, 0, .4);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

.progress-view {
  background-color: $c-progress-bg;
  border-radius: 2px;
  color: $c-nav-bg;
  height: 188px;
  left: 50%;
  margin: -100px 0 0 -150px;
  position: absolute;
  top: 50%;
  width: 300px;

  .progress-content {
    margin-left: 90px;
    margin-top: 10px;

    .fa-spinner {
      font-size: 100pt;
    }

  }

  .progress-message {
    background-color: $c-nav-bg;
    border-radius: 0 0 2px 2px;
    color: $c-white;
    font-weight: 200;
    height: 44px;
    margin-top: 33px;
    padding-top: 3px;
    text-align: center;
  }

  .progress-text {
    color: $c-black;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
  }

  .progress-action {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
  }



}

#progressPlaceholderIcon {
  color: $c-positive;
  float: left;
  font-size: 22px;
  margin-left: 10px;
  margin-top: 7px;
}

.pong-loader {
  margin-left: 17px;
  margin-top: 35px;
}

@-moz-keyframes pong-loader {
  0% {
    left: 5px;
    top: 0;
  }

  25% {
    left: 65px;
    top: 20px;
  }

  50% {
    left: 5px;
  }

  62.5% {
    top: 50px;
  }

  75% {
    left: 65px;
    top: 70%;
  }

  100% {
    left: 5px;
    top: 0%;
  }
}
@-webkit-keyframes pong-loader {
  0% {
    left: 5px;
    top: 0;
  }

  25% {
    left: 65px;
    top: 20px;
  }

  50% {
    left: 5px;
  }

  62.5% {
    top: 50px;
  }

  75% {
    left: 65px;
    top: 70%;
  }

  100% {
    left: 5px;
    top: 0%;
  }
}
@keyframes pong-loader {
  0% {
    left: 5px;
    top: 0;
  }

  25% {
    left: 65px;
    top: 20px;
  }

  50% {
    left: 5px;
  }

  62.5% {
    top: 50px;
  }

  75% {
    left: 65px;
    top: 70%;
  }

  100% {
    left: 5px;
    top: 0%;
  }
}
@-moz-keyframes pong-loader-paddle-1 {
  0% {
    -moz-box-shadow: inset $c-progress-shadow 0 5px 0 0, inset $c-progress-shadow 0 -35px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 5px 0 0, inset $c-progress-shadow 0 -35px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  25% {
    -moz-box-shadow: inset $c-progress-shadow 0 15px 0 0, inset $c-progress-shadow 0 -25px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 15px 0 0, inset $c-progress-shadow 0 -25px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  50% {
    -moz-box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  62.5% {
    -moz-box-shadow: inset $c-progress-shadow 0 10px 0 0, inset $c-progress-shadow 0 -30px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 10px 0 0, inset $c-progress-shadow 0 -30px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  75% {
    -moz-box-shadow: inset $c-progress-shadow 0 40px 0 0, inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 40px 0 0, inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  100% {
    -moz-box-shadow: inset $c-progress-shadow 0 5px 0 0, inset $c-progress-shadow 0 -35px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 5px 0 0, inset $c-progress-shadow 0 -35px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }
}
@-webkit-keyframes pong-loader-paddle-1 {
  0% {
    -webkit-box-shadow: inset $c-progress-shadow 0 5px 0 0, inset $c-progress-shadow 0 -35px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 5px 0 0, inset $c-progress-shadow 0 -35px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  25% {
    -webkit-box-shadow: inset $c-progress-shadow 0 15px 0 0, inset $c-progress-shadow 0 -25px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 15px 0 0, inset $c-progress-shadow 0 -25px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  50% {
    -webkit-box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  62.5% {
    -webkit-box-shadow: inset $c-progress-shadow 0 10px 0 0, inset $c-progress-shadow 0 -30px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 10px 0 0, inset $c-progress-shadow 0 -30px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  75% {
    -webkit-box-shadow: inset $c-progress-shadow 0 40px 0 0, inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 40px 0 0, inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  100% {
    -webkit-box-shadow: inset $c-progress-shadow 0 5px 0 0, inset $c-progress-shadow 0 -35px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 5px 0 0, inset $c-progress-shadow 0 -35px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }
}
@keyframes pong-loader-paddle-1 {
  0% {
    -moz-box-shadow: inset $c-progress-shadow 0 5px 0 0, inset $c-progress-shadow 0 -35px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    -webkit-box-shadow: inset $c-progress-shadow 0 5px 0 0, inset $c-progress-shadow 0 -35px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 5px 0 0, inset $c-progress-shadow 0 -35px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  25% {
    -moz-box-shadow: inset $c-progress-shadow 0 15px 0 0, inset $c-progress-shadow 0 -25px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    -webkit-box-shadow: inset $c-progress-shadow 0 15px 0 0, inset $c-progress-shadow 0 -25px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 15px 0 0, inset $c-progress-shadow 0 -25px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  50% {
    -moz-box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    -webkit-box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  62.5% {
    -moz-box-shadow: inset $c-progress-shadow 0 10px 0 0, inset $c-progress-shadow 0 -30px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    -webkit-box-shadow: inset $c-progress-shadow 0 10px 0 0, inset $c-progress-shadow 0 -30px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 10px 0 0, inset $c-progress-shadow 0 -30px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  75% {
    -moz-box-shadow: inset $c-progress-shadow 0 40px 0 0, inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    -webkit-box-shadow: inset $c-progress-shadow 0 40px 0 0, inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 40px 0 0, inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  100% {
    -moz-box-shadow: inset $c-progress-shadow 0 5px 0 0, inset $c-progress-shadow 0 -35px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    -webkit-box-shadow: inset $c-progress-shadow 0 5px 0 0, inset $c-progress-shadow 0 -35px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 5px 0 0, inset $c-progress-shadow 0 -35px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }
}
@-moz-keyframes pong-loader-paddle-2 {
  0% {
    -moz-box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  50% {
    -moz-box-shadow: inset $c-progress-shadow 0 30px 0 0, inset $c-progress-shadow 0 -10px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 30px 0 0, inset $c-progress-shadow 0 -10px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  62.5% {
    -moz-box-shadow: inset $c-progress-shadow 0 40px 0 0, inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 40px 0 0, inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  75% {
    -moz-box-shadow: inset $c-progress-shadow 0 20px 0 0, inset $c-progress-shadow 0 -20px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 20px 0 0, inset $c-progress-shadow 0 -20px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  100% {
    -moz-box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }
}
@-webkit-keyframes pong-loader-paddle-2 {
  0% {
    -webkit-box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  50% {
    -webkit-box-shadow: inset $c-progress-shadow 0 30px 0 0, inset $c-progress-shadow 0 -10px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 30px 0 0, inset $c-progress-shadow 0 -10px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  62.5% {
    -webkit-box-shadow: inset $c-progress-shadow 0 40px 0 0, inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 40px 0 0, inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  75% {
    -webkit-box-shadow: inset $c-progress-shadow 0 20px 0 0, inset $c-progress-shadow 0 -20px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 20px 0 0, inset $c-progress-shadow 0 -20px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  100% {
    -webkit-box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }
}
@keyframes pong-loader-paddle-2 {
  0% {
    -moz-box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    -webkit-box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  50% {
    -moz-box-shadow: inset $c-progress-shadow 0 30px 0 0, inset $c-progress-shadow 0 -10px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    -webkit-box-shadow: inset $c-progress-shadow 0 30px 0 0, inset $c-progress-shadow 0 -10px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 30px 0 0, inset $c-progress-shadow 0 -10px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  62.5% {
    -moz-box-shadow: inset $c-progress-shadow 0 40px 0 0, inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    -webkit-box-shadow: inset $c-progress-shadow 0 40px 0 0, inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 40px 0 0, inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  75% {
    -moz-box-shadow: inset $c-progress-shadow 0 20px 0 0, inset $c-progress-shadow 0 -20px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    -webkit-box-shadow: inset $c-progress-shadow 0 20px 0 0, inset $c-progress-shadow 0 -20px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 20px 0 0, inset $c-progress-shadow 0 -20px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }

  100% {
    -moz-box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    -webkit-box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
    box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow 3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  }
}

.pong-loader:not(:required) {
  -moz-animation: pong-loader-paddle-1 1500ms infinite linear;
  -webkit-animation: pong-loader-paddle-1 1500ms infinite linear;
  animation: pong-loader-paddle-1 1500ms infinite linear;
  background: $c-progress-shadow;
  -moz-box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  -webkit-box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  display: inline-block;
  height: 60px;
  overflow: hidden;
  position: relative;
  text-indent: 100%;
  width: 80px;
}

.pong-loader:not(:required):before {
  -moz-animation: pong-loader-paddle-2 1500ms infinite linear;
  -webkit-animation: pong-loader-paddle-2 1500ms infinite linear;
  animation: pong-loader-paddle-2 1500ms infinite linear;
  -moz-box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  -webkit-box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  box-shadow: inset $c-progress-shadow 0 0 0 0, inset $c-progress-shadow 0 -40px 0 0, inset $c-progress-shadow -3px 0 0 0, inset $c-progress-shadow-2 -10px 0 0 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

.pong-loader:not(:required):after {
  -moz-animation: pong-loader 1500ms infinite linear;
  -webkit-animation: pong-loader 1500ms infinite linear;
  animation: pong-loader 1500ms infinite linear;
  background: $c-progress-shadow-2;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}
