.pure-table-body {
  overflow-x: none;
  overflow-y: auto;

  .selected-row {
    background-color: rgba(46, 204, 113, .2);
  }
}

.pure-table {

  padding: {
    left: 20px;
    right: 20px;
  }

  &.no-padding {
    padding: {
      left: 0;
      right: 0;
    }

    .pure-table-row div {
      div {
        padding-left: 2.5px;
      }
    }

    &.pure-table-header {
      .pure-table-row > div:first-child {
        .title {
          padding-left: 10px;
        }
      }
    }

  }

  &.pure-title {
    .pure-table-row {
      color: $c-pure-title;
      font-weight: 600;

      &:hover {
        background-color: $c-white;
        cursor: default;
      }
    }

    .pure-table-row:last-child {
      border-bottom: 1px solid $c-content-border;
      margin-bottom: 0;
    }

  }

  .pure-table-row {
    border-bottom: 1px solid $c-content-border;
    color: $c-pure-text;
    font-weight: 100;
    line-height: 40px;
    width: 100%;

    .padding-left {
      padding-left: 30px;
    }

    .padding-right {
      padding-right: 30px;
    }

    .actions {
      float: right;
      padding-right: 5px;
    }

    &:hover {
      background-color: rgb(239, 240, 235);
      cursor: pointer;
    }

    &.disabled {
      &:hover {
        background-color: $c-white;
        cursor: not-allowed;
      }
    }

    .left {
      text-align: left;
    }

    .right {
      text-align: right;
    }

    .mid {
      text-align: center;
    }

    .fa {
      &.fa-check-circle {
        color: $c-positive;
      }

      &.fa-exclamation-circle {
        color: $c-negative;
      }
    }
  }

  .pure-table-row:last-child {
    border-bottom: 0;
    margin-bottom: 10px;
  }

}
