.inputEditorWrapper {
  border-bottom: 3px solid $c-content-border !important;
  border-left: 1px solid $c-content-border;
  border-right: 1px solid $c-content-border;
  clear: both;
  height: 300px;
  min-height: 300px;
  width: 100%;

  .aqlEditorWrapper {
    border: 0 !important;
    border-right: 3px solid $c-content-border !important;
    float: left;
    height: 100% !important;
    max-width: 85%;
    min-width: 20%;
    width: 70%;
  }

  #arangoMyQueriesTable {
    tr {
      cursor: copy;
    }
  }

  .bindParamEditorWrapper,
  .aqlEditorWrapper {
    overflow: hidden;

    .stringtype {
      color: $c-sh-string;
    }

    .objecttype {
      color: $c-sh-object;
    }

    .arraytype {
      color: $c-sh-array;
    }

    .numbertype {
      color: $c-sh-number;
    }

    .booleantype {
      color: $c-sh-keyword;
    }

    table {
      border-top: 0;
      font: 13px/normal Monaco,Menlo,'Ubuntu Mono',Consolas,source-code-pro,monospace;

      tbody {
        display: block;
        overflow-y: auto;
      }

      .truncate {
        opacity: .8;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 30%;
      }

      tr {
        &.noBgColor {
          background-color: rgba(0, 0, 0, 0) !important;
        }

        &.selected {
          background-color: $c-positive;
          color: $c-white;

          .spanWrapper {
            background-color: rgba(255, 255, 255, .65);
          }

          .fa-copy,
          .fa-comments {
            color: $c-black;
          }

        }
      }

      thead {
        display: block;
      }

      td {
        height: 33px;
        padding: 0 5px;
        width: 50%;

        .spanWrapper {
          border-radius: 3px;
          cursor: auto;
          float: right;

          &:hover {
            cursor: auto;
          }

          .fa {
            cursor: pointer;
            font-size: 18pt;
            margin-left: 5px;
            margin-right: 5px;
          }

          .fa-minus-circle {
            margin-left: 20px;
          }

          .fa-play-circle-o {
            color: $c-positive;
          }
        }

        input {
          @extend %inputs;
          clear: both;
          float: right;
          font: 13px/normal Monaco,Menlo,'Ubuntu Mono',Consolas,source-code-pro,monospace !important;
          height: 17px;
          margin-bottom: 3px;
          margin-top: 3px;
          width: auto !important;
        }
      }

      th {
        font: 13px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
        height: 34px;
        padding: 0;
        width: 50%;
      }
    }
  }

  .aqlEditorWrapper,
  .bindParamEditorWrapper {
    height: 100%;

    .selectError {
      background: $c-negative;
    }

    .aceAction {
      background-color: rgb(133, 133, 133);
      border-radius: 3px;
      color: $c-white;
      cursor: pointer;
      font-size: 13pt;
      height: 23px;
      line-height: 22px;
      opacity: .8;
      position: absolute;
      right: 5px;
      text-align: center;
      top: 5px;
      width: 33px;
      z-index: 10;

      &.type {
        font-size: 8pt;
      }

      i {
        margin-bottom: 3px;
      }

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    .previewWrapper {
      background-color: $c-white;

      .previewBar {
        background-color: $c-white;
        border-bottom: 1px solid $c-content-border;
        font: 13px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
        height: 34px;

        span {
          margin-left: 5px;
          padding-top: 8px;
          position: absolute;
        }
      }

      #queryPreview {
        height: 100%;
      }
    }

    > div {
      height: 100%;
    }
  }

  .ui-resizable-s {
    cursor: ns-resize;
  }

  .ui-resizable-e {
    cursor: ew-resize;
  }

}

.queryContent {
  clear: both;
  margin-top: 0;
  width: 100%;
}

.outputEditors {
  margin-bottom: 60px;
}

.outputEditorWrapper {
  clear: both;
  height: 100px;
  padding-top: 20px;
  width: 100%;

  .switchAce {
    background-color: rgba(0, 0, 0, .6);
    border-radius: 3px;
    color: $c-white;
    cursor: pointer;
    position: relative;
    right: -24px;
    top: 45px;
    z-index: 10;
  }

  .ace_editor {
    border-left: 1px solid $c-content-border;
    border-right: 1px solid $c-content-border;
    height: 280px;
    width: 100%;

    .ace_active-line {
      background: $c-white !important;
    }
  }
}
