.shell_workspace {
  margin-top: 13px;

  ::-webkit-scrollbar {
    display: none;
  }

}

.replShell {
  background-color: $c-white;
  float: left;
  height: 100%;
  min-width: 100px;
  overflow-y: hidden;
  position: relative;
  width: 100%;

  > div {
    border-radius: 3px;
  }

  pre {
    border-bottom: 0;
    border-left: 0;
    border-right: 1px solid $c-navbar-spacer;
    border-top: 1px solid $c-navbar-spacer;
  }
}

.jqconsole {
  background-color: $c-black;
  border-radius: 0;
  padding: 10px;
}

.jqconsole-header {
  color: $c-white;
}

.jserror {
  color: $c-shell-error;
  margin-left: -10px;
}

.jssuccess {
  color: $c-shell-success;
}

.jqconsole-cursor {
  background-color: $c-shell-bg;
}

.jqconsole-blurred .jqconsole-header .jqconsole-cursor {
  color: $c-shell-losing-focus;
}

.jqconsole-prompt {
  color: $c-shell-prompt;
}

.jqconsole-old-prompt {
  color: $c-shell-old-prompt;
  font-weight: normal;
}

.jqconsole-input {
  color: $c-shell-input;
}

.jqconsole-old-input {
  color: $c-shell-old-input;
  font-weight: normal;
}

.jqconsole-output {
  color: $c-white;
}

.query-output .ace_gutter-cell {
  background-color: $c-toolbar-bg;
}
