.snippet-wrap {
  .snippet-num li {
    list-style: decimal-leading-zero outside none;
  }
}

.snippet-no-num {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;

  .prettify {
    font-size: 1.2em;
  }

  .sh_number {
    color: $c-sh-number;
    font-weight: 100;
    margin-left: 5px;
  }

  .sh_symbol {
    color: $c-sh-symbol;
    font-weight: 100;
    margin-left: 5px;
  }

  .sh_cbracket {
    color: $c-sh-cbracket;
    font-weight: 100;
    margin-left: 5px;
  }

  .sh_keyword {
    color: $c-sh-keyword;
    font-weight: 100;
    margin-left: 5px;
  }

  .sh_string {
    color: $c-sh-string;
    font-weight: 100;
    margin-left: 5px;
  }

  .sh_object {
    color: $c-sh-object;
    font-weight: 100;
    margin-left: 5px;
  }

  .sh_array {
    color: $c-sh-array;
    font-weight: 100;
    margin-left: 5px;
  }
}
