.subnavmenu {

  background-color: $c-white;
  height: auto;

  ul {

    list-style: none;
    margin: 0;

    &.top {
      //background-color: $c-navbar-main-color;
      background-color: $c-bluegrey-dark;
      height: 60px;
      width: 100%;

      li {
        padding: 0 10px 0 0;
      }
    }

    &.bottom {
      border-bottom: 2px solid $c-bluegrey-nontransp;
      height: 40px;
      width: 100%;
      z-index: 1000;

      li {
        float: left;
        padding: 0 12px;

        //&:first-child {
        //  margin-left: 20px;
        //}
      }
    }

    li {
      cursor: pointer;
      font-size: 10pt;
      line-height: 30px;
      margin-bottom: 5px;
      margin-top: 5px;

      &.active {
        cursor: default;

        a {
          color: $c-black;
        }
      }

      &.disabled {
        cursor: not-allowed;
      }

      &:hover {
        a {
          color: rgba(51, 51, 51, 1);
          -moz-transition: all .2s ease-in;
          -o-transition: all .2s ease-in;
          -webkit-transition: all .2s ease-in;
          transition: all .2s ease-in;
        }
      }

      a {
        color: rgba(51, 51, 51, .6);
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;

      }

    }
  }

  #healthStatus {
    &.positive {
      .health-state,
      .health-icon {
        color: $c-positive;
      }
    }

    &.negative {
      .health-state,
      .health-icon {
        color: $c-negative;
      }
    }
  }

  .health-info,
  .db-info,
  .db-state,
  .health-state {
    font-weight: 300;
  }

  .health-info,
  .db-info,
  .db-icon {
    color: rgba(255, 255, 255, .95);
  }
}
