.centralContent {

  .createModalDialog {
    outline: none;
  }

  .modal-body {
    color: $c-black;
    max-height: none;

    .icon_arangodb_info {
      margin-left: 10px;
      right: inherit;
    }

    .modalSelect {
      margin-top: 0;
    }

    .tab-pane {
      padding-top: 0 !important;
    }
  }

  .figures1,
  .figures2,
  .figures3 {
    margin-left: 0 !important;
    margin-top: 40px;
    width: 100%;

    .icon_arangodb_info {
      position: relative;
      text-align: center;
    }
  }
}
