.subnavmenu {

  background-color: $c-white;
  height: auto;

  ul {

    list-style: none;
    margin: 0;

    &.top,
    &.bottom {
      height: 40px;
    }

    &.top {
      background-color: $c-navbar-main-color;
      border-bottom: 1px solid $c-content-border;
      width: 100%;

      li {
        padding: 0 10px 0 0;
      }
    }

    &.bottom {
      border-bottom: 1px solid $c-content-border;
      width: 100%;

      li {
        float: left;
        padding: 0 0 0 40px;
      }
    }

    li {
      cursor: pointer;
      font-size: 10pt;
      line-height: 30px;
      margin-bottom: 5px;
      margin-top: 5px;

      &.active {
        cursor: default;

        a {
          color: rgba(51, 51, 51, .6);
        }
      }

      &.disabled {
        cursor: not-allowed;
      }

      a {
        color: $c-black;
      }

    }
  }

  .health-info,
  .db-info,
  .db-state,
  .health-state {
    font-weight: 300;
  }

  .health-info,
  .db-info,
  .db-icon {
    color: rgba(255, 255, 255, .95);
  }

  .health-state {
    color: $c-positive;
  }

  .health-icon {
    color: $c-positive;
  }

}
