.tileList {
  @extend %clear-float;
  margin-left: -6px;
  margin-right: -6px;

  legend {
    padding-left: 5px;
  }

  .tile:first-child {
    a {
      opacity: .8;

      &:hover {
        opacity: 1;
      }
    }
  }
}

$iconsize: 50px;

%tile {
  @extend %pull-left;
  @include box-shadow(none);

  background-color: $c-white;
  border: 1px solid $c-lightgreen-2-bg;
  border-radius: 3px;
  font-size: 14px;
  list-style: none;
  margin: {
    bottom: 13px;
    left: 6px;
    right: 6px;
  }
  position: relative;
  text-align: center;

  .warning-icons {
    background-color: $c-negative;
    color: $c-white;
    font-size: 11px;
    height: 17px;
    left: 0;
    line-height: 13px;
    padding-left: 9px;
    padding-right: 4px;
    position: absolute;
    top: 0;

    &:before {
      border-right: 17px solid transparent;
      border-top: 17px solid $c-negative;
      content: '';
      position: absolute;
      right: -17px;
    }

    .fa {
      margin-left: 1px;

      &:before {
        font-size: 8px;
      }
    }

  }

  .collection-type-icon {
    color: $c-darker-grey;
    font-size: 30pt;
    margin-top: 12pt;
  }

  .collection-type-icon:hover {
    cursor: pointer;
  }

  img {
    position: relative;

    &.icon {
      height: $iconsize;
      width: $iconsize;
    }

    &:hover {
      cursor: pointer;
    }
  }

  a {

    span {

      &.add-Icon {
        @extend %pull-left;
        font-size: 22px;
        margin-left: 22px;
        margin-right: 10px;
        margin-top: -5px;
        position: relative;
        right: 4px;
        top: 2px;
      }

      &.icon {
        @extend %clickable;
        font-size: $iconsize;
      }
    }

    svg {
      @extend %clickable;

      &.icon {
        height: $iconsize;
        width: $iconsize;
      }
    }
  }

  .tile-icon-svg {
    cursor: pointer;
    fill: $c-icon-grey;
    height: $iconsize;
    margin-left: 90px;
    margin-top: 10px;
    width: $iconsize;
  }

  .tile-icon {
    color: $c-icon-grey;
    font-size: $iconsize;
    line-height: 1.2;
  }

  .icon_arangodb_edge5-2 {
    display: inline-block;
    position: relative;
    top: 15px;
    -moz-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
  }

  h5 {
    background: $c-new-grey;
    color: $c-white;
    font-size: 12px;
    margin: 0;
    overflow: hidden !important;
    padding: 4px 8px;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }

  .tileSelects {
    margin-left: 40px;
    position: relative;
    z-index: 9999;

    select {
      float: right;
      height: 20px;
      margin-right: 5px;
      margin-top: 16px;
      width: 70px;
    }
  }

  .fullBorderBox {
    border: 1px solid $c-tile-border;
    border-radius: 3px;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .borderBox {
    border: 1px solid $c-tile-border;
    border-radius: 3px;
    height: 75px;
    position: absolute;
    width: 224px;
  }

  .iconSet {
    position: absolute;
    right: 5px;
    top: 5px;

    span {
      @extend %clickable;
      @extend %pull-right;
      border-radius: 3px;
      color: $c-darker-grey;
      font-size: 18px;
      padding-bottom: 2px;
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 2px;

      &:hover {
        background-color: $c-positive;
        color: $c-white;
      }

      &.disabled {
        cursor: default;
        opacity: .2;
      }

      &.disabled:hover {
        background-color: $c-white;
        color: $c-black;
        cursor: default;
        opacity: .2;
      }
    }
  }

  .badge-success {
    font-weight: 300;
  }

  .unloaded div {
    border-bottom: 16px solid $c-unloaded;
  }


  .deleted div {
    border-bottom: 16px solid $c-state-critical;
  }

  .tileBadge {
    bottom: 29px;
    font-size: 11px;
    font-weight: 300;
    position: absolute;
    right: 0;

    button {
      margin: {
        left: 0;
        right: 5px;
      }
    }

    span {
      display: inline-block;
      line-height: 15px;

      .corneredBadge {
        border: {
          bottom: {
            style: solid;
            width: 17px;
          }
          left: 5px solid $c-transp;
        }
        border-radius: 3px;
        color: $c-white;
        height: 0;
        margin-bottom: 4px;
        margin-right: 5px;
        padding-left: 1px;
        padding-right: 6px;

        &.loading {
          border-bottom-color: $c-unloaded;
        }

        &.loaded {
          border-bottom-color: $c-positive;
        }

        &.unloaded {
          border-bottom-color: $c-unloaded;
        }

        &.development {
          border-bottom-color: $c-unloaded;
        }
      }
    }
  }
}

div {

  .tile {
    @extend %tile;
    height: 100px;
    width: $tile-width - 14px;
  }

  .tile-graph {
    .tile-icon:hover {
      cursor: pointer;
    }
  }

  .bigtile {
    @extend %clickable;
    @extend %tile;
    height: 309px;
    width: 2 * ($tile-width - 14px);

    .shardContainer {
      font-size: 30px;

      span {
        padding: 2px;
      }
    }
  }
}

.collectionName {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  bottom: 0;
  font-weight: 300;
  left: 0;
  position: absolute;
  right: 0;
  text-align: left;
}

