<ul class="thumbnails2" id="aboutHeader">
  <div id="transparentHeader">
    <h4>About</h4>
  </div>
</ul>

<div id="aboutDiv">
  <div>
    <div class="row">
      <div class="span12">
        <img class="about-icon" src="img/download.png" width="50">
        <h3>Download the source code</h3>
        <a href="https://github.com/triAGENS/ArangoDB">ArangoDB on GitHub</a>
    </div>
</div>

<div class="row">
    <div class="span12">
        <img class="about-icon" src="img/discuss.png" width="50" style="float: left;">

        <h3>Comments and questions</h3>
        <a href="https://groups.google.com/group/arangodb">ArangoDB Google Group</a>
</div>
</div>


<div class="row">
    <div class="span12">
        <img class="about-icon" src="img/twitter.png" width="50" style="float: left;">

        <h3>Follow us on Twitter</h3>

        <p><a href="https://twitter.com/arangodb">@arangodb</a></p>
    </div>
</div>


<div class="row">
    <div class="span12">
        <img class="about-icon" src="img/blog.png" width="50" style="float: left;">

        <h3>Check out our blog</h3>

        <p><a href="https://arangodb.org">https://arangodb.org</a></p>
      </div>
    </div>
  </div>
</div>
