<ul class="thumbnails2">
  <div id="transparentHeader">


              <div class="btn-group pull-right" style="margin-top:4px;">
                <button class="btn btn-small">Filter:</button>
                <button data-toggle="dropdown" class="btn btn-small dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div><!-- /btn-group -->


    <div id="transparentPlaceholder">
      <input type="text" id="searchInput" class="searchInput" placeholder="Search..."><img id="searchSubmit" width="16" height="16" src="/_admin/html/img/enter_icon.png" style="padding:0;">


    </div>
  </div>
  <br/>
  </ul>
  <ul class="thumbnails">
  </ul>

