<ul class="thumbnails2">
  <div id="transparentHeader">

	<!-- /btn-group -->
	<div class="btn-group pull-right">
		<button class="btn btn-inverse btn-small">Filter:</button>
		<button data-toggle="dropdown" class="btn btn-inverse btn-small dropdown-toggle"><span class="caret"></span></button>

			<ul class="dropdown-menu">
		  		<li><a href="#"><label class="checkbox"><input type="checkbox">Filter 1</label></a></li>
		  		<li><a href="#"><label class="checkbox"><input type="checkbox">Filter 2</label></a></li>
		  		<li><a href="#"><label class="checkbox"><input type="checkbox">Filter 3</label></a></li>
			</ul>
	</div>
	<!-- /btn-group -->


    <div id="transparentPlaceholder">
      <input type="text" id="searchInput" class="searchInput" placeholder="Search..."><img id="searchSubmit" width="16" height="16" src="/_admin/html/img/enter_icon.png">


    </div>
  </div>
  <br/>
  </ul>
  <ul class="thumbnails">
  </ul>

