<ul class="thumbnails2">
  <div id="transparentHeader">
    <div id="transparentPlaceholder">
      <input type="text" class="searchInput" placeholder="Search..."><img id="searchSubmit" width="16" height="16" src="/_admin/html/img/enter_icon.png">
      <a href="#new" role="button" data-toggle="modal">
      <img id="plusIcon" src="/_admin/html/img/plus_icon.png"class="pull-right"></img></a>
    </div>
  </div>
  <br/>
  </ul><ul class="thumbnails">
</ul>

