<a href="#collection/<%= attributes.id %>/documents/1" class="thumbnail plain">                                                                                                                                        
  <img src="img/database.gif" height="48" width="48" alt="" style="float:left; padding-right:20px; padding-left: 5px; padding-top: 5px; ">
  <h5 class="collectionName"><%= attributes.name %></h5>
  <p>
    <br/>
    <%= attributes.status %>
  </p>
</a>

<a href="#collection/<%= attributes.id %>" class="thumbnail plain pull-right" style="width:14px; height:14px;">
  <i class="icon-info-sign"></i>
</a>

