<div id="dashboardCollections" class="dashboardBox">
  <div class="dashboardHeader">Collections</div>
  <div id="dashboardCollectionsContent">
    <div id="dashboardCollectionsText" class="leftBox"></div>
    <div id="dashboardCollectionsGraph" class="rightBox"><svg style="height:200px;width:620px"></div>
  </div>
</div>


<div id="dashboardSystem" class="dashboardBox">
  <div class="dashboardHeader">System</div>
  <div id="dashboardSystemContent"></div>
</div>


<div id="dashboardClient" class="dashboardBox">
  <div class="dashboardHeader">Client</div>
  <div id="dashboardClientContent"></div>
</div>
