<ul class="thumbnails2">
  <div id="transparentHeader">

  </div>
</ul>


<div id="tableDiv">

  <ul class="nav nav-tabs">
	<!-- hardcoded link in tabs - PLEASE MODIFY -->
    <li class="pull-right"><a href="#collection/8012199/20791719/source">Source</a></li>
    <li class="active pull-right">
      <a href="#">Listview</a>
    </li>
  </ul>

  <table cellpadding="0" cellspacing="0" border="0" class="display" id="documentTableID" width="100%">
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
        <th>type</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  </table>

</div>
