<ul class="thumbnails2">
  <div id="transparentHeader">
    <img id="saveSourceDoc" class="plusIcon" class="pull-right" src="/_admin/html/img/saveIcon.png">
    <img id="tableView" class="plusIcon" class="pull-right" src="/_admin/html/img/tableView.png">
  </div>
</ul>

<div id="sourceDiv">
  <textarea id="documentSourceBox" class="editBox"></textarea>
</div>
