<ul class="thumbnails2 sourceBox">
  <div id="transparentHeader">
    <img id="saveSourceDoc" class="plusIcon" class="pull-right" src="/_admin/html/img/saveIcon.png">
    <img id="tableView" class="plusIcon" class="pull-right" src="/_admin/html/img/tableView.png">
  </div>
  <div id="sourceEditor">
  </div>
</ul>

