<ul class="thumbnails2 sourceBox">
  <div id="transparentHeader">

  </div>

  <div id="sourceDiv">
	  <ul class="nav nav-tabs">
		<li class="active pull-right"><a>Source</a></li>
		<li class="pull-right">
		  <a id="tableView">Listview</a>
		</li>
	  </ul>

	  <div id="sourceEditor">
	
	  </div>

  </div>

</ul>

