<ul class="thumbnails2">
  <div id="transparentHeader">
    <div id="documentsToolbar" class="pagination pagination-small pagination-right">
		<ul>
			<li class="enabled"><a id="collectionPrev">&lsaquo;</a></li>
			<li class="enabled"><a id="collectionNext">&rsaquo;</a></li>
		</ul>
	</div>
  </div>
</ul>

<div id="documentsDiv">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="documentsTableID">
  <thead>
    <tr>
      <th style="width: 100px">_id</th>
      <th style="width: 490px">Content</th>
      <th style="width:10px"></th>
    </tr>
  </thead>
</table>


<div id="documentsToolbar" class="pagination pagination-small pagination-centered arangoToolbar">
	<ul>
 		<li class="enabled"><a href="#">&laquo;</a></li>
		<li class="active"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
 		<li class="enabled"><a href="#">&raquo;</a></li>
	</ul>
</div>

</div>

<!-- Modal -->
<div id="docDeleteModal" style="display:none" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Document?</h3>
  </div>
  <div class="modal-body">
    <p>Theres no way back…</p>
  </div>
  <div class="modal-footer">
    <!-- <button class="arangoBtn" data-dismiss="modal" aria-hidden="true">Close</button> -->
    <button id="confirmDeleteBtn" class="arangoBtnError" style="float:right">Delete</button>
  </div>
</div>
