<button id="saveDocument" class="btn btn-primary">Save</button>
<button id="addDocumentLine" class="btn btn-primary">Add row</button>
<button id="sourceView" class="btn btn-primary">SourceView</button>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="documentTableID" width="100%">
  <thead>
    <tr>
      <th></th>
      <th>Key</th>
      <th>Value</th>
      <th>type</th>
    </tr>
  </thead>
</table>
