<ul class="thumbnails2 sourceBox">
  <div id="transparentHeader">

  </div>

  <div id="sourceDiv">
	  <ul class="nav nav-tabs">
		<!-- hardcoded link in tabs - PLEASE MODIFY -->
		<li class="active pull-right"><a href="#">Source</a></li>
		<li class="pull-right">
		  <a href="#collection/8012199/20791719">Listview</a>
		</li>
	  </ul>

	  <div id="sourceEditor">

	  </div>
	  <div class="form-actions">
    	<a href="#" class="btn btn-primary pull-right">Save</a>
      </div>

  </div>

</ul>

