        <div id="footerContent">
          <table>
            <tr>
              <th class="footerThBig footerExtra">Recent Collections</th>
              <th class="footerThBig">Documentation</th>
              <th class="footerThBig">Roadmap</th>
              <th class="footerThBig">Social Links</th>
            </tr>
            <tr>
              <th class="footerThSmall footerExtra"><li><span>Link 1</span></li></li></th>
              <th class="footerThSmall"><li><span><a href="https://www.arangodb.org/api">API clients & 3rd party libs</a></span></li></li></th>
              <th class="footerThSmall"><li><span><a href="https://www.arangodb.org/roadmap/#v2.0">Backlog for Version 2</a></span></li></li></th>
              <th class="footerThSmall"><li><span><a href="https://twitter.com/arangodb">ArangoDB on Twitter</a></span></li></li></th>
            </tr>
            <tr>
              <th class="footerThSmall footerExtra"><li><span>Link 1</span></li></li></th>
              <th class="footerThSmall"><li><span><a href="https://www.arangodb.org/manuals">Manual/documentation</a></span></li></li></th>
              <th class="footerThSmall"><li><span><a href="https://www.arangodb.org/roadmap/#v1.2">Backlog for Version 1.2</a></span></li></li></th>
              <th class="footerThSmall"><li><span><a href="https://www.arangodb.org/connect">Announcement List</a></span></li></li></th>
            </tr>
            <tr>
              <th class="footerThSmall footerExtra"><li><span>Link 1</span></li></li></th>
              <th class="footerThSmall"><li><span><a href="https://www.arangodb.org/manuals/arangodb_1.0_shell_reference_card.pdf">ArangoDB Shell Reference Card </a></span></li></li></th>
              <th class="footerThSmall"><li><span><a href="/roadmap/#v1.1">Backlog for Version 1.1</a></span></li></li></th>
              <th class="footerThSmall"><li><span><a href="https://groups.google.com/group/arangodb">ArangoDB Google Group</a></span></li></li></th>
            </tr>
          </table>
        </div>
        <div class="copy"><p>Copyright 2012 ArangoDB | <a href="#about">About</a></p></div>

