        <div id="footerContent">
          <table>
            <tr>
              <th class="footerThBig footerExtra">Recent Collections</th>
              <th class="footerThBig">Documentation</th>
              <th class="footerThBig">Roadmap</th>
              <th class="footerThBig">Social Links</th>
            </tr>
            <tr>
              <th class="footerThSmall footerExtra"><li><span>Link 1</span></li></li></th>
              <th class="footerThSmall"><li><span>Link 2</span></li></li></th>
              <th class="footerThSmall"><li><span>Link 3</span></li></li></th>
              <th class="footerThSmall"><li><span>Link 4</span></li></li></th>
            </tr>
            <tr>
              <th class="footerThSmall footerExtra"><li><span>Link 1</span></li></li></th>
              <th class="footerThSmall"><li><span>Link 2</span></li></li></th>
              <th class="footerThSmall"><li><span>Link 3</span></li></li></th>
              <th class="footerThSmall"><li><span>Link 4</span></li></li></th>
            </tr>
            <tr>
              <th class="footerThSmall footerExtra"><li><span>Link 1</span></li></li></th>
              <th class="footerThSmall"><li><span>Link 2</span></li></li></th>
              <th class="footerThSmall"><li><span>Link 3</span></li></li></th>
              <th class="footerThSmall"><li><span>L!nk 4</span></li></li></th>
            </tr>
          </table>
        </div>
        <div class="copy"><p>Copyright 2012 ArangoDB | <a href="#about">About</a></p></div>

