<ul class="thumbnails2">
  <div id="transparentHeader">
    <h4>Graph Editor</h4>
  </div>
</ul>

<div id="queryDiv" class="form-actions">
  <div id="outputLabel">Output</div>
  <div id="graphOutput" class="thumbnail">
    <svg id="graphSVG">
    </svg>
  </div>
  <i class="icon-trash clearicon"></i>

  <div id="editorLabel">Input</div>
  <div id="aqlEditor"></div>
  <button id="submitQueryButton" class="btn btn-success">Submit</button>
</div>