<div class="thumbnails2">
  <div id="transparentHeader">
    <h4>Logs</h4>
  </div>

	<div id="logContent">
	
		<ul id="logNav" class="nav nav-tabs">
		  <li class="pull-right"><a href="#debug" data-toggle="tab" id="debug-switch">Debug</a></li>
		  <li class="pull-right"><a href="#warning" data-toggle="tab" id="warning-switch">Warning</a></li>
		  <li class="pull-right"><a href="#error" data-toggle="tab" id="error-switch">Error</a></li>
		  <li class="pull-right"><a href="#info" data-toggle="pill" id="info-switch">Info</a></li>
		  <li class="pull-right"><a href="#all" data-toggle="pill" id="all-switch">All</a></li>
		</ul>
		
		<div class="tab-content">
		  <div class="tab-pane active" id="all">
			  <table cellpadding="0" cellspacing="0" border="0" class="display" id="logTableID">
				<thead>
				  <tr>
					<th>Loglevel</th>
					<th>Date</th>
					<th class="logContent">Message</th>
				  </tr>
				</thead>
			  </table>
		  </div>
		
		  <div class="tab-pane" id="info">
			  <table cellpadding="0" cellspacing="0" border="0" class="display" id="infoTableID" width="100%">
				<thead>
				  <tr>
					<th>Loglevel</th>
					<th>Date</th>
					<th class="logContent">Message</th>
				  </tr>
				</thead>
			  </table>
		  </div>
		
		  <div class="tab-pane" id="error">
			  <table cellpadding="0" cellspacing="0" border="0" class="display" id="critTableID" width="100%">
				<thead>
				  <tr>
					<th>Loglevel</th>
					<th>Date</th>
					<th class="logContent">Message</th>
				  </tr>
				</thead>
			  </table>
		  </div>
		
		  <div class="tab-pane" id="warning">
			  <table cellpadding="0" cellspacing="0" border="0" class="display" id="warnTableID" width="100%">
				<thead>
				  <tr>
					<th>Loglevel</th>
					<th>Date</th>
					<th class="logContent">Message</th>
				  </tr>
				</thead>
			  </table>
		  </div>
		
		  <div class="tab-pane" id="debug">
			  <table cellpadding="0" cellspacing="0" border="0" class="display" id="debugTableID" width="100%">
				<thead>
				  <tr>
					<th>Loglevel</th>
					<th>Date</th>
					<th class="logContent">Message</th>
				  </tr>
				</thead>
			  </table>
		  </div>
		
		</div>
		
		<div id="logToolbar">
		  <div id="logPages">
		  </div>
		  <div id="logButtons">
			<button class="enabled" id="logTableID_last"><img src="/_admin/html/img/rnd_br_first_icon16.png"></button>
			<button class="enabled" id="logTableID_next"><img src="/_admin/html/img/rnd_br_prev_icon16.png"></button>
			<button class="enabled" id="logTableID_prev"><img src="/_admin/html/img/rnd_br_next_icon16.png"></button>
			<button class="enabled" id="logTableID_first"><img src="/_admin/html/img/rnd_br_last_icon16.png"></button>
		  </div>
		</div>
	
	</div>

</div>
