<div id="add-collection" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>New Collection</h3>
  </div>

  <div class="modal-body">
    <table>
      <tr>
        <th class="collectionTh">Name:</th>
        <th><input type="text" id="new-collection-name" name="name" value=""/></th>
      </tr>
      <tr>
        <th class="collectionTh">Type:</th>
        <th class="secondTh">
          <select id="new-collection-type">
            <option value="2">Document</option>
            <option value="3">Edge</option>
          </select>
        </th>
        <th><a class="modalTooltips" title="The type of the collection to create."><i class="icon-info-sign"></i></a></th>
      </tr>
    </table>

    <div class="accordion" id="accordion2">

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            Advanced
          </a>
        </div>

        <div id="collapseOne" class="accordion-body collapse out">
          <div class="accordion-inner">
            <table>
              <tr>
                <th class="collectionTh">Size (MB):</th>
                <th><input type="text" id="new-collection-size" name="size" value=""/></th>
                <th><a class="modalTooltips" title="The maximal size of a journal or datafile. Must be at least 1MB."><i class="icon-info-sign"></i></a></th>
              </tr>
              <tr>
                <th class="collectionTh">Sync:</th>
                <th>
                  <select id="new-collection-sync">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                  </select>
                </th>
                 <th><a class="modalTooltips" title="Data is synchronised to disk before returning from a create or update of an document."><i class="icon-info-sign"></i></a></th>
              </tr>
            </table>
          </div>
        </div>

      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button id="save-new-collection" class="btn btn-success pull-right">Save</button>
  </div>
</div>
