<ul class="thumbnails2">
  <div id="transparentHeader">
    <h4>AQL Editor</h4>
  </div>
</ul>

<div id="queryDiv" class="form-actions">
  <div id="outputLabel">Output</div>
  <div id="queryOutput" class="thumbnail">
  </div>
  <i class="icon-trash clearicon"></i>

  <div id="editorLabel">Input</div>
  <div id="aqlEditor"></div>
  <button id="submitQueryButton" class="arangoBtnSuccess">Submit</button>
</div>


