<ul class="thumbnails2">
  <div id="transparentHeader">
    <h4>AQL Editor</h4>
  </div>
</ul>

<div id="queryDiv" class="form-actions">
  <div id="queryOutput" class="thumbnail"></div>
  <form method="post" onsubmit="submitQuery()">
    <i class="icon-trash clearicon"></i>
    <textarea placeholder="Type in your query..." class="editBox" id="queryInput"></textarea>
  </form>
  <button id="submitQueryButton" class="btn btn-primary">Submit</button>
</div>


