.Resizer {
background: rgb(122, 122, 122);
/*
background: rgb(202, 66, 25);
opacity: 0.2;
*/
z-index: 1;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-moz-background-clip: padding;
-webkit-background-clip: padding;
background-clip: padding-box;
}

.Resizer:hover {
-webkit-transition: all 2s ease;
transition: all 2s ease;
}

.Resizer.horizontal {
height: 11px;
margin: -5px 0;
border-top: 5px solid rgba(255, 255, 255, 0);
border-bottom: 5px solid rgba(255, 255, 255, 0);
cursor: row-resize;
width: 100%;
}

.Resizer.horizontal:hover {
border-top: 5px solid rgba(0, 0, 0, 0.5);
border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 2px;
    /*
width: 15px;
margin: 0 -5px;
border-left: 5px solid rgba(244, 245, 245, 0);
border-right: 5px solid rgba(244, 245, 245, 0);
*/
cursor: col-resize;
}

.Resizer.vertical:hover {
    /*
    border-left: 5px solid rgba(245, 158, 11, 0.9);
    border-right: 5px solid rgba(245, 158, 11, 0.9);
    */
}

.Resizer.disabled {
cursor: not-allowed;
}

.Resizer.disabled:hover {
border-color: transparent;
}
