section {
    width: 100%;
    height: 100vh;
}
  
div.viewsstickyheader {
    width: 100%;
    background: rgb(240 240 241);
    padding-bottom: 14px;
    border-bottom: 2px solid rgb(122, 122, 122);
    position: sticky;
    top: 0;
    z-index: 1000;
}
  