*.sh eol=lf 
VERSION eol=lf
VERSIONS eol=lf
scripts/unittest eol=lf
*.groovy
*.csv binary
*.json eol=lf
arangod/Aql/tokens.cpp merge=ours
arangod/Aql/grammar.cpp merge=ours
lib/V8/v8-json.cpp merge=ours
js/apps/system/_admin/aardvark/APP/api-docs.json merge=ours
js/apps/system/_admin/aardvark/APP/frontend/build/* merge=ours
Documentation/Books/SummaryBlacklist.txt eol=lf
Documentation/Examples/*.generated merge=ours
Documentation/man/*/* merge=ours
VERSION merge=ours
STARTER_REV merge=ours
SYNCER_REV merge=ours
