*~
3rdParty/libev/ARCH.x64
3rdParty/libev/libtool
ARCH.*
autom4te.cache
avocado
avocadodb
avocsh
BasicsC/local-configuration.h
build.h
build.info
commit.sh
config/config.h
config.h
config.log
config/revision.sh
config.status
config/version.sh
.deps
.dirstamp
Doxygen/avocado.doxy
Doxygen/html/
Doxygen/js
Doxygen/latex/
Doxygen/wiki/
Doxygen/xml/
JsonParserX/JsonParserX.output
*.la
libavocado.a
libavocadodb.a
.libev-build
.libs
*.lo
m4/component.engine
m4/component.files
m4/component.storage
m4/configure.3rdParty
m4/configure.coverage
m4/configure.curl
m4/configure.cxxtest
m4/configure.documentation
m4/configure.edition
m4/configure.libtool
m4/configure.missing
m4/configure.mysql
m4/configure.odbc
m4/configure.profiler
m4/configure.standard
m4/configure.tex
m4/external.boost-test
m4/external.libxml2
Makefile
*.o
*.old
out
*.Po
QL/parser.output
.setup-directories
stamp-h*
.svn
*.swp
tags
UnitTests/Jutland/CsvReaderTest.cpp
UnitTests/Jutland/Makefile.am
UnitTests/Jutland/Makefile.py
UnitTests/Jutland/Runner.cpp
UnitTests/Philadelphia/Makefile.am
UnitTests/Philadelphia/Makefile.py
UnitTests/Philadelphia/Runner.cpp
UnitTests/test_suite
.v8-build
VC++
UnitTests/HttpInterface/logs
Makefile.local
