[submodule "iresearch"]
	path = 3rdParty/iresearch
	url = https://github.com/iresearch-toolkit/iresearch.git
[submodule "velocypack"]
	path = 3rdParty/velocypack
	url = https://github.com/arangodb/velocypack.git
[submodule "3rdParty/fmt"]
	path = 3rdParty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdParty/rocksdb"]
	path = 3rdParty/rocksdb
	url = https://github.com/arangodb/rocksdb.git
[submodule "3rdParty/gtest"]
	path = 3rdParty/gtest
	url = https://github.com/arangodb/googletest.git
[submodule "3rdParty/abseil-cpp"]
	path = 3rdParty/abseil-cpp
	url = https://github.com/arangodb/abseil-cpp.git
[submodule "3rdParty/immer"]
	path = 3rdParty/immer
	url = https://github.com/arangodb/immer
	branch = release-v0.8
[submodule "3rdParty/rta-makedata"]
	path = 3rdParty/rta-makedata
	url = https://github.com/arangodb/rta-makedata
[submodule "scripts/toolbox/feed"]
	path = scripts/toolbox/feed
	url = https://github.com/arangodb/feed.git
