tags
build
core.*
*.vim
.deps
.dirstamp
*.o
*.a
*~
*.pyc
*.sdf
*.suo
*.log

*.iml
*.orig
*.rej
*.gcno
*.gcda

.DS_Store
*.swp
*.diff
*.patch
*.lnk
Thumbs.db

enterprise
compile_commands.json
instanceinfo.json
testresult.json
botschaft.txt
testsStarted

build.sh
build*/
Build64/
Build32/
Debug64/
Debug32/
Release64/
Release32/
WindowsLibraries/

core
TAGS

CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
UnitTests/CMakeFiles/
UnitTests/CTestTestfile.cmake
UnitTests/cmake_install.cmake
arangod/CMakeFiles/
arangod/cmake_install.cmake
arangosh/CMakeFiles/
arangosh/cmake_install.cmake
cmake_install.cmake
lib/CMakeFiles/
lib/cmake_install.cmake

Documentation/Examples/*.generated

UnitTests/HttpInterface/logs/

arangod/Aql/grammar.c
arangod/Aql/grammar.cpp
arangod/Aql/grammar.h
arangod/Aql/grammar.hpp
arangod/Aql/grammar.output
arangod/Aql/tokens.cpp

bin/
logs/
output/
out/

etc/arangodb/*.conf

js/common/bootstrap/errors.js

lib/Basics/local-configuration.h
lib/Basics/stamp-h2
lib/Basics/voc-errors.cpp
lib/Basics/voc-errors.h
lib/JsonParser/json-parser.c
lib/JsonParser/json-parser.cpp
lib/V8/v8-json.cpp

Installation/epm/arangodb.sublist
Installation/MacOSX/Bundle/Info.plist

nbproject/
.idea

test.cpp.txt

.sass-cache
.sass-cache/

js/apps/*
!js/apps/system
!js/apps/system/*
!js/apps/system/_admin/aardvark/APP/build
!js/apps/system/_admin/aardvark/APP/build/*
!js/apps/system/_admin/aardvark/APP/frontend/build
!js/apps/system/_admin/aardvark/APP/frontend/build/*
js/apps/system/_admin/aardvark/APP/node_modules/*

js/apps/system/_admin/aardvark/APP/frontend/build/app.js
js/apps/system/_admin/aardvark/APP/frontend/build/app.js.gz
js/apps/system/_admin/aardvark/APP/frontend/build/extra.css
js/apps/system/_admin/aardvark/APP/frontend/build/extra.css.gz
js/apps/system/_admin/aardvark/APP/frontend/build/index.html
js/apps/system/_admin/aardvark/APP/frontend/build/libs.js
js/apps/system/_admin/aardvark/APP/frontend/build/libs.js.gz
js/apps/system/_admin/aardvark/APP/frontend/build/style.css
js/apps/system/_admin/aardvark/APP/frontend/build/scripts.html.part

3rdParty/etcd/src/
3rdParty/boost/1.61.0/b2
3rdParty/boost/1.61.0/bin.v2/
3rdParty/boost/1.61.0/bjam
3rdParty/boost/1.61.0/project-config.jam
3rdParty/boost/1.61.0/stage/

.gdb-history
npm-debug.log

UNITTEST_RESULT*
log-*
data-*
