*.sh eol=lf 
VERSION eol=lf
VERSIONS eol=lf
scripts/unittest eol=lf
*.groovy eol=lf
*.csv binary
*.json eol=lf
VERSION merge=ours
STARTER_REV merge=ours
lib/V8/v8-json.cpp merge=ours
arangod/Aql/tokens.cpp merge=ours
arangod/Aql/grammar.cpp merge=ours
js/apps/system/_admin/aardvark/APP/api-docs.json merge=ours
tests/* linguist-vendored
3rdParty/* linguist-vendored
