tags
build
core.*
*.vim
.deps
.dirstamp
*.o
*.a
*~
*.pyc
*.sdf
*.suo
*.log

*.iml
*.orig
*.rej
*.gcno
*.gcda

*.deb
*.rpm

.DS_Store
*.swp
*.diff
*.patch
*.lnk
Thumbs.db

enterprise
compile_commands.json
instanceinfo.json
testresult.json
testsStarted
soc-pokec-*

build.sh
build*/
Build64/
Build32/
Debug64/
Debug32/
Release64/
Release32/
WindowsLibraries/
cluster/**
p/

core
TAGS

CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
UnitTests/CTestTestfile.cmake
UnitTests/cmake_install.cmake
arangod/cmake_install.cmake
arangosh/cmake_install.cmake
cmake_install.cmake
lib/cmake_install.cmake

Documentation/Examples/*.generated

arangod/Aql/grammar.output

UnitTests/HttpInterface/logs/

bin/
logs/
out/

etc/arangodb/*.conf

Installation/epm/arangodb.sublist
Installation/MacOSX/Bundle/Info.plist

nbproject/
.idea
.vscode

test.cpp.txt

.sass-cache
.sass-cache/

js/apps/*
!js/apps/system
!js/apps/system/*
!js/apps/system/_admin/aardvark/APP/build
!js/apps/system/_admin/aardvark/APP/build/*
!js/apps/system/_admin/aardvark/APP/frontend/build
!js/apps/system/_admin/aardvark/APP/frontend/build/*
js/apps/system/_admin/aardvark/APP/node_modules/*

js/apps/system/_admin/aardvark/APP/frontend/build/app.js
js/apps/system/_admin/aardvark/APP/frontend/build/app.js.gz
js/apps/system/_admin/aardvark/APP/frontend/build/extra.css
js/apps/system/_admin/aardvark/APP/frontend/build/extra.css.gz
js/apps/system/_admin/aardvark/APP/frontend/build/index.html
js/apps/system/_admin/aardvark/APP/frontend/build/libs.js
js/apps/system/_admin/aardvark/APP/frontend/build/libs.js.gz
js/apps/system/_admin/aardvark/APP/frontend/build/style.css
js/apps/system/_admin/aardvark/APP/frontend/build/scripts.html.part

js/common/tests/shell/shell-database.js
.gdb-history
npm-debug.log

log-*
data-*
cluster-init

datafile-*.db
# by build process
arangodb-linux-amd64
last_compiled_version.sha
