language: c
before_script: "bash -c 'cd UnitTests/HttpInterface && gem install bundler && bundle'"
script: "make setup && ./configure --enable-relative --enable-all-in-one-libev --enable-all-in-one-v8 --enable-all-in-one-icu && make -j2 && make unittests-shell-server unittests-shell-server-ahuacatl unittests-http-server SKIP_RANGES=1 && echo 'done'"
branches:
  only:
    - master
    - 1.0
    - 1.1
    - 1.2
    - 1.3
    - 1.4
    - devel
