img.searchSubmit {
  height: 14px;
  margin-left: -18px;
  margin-top: 11px;
  opacity: 0.2;
  position: absolute;
  width: 14px;
  background-image:url("../img/enter_icon.png");
}

.searchSubmit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.toolbox {
  margin-right: -40px;
}

.toolbox > .btn {
  width: 40px;
  height: 40px;
  padding: 0px;
  background-color: rgb(51, 51, 51);
  background-size: 40px 40px;
}

.btn-icon {
  padding: 4px 4px;
  background-color: rgb(56, 52, 52);
}

.searchByAttribute, .searchEqualsLabel {
  margin-top: 3px;
  margin-right: 6px;
}

svg.graphViewer text {
  font: 16px Arial;
  pointer-events: none;
}

.capitalize {
  text-transform:capitalize;
}

svg.graphViewer {
  border-style: groove;
}

div.mousepointer {
  position: absolute;
  margin: 0;
  padding: 5px;  
}

button.graphViewer-icon-button {
  border: medium none;
  width: 20px;
  height: 20px;
  margin-top: -8px;
  padding: 0px;
  background-color: transparent;
}

button.graphViewer-icon-button > img {
  width:20px;
  height:20px;
  padding-bottom: 10px;
}


.modal-body th.actionCell {
  width: 30px;
  text-align: center;
}

.modal-body th.actionCell > button {
  margin-top: -12px;
}

.modal-body th.keyCell {
  width: 170px;
  text-align: center;
}

.modal-body th.valueCell {
  width: 300px;
  text-align: center;
}

.modal-body th.keyCell input {
  width: 150px;
}

.modal-body th.valueCell input {
  width: 290px;
}

button.gv-icon-small {
  background-size: 16px 16px;
  width:16px;
  height:16px;
}

button.gv-icon-small.delete {
  background-image:url("../img/icon_delete.png");
}

button.gv-icon-small.add {
  background-image:url("../img/plus_icon.png");
}


button.gv-icon-btn {
  width:36px;
  height:36px;
  background-size: 36px 36px;
  
}

button.gv-icon-btn.edit{
  background-image:url("../img/gv_edit.png");
}
button.gv-icon-btn.edit.active{
  background-image:url("../img/gv_edit_reverse.png");
}

button.gv-icon-btn.view{
  background-image:url("../img/gv_view.png");
}
button.gv-icon-btn.view.active{
  background-image:url("../img/gv_view_reverse.png");
}

button.gv-icon-btn.add{
  background-image:url("../img/gv_add.png");
}

button.gv-icon-btn.add.active{
  background-image:url("../img/gv_add_reverse.png");
}

button.gv-icon-btn.expand{
  background-image:url("../img/gv_expand.png");
}
button.gv-icon-btn.expand.active{
  background-image:url("../img/gv_expand_reverse.png");
}

button.gv-icon-btn.drag{
  background-image:url("../img/gv_drag.png");
}
button.gv-icon-btn.drag.active{
  background-image:url("../img/gv_drag_reverse.png");
}

button.gv-icon-btn.connect{
  background-image:url("../img/gv_connect.png");
}
button.gv-icon-btn.connect.active{
  background-image:url("../img/gv_connect_reverse.png");
}

button.gv-icon-btn.trash{
  background-image:url("../img/gv_trash.png");
}
button.gv-icon-btn.trash.active{
  background-image:url("../img/gv_trash_reverse.png");
}
div.gv_zoom_widget {
  position: relative;
  left: 60px;
  top: 20px;
  width: 40px;
  height: 300px;
  margin-bottom: -300px;
}
div.gv_zoom_slider {
  margin: 0px 17px;
  width: 4px;
  height: 200px;
}

div.gv_zoom_slider > .ui-slider-handle {
  height:0.5em;
  left:-0.55em;
}

div.gv_zoom_buttons_bg {
  height: 40px;
  margin-bottom:20px;
  background-image: url("../img/gv_button_bg_reverse.png");
  background-size: contain;
}


button.btn-zoom:hover {
background:inherit;
}

button.btn-zoom {
  width: 16px;
  height: 16px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  background: none;
}

button.btn-zoom-top {
  left: 13px;
  top: 0px;
}

button.btn-zoom-left {
  left: 0px;
  top: 12px;
}

button.btn-zoom-bottom {
  left: 13px;
  top: 24px;
}

button.btn-zoom-right {
  right: 0px;
  top: 12px;
}

button.gv-zoom-btn {
  width: 14px;
  height: 14px;
  background-size: 14px 14px;
  vertical-align: baseline;
}

button.gv-zoom-btn.pan-right{
  background-image:url("../img/gv_arrow_right.png");
}
button.gv-zoom-btn.pan-left{
  background-image:url("../img/gv_arrow_left.png");
}
button.gv-zoom-btn.pan-top{
  background-image:url("../img/gv_arrow_top.png");
}
button.gv-zoom-btn.pan-bottom{
  background-image:url("../img/gv_arrow_bottom.png");
}


img.gv-throbber {
  background-image:url("../img/swagger/throbber.gif");
}

pre.gv_object_view {
  text-align: left;
  white-space: pre;
}

input.gv_radio_button {
  display: block;
  width: auto;
}

label.gv_dropdown_label {
  color: white;
}

/*Overriding the slider UI*/
.ui-slider {
  background: #333333;
}

.ui-slider-handle {
  outline: none;
  border-color: #686766;
  background: white;
}

.ui-slider-handle.ui-state-focus {
  outline: none;
  border-color: #686766;
  background: white;
}

.ui-slider-handle.ui-state-hover {
  outline-color: #333333;
  border-color: #686766;
  background: white;
}

.gv_example_toggle {
  background-color:white;
  height: 30px;
}

.gv_example_toggle:hover {
  background-color:white;
}

legend.gv_inner {
  font-size: 16px;
}

.gv_zoom_widget .ui-state-default,
.gv_zoom_widget .ui-widget-content .ui-state-default,
.gv_zoom_widget .ui-widget-header .ui-state-default {
  background: #F6F6F6;
}
