.thumbnail, .navbar-inner, .btn, .btn-primary {
  border-radius:0;
  box-shadow: 0;
}

.thumbnails2 {
  padding-top: 1px !important;
  background-color: rgba(0, 0, 0, 0.05);
  margin-left:0;
  margin-bottom:0;
  border-radius: 4px 4px 0 0;
}

.thumbnails {
  margin-left:0px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

.thumbnails li {
  background-color: #FAFAFA;
}

.searchInput {
  background-color: #FFFFFF;
  border: 1px solid #c0c0c0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  /* border-radius: 4px; */
  color: #555555;
  display: inline-block;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  margin-top: 6px;
  margin-left: 22px;
  padding: 2px;
  vertical-align: middle;
}

#searchSubmit {
  height: 14px;
  margin-left: -18px;
  margin-top: 11px;
  opacity: 0.2;
  position: absolute;
  width: 14px;
}

#searchSubmit:hover {
  opacity: 0.8;
  cursor: pointer;
}

#transparentHeader {
  height: 36px;
  margin-top: 20px !important;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: -10px !important;
  background-color: rgba(0, 0, 0, 0.15);
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
}

#transparentHeader i {
  margin-top: 2px;
  margin-right: 2px;
}
