#documentsDiv {
  background-color: rgba(0, 0, 0, 0.05);
}

#documentsTableID thead {
  background-color: #F7F6F6 !important;
}

#documentsTableID_length, #documentsTableID_filter {
  display: none;
}

#documentsTableID_wrapper {
  padding-top: 40px !important;
  padding-bottom: 20px !important;
}

#documentsTableID {
  padding-left: 30px !important;
  padding-right: 30px !important;
  width: 820px;
  table-layout:fixed !important;
}

#documentsTableID .odd, #documentsTableID .even {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

#documentsTableID .odd:hover {
  border: 1px solid red;
  cursor: pointer;
}

#documentsTableID .even:hover {
  border: 1px solid red;
  cursor: pointer;
}

#documentsTableID_paginate, #documentsTableID_filter, #documentsTableID_length {
  visibility: hidden;
}

.snippet-container {
  margin-top: 5px;
}

.snippet-no-num {
  font-size: 1em;
  font-weight: normal;
  font-family: Verdana, Arial, sans-serif;
}

.cuttedContent, .prettify ul li, .writeable a {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.prettify {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1em !important;
}

#documentsToolbar {
  float: left !important;
  padding-right: 20px;
  background-color: rgba(0,0,0,0.05);
  width: 920px;
  border-bottom: 20px solid rgba(0,0,0,0.0);
}

#documentsToolbar button {
  float:right;
}
