#tableDiv {
  margin-top: 10px;
  padding: 20px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.05);
}

#addDocumentLine, #sourceView {
  float:right;
  margin-right: 10px;
  margin-top: 11px;
  margin-right: 22px;
  opacity: 0.3;
}

#addDocumentLine:hover, #sourceView:hover{
  opacity: 0.8;
  cursor: pointer;
}

#deleteRow {
  border: medium none;
  padding-left: 10px;
  background-color: transparent;
}
