#sourceEditor {
  height: 400px;
  width: 900px;
/*  margin-left: 20px;
  margin-top: 30px;*/
  overflow:hidden;
  padding-bottom: 20px;
  border: 1px solid #A0A0A0;
}

#saveSourceDoc, #tableView {
  float:right;
  margin-right: 10px;
  margin-top: 11px;
  margin-right: 22px;
  opacity: 0.3;
}

#saveSourceDoc:hover, #tableView:hover{
  opacity: 0.8;
  cursor: pointer;
}

#sourceDiv {
  margin-top: -40px;
  padding: 20px 20px 20px 20px;
  min-height: 400px;
  position: relative;
  z-index: 900;

/*  background-color: rgba(0, 0, 0, 0.05);*/
  
}

.sourceBox {
  padding-bottom:20px;
}
