table.dataTable thead th {
  cursor: default !important;
}

table.dataTable td {
  padding:12px 10px;
}

.docleftico {
  width: 30px !important;
}

#deleteDoc, #documentsToolbar button {
  border: medium none;
  background-color: transparent;
}

#documentsToolbarLeft {
  float:left;
  padding-left: 20px;
}

#documentsPlaceholder {
}

#documentsDiv {
  background-color: rgba(0, 0, 0, 0.05);
}

#documentsTableID thead {
  background-color: #F7F6F6 !important;
}

#documentsTableID_length, #documentsTableID_filter {
  display: none;
}

#documentsTableID_wrapper {
  padding-top: 30px !important;
  padding-bottom: 20px !important;
}

#documentsTableID_wrapper .fg-toolbar {
  visibility: hidden;
}

#documentsTableID {
  margin-left: 20px !important;
  width: 900px; !important;
  table-layout:fixed !important;
    border-collapse:separate;
    border-spacing:0 5px;
}

table.dataTable thead th {
	border-bottom:none;
}

#documentsTableID.dataTable thead tr {
    background-image: -moz-linear-gradient(top, #f3efec, #ebe7e3);
    background-image: -ms-linear-gradient(top, #f3efec, #ebe7e3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3efec), to(#ebe7e3));
    background-image: -webkit-linear-gradient(top, #f3efec, #ebe7e3);
    background-image: -o-linear-gradient(top, #f3efec, #ebe7e3);
    background-image: linear-gradient(top, #f3efec, #ebe7e3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3efec', endColorstr='#ebe7e3', GradientType=0);
	border:1px solid #c1bdba;
}

#documentsTableID.dataTable tr {  
    -webkit-box-shadow: 0 1px 3px  rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px  rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px  rgba(0, 0, 0, 0.2);
}


/*table.dataTable tr td:first-child {
	border-left:1px solid #c1bdba;
	border-right:0px;
	border-top:1px solid #c1bdba;
	border-bottom:1px solid #c1bdba;
    border-radius: 6px 0px 0px 6px;

}

table.dataTable tr td:last-child {
	border-left:0px;
	border-right:1px solid #c1bdba;
	border-top:1px solid #c1bdba;
	border-bottom:1px solid #c1bdba;
	border-right:1px solid #c1bdba;
    border-radius: 0px 6px 6px 0px;
}*/

#documentsTableID .odd, 
#documentsTableID .even {
	margin-bottom: 5px;
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
	border:1px solid #c1bdba;
}


#documentsTableID .odd:hover,
#documentsTableID .even:hover {
  border: 1px solid #fbdb7e;
  cursor: pointer;
    background-image: -moz-linear-gradient(top, #f4f4f4, #e4e4e4);
    background-image: -ms-linear-gradient(top,#f4f4f4, #e4e4e4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#e4e4e4));
    background-image: -webkit-linear-gradient(top, #f4f4f4, #e4e4e4);
    background-image: -o-linear-gradient(top, #f4f4f4, #e4e4e4);
    background-image: linear-gradient(top, #f4f4f4, #e4e4e4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#e4e4e4', GradientType=0);
}

#documentsTableID.dataTable tr.even td.sorting_1,
#documentsTableID.dataTable tr.odd td.sorting_1 {
    background-image: -moz-linear-gradient(top, #f4f4f4, #e4e4e4);
    background-image: -ms-linear-gradient(top,#f4f4f4, #e4e4e4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#e4e4e4));
    background-image: -webkit-linear-gradient(top, #f4f4f4, #e4e4e4);
    background-image: -o-linear-gradient(top, #f4f4f4, #e4e4e4);
    background-image: linear-gradient(top, #f4f4f4, #e4e4e4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#e4e4e4', GradientType=0);
}

#documentsTableID tr.even:hover td.sorting_1,
#documentsTableID tr.odd:hover td.sorting_1 {
    background-image: -moz-linear-gradient(top, #e7e7e7, #d5d5d5);
    background-image: -ms-linear-gradient(top, #e7e7e7, #d5d5d5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e7e7e7), to(#d5d5d5));
    background-image: -webkit-linear-gradient(top, #e7e7e7, #d5d5d5);
    background-image: -o-linear-gradient(top, #e7e7e7, #d5d5d5);
    background-image: linear-gradient(top, #e7e7e7, #d5d5d5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#d5d5d5', GradientType=0);
}


#documentsTableID_paginate, #documentsTableID_filter, #documentsTableID_length {
  visibility: hidden;
}


.sorting_asc, .sorting_desc {
	background:#e4e0dd;
}

.snippet-container {
/*  margin-top: 5px;*/
}

.snippet-no-num {
  font-size: 1em;
  font-weight: normal;
  font-family: Verdana, Arial, sans-serif;
  margin-bottom:0px;
}

.cuttedContent, .prettify ul li, .writeable a {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.prettify {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1em !important;
}

/*#documentsToolbar {
  float: left !important;
  padding-right: 20px;
  background-color: rgba(0,0,0,0.05);
  width: 920px;
  border-bottom: 20px solid rgba(0,0,0,0.0);
}*/

#documentsToolbar button {
  float:right;
}

.pagination ul > li > a, .pagination ul > li > span {


}

.pagination-mini ul > li:first-child > a, .pagination-small ul > li:first-child > a, .pagination-mini ul > li:first-child > span, .pagination-small ul > li:first-child > span {
	margin-right:10px;
}

.pagination-mini ul > li:last-child > a, .pagination-small ul > li:last-child > a, .pagination-mini ul > li:last-child > span, .pagination-small ul > li:last-child > span {
	margin-left:10px;
}

.pagination-mini ul > li:last-child > a, .pagination-small ul > li:last-child > a, .pagination-mini ul > li:last-child > span, .pagination-small ul > li:last-child > span,
.pagination-mini ul > li:first-child > a, .pagination-small ul > li:first-child > a, .pagination-mini ul > li:first-child > span, .pagination-small ul > li:first-child > span {
    background-image: -moz-linear-gradient(top, #8f8d8c, #6d6c6b);
    background-image: -ms-linear-gradient(top, #8f8d8c, #6d6c6b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8f8d8c), to(#6d6c6b));
    background-image: -webkit-linear-gradient(top, #8f8d8c, #6d6c6b);
    background-image: -o-linear-gradient(top, #8f8d8c, #6d6c6b);
    background-image: linear-gradient(top, #8f8d8c, #6d6c6b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f8d8c', endColorstr='#6d6c6b', GradientType=0);
	border:1px solid #54514f;
	color:#FFFFFF;
}

.pagination ul > li > a:hover, .pagination ul > .active > a, .pagination ul > .active > span {
	background-color: #8aa050;
	color:#FFFFFF;
}

.badge {
	border-radius:0;
}

.badge-success, .badge-success, .badge-important, .badge-inverse {
	background: none;
    padding-left: 0px;
    padding-right: 0px;
	position:absolute;
	bottom:27px;
	right:0px;
}

.cornered {
    padding-left: 4px;
    padding-right: 9px;
}

.badge-success .cornered {
    height: 0px;
    border-bottom: 16px solid #8AA051;
    border-left: 16px solid transparent;
}

.badge-important .cornered {
    height: 0px;
    border-bottom: 16px solid #B94A48;
    border-left: 16px solid transparent;
}

.badge-inverse .cornered {
    height: 0px;
    border-bottom: 16px solid #333333;
    border-left: 16px solid transparent;
}

.badge .arrow:after {
    border-left-width: 0;
    border-right-color: #8AA051;
    bottom: -10px;
    left: 1px;
}

.badge .arrow:after {
    border-width: 10px;
    content: "";
}

.badge .arrow, .badge .arrow:after {
    border-color: transparent;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
