/* Radius */
.thumbnail, .navbar-inner, .btn, .btn-primary {
  border-radius:0;
  box-shadow: 0;
}

.breadcrumb {
  background-color: #F5F5F5;
  background: transparent;
  border-radius: 0px;
  border:none;
  padding:8px 0px;
}

.breadcrumb a.activeBread {
  color:#b9d375;
}


#content {
  margin-top: 44px;
  min-height: 800px;
  height: 100%;
  width: 98%;
}
body {
  background-color: white !important;
  background: url("../img/bg_paper.gif") repeat scroll 0 0 #E5E1DD !important;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.form-actions {
  background-color: #FFFFFF;
  border:none;
}

/* ICONS */
.icon-info-sign:hover {
  cursor: pointer;
}

.about-icon {
  float: left;
  margin-right: 12px;
}

.clearicon {
  opacity: 0.2;
  cursor: pointer;
  margin-top: 3px;
  top: 20px;
  right: 25px;
  position: absolute;
}

#plusIcon {
  margin-right: 10px;
  margin-top: 11px;
  margin-right: 22px;
  opacity: 0.3;
}

#plusIcon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.reloadicon {
  opacity: 0.2;
  cursor: pointer;
  margin-top: 3px;
  top: 20px;
  right: 45px;
  position: absolute;
}

.clearicon:hover {
  opacity: 0.8;
  cursor: pointer;
    }

    .reloadicon:hover {
      opacity: 0.8;
      cursor: pointer;
        }


