#logContent {
  margin: 20px;
  border: 20px solid rgba(0, 0, 0, 0.00);
  background-color: rgba(0, 0, 0, 0.05);
  min-height: 330px !important;
  padding-bottom: 25px;
}

#logPages {
  float:left;
}

.tab-content {
  min-height: 390px;
}



.dataTables_info {
  display:none !important;
}

.logContent {
  word-wrap: break-word;
  word-break: break-all;
}

#logNav {
  padding-bottom: 0;
  margin-bottom: 0;
}

.odd {
  background-color: /*#D3DDB8 !important*/;
}

.even {
  background-color: /*rgba(255, 255, 255, 0.8) !important*/;
}

/*.odd .sorting_1 {
  background-color: none !important;
}

.even .sorting_1 {
  background-color: #F1F0EE !important;
}*/

#logToolbar {
  background-color: rgba(0, 0, 0, 0.05);
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0) !important;
}

#logToolbar button {
  float:right;
  border: medium none;
  padding-left: 10px;
  background-color: transparent;
}


#logTableID thead, #infoTableID thead, #debugTableID thead, #critTableID thead, #warnTableID thead {
  border-bottom: 0 !important;
}

#logTableID thead th tr, #infoTableID thead, #debugTableID thead, #critTableID thead, #warnTableID thead {
  border-bottom:none;
  background-color: #F7F6F6 !important;
    background-image: -moz-linear-gradient(top, #f3efec, #ebe7e3);
    background-image: -ms-linear-gradient(top, #f3efec, #ebe7e3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3efec), to(#ebe7e3));
    background-image: -webkit-linear-gradient(top, #f3efec, #ebe7e3);
    background-image: -o-linear-gradient(top, #f3efec, #ebe7e3);
    background-image: linear-gradient(top, #f3efec, #ebe7e3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3efec', endColorstr='#ebe7e3', GradientType=0);

}

#logNav li {
  margin-left: -1px !important;
}

#logNav .active a{
  background-color: rgba(255, 255, 255, 0.8) !important;
}

#logTableID .firstcol, #infoTableID .firstcol, #debugTableID .firstcol, #critTableID .firstcol, #warnTableID .firstcol {
  background-image: -moz-linear-gradient(center top , #F4F4F4, #E4E4E4);
  border-top:1px solid #c1bdba;
  border-bottom:1px solid #c1bdba;
  border-left:1px solid #c1bdba;
  width: 30px !important;
}

.thirdcol {
  border-top:1px solid #c1bdba;
  border-bottom:1px solid #c1bdba;
  border-right:1px solid #c1bdba;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  max-width: 500px !important;

}

.seccol {
  margin-bottom: 5px;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  border-top:1px solid #c1bdba;
  border-bottom:1px solid #c1bdba;
  width: 30px !important;
}

#logTableID, #infoTableID, #debugTableID, #critTableID, #warnTableID {
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-top: -5px !important;
}


#logTableID td, #infoTableID td, #debugTableID td, #critTableID td, #warnTableID td {
  padding-top: 8px;
  padding-bottom: 8px;
}


#logTableID_wrapper, #infoTableID_wrapper, #debugTableID_wrapper, #critTableID_wrapper, #warnTableID_wrapper{
  border-radius: 2px 2px 2px 2px;
}

