.tab-content {
  min-height: 310px;
}

.dataTables_info {
  display:none !important;
}

.logContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#logNav {
  background-color: rgba(0, 0, 0, 0.05);
}

#logToolbar {
  background-color: rgba(0, 0, 0, 0.05);
}

.tab-content {
  background-color: rgba(0, 0, 0, 0.05);
}

.odd {
  
}

.even {
  
}
