.collectionTh {
  width: 20% !important;
  text-align:left;
}

.modal-body .icon-info-sign {
  padding-bottom: 5px;
  margin-bottom: 10px;
  opacity: 0.7;
}

.modal-body .icon-info-sign:hover {
  opacity: 1;
}

.modal-body table {
  margin-left: 15px;
}

.modal-body .accordion-inner {
  margin-left: 0;
  padding-left: 0;
}

.modal-body input {

  width: 320px;
}

.modal-body select {
  width: 334px;
}

.modal-text {
  font-weight: normal;
  padding-top: 3px;
  padding-bottom: 3px;
}
