#aqlEditor .ace_error, #aqlEditor .ace_info {
  background:none;
}

#aqlEditor {
  margin-top: 20px;
  width: 898px;
  height: 200px;
  border: 1px solid #C0C0C0;
  margin-bottom: 20px;
}

#queryDiv {
  margin-top: 10px;
  background-color: rgba(0,0,0,0.05);
}

#submitQueryButton {
  float: right;
}

.querynavbar {
  width: 940px !important;
  background-color: #FAFAFA;
  background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
  background-repeat: repeat-x;
  margin-bottom: 20px;
}

.querynavbar h3 {
  padding-top: 5px;
}

#queryInput {
  border-radius: 0 0 0 0 !important;
  margin-top: 5px;
  margin-bottom: 8px;
  border: 1px solid #DDDDDD;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  height: 100px !important;
  font-family: Consolas,"Liberation Mono",Courier,monospace !important;
  font-size: 12px !important;
  width: 886px;
  resize: vertical;
}

#queryOutput {
  width: 890px;
  background-color: white;
  height: 350px;
  overflow-y: auto;
  resize: vertical !important;
  border: 1px solid #c0c0c0;
}

.preQuery {
  border: 0;
  border-radius: 0;
  background-color: white !important;
}
