%pull-left {
  float: left;
}

%pull-right {
  float: right;
}

%clear-float {
  &:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0px;
    height: 0px;
    visibility: hidden;
  }
}

%clickable {
  cursor: pointer;
}

%fixedbar {
  position: fixed;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: $c_nav_bg;
  color: $c_white;
  z-index: 1000;
}

%negative {
  background-color: $c_negative;
  &:hover {
    background-color: $c_negative_hover;
  }
}

%icon-negative {
  color: $c_negative;
  &:hover {
    color: $c_negative_hover;
  }
}

%positive {
  background-color: $c_positive;
  &:hover {
    background-color: $c_positive_hover;
  }
}

%icon-positive {
  color: $c_positive;
  &:hover {
    color: $c_positive_hover;
  }
}

%warning {
  background-color: $c_warning;
  &:hover {
    background-color: $c_warning_hover;
  }
}

%icon-warning {
  color: $c_warning;
  &:hover {
    color: $c_warning_hover;
  }
}

%neutral {
  background-color: $c_neutral;
  &:hover {
    background-color: $c_neutral_hover;
  }
}

%icon-neutral {
  color: $c_neutral;
  &:hover {
    color: $c_neutral_hover;
  }
}

%primary {
  background-color: $c_primary;
  &:hover {
    background-color: $c_primary_hover;
  }
}

%icon-primary {
  color: $c_primary;
  &:hover {
    color: $c_primary_hover;
  }
}

%notification {
  background-color: $c_notification;
  &:hover {
    background-color: $c_notification_hover;
  }
}

%icon-notification {
  color: $c_notification;
  &:hover {
    color: $c_notification_hover;
  }
}


%inactive {
  background-color: $c_inactive;
  &:hover {
    background-color: $c_inactive_hover;
  }
}

%icon-inactive {
  color: $c_inactive;
  &:hover {
    color: $c_inactive_hover;
  }
}

%dropdown-menu {
  @extend %pull-left;
  position: absolute;
  top: 80%;
  right: 0px;
  z-index: 1000;
  display: none;
  padding: 5px 0px;
  margin: 5px 0px 0px;
  list-style: none;
  background-color: $c_white;
  border: {
    style: solid;
    color: $c_semi_transp;
    width: 1px;
  }
  @include border-radius(3px);

  li {
    line-height: 20px;
    white-space: nowrap;
    width: 100%;
  }

  li.dropdown-header {
    font: {
      weight: 400;
      size: 13px;
    }
    color: $c_dark_grey;
    padding: 0px 20px;
    text-transform: uppercase;
  }

  li.divider {
    background-color: $c_grey;
    height: 1px;
    margin: 10px 1px;
  }

  a {
    color: $c_nav_bg;
    padding: 0px 20px;
  }

  &:before {
    position: absolute;
    top: -7px;
    right: 7px;
    @include border-triangle(7px, $c_semi_transp);
  }

  &:after {
    top: -6px;
    right: 8px;
    @include border-triangle(7px, $c_white);
  }

}
