.accordion-group {
  border: 0;
}

.accordion-inner {
  border-top: 0;
}

.accordion-heading a {
  border: 1px solid $c-accordion-heading;
  color: black;
  font-weight: 400;
  width: 397px !important;
}
