// Bootstrap Buttons
%bare-btn {
  @include border-radius(4px);
  @include box-shadow(0);
  font-weight: 300 !important;
  font-size: 14px;
}

%btn {
  @extend %bare-btn;
  border: none;
  color: $c_white;
  margin-left: 10px;
  padding: 5px 16px;
}
.button-neutral {
  @extend %btn;
  @extend %neutral;
}

.button-header {
  @extend %bare-btn;
  @extend %header;
  margin-top: 5px;
}

.button-primary {
  @extend %btn;
  @extend %primary;
}

.button-notification {
  @extend %btn;
  @extend %notification;
  margin-right: 5px;
}

.button-success {
  @extend %btn;
  @extend %positive;
}

.button-danger {
  @extend %btn;
  @extend %negative;
}

.button-warning {
  @extend %btn;
  @extend %warning;
}

.button-inactive {
  @extend %btn;
  @extend %inactive;
}

.addButton {
  @extend %clickable;
  @extend %icon-positive;
  position: relative;
  margin-right: 7px;
  font-size: 22px;
  margin-top: 2px;
}

.deleteButton {
  @extend %clickable;
  @extend %icon-negative;
  font-size: 22px;
  padding-right: 3px;
  top: 3px;
  position: relative;
}

ul.headerButtonList {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0 !important;

  li {
    display: inline;
    margin-right: 2px;
  }
}

a.headerButton {
  @extend %clickable;
  @extend %header;
  float: left;
  margin-top: 2px; 
  margin-left: 5px;
  margin-right: 3px;
  position: relative;
  @include border-radius(3px);
  @include box-shadow(none);
  height: 17px;
  width: 9px;
  padding: 4px 9px 2px 9px;

  .icon_arangodb_filter {
    top: 3px !important;
  }

  .icon_arangodb_import {
    top: 1px !important;
  }

  .icon_arangodb_checklist {
    top: 3px !important;
    right: 5px;
  }

  .icon_arangodb_arrowleft,
  .icon_arangodb_arrowright {
    font-weight: bold;
  }

}
/* Graph Viewer */

div.toolbox > {

  div.gv_action_button {
    @extend %clickable;
    text-align: center;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: $c_nav_bg;
    color: $c_white;
    margin-top: 2px;
    margin-bottom: 2px;

    &.active {
      background-color: $c_positive;
    }

    &:first-child {
      margin-top: 0px;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

%gvButton {
  position: absolute;
  margin: 0px;
  left: 0px;
  right: 0px;
}

h6 {

  &.gv_icon_icon {
    @extend %gvButton;
    font-size: 22px;
    top: 6px;
  }
  &.gv_button_title {
    @extend %gvButton;
    bottom: 1px;
  }
}

button.graphViewer-icon-button {
  border: medium none;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  margin-left: 5px;
  padding: 0px;
  background-color: transparent;
}

button.graphViewer-icon-button > img {
  width:20px;
  height:20px;
  padding-bottom: 10px;
}

button.gv_dropdown_entry {
  width: 160px;
  height: 30px;
  margin: 4px 4px 4px 30px;
}

button.gv_context_button {
  width: 65px;
}

.btn-icon {
  padding: 4px 4px;
  background-color: rgb(56, 52, 52);
}

button.gv-icon-small {
  background-size: 16px 16px;
  width:16px;
  height:16px;
}

button.gv-icon-small.delete {
  background-image:url("../img/icon_delete.png");
}

button.gv-icon-small.add {
  background-image:url("../img/plus_icon.png");
}


button.gv-icon-btn {
  width:36px;
  height:36px;
  background-size: 36px 36px;
  border-radius: 0px !important;  
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
}

button.gv-icon-btn.active {
  background-color: #8AA051
}

button.btn-zoom:hover {
  background: inherit;
}

button.btn-zoom {
  width: 16px;
  height: 16px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  background: none;
}

button.btn-zoom-top {
  left: 13px;
  top: 0px;
}

button.btn-zoom-left {
  left: 0px;
  top: 12px;
}

button.btn-zoom-bottom {
  left: 13px;
  top: 24px;
}

button.btn-zoom-right {
  right: 0px;
  top: 12px;
}

button.gv-zoom-btn {
  width: 14px;
  height: 14px;
  background-size: 14px 14px;
  vertical-align: baseline;
}

button.gv-zoom-btn.pan-right{
  background-image:url("../img/gv_arrow_right.png");
}
button.gv-zoom-btn.pan-left{
  background-image:url("../img/gv_arrow_left.png");
}
button.gv-zoom-btn.pan-top{
  background-image:url("../img/gv_arrow_top.png");
}
button.gv-zoom-btn.pan-bottom{
  background-image:url("../img/gv_arrow_bottom.png");
}

a.paginationButton,
ul.arangoPagination a {
  @include border-radius(2px);
}

.badge, .label, .btn {
  text-shadow: none !important;
}

.thumbnail, .navbar-inner {
  @include border-radius(0px);
  @include box-shadow(0);
}

.modal-body th.actionCell > button {
  margin-top: -12px;
}

button {
  font-family: 'Open Sans', sans-serif !important;
}

.btn-old-padding {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.btn-group > .btn + .dropdown-toggle {
  //@include box-shadow(1px 0 0 rgba(255, 255, 255, 0.125) inset, 0 1px 0 rgba(255, 255, 255, 0.2) inset);
}

.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: $c_btn_inverse;
}

/* Cluster View */

button.btn-overview, button.btn-server {
  margin: 5px;
}

button.btn-server {
  width: 120px;
}

.clusterDownBtn {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  button {
    background-color: #f1f1f1;
    color: #333333;
    padding: 12px 18px;
    margin: 0px;
    border: 1px solid rgba(0,0,0,0.1875);
    border-radius: 3px;
    text-decoration: none !important;
    font-size: 20px;
    font-weight: 300;
    width: 250px;
    text-align: center;
    cursor: auto;
    &:hover{
      color: #4a6c30;
      background-color: #e8e8e8;
      -webkit-transition-delay: 0s;
      -webkit-transition-duration: 0.2s;
      -webkit-transition-property: all;
      -webkit-transition-timing-function: ease-in;
    }
  }
  button.green {
    @extend button;
    color: $c_white;
    background-color: #617e2b;
    &:hover{
      background-color: #8ba142;
    }
  }
;
}
