$c_positive: #8AA051;
$c_positive_hover: #788F3D;

$c_negative: #DA4F49;
$c_negative_hover: #BE342E;

$c_neutral: #8F8D8C;
$c_neutral_hover: #736B68;

$c_header_btn_bg: #DDDDDD;
$c_header_btn_fg: #555555;
$c_header_btn_border: #222222;

$c_black: #000000;
$c_white: #FFFFFF;

$c_nav_bg: #333232;
$c_bar_bg: #686766;
