$c_positive: #8AA051;
$c_positive_hover: #788F3D;

$c_negative: #DA4F49;
$c_negative_hover: #BE342E;

$c_neutral: #8F8D8C;
$c_neutral_hover: #736B68;

$c_warning: #FAA732;
$c_warning_hover: #F89406;
$c_unloaded: #FF8F35;

$c_header_btn_bg: #DDDDDD;
$c_header_btn_fg: #555555;
$c_header_btn_border: #222222;

$c_black: #000000;
$c_white: #FFFFFF;

$c_c2grey: #C2C2C2;

$c_nav_bg: #333232;
$c_bar_bg: #686766;

$c_grey: #E5E5E5;
$c_dark_grey: #999999;

$c_transp: transparent;
$c_semi_transp: rgba(0, 0, 0, 0.2);
$c_very_transp: rgba(0, 0, 0, 0.05);
$c_content_transp: rgba(0, 0, 0, 0.0675);

$c_contentRowActive: #BDCC92;

$c_odd : #D9D9D9;
$c_even : #FFFFFF;
