#dashboardHttpGroup {
  width: 100%;
  height: 100%;
  border: 1px solid $c_black;
}

#dashboardDetailedChart {
  width: 100%;
  height: 300px;
  border: 1px solid $c_black;

  .dygraph-axis-label-y {
    text-align: left;
  }
}

.innerDashboardChart {
  position: absolute;
  top : 5px;
  left : 5px;
  right : 5px;
  bottom : 5px;
  right: 5px;
  top: 5px;

  .dygraph-axis-label-y {
    text-align: left;
  }
}

.dashboardDetailChart {
  .dygraph-axis-label-y {
    text-align: left;
  }
}

#distributionChartDiv  {
  @extend %clear-float;
}
.lineChartDiv   {
  @extend %clear-float;
}

.dashboardChart {
  background-color: $c_white;
  position: relative;
  width: 31%;
  height: 210px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  float: left;
  margin: 1.05%;
  // padding: 0px;
}

.dygraph-label.dygraph-title {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  // font-variant: small-caps;
  color: $c_black;
}

.dygraph-axis-label.dygraph-axis-label-x {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: $c_darker_grey;  
}

.dygraph-axis-label.dygraph-axis-label-y {
  // width: 35px;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: $c_darker_grey;
}

.dygraph-legend {
  background-color: #fafafa !important;
  text-align: right !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  font-family: 'Open Sans', sans-serif !important;
  color: $c_darker_grey !important;
}

#dashboardDetailedLineChart {
  padding-top: 10px
;}
