.arangoDataTable {
  width: 100% !important;
  position: relative;
  table-layout:fixed !important;
  border-spacing:0 0px;

  thead {
    background-color: #FFF !important;
    font-weight: 400 !important;
    text-align: left;

    th {
      font-weight: 400 !important;
      padding: 10px 14px !important;
      border-bottom: none;
      cursor: default !important;
    }

    tr {
      border-bottom: 1px solid #C2C2C2;
    }

  }

  tr {
      cursor: pointer;
  }

  td {
    padding: 10px 18px !important;
  }

  .key {
    margin-top: 4px;
  }

  .dataTable {
    .noPointer tr {
      cursor: default;
    }
  }
}

/* Odd / Even coloring */
.api-container ul#resources > li.resource:nth-child(even),
table.arangoDataTable tr.even {
  background-color: #FFF;
}

.api-container ul#resources > li.resource:nth-child(odd),
table.arangoDataTable tr.odd {
  background-color: #F1F0EE;
}

// TODO Hard cleanup
#tableDiv table.dataTable td {
  padding:12px 18px !important;
}

#documentsTableID_length,
#documentsTableID_filter {
  display: none;
}

#documentsTableID_wrapper {
  min-height: 513px !important;
  padding-bottom: 0 !important;
}

#documentsTableID_wrapper .fg-toolbar {
  visibility: hidden;
}

#documentsTableID_paginate,
#documentsTableID_filter,
#documentsTableID_length {
  visibility: hidden;
}

.snippet-no-num {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0;
}

.cuttedContent,
.prettify ul li,
.writeable a {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.totalDocuments {
  color: #000;
  float: left;
  margin-top: -54px !important;
  padding-left: 10px;
}

.prettify {
  border: 0 !important;
  font-size: 1em !important;
  margin: 0 !important;
  padding: 0 !important;
}

table .sorting {
  background: none !important;
}

// i think it is removed
.sorting_asc,
.sorting_desc {
  background: #e4e0dd;
}
