.document-info {

  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 8px;
  margin-top: -10px;
  min-height: 65px;
  padding: 5px;

  .document-info-container {
    clear: both;
    width: 100%;

    .document-inner-info-container {
      float: left;
      margin-left: 10px;
      margin-top: 5px;

      .document-attribute {
        @extend %clear-float;
        margin-right: 20px;

        div {
          float: left;
        }
      }
    }
  }

  .document-bold-font {
    font-family: droid sans mono, monospace, courier new, courier, sans-serif;
    font-size: 11pt;
    min-width: 55px;
  }

  .document-thin-font {
    color: #008000;
    font-family: droid sans mono, monospace, courier new, courier, sans-serif;
    font-size: 11pt;
  }

  .document-type-container {
    div {
      float: left;
    }
  }
}

.document-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.jsoneditor {
  .tree {
    div {
      font-size: 11pt;
    }
  }

  .outer {
    .tree > table > tbody > tr:first-of-type {
      visibility: hidden;
    }
  }

}
