div.headerDropdown {
  background-color: $c_white;
  position:relative;
  display:none;
  padding: 10px;
  width: auto;

  & > div.dropdownInner {
    position: relative;
    min-height: 125px;
    width: auto;
    box-shadow: 0;
  }

  &.headerDropdown input[type=checkbox].css-checkbox {
    display:none;

    & + label.css-label {
      @extend %clickable;
      padding-left:20px;
      margin-top: 0px;
      height:15px;
      display:inline-block;
      background-repeat:no-repeat;
      background-position: 0 0;
      font-size:15px;
      vertical-align:middle;
    }

    &:checked + label.css-label {
      background-position: 0 -15px;
    }
  }
}

div.queryline {
  color: $c_black;
  height: 35px;

  select, input {
    margin-bottom: 5px;
  }

  &.querylineAdd span {
    position: relative;
    top: -21px;
    color: $c_white;
    padding-left: 10px;
  }

  .removeFilterItem i {
    margin-top: 0px !important;
    margin-left: 5px !important;
  }

  div.searchByAttribute > ul.dropdown-menu {
    position: absolute;
    border-radius: 0px;
    top: 21px;
    left: 5px;
    width: 247px;
    background-color: $c_nav_bg;
    color: $c_white;
    margin-bottom: 100%;
    display: none;
  }

}

div.dropdownImport {
  display:none;
  background-color: $c_white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  position:relative;
  
  input {
    line-height: 0px;
    margin-top: 5px;
    margin-bottom: -15px;
  }
}

select.filterSelect {
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

//TODO Le fix
#filterHeader button {
  float: right;
  margin-top: 1px;
  margin-left: 10px !important;
}

