div.headerDropdown {
  background-color: $c-white;
  display: none;
  padding: 10px;
  position: relative;
  width: auto;

  &.headerDropdown input[type=checkbox].css-checkbox {
    display: none;

    & + label.css-label {
      @extend %clickable;

      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      font-size: 15px;
      height: 15px;
      margin-top: 0;
      padding-left: 20px;
      vertical-align: middle;
    }

    &:checked + label.css-label {
      background-position: 0 -15px;
    }
  }
}

div.dropdownInner {
  @include box-shadow(0);
  min-height: 125px;
  position: relative;
  width: auto;

  & > .nav-header {
    color: $c-black;
    font-size: 13px;
    font-weight: 400;
  }

  & > label {
    color: $c-black;
    font-weight: 300;
  }

  & ul {
    @extend %pull-left;
    border-left: 1px solid $c-black;
    display: inline;
    margin-top: 10px;
    min-height: 105px;
    width: 238px;

    &:first-of-type {
      border: 0;
    }

    label {
      color: $c-black;
      padding-left: 35px;
    }
  }

}

div.queryline {
  color: $c-black;
  height: 35px;

  select,
  input {

    margin-bottom: 5px;
  }

  &.querylineAdd span {
    color: $c-white;
    padding-left: 10px;
    position: relative;
    top: -21px;
  }

  .removeFilterItem i {
    margin-left: 5px !important;
    margin-top: 0 !important;
  }

  div.searchByAttribute {
    position: relative;

    & > ul.gv-dropdown-menu {
      @include border-radius(0);

      background-color: $c-nav-bg;
      color: $c-white;
      display: none;
      left: 0;
      position: absolute;
      top: 20px;
      width: 247px;
    }
  }

}

div.dropdownImport {
  background-color: $c-white;
  display: none;
  padding: {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 5px;
  }
  position: relative;
  
  input {
    line-height: 0;
    margin-bottom: -15px;
    margin-top: 5px;
  }
}

select.filterSelect {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
}

//TODO Le fix
#filterHeader button {
  float: right;
  margin-left: 10px !important;
  margin-top: 1px;
}

div.input-append button.gv_example_toggle {
  background-color:#8F8D8C;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  margin-left: -1px;
  vertical-align: top;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;

}

.gv_example_toggle:hover {
  background-color:#8AA051;
}
