// The bar on top of each page
div.headerBar {
  position: relative;
  margin-bottom: 5px;
  background-color: $c_bar_bg;
  color: $c_white;
  height: 36px;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  input[type=checkbox].css-checkbox {
    display:none;
    & + label.css-label {
      padding-left:20px;
      margin-top: 0px;
      height:15px;
      display:inline-block;
      background-repeat:no-repeat;
      background-position: 0 0;
      font-size:15px;
      vertical-align:middle;
      cursor:pointer;
    }
  }
  input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
  }
  input[type="radio"] {
    display:none;
    & + label span {
      display:inline-block;
      width:19px;
      height:19px;
      margin:-1px 4px 0 0;
      vertical-align:middle;
      background:url(../img/check_radio_sheet.png) -38px top no-repeat;
      cursor:pointer;
    }
  }
  input[type="radio"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -57px top no-repeat;
  }
}



// The title of the page

div.headerBar a.arangoHeader,
.modal-header .arangoHeader {
  color: $c_white;
  position: relative;
  top: 7px;
  left: 5px;
  font-size: 16px;
}

// The buttons on the right side

div.headerBar > div.headerButtonBar {
  margin: 4px 0px;
  margin-bottom: 0 !important;
}

// Breadcrumbs on the left side 

div.headerBar > div.breadcrumb {
  padding-left: 5px !important;
}

// Disabled breadcrumb
div.breadcrumb a.disabledBread {
  color: $c_white;
}

// arangoHeader
.arangoHeader {
  font-weight: 400;
}

#transparentHeader input[type=checkbox].css-checkbox {
  display:none;
}
