// The bar on top of each page
div.headerBar {
  position: relative;
  margin-bottom: 5px;
  background-color: $c_bar_bg;
  color: $c_white;
  height: 36px;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

// The title of the page

div.headerBar a.arangoHeader,
.modal-header .arangoHeader {
  color: $c_white;
  position: relative;
  top: 7px;
  left: 5px;
  font-size: 16px;
}

// The buttons on the right side

div.headerBar > div.headerButtonBar {
  margin: 4px 0px;
  margin-bottom: 0 !important;
}

// Breadcrumbs on the left side 

div.headerBar > div.breadcrumb {
  padding-left: 5px !important;
}

// Disabled breadcrumb
div.breadcrumb a.disabledBread {
  color: $c_white;
}

// arangoHeader
.arangoHeader {
  font-weight: 400;
}

