.clusterInfoIcon {
  float: left;
  padding-left: 5px;
  padding-top: 2px;
}

.waitModal {
  text-align: center;

  &.icon {
    font-size: 100px;
    height: 120px;
  }

  &.message {
    font-size: 20px;
  }
}

.icon-info-sign {
  @extend %clickable;
}

.icon_arangodb_info {
  color: $c-icon-with-opacity;
  font-size: 23px;
}

.arangoicon {
  @extend %clickable
}
