#loginWindow {
  background-color: #F4F4F4;
  border: 1px solid #868686;
  border-radius: 2px;
  height: 300px;
  left: 50%;
  margin-left: -220px !important;
  margin-top: -150px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 50%;
  width: 400px;
}

#loginLogo {
}

#loginSpace {
  height: 50px;
}

#loginForm {
}

.loginInput {
  width: 387px;
}
