.modalChartDetail {
  height : 70%;
  width : 70%;
  margin-left: 0px;
}

.waitModal {
  background: transparent;
  color: $c_white;
  box-shadow: none;
  border: none;
}

.waitModalBackdrop {
  opacity: 0.7 !important;
}

.modalTooltips span {
  font-size: 20px;
  color: $c_btn_inverse;
  &:hover {
    color: $c_black;
  }
}
