nav.navbar {
  @extend %fixedbar;
  height: 38px;
  margin-bottom: 3px;
  top: 0;
}

div.navlogo {
  @extend %pull-left;
  margin-left: 5px;
  margin-right: 1px;
  padding-top: 3px;
}

div.navmenu {
  @extend %pull-right;
}

ul.navlist {
  list-style: none;

  li {
    @extend %pull-left;
    margin-left: 1px;

    &.navbar-spacer {
      @include box-shadow(1px 0 0 $c-navbar-spacer-shadow);
      background-color: $c-navbar-spacer;
      height: 21px;
      margin-top: 9px;
      width: 1px;

      &.big {
        margin-left: 15px;
        margin-right: 15px;
      }

      &.med {
        margin-left: 5px;
        margin-right: 5px;
      }

      &:hover {
        background-color: $c-navbar-spacer;
      }
    }
  }

  > li.active,
  li.dropdown-item:hover,
  > li:hover {
    background-color: $c-positive;
  }

  li.dropdown-item {
    margin-left: 0;

    a {
      display: block;
    }
  }
}

a.tab {
  color: $c-white;
  display: block;
  padding: {
    top: 9px;
    left: 10;
    bottom: 10;
    right: 10;
  }

  &.userImg {
    padding-bottom: 5px;
  }
}

ul.link-dropdown-menu {
  @extend %dropdown-menu;
}

ul.user-dropdown-menu {
  @extend %dropdown-menu;
}

ul.gv-dropdown-menu {
  @extend %dropdown-menu;
  @include border-radius(0);

  background-color: $c-low-transp;
  border: solid 1px $c-bar-bg;
  margin-right: -20;
  margin-top: 6px;

  &:after {
    border-bottom-color: $c-nav-bg;
  }

  li {

    &:hover {
      background-color: $c-positive;
      background-image: none;
    }

    a {
      padding: 0;

      label {
        color: $c-white;
        padding-left: 5px;
      }

      &:focus {
        background-color: $c-positive !important;
        background-image: none;
      }
    }
  }
}

#arangoCollectionSelect {
  display: none;
  float: right;
  margin-bottom: 0;
  margin-right: 15px;
  padding-bottom: 0;
}

.caret {
  border: {
    left: 5px solid $c-transp;
    top: 5px solid $c-white;
    right: 5px solid $c-transp;
  }
  content: '';
  display: inline-block;
  height: 0;
  vertical-align: top;
  width: 0;
}
