%dashboard-chart-box {
  @extend %pull-left;
  border-left: 0px solid $c-black;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }
}

.detail-chart {
  @extend %clear-float;
}

.dashboard-large-chart {
  @extend %pull-left;
  margin-bottom: $dashboard-margin;
  margin-right: 12px;

  .dashboard-large-chart-inner {
    @extend %dashboard-chart-box;
    @extend %pull-left;
    padding-top: $dashboard-padding;
    background-color: $c-white;
    border-left: $dashboard-borderwidth solid $c-e1grey;
    border-top: $dashboard-borderwidth solid $c-e1grey;
    border-right: $dashboard-borderwidth solid $c-e1grey;

    .dashboard-interior-chart {
      @extend %pull-left;
      margin-bottom: 0px;
    }
  }
}


.dashboard-small-chart {
  @extend %pull-left;
  margin-bottom: $dashboard-margin;

  .dashboard-small-chart-inner {
    @extend %dashboard-chart-box;
    @extend %pull-left;
    padding-top: $dashboard-padding;
    background-color: $c-white;
    border-left: $dashboard-borderwidth solid $c-e1grey;
    border-top: $dashboard-borderwidth solid $c-e1grey;
    border-right: $dashboard-borderwidth solid $c-e1grey;

    .dashboard-interior-chart {
      @extend %pull-left;
      margin-bottom: 5px;
    }
  }
}

.dashboard-medium-chart {
  @extend %dashboard-chart-box;
  @extend %pull-left;
  background-color: $c-white;
  padding-top: $dashboard-padding;
  border-left: $dashboard-borderwidth solid $c-e1grey;
  border-top: $dashboard-borderwidth solid $c-e1grey;
  border-right: $dashboard-borderwidth solid $c-e1grey;
  margin-bottom: $dashboard-margin;
  
  &:first-child {
    margin-right: 12px;
  }

  .dashboard-interior-chart {
    @extend %pull-left;
    margin-bottom: 0px;
  }
  
  .dashboard-medium-chart-inner {
      @extend %clear-float;
  }
}


.dashboard-tendency-container {
  @extend %dashboard-chart-box;
  @extend %pull-left;
  margin-bottom: $dashboard-margin;

  .dashboard-tendency-chart {
    @extend %clear-float;
    background-color: $c-white;
    border-left: 5px solid $c-e1grey;
    border-top: 5px solid $c-e1grey;
    border-right: 5px solid $c-e1grey;

    .dashboard-tendency {
      @extend %pull-left;
      background-color: $c-white;
      padding: 0px 8px 0px 8px;
      
      &:first-child {
        border-right: 1px solid $c-e1grey;
      }

      .dashboard-subtitle-bar {
        @extend %pull-left;
        border-bottom: 1px solid $c-e1grey;
        text-align: right;
      }

      .dashboard-figure {
        @extend %pull-left;
        text-align: center;
      }
    }
  }
}

.dashboard-bar-chart-container {
  @extend %dashboard-chart-box;
  @extend %pull-left;
  margin-bottom: $dashboard-margin;

  .dashboard-bar-chart {
    @extend %clear-float;
    background-color: $c-white;
    border-left: 5px solid $c-e1grey;
    border-top: 5px solid $c-e1grey;
    border-right: 5px solid $c-e1grey;

    .dashboard-bar-chart-title {
      @extend %pull-left;
      padding: 0px 8px 0px 8px;

	    .percentage {
	      @extend %pull-left;
				font-weight: 400;
			}

		  .absolut {
		  	@extend %pull-left;
        text-align: right;
			}
    }

    .dashboard-bar-chart-chart {
      @extend %pull-left;

			.nv-bar rect {
				stroke-opacity: 1;
				stroke-width: 1px;
				fill-opacity: 0.25;
			}
    }
  }
}

.dashboard-legend {
  @extend %pull-left;

  .dashboard-legend-inner {
    padding: 0px 5px 5px 0px;
  }
}

.dashboard-sub-bar {
  @extend %pull-left;
  background-color: $c-bar-bg;
  color: $c-white;
  height: 24px;
  line-height: 24px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 6px;
}

.dashboard-spacer {
 margin: 0px 12px 0px 12px;
}

.headerBar.dashboard-headerbar {
  margin: 15px 0px 10px 0px;
}

.modal-chart-detail {
  @extend %pull-left;
  height: 85%;

  .modal-body {
    max-height: 75%;
  }
}

.modal-inner-detail {
  @extend %pull-left;
}

.modal-dashboard-legend {
  @extend %pull-left;

  .dashboard-legend-inner {
    padding-left: 20px;
    padding-top: 20px;
  }

}

.dashboard-half-height-legend {
  @extend %pull-left;

  .dashboard-legend-inner {
    padding-top: 20px;
  }
}

.dashboard-title-bar {
  background-color: $c-bar-bg;
  color: $c-white;
  font-size: 14.5px;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  /* margin: 0px -1px 0px -1px; */
  padding: 0px 5px 0px 10px;

  .dashboard-half-title-bar {
    @extend %pull-left;
    border-left: 1px solid $c-black;
    margin-left: -1px;
    width: 50%;

    &:first-child {
      border-left: 0;
      margin-left: 0;
    }
  }
}

.dashboard-row {
  @extend %clear-float;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.dygraph-axis-label {
  &.dygraph-axis-label-y, 
  &.dygraph-axis-label-x {
    color: $c-darker-grey;
  }
}

/*
.dashboard-legend {
  color: $c-darker-grey;
  font: {
    family: 'Open Sans', sans-serif;
    size: 13px;
    weight: 400;
  }
}
*/
