%dashboard-chart-box {
  @extend %pull-left;
  border-left: 0px solid $c-black;
  cursor: pointer;
  margin-left: -1px;

  &:first-child {
    margin-left: 0;
  }
}

.detail-chart {
  @extend %clear-float;
}

.dashboard-large-chart {
  @extend %dashboard-chart-box;
  @extend %pull-left;
  height: $dashboard-height;
  margin-top: $dashboard-margin;
  padding-top: $dashboard-padding;
  margin-right: 12px;
  background-color: $c-white;
  border: 5px solid $c-e1grey;

  .dashboard-interior-chart {
    @extend %pull-left;
    height: $dashboard-height - $dashboard-padding;
    background-color: $c-white;
  }
}

.dashboard-medium-chart {
  @extend %dashboard-chart-box;
  @extend %pull-left;
  height: $dashboard-height;
  padding-top: $dashboard-padding;

  .dashboard-interior-chart {
    @extend %pull-left;
    height: $dashboard-height - $dashboard-padding;
    background-color: $c-white;
  }
}

.dashboard-small-chart {
  @extend %pull-left;
  margin-top: $dashboard-margin;

  .dashboard-small-chart-inner {
    @extend %dashboard-chart-box;
    @extend %pull-left;
    background-color: $c-white;
    border-left: 5px solid $c-e1grey;
    border-top: 5px solid $c-e1grey;
    border-right: 5px solid $c-e1grey;

    .dashboard-interior-chart {
      @extend %pull-left;
      height: $dashboard-height - 24;
      background-color: $c-white;
    }
  }

  .dashboard-sub-bar {
    @extend %pull-left;
    background-color: $c-bar-bg;
    color: $c-white;
    font-size: 11px;
    font-weight: 400;
    height: 24px;
    width: 100%;
    line-height: 24px;
    margin: 0px 10px 0px 0px;
    padding: 0px 5px 0px 5px;
  }

}

.dashboard-tendency-chart {
  @extend %dashboard-chart-box;
  @extend %pull-left;
  margin-top: $dashboard-margin;
  height: $dashboard-height;
}

.dashboard-legend {
  @extend %pull-left;
  height: $dashboard-height - $dashboard-padding;
  width: $dashboard-legendwidth;

  .dashboard-legend-inner {
    padding: 5px;
  }
}

.modal-chart-detail {
  @extend %pull-left;
  height: 85%;

  .modal-body {
    max-height: 75%;
  }
}

.modal-inner-detail {
  @extend %pull-left;
}

.modal-dashboard-legend {
  @extend %pull-left;
  height: $dashboard-height;

  .dashboard-legend-inner {
    padding-left: 20px;
    padding-top: 20px;
  }

}

.dashboard-half-height-legend {
  @extend %pull-left;
  height: $dashboard-height / 2;

  .dashboard-legend-inner {
    padding-top: 20px;
  }
}

.dashboard-half-height-chart {
  @extend %clear-float;
  height: ($dashboard-height + $dashboard-padding) / 2;
}

.dashboard-title-bar {
  background-color: $c-bar-bg;
  color: $c-white;
  font-size: 13px;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  margin: 0px -1px 0px -1px;
  padding: 0px 5px 0px 10px;

  .dashboard-half-title-bar {
    @extend %pull-left;
    border-left: 1px solid $c-black;
    margin-left: -1px;
    width: 50%;

    &:first-child {
      border-left: 0;
      margin-left: 0;
    }
  }
}

.dashboard-subtitle-bar {
  @extend %pull-left;
  @extend %dashboard-chart-box;
  border-bottom: 1px solid $c-black;
  font-size: 20px;
  font-weight: 300;
  height: 36px;
  line-height: 36px;
  text-align: center;
  width: 50%;
}

.dashboard-tendency {
  @extend %pull-left;
  @extend %dashboard-chart-box;
  font-size: 16px;
  height: ($dashboard-height + $dashboard-padding) / 2 - 36px - 36px - 2px;
  text-align: center;
  top: 15%;
  width: 50%;
  background-color: $c-white;
}

.dashboard-row {
  @extend %clear-float;
  margin-bottom: 12px;
  margin-left: 1px;
  margin-right: 1px;
}

.dashboard-figure {
  @extend %pull-left;
  margin-bottom: 10%;
  margin-left: 19%;
  margin-top: 7%;
  text-align: center;
}

.dygraph-axis-label {
  &.dygraph-axis-label-y, 
  &.dygraph-axis-label-x {
    color: $c-darker-grey;
    font: {
      family: 'Open Sans', sans-serif;
      size: 13px;
      weight: 300;
    }
  }
}
// labelsDivStyles
.dashboard-legend {
  color: $c-darker-grey;
  font: {
    family: 'Open Sans', sans-serif;
    size: 13px;
    weight: 400;
  }
}

