.fixedDropdown {
  @include border-radius(0 !important);
  margin: 37px 0 0 0 !important;
  width: 210px;

  &:after {
    visibility: hidden;
  }

  .dropdown-item {
    border-bottom: 1px solid $c-semi-transp;
  }

  .dropdown-header {
    border-bottom: 1px solid $c-semi-transp;
    padding: 0 !important;
  }

  a {
    padding-left: 5px !important;
  }

  .notificationItemContent {
    @extend %pull-left;
    margin-left: 15px;
    max-width: 155px;
    white-space: normal;
    width: 155px;
    word-wrap: break-word;
  }

  button {
    @extend %pull-right;
    margin-right: 5px;
  }

  .notificationItem {
    color: $c-black;

    i {
      @extend %pull-left;
      @extend %clickable;
      color: $c-semi-transp;
      font-size: 20px;
      position: relative;
      right: 4px;
      top: -9px;

      &:hover {
        color: $c-black;
      }

    }

  }

}

.innerDropdownInnerUL {
  @extend %pull-left;
  border-bottom: 1px solid $c-semi-transp;
  height: 220px !important;
  min-height: 220px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;

  .dropdown-item:hover {
    background-color: $c-e1grey !important;
  }

  li {
    width: auto !important;
  }

}

#stat_hd {
  @include border-radius(3px);
  background-color: $c-nav-bg;
  border: 2px solid $c-positive;
  height: 24px;
  margin-top: 2px;
  text-align: center;
  width: 24px;

  #stat_hd_counter {
    color: $c-white;
    line-height: 24px;
    margin-left: 0;
  }
}

.notificationItemContent {
  font-weight: 300;
}

.fullNotification {
  background-color: $c-notification-red !important;
  border: 2px solid $c-notification-red !important;

  &:hover {
    @extend %clickable;
  }
}

