.machineClass {
  @extend %clear-float;
  padding: 10px;
  float: left;
  background-color: #E1E1E1;
  margin-left: 31px;
  margin-right: 31px;
}

.scenarioBox {
  position: absolute;
  margin-top: 30px;
  width: auto;
  height: 65px;
  left: 10px;
  right: 10px;
  @include border-radius(3px 3px 3px 3px);
  border: 1px solid rgba(0, 0, 0, 0.19);
  background-color: rgba(0, 0, 0, 0.075);

  &.bottomBox {
    bottom: 30px;
  }
}

.scenarioBoxHeader {
  width: auto;
  height: 18px;
  line-height: 18px;
  text-align: center;
  margin-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}

.scenarioBoxText {
  width: auto;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  margin-top: 17px;
}

.scenarioMachine {
  @extend %pull-left;
  position: relative;
  margin-right: 20px;
  height: 257px;
  width: 110px;
  @include border-radius(3px 3px 0 0);
  border: 1px solid rgba(0, 0, 0, 0.19);
  background-color: white;
  &:last-child {
    margin-right: 0px;
  }
}


.scenarioSingleMachine {
  @extend %clear-float;
  border-radius: 3px 3px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.19);
  background-color: white;

  .scenarioMachine {
    border: 1px solid transparent;
    height: 238px;
  }
}

.bigtile.informationtile {
  cursor: auto;
}

.informationText {
  font-size: 12px;
  text-align: left;
  margin: 10px;
  padding: 5px;
  background: $c_white;
}
