.machineClass {
  @extend %clear-float;
  padding: 10px;
  float: left;
  background-color: #E1E1E1;
  width: 311px;
  height: 175px;
  margin-left: 8px;
}

.scenarioBox {
  position: absolute;
  margin-top: 10px;
  width: auto;
  height: 65px;
  left: 10px;
  right: 10px;
  @include border-radius(3px 3px 0 0);
  border: 1px solid rgba(0, 0, 0, 0.19);
  background-color: white;

  &.bottomBox {
    bottom: 10px;
  }
}

.scenarioBoxHeader {
  width: auto;
  height: 5px;
  line-height: 5px;
  text-align: right;
  margin-top: -5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}

.scenarioBoxText {
  width: auto;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 17px;
}

.scenarioMachine {
  @extend %pull-left;
  position: relative;
  margin-right: 20px;
  height: 177px;
  width: 87px;
  @include border-radius(3px 3px 0 0);
  border: 1px solid rgba(0, 0, 0, 0.19);
  background-color: white;
  &:last-child {
    margin-right: 0px;
  }
}


.scenarioSingleMachine {
  @extend %clear-float;
  border-radius: 3px 3px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.19);
  background-color: white;

  .scenarioMachine {
    border: 1px solid transparent;
  }
}

