#progressPlaceholder {
  background-color: rgba(0, 0, 0, .4);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

.progress-view {
  background-color: #fff;
  border: 1px solid $c-nav-bg;
  border-radius: 2px;
  color: $c-nav-bg;
  height: 188px;
  left: 50%;
  margin: -100px 0 0 -150px;
  position: absolute;
  top: 50%;
  width: 300px;

  .progress-content {
    margin-left: 90px;
    margin-top: 10px;

    .fa-spinner {
      font-size: 100pt;
    }

  }

  .progress-message {
    background-color: $c-nav-bg;
    border-radius: 0 0 2px 2px;
    border-top: 1px solid #fff;
    color: #fff;
    font-weight: 200;
    height: 33px;
    padding-top: 3px;
    text-align: center;
  }

  .progress-text {
    float: left;
    margin-left: 5px;
    margin-top: 4px;
  }

  .progress-action {
    float: right;
    margin-right: 2px;
  }

}

#progressPlaceholderIcon {
  color: $c-positive;
  float: left;
  font-size: 22px;
  margin-left: 10px;
  margin-top: 7px;
}
