div.resizecontainer {
  @extend %clear-float; 
  margin: 0px auto;
}

@media (max-width: 798px) {
  #arangoCollectionUl {
    display: none;
  }
  #collectionsDropdown ul {
    width: auto !important;
  }
  #arangoCollectionSelect {
    display: inline-block;
  }
}

@media (min-width: 799px) and (max-width: 1041px) {
  #arangoCollectionUl a {
    font-size: 12px;
    padding: 10px 5px 10px;
  }
}

@media (min-width: 1042px) and (max-width: 1284px) {
  #arangoCollectionUl a {
    font-size: 14px;
  }
}

@for $i from 0 through 11 {
  $min: 242px * $i;
  @media (min-width: $min + 6) and (max-width: $min + 242 + 5) {
    div.resizecontainer {
      width: $min;
    }
  }
}

div.centralRow {
  margin: {
    top: 65px;
    bottom: 65px;
  }
}

div.centralContent {
  padding: 5px;
  width: 100%;
  height: 100%;
  background-color: $c_content_transp;
  min-height: 80px;
  float: left;
}


//#databaseDiv => .contentDiv
.contentDiv {
  // margin-left:0px;
  // margin-left: -20px;
  // padding-bottom: 5px;

  padding: 13px 0px 0px 0px;

  list-style: none;
  *zoom: 1;
  li {
    background-color: rgba(0, 0, 0, 0.05);
    // #f4f3f3;

    // From Bootstrap thumbnails
    float: left;
    // margin-bottom: 20px;
    // margin-left: 20px;
  }

  a.add {
    padding: 40px 0;
    display: block;
    font-weight: 400;
    text-align: left;
  }

  .icon {
    @extend %clickable;
    padding: {
      right:5px;
      left: 5px;
      top: 10px;
    }
  }

  &:after {
    clear: both;
  }
  &:after, &:before {
    display: table;
    line-height: 0;
    content: "";
  }
}
