@media (max-width: 798px) {
  .arango-collection-ul {
    display: none;
  }

  .collection-dropdown {

    ul {
      width: auto !important;
    }
  }

  .arango-collection-select {
    display: inline-block;
  }
}

@media (min-width: 799px) and (max-width: 1041px) {
  .arango-collection-ul {

    a {
      font-size: 11px;
      padding: 7px 5px 10px;
    }
  }
}


@media (min-width: 1042px) and (max-width: 1284px) {
  .arango-collection-ul {

    a {
      font-size: 13px;
    }
  }
}
