// Has to be cleaned up it is not as !important as it might look...
.arango-tab {
  @extend %clear-float;

  border-bottom: 1px solid $c-tab-bottom-border;
  list-style: none;
  margin-bottom: -1px;
  margin-left: 0;
  margin-right: 15px;
  padding-bottom: 0;

  a {
    @extend %clickable;
    @include border-radius(0);

    background-color: $c-tab-inactive;
    border: 1px solid $c-transp;
    border-bottom-color: $c-tab-border;
    color: $c-black;
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin-right: 2px;
    min-width: 50px;
    padding: 2px 15px;
    text-align: center;
  }

  li {
    @extend %clickable;
    @extend %pull-right;
    background-color: $c-transp;
    border: 0;
    margin-bottom: -1px;
    margin-left: 2px;
    position: relative;
    z-index: 900;

    &.active a {
      background: $c-tab-active;
      border-bottom-color: $c-tab-active;
      border-left-color: $c-tab-border;
      border-right-color: $c-tab-border;
      border-top-color: $c-tab-border;
      height: 21px;
      margin-top: -1px;
    }

  }
}
