ul.tileList {
  @extend %clear-float;
  margin-left: -6px;
  margin-right: -6px;
}

li.tile {
  $iconSize: 50px;
  @extend %pull-left;
  @include box-shadow(none);

  position:relative;
  text-align:center;
  height:100px;
  width: 230px;
  list-style: none;
  background-color: $c_very_transp;
  margin: {
    left: 6px;
    right: 6px;
    bottom: 13px;
  }

  img {
    &.icon {
      height: $iconSize;
      width: $iconSize;
    }
  }

  a {
    span {
      &.add-Icon {
        @extend %pull-left;
        position: relative;
        margin-left: 22px;
        font-size: 22px;
        margin-top: -5px;
        margin-right: 10px;
      }
      &.icon {
        font-size: $iconSize;
      }
    }
    svg {
      @extend %clickable;
      &.icon {
        height: $iconSize;
        width: $iconSize;
      }
    }
  }

  h5 {
    font-size: 12px;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    color: $c_white;
    background: $c_bar_bg;
    padding: 4px 8px;
    margin: 0;
  }

  div.iconSet {
    position: absolute; 
    top: 5px;
    right: 5px;

    span {
      @extend %clickable;
      @extend %pull-right;
      opacity: 0.5;
      font-size: 18px;
      padding-left: 7px;

      &:hover {
        opacity: 1.0;
      }
      &.disabled {
        opacity: 0.2;
        cursor: default;
      }
    }
  }

  .badge-success {
    font-weight: 300;
  }

  .unloaded div {
    border-bottom: 16px solid #FF8F35;
  }

  .deleted div {
    border-bottom: 16px solid red;
  }

  div.tileBadge {
    position: absolute;
    right: 0px;
    bottom: 29px;
    font-size: 11px;
    font-weight: 300;
    color: $c_white;

    button {
      margin: {
        left: 0px;
        right: 5px;
      }
    }

    span {
      display: inline-block;
      line-height: 13px;

      div.corneredBadge {
        padding-left: 4px;
        padding-right: 9px;
        height: 0px;
        border: {
          left: 17px solid transparent;
          bottom: {
            width: 17px;
            style: solid;
          }
        }
        &.loaded {
          border-bottom-color: $c_positive;
        }
        &.unloaded {
          border-bottom-color: $c_unloaded;
        }
      }
    }
  }
}

.searchField {
 // @extend %pull-left;
  margin-left: 25px;
}

.collectionName {
  text-align:left;
  font-weight: 300;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

li.bigtile {
  @extend %clickable;
  @extend li.tile;
  height:250px;
  width: 345px;

  div.shardContainer {
    font-size: 30px;

    span {
      padding: 2px;
    }
  }
}
