.tooltip-inner {
  max-width: 300px !important;
  white-space: normal !important;
  word-wrap: break-word !important;
}

.index-tooltip {
  color: $c-btn-inverse;

  &:hover {
    color: $c-black;
  }

  span.arangoicon {
    font-size: 18px !important;
  }
}
