body, input, textarea, .page-title span, .pingback a.url {
  /*font-family: "Helvetica",sans-serif;*/
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400; }

ul.link-dropdown-menu, ul.user-dropdown-menu, ul.gv-dropdown-menu, div.navlogo, ul.navlist li, div.footer-left, li.tile, li.bigtile {
  float: left; }

div.navmenu, div.footer-right, li.tile div.iconSet span, li.bigtile div.iconSet span {
  float: right; }

ul.tileList:after, div.resizecontainer:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0px;
  height: 0px;
  visibility: hidden; }

.addButton, .deleteButton, a.headerButton, div.toolbox > div.gv_action_button, li.tile div.iconSet span, li.bigtile div.iconSet span, .contentDiv .icon, .scenarioImage {
  cursor: pointer; }

nav.navbar, footer.footer {
  position: fixed;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: #333232;
  color: white;
  z-index: 1000; }

.button-danger, div.danger.coordinator, div.danger.dbserver {
  background-color: #da4f49; }
  .button-danger:hover, div.danger.coordinator:hover, div.danger.dbserver:hover {
    background-color: #be342e; }

.deleteButton {
  color: #da4f49; }
  .deleteButton:hover {
    color: #be342e; }

.button-success, div.success.coordinator, div.success.dbserver {
  background-color: #8aa051; }
  .button-success:hover, div.success.coordinator:hover, div.success.dbserver:hover {
    background-color: #788f3d; }

.addButton {
  color: #8aa051; }
  .addButton:hover {
    color: #788f3d; }

.button-warning, div.warning.coordinator, div.warning.dbserver {
  background-color: #faa732; }
  .button-warning:hover, div.warning.coordinator:hover, div.warning.dbserver:hover {
    background-color: #f89406; }

.button-neutral {
  background-color: #8f8d8c; }
  .button-neutral:hover {
    background-color: #736b68; }

.button-primary {
  background-color: #564e4a; }
  .button-primary:hover {
    background-color: #3a322e; }

.button-notification {
  background-color: #faa020; }
  .button-notification:hover {
    background-color: #f87c0f; }

.button-inactive {
  background-color: lightgrey; }
  .button-inactive:hover {
    background-color: grey; }

ul.link-dropdown-menu, ul.user-dropdown-menu, ul.gv-dropdown-menu {
  position: absolute;
  top: 80%;
  right: 0px;
  z-index: 1000;
  display: none;
  padding: 5px 0px;
  margin: 2px 0px 0px;
  list-style: none;
  background-color: white;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }
  ul.link-dropdown-menu li, ul.user-dropdown-menu li, ul.gv-dropdown-menu li {
    line-height: 20px;
    white-space: nowrap;
    width: 100%; }
  ul.link-dropdown-menu li.dropdown-header, ul.user-dropdown-menu li.dropdown-header, ul.gv-dropdown-menu li.dropdown-header {
    font-weight: bold;
    font-size: 11px;
    color: #999999;
    padding: 0px 20px;
    text-transform: uppercase; }
  ul.link-dropdown-menu li.divider, ul.user-dropdown-menu li.divider, ul.gv-dropdown-menu li.divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 10px 1px; }
  ul.link-dropdown-menu a, ul.user-dropdown-menu a, ul.gv-dropdown-menu a {
    color: #333232;
    padding: 0px 20px; }
  ul.link-dropdown-menu:before, ul.user-dropdown-menu:before, ul.gv-dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 7px;
    position: absolute;
    border-width: 7px;
    border-style: solid;
    border-color: transparent;
    border-top: none;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    content: ''; }
  ul.link-dropdown-menu:after, ul.user-dropdown-menu:after, ul.gv-dropdown-menu:after {
    top: -6px;
    right: 8px;
    position: absolute;
    border-width: 7px;
    border-style: solid;
    border-color: transparent;
    border-top: none;
    border-bottom-color: white;
    display: inline-block;
    content: ''; }

nav.navbar {
  top: 0px;
  height: 38px;
  margin-bottom: 3px; }

div.navlogo {
  margin-left: 5px;
  margin-right: 1px;
  padding-top: 3px; }

ul.navlist {
  list-style: none; }
  ul.navlist li {
    margin-left: 1px; }
    ul.navlist li.navbar-spacer {
      width: 1px;
      box-shadow: 1px 0px 0px #c8c8c8;
      -moz-box-shadow: 1px 0px 0px #c8c8c8;
      -webkit-box-shadow: 1px 0px 0px #c8c8c8;
      height: 21px;
      margin-top: 9px;
      background-color: #a0a0a0; }
      ul.navlist li.navbar-spacer.big {
        margin-left: 15px;
        margin-right: 15px; }
      ul.navlist li.navbar-spacer.med {
        margin-left: 5px;
        margin-right: 5px; }
      ul.navlist li.navbar-spacer:hover {
        background-color: #a0a0a0; }
  ul.navlist > li.active,
  ul.navlist li.dropdown-item:hover,
  ul.navlist > li:hover {
    background-color: #8aa051; }
  ul.navlist li.dropdown-item {
    margin-left: 0px; }

a.tab {
  padding-top: 9px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
  display: block; }
  a.tab.userImg {
    padding-bottom: 5px; }

ul.gv-dropdown-menu {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin-top: 6px;
  margin-right: -20px;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid 1px #686766; }
  ul.gv-dropdown-menu:after {
    border-bottom-color: #333232; }
  ul.gv-dropdown-menu li:hover {
    background-image: none;
    background-color: #8aa051; }
  ul.gv-dropdown-menu li a {
    padding: 0px; }
    ul.gv-dropdown-menu li a label {
      color: white;
      padding-left: 5px; }
    ul.gv-dropdown-menu li a:focus {
      background-image: none;
      background-color: #8aa051 !important; }

#arangoCollectionSelect {
  display: none;
  float: right;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 15px; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 5px solid white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: ""; }

footer.footer {
  bottom: 0px;
  height: 40px; }
  footer.footer p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0; }

.button-neutral, .button-primary, .button-notification, .button-success, .button-danger, .button-warning, .button-inactive {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  border: none;
  color: white;
  margin-left: 10px;
  padding: 5px 16px;
  font-weight: 300 !important;
  font-size: 14px; }

.button-notification {
  margin-right: 5px; }

.addButton {
  position: relative;
  margin-right: 7px;
  font-size: 22px;
  margin-top: 2px; }

.deleteButton {
  font-size: 22px;
  padding-right: 3px;
  top: 3px;
  position: relative; }

ul.headerButtonList {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0 !important; }
  ul.headerButtonList li {
    display: inline;
    margin-right: 2px; }

a.headerButton {
  float: left;
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 3px;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #dddddd;
  color: #555555;
  height: 17px;
  width: 9px;
  padding: 4px 9px 2px 9px;
  border: 1px solid #222222; }
  a.headerButton:hover {
    background-color: white;
    color: black; }
  a.headerButton .icon_arangodb_filter {
    top: 3px !important; }
  a.headerButton .icon_arangodb_import {
    top: 1px !important; }
  a.headerButton .icon_arangodb_checklist {
    top: 3px !important;
    right: 5px; }
  a.headerButton .icon_arangodb_arrowleft,
  a.headerButton .icon_arangodb_arrowright {
    font-weight: bold; }

/* Graph Viewer */
div.toolbox > div.gv_action_button {
  text-align: center;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #333232;
  color: white;
  margin-top: 2px;
  margin-bottom: 2px; }
  div.toolbox > div.gv_action_button.active {
    background-color: #8aa051; }
  div.toolbox > div.gv_action_button:first-child {
    margin-top: 0px; }
  div.toolbox > div.gv_action_button:last-child {
    margin-bottom: 0px; }

h6.gv_icon_icon, h6.gv_button_title {
  position: absolute;
  margin: 0px;
  left: 0px;
  right: 0px; }

h6.gv_icon_icon {
  font-size: 22px;
  top: 6px; }
h6.gv_button_title {
  bottom: 1px; }

button.graphViewer-icon-button {
  border: medium none;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  margin-left: 5px;
  padding: 0px;
  background-color: transparent; }

button.graphViewer-icon-button > img {
  width: 20px;
  height: 20px;
  padding-bottom: 10px; }

button.gv_dropdown_entry {
  width: 160px;
  height: 30px;
  margin: 4px 4px 4px 30px; }

button.gv_context_button {
  width: 65px; }

.btn-icon {
  padding: 4px 4px;
  background-color: #383434; }

button.gv-icon-small {
  background-size: 16px 16px;
  width: 16px;
  height: 16px; }

button.gv-icon-small.delete {
  background-image: url("../img/icon_delete.png"); }

button.gv-icon-small.add {
  background-image: url("../img/plus_icon.png"); }

button.gv-icon-btn {
  width: 36px;
  height: 36px;
  background-size: 36px 36px;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important; }

button.gv-icon-btn.active {
  background-color: #8aa051; }

button.btn-zoom:hover {
  background: inherit; }

button.btn-zoom {
  width: 16px;
  height: 16px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  background: none; }

button.btn-zoom-top {
  left: 13px;
  top: 0px; }

button.btn-zoom-left {
  left: 0px;
  top: 12px; }

button.btn-zoom-bottom {
  left: 13px;
  top: 24px; }

button.btn-zoom-right {
  right: 0px;
  top: 12px; }

button.gv-zoom-btn {
  width: 14px;
  height: 14px;
  background-size: 14px 14px;
  vertical-align: baseline; }

button.gv-zoom-btn.pan-right {
  background-image: url("../img/gv_arrow_right.png"); }

button.gv-zoom-btn.pan-left {
  background-image: url("../img/gv_arrow_left.png"); }

button.gv-zoom-btn.pan-top {
  background-image: url("../img/gv_arrow_top.png"); }

button.gv-zoom-btn.pan-bottom {
  background-image: url("../img/gv_arrow_bottom.png"); }

a.paginationButton,
ul.arangoPagination a {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.badge, .label, .btn {
  text-shadow: none !important; }

.thumbnail, .navbar-inner {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0; }

.modal-body th.actionCell > button {
  margin-top: -12px; }

button {
  font-family: 'Open Sans', sans-serif !important; }

.btn-old-padding {
  padding-top: 4px !important;
  padding-bottom: 4px !important; }

.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #736b68; }

/* Cluster View */
button.btn-overview, button.btn-server {
  margin: 5px; }

button.btn-server {
  width: 120px; }

ul.tileList {
  margin-left: -6px;
  margin-right: -6px; }

li.tile, li.bigtile {
  position: relative;
  text-align: center;
  height: 100px;
  width: 230px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.05);
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  li.tile h5, li.bigtile h5 {
    font-size: 12px;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    color: white;
    background: #686766;
    padding: 4px 8px;
    margin: 0; }
  li.tile div.iconSet, li.bigtile div.iconSet {
    position: absolute;
    top: 5px;
    right: 5px; }
    li.tile div.iconSet span, li.bigtile div.iconSet span {
      opacity: 0.5;
      font-size: 18px;
      padding-left: 7px; }
      li.tile div.iconSet span:hover, li.bigtile div.iconSet span:hover {
        opacity: 1.0; }
      li.tile div.iconSet span.disabled, li.bigtile div.iconSet span.disabled {
        opacity: 0.2;
        cursor: default; }
  li.tile .badge-success, li.bigtile .badge-success {
    font-weight: 300; }
  li.tile .unloaded div, li.bigtile .unloaded div {
    border-bottom: 16px solid #FF8F35; }
  li.tile .deleted div, li.bigtile .deleted div {
    border-bottom: 16px solid red; }
  li.tile div.tileBadge, li.bigtile div.tileBadge {
    position: absolute;
    right: 0px;
    bottom: 29px;
    font-size: 11px;
    font-weight: 300;
    color: white; }
    li.tile div.tileBadge button, li.bigtile div.tileBadge button {
      margin-left: 0px;
      margin-right: 5px; }
    li.tile div.tileBadge span, li.bigtile div.tileBadge span {
      display: inline-block;
      line-height: 13px; }
      li.tile div.tileBadge span div.corneredBadge, li.bigtile div.tileBadge span div.corneredBadge {
        padding-left: 4px;
        padding-right: 9px;
        height: 0px;
        border-left: 17px solid transparent;
        border-bottom-width: 17px;
        border-bottom-style: solid; }
        li.tile div.tileBadge span div.corneredBadge.loaded, li.bigtile div.tileBadge span div.corneredBadge.loaded {
          border-bottom-color: #8aa051; }
        li.tile div.tileBadge span div.corneredBadge.unloaded, li.bigtile div.tileBadge span div.corneredBadge.unloaded {
          border-bottom-color: #ff8f35; }

.collectionName {
  text-align: left;
  font-weight: 300;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px; }

li.bigtile {
  height: 250px;
  width: 345px; }
  li.bigtile div.shardContainer {
    font-size: 30px; }
    li.bigtile div.shardContainer span {
      padding: 2px; }

div.resizecontainer {
  margin: 0px auto; }

@media (max-width: 798px) {
  #arangoCollectionUl {
    display: none; }

  #collectionsDropdown ul {
    width: auto !important; }

  #arangoCollectionSelect {
    display: inline-block; } }
@media (min-width: 799px) and (max-width: 1041px) {
  #arangoCollectionUl a {
    font-size: 12px;
    padding: 10px 5px 10px; } }
@media (min-width: 1042px) and (max-width: 1284px) {
  #arangoCollectionUl a {
    font-size: 14px; } }
@media (min-width: 6px) and (max-width: 247px) {
  div.resizecontainer {
    width: 0px; } }
@media (min-width: 248px) and (max-width: 489px) {
  div.resizecontainer {
    width: 242px; } }
@media (min-width: 490px) and (max-width: 731px) {
  div.resizecontainer {
    width: 484px; } }
@media (min-width: 732px) and (max-width: 973px) {
  div.resizecontainer {
    width: 726px; } }
@media (min-width: 974px) and (max-width: 1215px) {
  div.resizecontainer {
    width: 968px; } }
@media (min-width: 1216px) and (max-width: 1457px) {
  div.resizecontainer {
    width: 1210px; } }
@media (min-width: 1458px) and (max-width: 1699px) {
  div.resizecontainer {
    width: 1452px; } }
@media (min-width: 1700px) and (max-width: 1941px) {
  div.resizecontainer {
    width: 1694px; } }
@media (min-width: 1942px) and (max-width: 2183px) {
  div.resizecontainer {
    width: 1936px; } }
@media (min-width: 2184px) and (max-width: 2425px) {
  div.resizecontainer {
    width: 2178px; } }
@media (min-width: 2426px) and (max-width: 2667px) {
  div.resizecontainer {
    width: 2420px; } }
@media (min-width: 2668px) and (max-width: 2909px) {
  div.resizecontainer {
    width: 2662px; } }
div.centralRow {
  margin-top: 65px;
  margin-bottom: 65px; }

div.centralContent {
  padding: 5px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0675);
  min-height: 80px;
  float: left; }

.contentDiv {
  padding: 13px 0px 0px 0px;
  list-style: none;
  *zoom: 1; }
  .contentDiv li {
    background-color: rgba(0, 0, 0, 0.05);
    float: left; }
  .contentDiv a.add {
    padding: 40px 0;
    display: block;
    font-weight: 400;
    text-align: left; }
  .contentDiv .icon {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px; }
  .contentDiv:after {
    clear: both; }
  .contentDiv:after, .contentDiv:before {
    display: table;
    line-height: 0;
    content: ""; }

.clusterInfoIcon {
  font-size: 30px; }

.scenarioImage {
  height: 70%;
  width: auto; }

svg.clusterChart {
  width: auto;
  height: auto; }

.lineGraph .few .dygraph-legend > span.highlight {
  border: 1px solid grey; }
.lineGraph .many .dygraph-legend > span {
  display: none; }
.lineGraph .many .dygraph-legend > span.highlight {
  display: inline; }

div.coordinator, div.dbserver {
  width: 90px;
  height: 50px;
  position: absolute;
  top: 10px;
  color: black; }
  div.coordinator h6.serverName, div.dbserver h6.serverName {
    margin: 0px;
    font-size: 11px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px; }

div.coordinator {
  left: 15px; }

div.dbserver {
  right: 15px; }
