body, input, textarea, .page-title span, .pingback a.url {
  /*font-family: "Helvetica",sans-serif;*/
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400; }

ul.link-dropdown-menu, ul.user-dropdown-menu, ul.gv-dropdown-menu, div.navlogo, ul.navlist li, div.footer-left, li.tile, li.bigtile, li.tile a span.add-Icon, li.bigtile a span.add-Icon {
  float: left; }

div.navmenu, div.footer-right, li.tile div.iconSet span, li.bigtile div.iconSet span {
  float: right; }

ul.tileList:after, div.resizecontainer:after, #distributionChartDiv:after, .lineChartDiv:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0px;
  height: 0px;
  visibility: hidden; }

.addButton, .deleteButton, a.headerButton, div.toolbox > div.gv_action_button, li.tile div.iconSet span, li.bigtile div.iconSet span, .contentDiv .icon, div.headerDropdown.headerDropdown input[type=checkbox].css-checkbox + label.css-label, .contentTables tr.contentRowInactive a {
  cursor: pointer; }

nav.navbar, footer.footer {
  position: fixed;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: #333232;
  color: white;
  z-index: 1000; }

.button-danger {
  background-color: #da4f49; }
  .button-danger:hover {
    background-color: #be342e; }

.deleteButton, .contentTables td span {
  color: #da4f49; }
  .deleteButton:hover, .contentTables td span:hover {
    color: #be342e; }

.button-success {
  background-color: #8aa051; }
  .button-success:hover {
    background-color: #788f3d; }

.addButton, .contentTables td.dbThSecond span {
  color: #8aa051; }
  .addButton:hover, .contentTables td.dbThSecond span:hover {
    color: #788f3d; }

.button-warning {
  background-color: #faa732; }
  .button-warning:hover {
    background-color: #f89406; }

.button-neutral {
  background-color: #8f8d8c; }
  .button-neutral:hover {
    background-color: #736b68; }

.button-primary {
  background-color: #564e4a; }
  .button-primary:hover {
    background-color: #3a322e; }

.button-notification {
  background-color: #faa020; }
  .button-notification:hover {
    background-color: #f87c0f; }

.button-inactive {
  background-color: lightgrey; }
  .button-inactive:hover {
    background-color: grey; }

ul.link-dropdown-menu, ul.user-dropdown-menu, ul.gv-dropdown-menu {
  position: absolute;
  top: 80%;
  right: 0px;
  z-index: 1000;
  display: none;
  padding: 5px 0px;
  margin: 5px 0px 0px;
  list-style: none;
  background-color: white;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  ul.link-dropdown-menu li, ul.user-dropdown-menu li, ul.gv-dropdown-menu li {
    line-height: 20px;
    white-space: nowrap;
    width: 100%; }
  ul.link-dropdown-menu li.dropdown-header, ul.user-dropdown-menu li.dropdown-header, ul.gv-dropdown-menu li.dropdown-header {
    font-weight: 400;
    font-size: 13px;
    color: #999999;
    padding: 0px 20px;
    text-transform: uppercase; }
  ul.link-dropdown-menu li.divider, ul.user-dropdown-menu li.divider, ul.gv-dropdown-menu li.divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 10px 1px; }
  ul.link-dropdown-menu a, ul.user-dropdown-menu a, ul.gv-dropdown-menu a {
    color: #333232;
    padding: 0px 20px; }
  ul.link-dropdown-menu:before, ul.user-dropdown-menu:before, ul.gv-dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 7px;
    position: absolute;
    border-width: 7px;
    border-style: solid;
    border-color: transparent;
    border-top: none;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    content: ''; }
  ul.link-dropdown-menu:after, ul.user-dropdown-menu:after, ul.gv-dropdown-menu:after {
    top: -6px;
    right: 8px;
    position: absolute;
    border-width: 7px;
    border-style: solid;
    border-color: transparent;
    border-top: none;
    border-bottom-color: white;
    display: inline-block;
    content: ''; }

nav.navbar {
  top: 0px;
  height: 38px;
  margin-bottom: 3px; }

div.navlogo {
  margin-left: 5px;
  margin-right: 1px;
  padding-top: 3px; }

ul.navlist {
  list-style: none; }
  ul.navlist li {
    margin-left: 1px; }
    ul.navlist li.navbar-spacer {
      width: 1px;
      box-shadow: 1px 0px 0px #c8c8c8;
      -moz-box-shadow: 1px 0px 0px #c8c8c8;
      -webkit-box-shadow: 1px 0px 0px #c8c8c8;
      height: 21px;
      margin-top: 9px;
      background-color: #a0a0a0; }
      ul.navlist li.navbar-spacer.big {
        margin-left: 15px;
        margin-right: 15px; }
      ul.navlist li.navbar-spacer.med {
        margin-left: 5px;
        margin-right: 5px; }
      ul.navlist li.navbar-spacer:hover {
        background-color: #a0a0a0; }
  ul.navlist > li.active,
  ul.navlist li.dropdown-item:hover,
  ul.navlist > li:hover {
    background-color: #8aa051; }
  ul.navlist li.dropdown-item {
    margin-left: 0px; }
    ul.navlist li.dropdown-item a {
      display: block; }

a.tab {
  padding-top: 9px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
  display: block; }
  a.tab.userImg {
    padding-bottom: 5px; }

ul.gv-dropdown-menu {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin-top: 6px;
  margin-right: -20px;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid 1px #686766; }
  ul.gv-dropdown-menu:after {
    border-bottom-color: #333232; }
  ul.gv-dropdown-menu li:hover {
    background-image: none;
    background-color: #8aa051; }
  ul.gv-dropdown-menu li a {
    padding: 0px; }
    ul.gv-dropdown-menu li a label {
      color: white;
      padding-left: 5px; }
    ul.gv-dropdown-menu li a:focus {
      background-image: none;
      background-color: #8aa051 !important; }

#arangoCollectionSelect {
  display: none;
  float: right;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 15px; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 5px solid white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: ""; }

footer.footer {
  bottom: 0px;
  height: 40px; }
  footer.footer p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0; }

.button-neutral, .button-primary, .button-notification, .button-success, .button-danger, .button-warning, .button-inactive {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  border: none;
  color: white;
  margin-left: 10px;
  padding: 5px 16px;
  font-weight: 300 !important;
  font-size: 14px; }

.button-notification {
  margin-right: 5px; }

.addButton {
  position: relative;
  margin-right: 7px;
  font-size: 22px;
  margin-top: 2px; }

.deleteButton {
  font-size: 22px;
  padding-right: 3px;
  top: 3px;
  position: relative; }

ul.headerButtonList {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0 !important; }
  ul.headerButtonList li {
    display: inline;
    margin-right: 2px; }

a.headerButton {
  float: left;
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 3px;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #dddddd;
  color: #555555;
  height: 17px;
  width: 9px;
  padding: 4px 9px 2px 9px;
  border: 1px solid #222222; }
  a.headerButton:hover {
    background-color: white;
    color: black; }
  a.headerButton .icon_arangodb_filter {
    top: 3px !important; }
  a.headerButton .icon_arangodb_import {
    top: 1px !important; }
  a.headerButton .icon_arangodb_checklist {
    top: 3px !important;
    right: 5px; }
  a.headerButton .icon_arangodb_arrowleft,
  a.headerButton .icon_arangodb_arrowright {
    font-weight: bold; }

/* Graph Viewer */
div.toolbox > div.gv_action_button {
  text-align: center;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #333232;
  color: white;
  margin-top: 2px;
  margin-bottom: 2px; }
  div.toolbox > div.gv_action_button.active {
    background-color: #8aa051; }
  div.toolbox > div.gv_action_button:first-child {
    margin-top: 0px; }
  div.toolbox > div.gv_action_button:last-child {
    margin-bottom: 0px; }

h6.gv_icon_icon, h6.gv_button_title {
  position: absolute;
  margin: 0px;
  left: 0px;
  right: 0px; }

h6.gv_icon_icon {
  font-size: 22px;
  top: 6px; }
h6.gv_button_title {
  bottom: 1px; }

button.graphViewer-icon-button, .clusterDownBtn button.graphViewer-icon-button.green {
  border: medium none;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  margin-left: 5px;
  padding: 0px;
  background-color: transparent; }

button.graphViewer-icon-button > img, .clusterDownBtn button.graphViewer-icon-button.green > img {
  width: 20px;
  height: 20px;
  padding-bottom: 10px; }

button.gv_dropdown_entry, .clusterDownBtn button.gv_dropdown_entry.green {
  width: 160px;
  height: 30px;
  margin: 4px 4px 4px 30px; }

button.gv_context_button, .clusterDownBtn button.gv_context_button.green {
  width: 65px; }

.btn-icon {
  padding: 4px 4px;
  background-color: #383434; }

button.gv-icon-small, .clusterDownBtn button.gv-icon-small.green {
  background-size: 16px 16px;
  width: 16px;
  height: 16px; }

button.gv-icon-small.delete {
  background-image: url("../img/icon_delete.png"); }

button.gv-icon-small.add {
  background-image: url("../img/plus_icon.png"); }

button.gv-icon-btn, .clusterDownBtn button.gv-icon-btn.green {
  width: 36px;
  height: 36px;
  background-size: 36px 36px;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important; }

button.gv-icon-btn.active {
  background-color: #8aa051; }

button.btn-zoom:hover {
  background: inherit; }

button.btn-zoom, .clusterDownBtn button.btn-zoom.green {
  width: 16px;
  height: 16px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  background: none; }

button.btn-zoom-top, .clusterDownBtn button.btn-zoom-top.green {
  left: 13px;
  top: 0px; }

button.btn-zoom-left, .clusterDownBtn button.btn-zoom-left.green {
  left: 0px;
  top: 12px; }

button.btn-zoom-bottom, .clusterDownBtn button.btn-zoom-bottom.green {
  left: 13px;
  top: 24px; }

button.btn-zoom-right, .clusterDownBtn button.btn-zoom-right.green {
  right: 0px;
  top: 12px; }

button.gv-zoom-btn, .clusterDownBtn button.gv-zoom-btn.green {
  width: 14px;
  height: 14px;
  background-size: 14px 14px;
  vertical-align: baseline; }

button.gv-zoom-btn.pan-right {
  background-image: url("../img/gv_arrow_right.png"); }

button.gv-zoom-btn.pan-left {
  background-image: url("../img/gv_arrow_left.png"); }

button.gv-zoom-btn.pan-top {
  background-image: url("../img/gv_arrow_top.png"); }

button.gv-zoom-btn.pan-bottom {
  background-image: url("../img/gv_arrow_bottom.png"); }

a.paginationButton,
ul.arangoPagination a {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.badge, .label, .btn {
  text-shadow: none !important; }

.thumbnail, .navbar-inner {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0; }

.modal-body th.actionCell > button {
  margin-top: -12px; }

button, .clusterDownBtn button.green {
  font-family: 'Open Sans', sans-serif !important; }

.btn-old-padding {
  padding-top: 4px !important;
  padding-bottom: 4px !important; }

.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #736b68; }

/* Cluster View */
button.btn-overview, .clusterDownBtn button.btn-overview.green, button.btn-server, .clusterDownBtn button.btn-server.green {
  margin: 5px; }

button.btn-server, .clusterDownBtn button.btn-server.green {
  width: 120px; }

.clusterDownBtn {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }
  .clusterDownBtn button, .clusterDownBtn button.green {
    background-color: #f1f1f1;
    color: #333333;
    padding: 12px 18px;
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1875);
    border-radius: 3px;
    text-decoration: none !important;
    font-size: 20px;
    font-weight: 300;
    width: 250px;
    text-align: center;
    cursor: auto; }
    .clusterDownBtn button:hover {
      color: #4a6c30;
      background-color: #e8e8e8;
      -webkit-transition-delay: 0s;
      -webkit-transition-duration: 0.2s;
      -webkit-transition-property: all;
      -webkit-transition-timing-function: ease-in; }
  .clusterDownBtn button.green {
    color: white;
    background-color: #617e2b; }
    .clusterDownBtn button.green:hover {
      background-color: #8ba142; }

ul.tileList {
  margin-left: -6px;
  margin-right: -6px; }

li.tile, li.bigtile {
  position: relative;
  text-align: center;
  height: 100px;
  width: 230px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.05);
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  li.tile a span.add-Icon, li.bigtile a span.add-Icon {
    position: relative;
    margin-left: 22px;
    font-size: 22px;
    margin-top: -5px;
    margin-right: 10px; }
  li.tile h5, li.bigtile h5 {
    font-size: 12px;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    color: white;
    background: #686766;
    padding: 4px 8px;
    margin: 0; }
  li.tile div.iconSet, li.bigtile div.iconSet {
    position: absolute;
    top: 5px;
    right: 5px; }
    li.tile div.iconSet span, li.bigtile div.iconSet span {
      opacity: 0.5;
      font-size: 18px;
      padding-left: 7px; }
      li.tile div.iconSet span:hover, li.bigtile div.iconSet span:hover {
        opacity: 1.0; }
      li.tile div.iconSet span.disabled, li.bigtile div.iconSet span.disabled {
        opacity: 0.2;
        cursor: default; }
  li.tile .badge-success, li.bigtile .badge-success {
    font-weight: 300; }
  li.tile .unloaded div, li.bigtile .unloaded div {
    border-bottom: 16px solid #FF8F35; }
  li.tile .deleted div, li.bigtile .deleted div {
    border-bottom: 16px solid red; }
  li.tile div.tileBadge, li.bigtile div.tileBadge {
    position: absolute;
    right: 0px;
    bottom: 29px;
    font-size: 11px;
    font-weight: 300;
    color: white; }
    li.tile div.tileBadge button, li.bigtile div.tileBadge button {
      margin-left: 0px;
      margin-right: 5px; }
    li.tile div.tileBadge span, li.bigtile div.tileBadge span {
      display: inline-block;
      line-height: 13px; }
      li.tile div.tileBadge span div.corneredBadge, li.bigtile div.tileBadge span div.corneredBadge {
        padding-left: 4px;
        padding-right: 9px;
        height: 0px;
        border-left: 17px solid transparent;
        border-bottom-width: 17px;
        border-bottom-style: solid; }
        li.tile div.tileBadge span div.corneredBadge.loaded, li.bigtile div.tileBadge span div.corneredBadge.loaded {
          border-bottom-color: #8aa051; }
        li.tile div.tileBadge span div.corneredBadge.unloaded, li.bigtile div.tileBadge span div.corneredBadge.unloaded {
          border-bottom-color: #ff8f35; }

.searchField {
  margin-left: 25px; }

.collectionName {
  text-align: left;
  font-weight: 300;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px; }

li.bigtile {
  height: 250px;
  width: 345px; }
  li.bigtile div.shardContainer {
    font-size: 30px; }
    li.bigtile div.shardContainer span {
      padding: 2px; }

div.resizecontainer {
  margin: 0px auto; }

@media (max-width: 798px) {
  #arangoCollectionUl {
    display: none; }

  #collectionsDropdown ul {
    width: auto !important; }

  #arangoCollectionSelect {
    display: inline-block; } }
@media (min-width: 799px) and (max-width: 1041px) {
  #arangoCollectionUl a {
    font-size: 12px;
    padding: 10px 5px 10px; } }
@media (min-width: 1042px) and (max-width: 1284px) {
  #arangoCollectionUl a {
    font-size: 14px; } }
@media (min-width: 6px) and (max-width: 247px) {
  div.resizecontainer {
    width: 0px; }

  div.modalChartDetail {
    width: 0px;
    left: 50%;
    margin-left: 0px; } }
@media (min-width: 248px) and (max-width: 489px) {
  div.resizecontainer {
    width: 242px; }

  div.modalChartDetail {
    width: 242px;
    left: 50%;
    margin-left: -121px; } }
@media (min-width: 490px) and (max-width: 731px) {
  div.resizecontainer {
    width: 484px; }

  div.modalChartDetail {
    width: 484px;
    left: 50%;
    margin-left: -242px; } }
@media (min-width: 732px) and (max-width: 973px) {
  div.resizecontainer {
    width: 726px; }

  div.modalChartDetail {
    width: 726px;
    left: 50%;
    margin-left: -363px; } }
@media (min-width: 974px) and (max-width: 1215px) {
  div.resizecontainer {
    width: 968px; }

  div.modalChartDetail {
    width: 968px;
    left: 50%;
    margin-left: -484px; } }
@media (min-width: 1216px) and (max-width: 1457px) {
  div.resizecontainer {
    width: 1210px; }

  div.modalChartDetail {
    width: 1210px;
    left: 50%;
    margin-left: -605px; } }
@media (min-width: 1458px) and (max-width: 1699px) {
  div.resizecontainer {
    width: 1452px; }

  div.modalChartDetail {
    width: 1452px;
    left: 50%;
    margin-left: -726px; } }
@media (min-width: 1700px) and (max-width: 1941px) {
  div.resizecontainer {
    width: 1694px; }

  div.modalChartDetail {
    width: 1694px;
    left: 50%;
    margin-left: -847px; } }
@media (min-width: 1942px) and (max-width: 2183px) {
  div.resizecontainer {
    width: 1936px; }

  div.modalChartDetail {
    width: 1936px;
    left: 50%;
    margin-left: -968px; } }
@media (min-width: 2184px) and (max-width: 2425px) {
  div.resizecontainer {
    width: 2178px; }

  div.modalChartDetail {
    width: 2178px;
    left: 50%;
    margin-left: -1089px; } }
@media (min-width: 2426px) and (max-width: 2667px) {
  div.resizecontainer {
    width: 2420px; }

  div.modalChartDetail {
    width: 2420px;
    left: 50%;
    margin-left: -1210px; } }
@media (min-width: 2668px) and (max-width: 2909px) {
  div.resizecontainer {
    width: 2662px; }

  div.modalChartDetail {
    width: 2662px;
    left: 50%;
    margin-left: -1331px; } }
div.centralRow {
  margin-top: 65px;
  margin-bottom: 65px; }

div.centralContent {
  padding: 5px;
  margin-left: -5px;
  margin-right: -5px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0675);
  min-height: 80px;
  float: left; }

.contentDiv {
  padding: 13px 0px 0px 0px;
  list-style: none;
  *zoom: 1; }
  .contentDiv li {
    background-color: rgba(0, 0, 0, 0.05);
    float: left; }
  .contentDiv a.add {
    padding: 40px 0;
    display: block;
    font-weight: 400;
    text-align: left; }
  .contentDiv .icon {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px; }
  .contentDiv:after {
    clear: both; }
  .contentDiv:after, .contentDiv:before {
    display: table;
    line-height: 0;
    content: ""; }

.clusterInfoIcon {
  float: left;
  padding-top: 2px;
  padding-left: 5px; }

.waitModal {
  text-align: center; }
  .waitModal.icon {
    font-size: 100px;
    height: 120px; }
  .waitModal.message {
    font-size: 20px; }

div.headerDropdown {
  background-color: white;
  position: relative;
  display: none;
  padding: 10px;
  width: auto; }
  div.headerDropdown > div.dropdownInner {
    position: relative;
    min-height: 125px;
    width: auto;
    box-shadow: 0; }
  div.headerDropdown.headerDropdown input[type=checkbox].css-checkbox {
    display: none; }
    div.headerDropdown.headerDropdown input[type=checkbox].css-checkbox + label.css-label {
      padding-left: 20px;
      margin-top: 0px;
      height: 15px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: 0 0;
      font-size: 15px;
      vertical-align: middle; }
    div.headerDropdown.headerDropdown input[type=checkbox].css-checkbox:checked + label.css-label {
      background-position: 0 -15px; }

div.queryline {
  color: black;
  height: 35px; }
  div.queryline select, div.queryline input {
    margin-bottom: 5px; }
  div.queryline.querylineAdd span {
    position: relative;
    top: -21px;
    color: white;
    padding-left: 10px; }
  div.queryline .removeFilterItem i {
    margin-top: 0px !important;
    margin-left: 5px !important; }
  div.queryline div.searchByAttribute {
    position: relative; }
    div.queryline div.searchByAttribute > ul.gv-dropdown-menu {
      position: absolute;
      border-radius: 0px;
      top: 20px;
      left: 0px;
      width: 247px;
      background-color: #333232;
      color: white;
      display: none; }

div.dropdownImport {
  display: none;
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  position: relative; }
  div.dropdownImport input {
    line-height: 0px;
    margin-top: 5px;
    margin-bottom: -15px; }

select.filterSelect {
  width: 100px;
  margin-left: 10px;
  margin-right: 10px; }

#filterHeader button {
  float: right;
  margin-top: 1px;
  margin-left: 10px !important; }

.fixedDropdown {
  margin: 37px 0 0 0 !important;
  border-radius: 0 !important;
  width: 210px; }

.fixedDropdown:after {
  visibility: hidden; }

.fixedDropdown .dropdown-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.fixedDropdown .dropdown-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 !important; }

.fixedDropdown a {
  padding-left: 5px !important; }

.fixedDropdown .notificationItemContent {
  width: 155px;
  float: left;
  margin-left: 15px;
  max-width: 155px;
  white-space: normal;
  word-wrap: break-word; }

.fixedDropdown button, .fixedDropdown .clusterDownBtn button.green, .clusterDownBtn .fixedDropdown button.green {
  float: right;
  margin-right: 5px; }

.innerDropdownInnerUL {
  min-height: 220px;
  height: 220px !important;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  float: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.innerDropdownInnerUL .dropdown-item:hover {
  background-color: #E1E1E1 !important; }

.innerDropdownInnerUL li {
  width: auto !important; }

.fixedDropdown .notificationItem {
  color: black; }

.notificationItem i {
  color: rgba(0, 0, 0, 0.2);
  float: left;
  font-size: 20px;
  position: relative;
  right: 4px;
  top: -9px; }

.notificationItem i:hover {
  color: black;
  cursor: pointer; }

#stat_hd {
  width: 24px;
  height: 24px;
  margin-top: 2px;
  background-color: #333232;
  border-radius: 3px;
  border: 2px solid #8AA051; }

.notificationItemContent {
  font-weight: 300; }

.fullNotification:hover {
  cursor: pointer; }

.fullNotification {
  border: 2px solid red !important;
  background-color: red !important; }

#stat_hd #stat_hd_counter {
  color: white;
  margin-left: 8px;
  line-height: 24px; }

.contentButtons {
  clear: both;
  width: 100%;
  margin-bottom: 10px; }
  .contentButtons #createDatabase, .contentButtons #createUser {
    margin-left: 0; }

.contentTables {
  width: 100%;
  margin-bottom: 10px; }
  .contentTables thead {
    text-align: left; }
    .contentTables thead tr {
      border-bottom: 1px solid #c2c2c2;
      background-color: white; }
  .contentTables tbody tr:nth-child(odd) {
    background-color: #d9d9d9; }
  .contentTables tbody tr:nth-child(even) {
    background-color: white; }
  .contentTables tr.contentRowActive {
    background-color: #bdcc92 !important;
    font-weight: 400; }
    .contentTables tr.contentRowActive a {
      color: black !important; }
    .contentTables tr.contentRowActive span {
      display: none; }
  .contentTables tr.contentRowInactive a {
    color: black !important; }
  .contentTables .dbThFirst {
    width: 90%; }
  .contentTables .dbThSecond {
    width: 10%; }
  .contentTables td {
    padding: 12px 18px; }
    .contentTables td span {
      float: right;
      font-size: 22px; }
  .contentTables .collectionThSec {
    width: 80%;
    margin-right: 0; }
  .contentTables .collectionTh {
    width: 5%;
    margin-right: 0; }

.createModalDialog table {
  width: 100%; }

.userMenuImg {
  background-color: lightgrey;
  border-radius: 3px;
  border: 2px solid #8AA051;
  margin-top: -4px; }

.tooltip-inner {
  max-width: 300px !important;
  word-wrap: break-word !important;
  white-space: normal !important; }

.dbselection {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 160px;
  float: left;
  margin-right: 3px; }

#dashboardHttpGroup {
  width: 100%;
  height: 100%;
  border: 1px solid black; }

#dashboardDetailedChart {
  width: 100%;
  height: 300px;
  border: 1px solid black; }

.innerDashboardChart {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px; }

.dashboardChart {
  background-color: white;
  position: relative;
  width: 31%;
  height: 270px;
  border: 1px solid black;
  float: left;
  margin: 1%; }

.dashboardDistribution {
  width: 270px;
  float: left; }

.dashboardDistribution svg {
  width: 250px;
  height: 220px; }

.modalChartDetail {
  height: 70%;
  width: 70%;
  margin-left: 0px; }

div img.searchSubmitIcon {
  height: 14px;
  margin-left: -18px;
  margin-top: 11px;
  opacity: 0.2;
  position: absolute;
  width: 14px; }
