body, input, textarea, .page-title span, .pingback a.url {
  /*font-family: "Helvetica",sans-serif;*/
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400; }

ul.link-dropdown-menu, ul.user-dropdown-menu, div.navlogo, ul.navlist li, div.footer-left, li.tile {
  float: left; }

div.navmenu, div.footer-right, li.tile div.iconSet span {
  float: right; }

div.resizecontainer:after, ul.tileList:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0px;
  height: 0px;
  visibility: hidden; }

.contentDiv .icon, li.tile div.iconSet span, .contentTables tr.contentRowInactive a, div.headerDropdown.headerDropdown input[type=checkbox].css-checkbox + label.css-label {
  cursor: pointer; }

nav.navbar, footer.footer {
  position: fixed;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: #333232;
  color: white;
  z-index: 1000; }

.contentTables td span {
  color: #da4f49; }
  .contentTables td span:hover {
    color: #be342e; }

.contentTables td.dbThSecond span {
  color: #8aa051; }
  .contentTables td.dbThSecond span:hover {
    color: #788f3d; }

ul.link-dropdown-menu, ul.user-dropdown-menu {
  position: absolute;
  top: 80%;
  right: 0px;
  z-index: 1000;
  display: none;
  padding: 5px 0px;
  margin: 2px 0px 0px;
  list-style: none;
  background-color: white;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }
  ul.link-dropdown-menu li, ul.user-dropdown-menu li {
    line-height: 20px;
    white-space: nowrap;
    width: 100%; }
  ul.link-dropdown-menu li.dropdown-header, ul.user-dropdown-menu li.dropdown-header {
    font-weight: bold;
    font-size: 11px;
    color: #999999;
    padding: 0px 20px;
    text-transform: uppercase; }
  ul.link-dropdown-menu li.divider, ul.user-dropdown-menu li.divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 10px 1px; }
  ul.link-dropdown-menu a, ul.user-dropdown-menu a {
    color: #333232;
    padding: 0px 20px; }
  ul.link-dropdown-menu:before, ul.user-dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 7px;
    position: absolute;
    border-width: 7px;
    border-style: solid;
    border-color: transparent;
    border-top: none;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    content: ''; }
  ul.link-dropdown-menu:after, ul.user-dropdown-menu:after {
    top: -6px;
    right: 8px;
    position: absolute;
    border-width: 7px;
    border-style: solid;
    border-color: transparent;
    border-top: none;
    border-bottom-color: white;
    display: inline-block;
    content: ''; }

div.resizecontainer {
  margin: 0px auto; }

@media (max-width: 798px) {
  #arangoCollectionUl {
    display: none; }

  #collectionsDropdown ul {
    width: auto !important; }

  #arangoCollectionSelect {
    display: inline-block; } }
@media (min-width: 799px) and (max-width: 1041px) {
  #arangoCollectionUl a {
    font-size: 11px;
    padding: 7px 5px 10px; } }
@media (min-width: 1042px) and (max-width: 1284px) {
  #arangoCollectionUl a {
    font-size: 13px; } }
@media (min-width: 6px) and (max-width: 247px) {
  div.resizecontainer {
    width: 0px; } }
@media (min-width: 248px) and (max-width: 489px) {
  div.resizecontainer {
    width: 242px; } }
@media (min-width: 490px) and (max-width: 731px) {
  div.resizecontainer {
    width: 484px; } }
@media (min-width: 732px) and (max-width: 973px) {
  div.resizecontainer {
    width: 726px; } }
@media (min-width: 974px) and (max-width: 1215px) {
  div.resizecontainer {
    width: 968px; } }
@media (min-width: 1216px) and (max-width: 1457px) {
  div.resizecontainer {
    width: 1210px; } }
@media (min-width: 1458px) and (max-width: 1699px) {
  div.resizecontainer {
    width: 1452px; } }
@media (min-width: 1700px) and (max-width: 1941px) {
  div.resizecontainer {
    width: 1694px; } }
@media (min-width: 1942px) and (max-width: 2183px) {
  div.resizecontainer {
    width: 1936px; } }
@media (min-width: 2184px) and (max-width: 2425px) {
  div.resizecontainer {
    width: 2178px; } }
@media (min-width: 2426px) and (max-width: 2667px) {
  div.resizecontainer {
    width: 2420px; } }
@media (min-width: 2668px) and (max-width: 2909px) {
  div.resizecontainer {
    width: 2662px; } }
div.centralRow {
  margin-top: 65px;
  margin-bottom: 65px; }

div.centralContent {
  padding: 5px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0675);
  min-height: 80px;
  float: left; }

.contentDiv {
  padding: 13px 0px 0px 0px;
  list-style: none;
  *zoom: 1; }
  .contentDiv li {
    background-color: rgba(0, 0, 0, 0.05);
    float: left; }
  .contentDiv a.add {
    padding: 40px 0;
    display: block;
    font-weight: 400;
    text-align: left; }
  .contentDiv .icon {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px; }
  .contentDiv:after {
    clear: both; }
  .contentDiv:after, .contentDiv:before {
    display: table;
    line-height: 0;
    content: ""; }

nav.navbar {
  top: 0px;
  height: 37px;
  margin-bottom: 3px; }

div.navlogo {
  margin-left: 5px;
  margin-right: 5px;
  margin-right: 1px; }

ul.navlist {
  list-style: none; }
  ul.navlist li {
    margin-left: 1px; }
  ul.navlist > li.active,
  ul.navlist li.dropdown-item:hover,
  ul.navlist > li:hover {
    background-color: #8aa051; }

a.tab {
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
  display: block; }

#arangoCollectionSelect {
  display: none;
  float: right;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 15px; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 5px solid white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: ""; }

.navbar-spacer {
  margin-right: 15px; }

footer.footer {
  bottom: 0px;
  height: 40px; }
  footer.footer p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0; }

ul.tileList {
  margin-left: -6px;
  margin-right: -6px; }

li.tile {
  position: relative;
  text-align: center;
  height: 100px;
  width: 230px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.05);
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  li.tile h5 {
    font-size: 12px;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    color: white;
    background: #686766;
    padding: 4px 8px;
    margin: 0; }
  li.tile div.iconSet {
    position: absolute;
    top: 5px;
    right: 5px; }
    li.tile div.iconSet span {
      opacity: 0.5;
      font-size: 18px;
      padding-left: 7px; }
      li.tile div.iconSet span:hover {
        opacity: 1.0; }
      li.tile div.iconSet span.disabled {
        opacity: 0.2;
        cursor: default; }
  li.tile .badge-success {
    font-weight: 300; }
  li.tile .unloaded div {
    border-bottom: 16px solid #FF8F35; }
  li.tile .deleted div {
    border-bottom: 16px solid red; }
  li.tile div.tileBadge {
    position: absolute;
    right: 0px;
    bottom: 29px;
    font-size: 11px;
    font-weight: 300;
    color: white; }
    li.tile div.tileBadge span {
      display: inline-block;
      line-height: 13px; }
      li.tile div.tileBadge span div.corneredBadge {
        padding-left: 4px;
        padding-right: 9px;
        height: 0px;
        border-left: 17px solid transparent;
        border-bottom-width: 17px;
        border-bottom-style: solid; }
        li.tile div.tileBadge span div.corneredBadge.loaded {
          border-bottom-color: #8aa051; }
        li.tile div.tileBadge span div.corneredBadge.unloaded {
          border-bottom-color: #ff8f35; }

.collectionName {
  text-align: left;
  font-weight: 300;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px; }

.fixedDropdown {
  margin: 34px 0 0 0 !important;
  border-radius: 0 !important;
  width: 210px; }

.fixedDropdown:after {
  visibility: hidden; }

.fixedDropdown .dropdown-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.fixedDropdown .dropdown-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 !important; }

.fixedDropdown a {
  padding-left: 5px !important; }

.fixedDropdown .notificationItemContent {
  width: 160px;
  float: left;
  margin-left: 15px; }

.fixedDropdown button {
  float: right;
  margin-right: 5px; }

.innerDropdownInnerUL {
  min-height: 220px;
  height: 220px !important;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  float: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.innerDropdownInnerUL .dropdown-item:hover {
  background-color: #E1E1E1 !important; }

.innerDropdownInnerUL li {
  width: auto !important; }

.fixedDropdown .notificationItem {
  color: black; }

.notificationItem i {
  color: rgba(0, 0, 0, 0.2);
  float: left;
  font-size: 20px;
  position: relative;
  right: 8px;
  top: -9px; }

.notificationItem i:hover {
  color: black;
  cursor: pointer; }

#stat_hd {
  width: 22px;
  height: 22px;
  margin-top: 5px;
  background-color: #333232;
  border-radius: 3px;
  border: 2px solid #8AA051; }

.notificationItemContent {
  font-weight: 300; }

#stat_hd:hover {
  cursor: pointer; }

.fullNotification {
  border: 2px solid red !important;
  background-color: red !important; }

#stat_hd #stat_hd_counter {
  color: white;
  margin-left: 7px;
  line-height: 23px; }

.contentButtons {
  clear: both;
  width: 100%;
  margin-bottom: 10px; }
  .contentButtons #createDatabase, .contentButtons #createUser {
    margin-left: 0; }

.contentTables {
  width: 100%;
  margin-bottom: 10px; }
  .contentTables thead {
    text-align: left; }
    .contentTables thead tr {
      border-bottom: 1px solid #c2c2c2;
      background-color: white; }
  .contentTables tbody tr:nth-child(odd) {
    background-color: #d9d9d9; }
  .contentTables tbody tr:nth-child(even) {
    background-color: white; }
  .contentTables tr.contentRowActive {
    background-color: #bdcc92 !important;
    font-weight: 400; }
    .contentTables tr.contentRowActive a {
      color: black !important; }
    .contentTables tr.contentRowActive span {
      display: none; }
  .contentTables tr.contentRowInactive a {
    color: black !important; }
  .contentTables .dbThFirst {
    width: 90%; }
  .contentTables .dbThSecond {
    width: 10%; }
  .contentTables td {
    padding: 12px 18px; }
    .contentTables td span {
      float: right;
      font-size: 22px; }
  .contentTables .collectionThSec {
    width: 80%;
    margin-right: 0; }
  .contentTables .collectionTh {
    width: 5%;
    margin-right: 0; }

.createModalDialog table {
  width: 100%; }

div.headerDropdown {
  background-color: white;
  position: relative;
  display: none;
  padding: 10px;
  width: auto; }
  div.headerDropdown > div.dropdownInner {
    position: relative;
    min-height: 125px;
    width: auto;
    box-shadow: 0; }
  div.headerDropdown.headerDropdown input[type=checkbox].css-checkbox {
    display: none; }
    div.headerDropdown.headerDropdown input[type=checkbox].css-checkbox + label.css-label {
      padding-left: 20px;
      margin-top: 0px;
      height: 15px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: 0 0;
      font-size: 15px;
      vertical-align: middle; }
    div.headerDropdown.headerDropdown input[type=checkbox].css-checkbox:checked + label.css-label {
      background-position: 0 -15px; }

div.dropdownImport {
  display: none;
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  position: relative; }
  div.dropdownImport input {
    line-height: 0px;
    margin-top: 5px;
    margin-bottom: -15px; }

select.filterSelect {
  width: 100px;
  margin-left: 10px;
  margin-right: 10px; }

#filterHeader button {
  float: right;
  margin-top: 1px;
  margin-left: 10px !important; }

.userMenuImg {
  margin-top: -3px; }
