body,
input,
textarea,
.page-title span,
.pingback a.url {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/opensans/OpenSansLight.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("../fonts/opensans/OpenSans.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/opensans/OpenSansBold.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("../fonts/opensans/OpenSansLightItalic.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../fonts/opensans/OpenSansItalic.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("../fonts/opensans/OpenSansBoldItalic.woff") format("woff"); }

ul.link-dropdown-menu, ul.user-dropdown-menu, ul.gv-dropdown-menu, div.navlogo, ul.navlist li, div.footer-left, div.footer-left p, a.headerButton, a.button-gui, div.tile, div.bigtile, div.tile a span.add-Icon, div.bigtile a span.add-Icon, div.centralContent, .contentDiv li, div.dropdownInner ul, .fixedDropdown .notificationItemContent, .fixedDropdown .notificationItem i, .innerDropdownInnerUL, .dashboardModal {
  float: left; }

div.navmenu, div.footer-right, div.footer-right p, ul.headerButtonList li, div.tile div.iconSet span, div.bigtile div.iconSet span, div.headerBar > div.headerButtonBar, .fixedDropdown button, .query-button, .arango-tab li, .show-save-state {
  float: right; }

div.tileList:after, div.resizecontainer:after, div.headerBar > div.headerButtonBar:after, #distributionChartDiv:after, .lineChartDiv:after, .arango-tab:after {
  clear: both;
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

.addButton, .deleteButton, a.headerButton, a.button-gui, div.toolbox > div.gv_action_button, .clusterDownBtn button, div.tile a span.icon, div.bigtile a span.icon, div.tile a svg, div.bigtile a svg, div.tile div.iconSet span, div.bigtile div.iconSet span, div.bigtile, .contentDiv .icon, div.headerDropdown.headerDropdown input[type=checkbox].css-checkbox + label.css-label, .search-submit-icon, .fixedDropdown .notificationItem i, .fullNotification:hover, .contentTables tr.contentRowInactive a, .arango-tab a, .arango-tab li {
  cursor: pointer; }

nav.navbar, footer.footer {
  background-color: #333232;
  color: white;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 1000; }

.button-danger {
  background-color: #da4f49; }
  .button-danger:hover {
    background-color: #be342e; }

.deleteButton, .contentTables td span {
  color: #da4f49; }
  .deleteButton:hover, .contentTables td span:hover {
    color: #be342e; }

.button-success {
  background-color: #8aa051; }
  .button-success:hover {
    background-color: #788f3d; }

.addButton, .contentTables td.dbThSecond span {
  color: #8aa051; }
  .addButton:hover, .contentTables td.dbThSecond span:hover {
    color: #788f3d; }

.button-warning {
  background-color: #faa732; }
  .button-warning:hover {
    background-color: #f89406; }

.button-neutral, .button-close {
  background-color: #8f8d8c; }
  .button-neutral:hover, .button-close:hover {
    background-color: #736b68; }

.button-primary {
  background-color: #564e4a; }
  .button-primary:hover {
    background-color: #3a322e; }

.button-header, a.headerButton, a.button-gui {
  background-color: #dddddd;
  border: 1px solid #222222;
  color: #555555; }
  .button-header:hover, a.headerButton:hover, a.button-gui:hover {
    background-color: white;
    color: black; }

.button-notification {
  background-color: #faa020; }
  .button-notification:hover {
    background-color: #f87c0f; }

.button-inactive {
  background-color: lightgrey; }
  .button-inactive:hover {
    background-color: gray; }

ul.link-dropdown-menu, ul.user-dropdown-menu, ul.gv-dropdown-menu {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  display: none;
  list-style: none;
  margin: 5px 0 0;
  padding: 5px 0;
  position: absolute;
  right: 0;
  top: 80%;
  z-index: 1000; }
  ul.link-dropdown-menu li, ul.user-dropdown-menu li, ul.gv-dropdown-menu li {
    line-height: 20px;
    white-space: nowrap;
    width: 100%; }
  ul.link-dropdown-menu li.dropdown-header, ul.user-dropdown-menu li.dropdown-header, ul.gv-dropdown-menu li.dropdown-header {
    color: #999999;
    font-size: 15px;
    font-weight: 600;
    font-variant: small-caps;
    padding: 0 20px; }
  ul.link-dropdown-menu li.divider, ul.user-dropdown-menu li.divider, ul.gv-dropdown-menu li.divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 10px 1px; }
  ul.link-dropdown-menu a, ul.user-dropdown-menu a, ul.gv-dropdown-menu a {
    color: #333232;
    padding: 0 20px; }
  ul.link-dropdown-menu:before, ul.user-dropdown-menu:before, ul.gv-dropdown-menu:before {
    position: absolute;
    border-width: 7px;
    border-style: solid;
    border-color: transparent;
    border-top: none;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    content: '';
    position: absolute;
    right: 7px;
    top: -7px; }
  ul.link-dropdown-menu:after, ul.user-dropdown-menu:after, ul.gv-dropdown-menu:after {
    position: absolute;
    border-width: 7px;
    border-style: solid;
    border-color: transparent;
    border-top: none;
    border-bottom-color: white;
    display: inline-block;
    content: '';
    right: 8px;
    top: -6px; }

nav.navbar {
  height: 38px;
  margin-bottom: 3px;
  top: 0; }

div.navlogo {
  margin-left: 5px;
  margin-right: 1px;
  padding-top: 3px; }

ul.navlist {
  list-style: none; }
  ul.navlist li {
    margin-left: 1px; }
    ul.navlist li.navbar-spacer {
      -webkit-box-shadow: 1px 0 0 #c8c8c8;
      -moz-box-shadow: 1px 0 0 #c8c8c8;
      box-shadow: 1px 0 0 #c8c8c8;
      background-color: #a0a0a0;
      height: 21px;
      margin-top: 9px;
      width: 1px; }
      ul.navlist li.navbar-spacer.big {
        margin-left: 15px;
        margin-right: 15px; }
      ul.navlist li.navbar-spacer.med {
        margin-left: 5px;
        margin-right: 5px; }
      ul.navlist li.navbar-spacer:hover {
        background-color: #a0a0a0; }
  ul.navlist > li.active,
  ul.navlist li.dropdown-item:hover,
  ul.navlist > li:hover {
    background-color: #8aa051; }
  ul.navlist li.dropdown-item {
    margin-left: 0; }
    ul.navlist li.dropdown-item a {
      display: block; }

a.tab {
  color: white;
  display: block;
  padding-top: 9px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px; }
  a.tab.userImg {
    padding-bottom: 5px; }

ul.gv-dropdown-menu {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid 1px #686766;
  margin-right: -20px;
  margin-top: 6px; }
  ul.gv-dropdown-menu:after {
    border-bottom-color: #333232; }
  ul.gv-dropdown-menu li:hover {
    background-color: #8aa051;
    background-image: none; }
  ul.gv-dropdown-menu li a {
    padding: 0; }
    ul.gv-dropdown-menu li a label {
      color: white;
      padding-left: 5px; }
    ul.gv-dropdown-menu li a:focus {
      background-color: #8aa051 !important;
      background-image: none; }

#arangoCollectionSelect {
  display: none;
  float: right;
  margin-bottom: 0;
  margin-right: 15px;
  padding-bottom: 0; }

.caret {
  border-left: 5px solid transparent;
  border-top: 5px solid white;
  border-right: 5px solid transparent;
  content: '';
  display: inline-block;
  height: 0;
  vertical-align: top;
  width: 0; }

.footer {
  background-color: #333232;
  bottom: 0;
  font-size: 14px;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 1000; }

footer.footer {
  bottom: 0;
  height: 40px; }
  footer.footer p {
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px; }

div.footer-left {
  background: none repeat scroll 0 0 #333232;
  color: white;
  width: 45%; }

div.footer-right {
  background: none repeat scroll 0 0 #333232;
  color: #333232;
  width: 45%; }
  div.footer-right p {
    color: white; }

.button-neutral, .button-primary, .button-notification, .button-success, .button-danger, .button-warning, .button-inactive, .button-close, .button-header {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  font-size: 14px;
  font-weight: 300 !important; }

.button-neutral, .button-primary, .button-notification, .button-success, .button-danger, .button-warning, .button-inactive, .button-close {
  border: 0;
  color: white;
  margin-left: 10px;
  padding: 5px 16px; }

.button-header {
  margin-top: 5px; }

.addButton {
  font-size: 22px;
  margin-right: 7px;
  margin-top: 2px;
  position: relative; }

.deleteButton {
  font-size: 22px;
  padding-right: 3px;
  position: relative;
  top: 3px; }

button.large-distance {
  margin-left: 12px; }

button.short-distance {
  margin-left: 6px; }

ul.headerButtonList {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0 !important; }
  ul.headerButtonList li {
    display: inline; }

button.shutdown {
  margin-top: 6px;
  padding: 3px 14px; }

a.headerButton, a.button-gui {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 9px;
  padding-right: 9px; }

a.headerButton {
  height: 17px;
  margin-top: 2px;
  padding-top: 4px;
  padding-bottom: 2px;
  position: relative;
  width: 9px; }
  a.headerButton .icon_arangodb_filter {
    top: 3px !important; }
  a.headerButton .icon_arangodb_import {
    top: 1px !important; }
  a.headerButton .icon_arangodb_checklist {
    right: 5px;
    top: 3px !important; }
  a.headerButton .icon_arangodb_arrowleft,
  a.headerButton .icon_arangodb_arrowright {
    font-weight: bold; }
  a.headerButton.activated {
    background-color: #788f3d;
    color: white; }
    a.headerButton.activated:hover {
      background-color: white;
      color: #788f3d; }

div.toolbox > div.gv_action_button {
  background-color: #333232;
  color: white;
  height: 50px;
  margin-bottom: 2px;
  margin-top: 2px;
  position: relative;
  text-align: center;
  width: 50px; }
  div.toolbox > div.gv_action_button.active {
    background-color: #8aa051; }
  div.toolbox > div.gv_action_button:first-child {
    margin-top: 0; }
  div.toolbox > div.gv_action_button:last-child {
    margin-bottom: 0; }

h6.gv_icon_icon, h6.gv_button_title {
  left: 0;
  margin: 0;
  position: absolute;
  right: 0; }

h6.gv_icon_icon {
  font-size: 22px;
  top: 6px; }
h6.gv_button_title {
  bottom: 1px; }

button.graphViewer-icon-button {
  background-color: transparent;
  border: 0;
  height: 20px;
  margin-left: 5px;
  margin-top: -2px;
  padding: 0;
  width: 20px; }

button.graphViewer-icon-button > img {
  height: 20px;
  padding-bottom: 10px;
  width: 20px; }

button.gv_dropdown_entry {
  height: 30px;
  margin: 4px 4px 4px 30px;
  width: 160px; }

button.gv_context_button {
  width: 65px; }

.btn-icon {
  background-color: #383434;
  padding: 4px; }

button.gv-icon-small {
  background-size: 16px 16px;
  height: 16px;
  width: 16px; }

button.gv-icon-small.delete {
  background-image: url("../img/icon_delete.png"); }

button.gv-icon-small.add {
  background-image: url("../img/plus_icon.png"); }

button.gv-icon-btn {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  background-size: 36px 36px;
  height: 36px;
  width: 36px; }

button.gv-icon-btn.active {
  background-color: #8aa051; }

button.btn-zoom:hover {
  background: inherit; }

button.btn-zoom {
  background: none;
  height: 16px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 16px; }

button.btn-zoom-top {
  left: 13px;
  top: 0; }

button.btn-zoom-left {
  left: 0;
  top: 12px; }

button.btn-zoom-bottom {
  left: 13px;
  top: 24px; }

button.btn-zoom-right {
  right: 0;
  top: 12px; }

button.gv-zoom-btn {
  background-size: 14px 14px;
  height: 14px;
  vertical-align: baseline;
  width: 14px; }
  button.gv-zoom-btn.pan-right {
    background-image: url("../img/gv_arrow_right.png"); }
  button.gv-zoom-btn.pan-left {
    background-image: url("../img/gv_arrow_left.png"); }
  button.gv-zoom-btn.pan-top {
    background-image: url("../img/gv_arrow_top.png"); }
  button.gv-zoom-btn.pan-bottom {
    background-image: url("../img/gv_arrow_bottom.png"); }

a.paginationButton,
ul.arangoPagination a {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.badge,
.label,
.btn {
  text-shadow: none !important; }

.thumbnail,
.navbar-inner {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0; }

.modal-body th.actionCell > button {
  margin-top: -12px; }

button {
  font-family: 'Open Sans', sans-serif !important; }

.btn-old-padding {
  padding-bottom: 4px !important;
  padding-top: 4px !important; }

.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #736b68; }

button.btn-overview,
button.btn-server {
  margin: 5px; }

button.btn-server {
  width: 120px; }

a.button-gui {
  height: auto;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  position: absolute;
  right: 2px;
  text-decoration: none !important;
  top: 2px;
  width: auto; }

.clusterDownBtn {
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center; }
  .clusterDownBtn button {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #f1f1f1;
    border: 1px solid rgba(0, 0, 0, 0.1875);
    color: #333333;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none !important;
    width: 250px; }
    .clusterDownBtn button:hover {
      background-color: #e8e8e8;
      color: #4a6c30;
      -webkit-transition-delay: 0;
      -webkit-transition-duration: .2s;
      -webkit-transition-property: all;
      -webkit-transition-timing-function: ease-in; }
  .clusterDownBtn button.green {
    background-color: #617e2b;
    color: white; }
    .clusterDownBtn button.green:hover {
      background-color: #8ba142; }

div.tileList {
  margin-left: -6px;
  margin-right: -6px; }

div.tile, div.bigtile {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 14px;
  list-style: none;
  margin-bottom: 13px;
  margin-left: 6px;
  margin-right: 6px;
  position: relative;
  text-align: center; }
  div.tile img.icon, div.bigtile img.icon {
    height: 50px;
    width: 50px; }
  div.tile a span.add-Icon, div.bigtile a span.add-Icon {
    font-size: 22px;
    margin-left: 22px;
    margin-right: 10px;
    margin-top: -5px;
    position: relative;
    right: 4px;
    top: 2px; }
  div.tile a span.icon, div.bigtile a span.icon {
    font-size: 50px; }
  div.tile a svg.icon, div.bigtile a svg.icon {
    height: 50px;
    width: 50px; }
  div.tile svg.tile-icon-svg, div.bigtile svg.tile-icon-svg {
    fill: #686766;
    height: 50px;
    margin-left: 90px;
    margin-top: 10px;
    width: 50px; }
  div.tile span.tile-icon, div.bigtile span.tile-icon {
    color: #686766;
    font-size: 50px;
    line-height: 1.2; }
  div.tile h5, div.bigtile h5 {
    background: #686766;
    color: white;
    font-size: 12px;
    margin: 0;
    overflow: hidden !important;
    padding: 4px 8px;
    text-overflow: ellipsis !important;
    white-space: nowrap !important; }
  div.tile div.iconSet, div.bigtile div.iconSet {
    position: absolute;
    right: 5px;
    top: 5px; }
    div.tile div.iconSet span, div.bigtile div.iconSet span {
      font-size: 18px;
      opacity: .5;
      padding-left: 7px; }
      div.tile div.iconSet span:hover, div.bigtile div.iconSet span:hover {
        opacity: 1.0; }
      div.tile div.iconSet span.disabled, div.bigtile div.iconSet span.disabled {
        cursor: default;
        opacity: .2; }
  div.tile .badge-success, div.bigtile .badge-success {
    font-weight: 300; }
  div.tile .unloaded div, div.bigtile .unloaded div {
    border-bottom: 16px solid #ff8f35; }
  div.tile .deleted div, div.bigtile .deleted div {
    border-bottom: 16px solid #770000; }
  div.tile div.tileBadge, div.bigtile div.tileBadge {
    bottom: 29px;
    font-size: 11px;
    font-weight: 300;
    position: absolute;
    right: 0; }
    div.tile div.tileBadge button, div.bigtile div.tileBadge button {
      margin-left: 0;
      margin-right: 5px; }
    div.tile div.tileBadge span, div.bigtile div.tileBadge span {
      display: inline-block;
      line-height: 13px; }
      div.tile div.tileBadge span div.corneredBadge, div.bigtile div.tileBadge span div.corneredBadge {
        border-left: 17px solid transparent;
        border-bottom-style: solid;
        border-bottom-width: 17px;
        height: 0;
        padding-left: 4px;
        padding-right: 9px; }
        div.tile div.tileBadge span div.corneredBadge.loaded, div.bigtile div.tileBadge span div.corneredBadge.loaded {
          border-bottom-color: #8aa051; }
        div.tile div.tileBadge span div.corneredBadge.unloaded, div.bigtile div.tileBadge span div.corneredBadge.unloaded {
          border-bottom-color: #ff8f35; }

div.tile {
  height: 100px;
  width: 230px; }
div.bigtile {
  height: 309px;
  width: 460px; }
  div.bigtile div.shardContainer {
    font-size: 30px; }
    div.bigtile div.shardContainer span {
      padding: 2px; }

.collectionName {
  bottom: 0;
  font-weight: 300;
  left: 0;
  position: absolute;
  right: 0;
  text-align: left; }

div.resizecontainer {
  margin: 0 auto; }

@media (max-width: 798px) {
  #arangoCollectionUl {
    display: none; }

  #collectionsDropdown ul {
    width: auto !important; }

  #arangoCollectionSelect {
    display: inline-block; } }
@media (min-width: 799px) and (max-width: 1041px) {
  #arangoCollectionUl a {
    font-size: 12px;
    padding: 10px 5px; } }
@media (min-width: 1042px) and (max-width: 1284px) {
  #arangoCollectionUl a {
    font-size: 14px; } }
@media (min-width: 6px) and (max-width: 247px) {
  div.resizecontainer {
    width: 0px; }

  div.modalChartDetail {
    left: 50%;
    margin-left: 0px;
    width: 0px; } }
@media (min-width: 248px) and (max-width: 489px) {
  div.resizecontainer {
    width: 242px; }

  div.modalChartDetail {
    left: 50%;
    margin-left: -121px;
    width: 242px; } }
@media (min-width: 490px) and (max-width: 731px) {
  div.resizecontainer {
    width: 484px; }

  div.modalChartDetail {
    left: 50%;
    margin-left: -242px;
    width: 484px; } }
@media (min-width: 732px) and (max-width: 973px) {
  div.resizecontainer {
    width: 726px; }

  div.modalChartDetail {
    left: 50%;
    margin-left: -363px;
    width: 726px; } }
@media (min-width: 974px) and (max-width: 1215px) {
  div.resizecontainer {
    width: 968px; }

  div.modalChartDetail {
    left: 50%;
    margin-left: -484px;
    width: 968px; } }
@media (min-width: 1216px) and (max-width: 1457px) {
  div.resizecontainer {
    width: 1210px; }

  div.modalChartDetail {
    left: 50%;
    margin-left: -605px;
    width: 1210px; } }
@media (min-width: 1458px) and (max-width: 1699px) {
  div.resizecontainer {
    width: 1452px; }

  div.modalChartDetail {
    left: 50%;
    margin-left: -726px;
    width: 1452px; } }
@media (min-width: 1700px) and (max-width: 1941px) {
  div.resizecontainer {
    width: 1694px; }

  div.modalChartDetail {
    left: 50%;
    margin-left: -847px;
    width: 1694px; } }
@media (min-width: 1942px) and (max-width: 2183px) {
  div.resizecontainer {
    width: 1936px; }

  div.modalChartDetail {
    left: 50%;
    margin-left: -968px;
    width: 1936px; } }
@media (min-width: 2184px) and (max-width: 2425px) {
  div.resizecontainer {
    width: 2178px; }

  div.modalChartDetail {
    left: 50%;
    margin-left: -1089px;
    width: 2178px; } }
@media (min-width: 2426px) and (max-width: 2667px) {
  div.resizecontainer {
    width: 2420px; }

  div.modalChartDetail {
    left: 50%;
    margin-left: -1210px;
    width: 2420px; } }
@media (min-width: 2668px) and (max-width: 2909px) {
  div.resizecontainer {
    width: 2662px; }

  div.modalChartDetail {
    left: 50%;
    margin-left: -1331px;
    width: 2662px; } }
div.centralRow {
  margin-top: 65px;
  margin-bottom: 65px; }

div.centralContent {
  background-color: rgba(0, 0, 0, 0.0675);
  height: 100%;
  margin-left: -5px;
  margin-right: -5px;
  min-height: 80px;
  padding: 5px;
  width: 100%; }

.contentDiv {
  list-style: none;
  padding: 13px 0 0; }
  .contentDiv li {
    background-color: rgba(0, 0, 0, 0.05); }
  .contentDiv a.add {
    display: block;
    font-weight: 400;
    padding: 40px 0;
    text-align: left; }
  .contentDiv .icon {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px; }
  .contentDiv:after {
    clear: both; }
  .contentDiv:after, .contentDiv:before {
    content: '';
    display: table;
    line-height: 0; }

.clusterInfoIcon {
  float: left;
  padding-left: 5px;
  padding-top: 2px; }

.waitModal {
  text-align: center; }
  .waitModal.icon {
    font-size: 100px;
    height: 120px; }
  .waitModal.message {
    font-size: 20px; }

div.headerDropdown {
  background-color: white;
  display: none;
  padding: 10px;
  position: relative;
  width: auto; }
  div.headerDropdown.headerDropdown input[type=checkbox].css-checkbox {
    display: none; }
    div.headerDropdown.headerDropdown input[type=checkbox].css-checkbox + label.css-label {
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      font-size: 15px;
      height: 15px;
      margin-top: 0;
      padding-left: 20px;
      vertical-align: middle; }
    div.headerDropdown.headerDropdown input[type=checkbox].css-checkbox:checked + label.css-label {
      background-position: 0 -15px; }

div.dropdownInner {
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  min-height: 125px;
  position: relative;
  width: auto; }
  div.dropdownInner > .nav-header {
    color: black;
    font-size: 13px;
    font-weight: 400; }
  div.dropdownInner > label {
    color: black;
    font-weight: 300; }
  div.dropdownInner ul {
    border-left: 1px solid black;
    display: inline;
    margin-top: 10px;
    min-height: 105px;
    width: 238px; }
    div.dropdownInner ul:first-of-type {
      border: 0; }
    div.dropdownInner ul label {
      color: black;
      padding-left: 35px; }

div.queryline {
  color: black;
  height: 35px; }
  div.queryline select,
  div.queryline input {
    margin-bottom: 5px; }
  div.queryline.querylineAdd span {
    color: white;
    padding-left: 10px;
    position: relative;
    top: -21px; }
  div.queryline .removeFilterItem i {
    margin-left: 5px !important;
    margin-top: 0 !important; }
  div.queryline div.searchByAttribute {
    position: relative; }
    div.queryline div.searchByAttribute > ul.gv-dropdown-menu {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      background-color: #333232;
      color: white;
      display: none;
      left: 0;
      position: absolute;
      top: 20px;
      width: 247px; }

div.dropdownImport {
  background-color: white;
  display: none;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  position: relative; }
  div.dropdownImport input {
    line-height: 0;
    margin-bottom: -15px;
    margin-top: 5px; }

select.filterSelect {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px; }

#filterHeader button {
  float: right;
  margin-left: 10px !important;
  margin-top: 1px; }

input.search-input {
  border: 0;
  height: 18px;
  line-height: 18px;
  margin-top: 5px;
  width: 214px; }
  input.search-input:focus {
    -webkit-box-shadow: 0 0 10px #8aa051;
    -moz-box-shadow: 0 0 10px #8aa051;
    box-shadow: 0 0 10px #8aa051;
    border-color: #8aa051;
    outline: none; }

.search-submit-icon {
  height: 14px;
  margin-left: -18px;
  margin-top: 11px;
  opacity: .2;
  position: absolute;
  width: 14px; }
  .search-submit-icon:hover {
    opacity: .8; }

div.headerBar {
  background-color: #686766;
  color: white;
  font-size: 16px;
  height: 36px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative; }
  div.headerBar input[type=checkbox].css-checkbox {
    display: none; }
    div.headerBar input[type=checkbox].css-checkbox + label.css-label {
      padding-left: 20px;
      margin-top: 0px;
      height: 15px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: 0 0;
      font-size: 15px;
      vertical-align: middle;
      cursor: pointer; }
  div.headerBar input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px; }
  div.headerBar input[type="radio"] {
    display: none; }
    div.headerBar input[type="radio"] + label span {
      display: inline-block;
      width: 19px;
      height: 19px;
      margin: -1px 4px 0 0;
      vertical-align: middle;
      background: url(../img/check_radio_sheet.png) -38px top no-repeat;
      cursor: pointer; }
  div.headerBar input[type="radio"]:checked + label span {
    background: url(../img/check_radio_sheet.png) -57px top no-repeat; }

div.headerBar a.arangoHeader,
.modal-header .arangoHeader {
  color: white;
  font-size: 16px;
  left: 5px;
  position: relative;
  top: 7px; }

div.headerBar > div.headerButtonBar {
  margin: 4px 0;
  margin-bottom: 0 !important; }

div.headerBar > div.breadcrumb {
  padding-left: 5px !important; }

div.breadcrumb a.disabledBread {
  color: white; }

.arangoHeader {
  font-weight: 400; }

#transparentHeader input[type=checkbox].css-checkbox {
  display: none; }

.checkboxLabel {
  margin-top: 4px;
  padding-left: 0; }

.css-label {
  background-image: url(../img/dark-check-green.png); }

.css-label-round {
  background-image: url(../img/dark-check-green-round.png); }

.navlogo .stat_cpu {
  height: 26px;
  margin-top: 1px;
  width: 26px; }
  .navlogo .stat_cpu path {
    fill: #aaaa00; }
.navlogo .stat_ram {
  height: 26px;
  width: 26px; }
  .navlogo .stat_ram path {
    fill: #007700; }
.navlogo .stat_req {
  height: 22px;
  width: 22px; }
  .navlogo .stat_req path {
    fill: #aaaa00; }

.fixedDropdown {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  margin: 37px 0 0 0 !important;
  width: 210px; }
  .fixedDropdown:after {
    visibility: hidden; }
  .fixedDropdown .dropdown-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .fixedDropdown .dropdown-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 !important; }
  .fixedDropdown a {
    padding-left: 5px !important; }
  .fixedDropdown .notificationItemContent {
    margin-left: 15px;
    max-width: 155px;
    white-space: normal;
    width: 155px;
    word-wrap: break-word; }
  .fixedDropdown button {
    margin-right: 5px; }
  .fixedDropdown .notificationItem {
    color: black; }
    .fixedDropdown .notificationItem i {
      color: rgba(0, 0, 0, 0.2);
      font-size: 20px;
      position: relative;
      right: 4px;
      top: -9px; }
      .fixedDropdown .notificationItem i:hover {
        color: black; }

.innerDropdownInnerUL {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 220px !important;
  min-height: 220px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%; }
  .innerDropdownInnerUL .dropdown-item:hover {
    background-color: #e1e1e1 !important; }
  .innerDropdownInnerUL li {
    width: auto !important; }

#stat_hd {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #333232;
  border: 2px solid #8aa051;
  height: 24px;
  margin-top: 2px;
  text-align: center;
  width: 24px; }
  #stat_hd #stat_hd_counter {
    color: white;
    line-height: 24px;
    margin-left: 0; }

.notificationItemContent {
  font-weight: 300; }

.fullNotification {
  background-color: #cc0000 !important;
  border: 2px solid #cc0000 !important; }

.contentButtons {
  clear: both;
  margin-bottom: 10px;
  width: 100%; }
  .contentButtons #createDatabase,
  .contentButtons #createUser {
    margin-left: 0; }

.contentTables {
  margin-bottom: 10px;
  width: 100%; }
  .contentTables thead {
    text-align: left; }
    .contentTables thead tr {
      background-color: white;
      border-bottom: 1px solid #c2c2c2; }
  .contentTables tbody tr:nth-child(odd) {
    background-color: #d9d9d9; }
  .contentTables tbody tr:nth-child(even) {
    background-color: white; }
  .contentTables tr.contentRowActive {
    background-color: #bdcc92 !important;
    font-weight: 400; }
    .contentTables tr.contentRowActive a {
      color: black !important; }
    .contentTables tr.contentRowActive span {
      display: none; }
  .contentTables tr.contentRowInactive a {
    color: black !important; }
  .contentTables .dbThFirst {
    width: 90%; }
  .contentTables .dbThSecond {
    width: 10%; }
  .contentTables td {
    padding: 12px 18px; }
    .contentTables td span {
      float: right;
      font-size: 22px; }
  .contentTables .collectionThSec {
    margin-right: 0;
    width: 80%; }
  .contentTables .collectionTh {
    margin-right: 0;
    width: 5%; }

.createModalDialog table {
  width: 100%; }

.user-menu-img {
  background-color: lightgrey;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #8aa051;
  margin-top: -4px; }

.tooltip-inner {
  max-width: 300px !important;
  white-space: normal !important;
  word-wrap: break-word !important; }

.index-tooltip {
  color: #736b68; }
  .index-tooltip:hover {
    color: black; }
  .index-tooltip span.arangoicon {
    font-size: 18px !important; }

.dbselection {
  float: left;
  margin-right: 3px;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.dashboardModal {
  -moz-border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  border-radius: 8px !important;
  height: 80%;
  margin-left: -45%;
  min-width: 780px;
  overflow: auto;
  padding: 10px;
  top: 10%;
  width: 90% !important; }

#dashboardHttpGroup {
  border: 1px solid black;
  height: 100%;
  width: 100%; }

#dashboardDetailedChart {
  border: 1px solid black;
  height: 300px;
  width: 100%; }
  #dashboardDetailedChart .dygraph-axis-label-y {
    text-align: left; }

.innerDashboardChart {
  bottom: 5px;
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px; }
  .innerDashboardChart .dygraph-axis-label-y {
    text-align: left; }

.dashboardDetailChart .dygraph-axis-label-y {
  text-align: left; }

.dashboardChart {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  float: left;
  height: 210px;
  margin: 1.05%;
  position: relative;
  width: 31%; }

.dygraph-label.dygraph-title {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: left; }

.dygraph-axis-label.dygraph-axis-label-x, .dygraph-axis-label.dygraph-axit-label-y {
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400; }

.dygraph-legend {
  background-color: #fafafa !important;
  color: #666666 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  text-align: right !important; }

#dashboardDetailedLineChart {
  padding-top: 10px; }

.dashboardDistribution {
  float: left;
  width: 270px; }
  .dashboardDistribution svg {
    height: 220px;
    width: 250px; }

.modalChartDetail {
  height: 70%;
  margin-left: 0;
  width: 70%; }

.waitModal {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
  border: 0;
  color: white; }

.waitModalBackdrop {
  opacity: .7 !important; }

.addCollection table tr {
  border-bottom: 0 !important;
  height: 53px; }
.addCollection .icon_arangodb_info {
  margin-left: 20px !important;
  position: relative;
  top: 2px !important; }
.addCollection .accordion {
  margin-top: 10px; }
.addCollection .collectionThSec {
  width: 320px !important; }
.addCollection .collectionTh {
  width: 96px; }
.addCollection .modalInput {
  width: 320px; }
.addCollection .modalSelect {
  width: 334px; }
.addCollection .accordion-toggle {
  width: 457px !important; }

.modalTooltips span {
  color: #736b68;
  font-size: 20px; }
  .modalTooltips span:hover {
    color: black; }

.change-collection .tab-content {
  min-height: 230px; }

.show-collection .tab-content {
  min-height: 200px; }

div img.searchSubmitIcon {
  height: 14px;
  margin-left: -18px;
  margin-top: 11px;
  opacity: .2;
  position: absolute;
  width: 14px; }

.searchField {
  margin-left: 15px; }

.shortcuts {
  font-size: 11px;
  font-weight: 200; }

.shortcuts b {
  border-left: 1px solid rgba(0, 0, 0, 0.34);
  margin-left: 5px;
  padding-left: 5px; }

.shortcuts b:first-child,
.shortcuts .clearShortcut {
  border-left: 0;
  margin-left: 0;
  padding-left: 0; }

.query-toolbar, .aql-editor {
  background-color: #f0f0f0;
  border-bottom: 0;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
  height: 27px;
  margin-left: 0;
  margin-right: 0; }

.editor-toolbar {
  border-color: #a0a0a0;
  margin-top: 5px; }
  .editor-toolbar span {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    top: 2px; }
  .editor-toolbar i {
    margin-right: 5px;
    margin-top: 3px; }
    .editor-toolbar i:hover {
      cursor: pointer; }
  .editor-toolbar .arango-icon-disk {
    margin-top: 1px; }

.aql-editor {
  border-color: #a0a0a0;
  border-left: 0 !important;
  border-top: 0 !important;
  height: 200px;
  margin-bottom: 5px;
  min-height: 100px;
  min-width: 99.8%;
  width: auto; }
  .aql-editor .ace_error,
  .aql-editor .ace_info {
    background: none; }

.queryTH {
  width: 20% !important; }

.queryTH2 {
  width: 75% !important; }

.query-output {
  background-color: white;
  border: 1px solid silver;
  border-top-width: 0;
  height: 200px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  min-height: 100px;
  overflow-y: hidden;
  width: auto; }
  .query-output .ace_cursor-layer,
  .query-output .ace_replace_form {
    display: none; }
  .query-output .ace_error,
  .query-output .ace_info {
    background: none; }

.ace_print-margin {
  visibility: hidden !important; }

.styled-select {
  float: right;
  height: 30px;
  overflow: hidden;
  width: 220px; }
  .styled-select select {
    background: white;
    border: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: 300;
    height: 30px;
    line-height: 1;
    padding: 5px;
    padding-left: 5px !important;
    padding-top: 3px !important; }

.querySizeDiv {
  height: 30px !important;
  margin-right: 10px;
  width: 130px !important; }

.querySizeDiv select {
  height: 30px !important; }

.wide-button-div {
  height: 20px;
  margin-bottom: 15px;
  padding-top: 5px;
  width: 100%; }

.shortcut-div {
  float: left;
  margin-top: -5px;
  padding-left: 45px;
  width: auto; }

.query-dropdown-left {
  margin-top: 10px;
  width: 100%; }

.query-dropdown-right {
  width: 100%; }
  .query-dropdown-right textarea {
    padding: 5px 0 0;
    resize: vertical;
    width: 100%; }
    .query-dropdown-right textarea:focus {
      border-color: #8aa051;
      box-shadow: 0 0 3px #8aa051;
      outline: none; }

.query-modal-select {
  padding-left: 0;
  width: 100%; }

.output-toolbar {
  border-color: silver;
  position: relative;
  width: auto; }
  .output-toolbar span {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    top: 2px; }

.query-select {
  border: 0 !important;
  border-radius: 0 !important;
  line-height: 20px !important;
  margin-bottom: 0;
  z-index: 9999 !important; }
  .query-select option {
    z-index: 9999 !important; }

.editor-label {
  width: 100%; }
  .editor-label h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px; }

.query-dropdown {
  background-color: #d9d9d9;
  margin-left: 0;
  margin-right: 0;
  padding-left: 5px;
  padding-right: 5px; }

.tooltip-margin {
  margin-top: 1px; }

.query-dropdown-in {
  background-color: white;
  padding: 10px; }
  .query-dropdown-in a {
    color: #686766;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 5px;
    width: 100%; }
  .query-dropdown-in #save-edit-query {
    margin-left: 7px !important; }
  .query-dropdown-in #delete-edit-query {
    margin-left: 0 !important; }

.query-size {
  border-radius: 0 !important;
  line-height: 20px !important;
  width: 130px !important;
  z-index: 9999 !important; }

.query-div {
  display: none; }
  .query-div > * {
    border: 0 !important; }
  .query-div .icon_arangodb {
    cursor: pointer;
    margin-bottom: 5px; }

.display-none {
  display: none; }

.arango-tab {
  border-bottom: 1px solid #dddddd;
  list-style: none;
  margin-bottom: -1px;
  margin-left: 0;
  margin-right: 15px;
  padding-bottom: 0; }
  .arango-tab a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #f1f0ee;
    border: 1px solid transparent;
    border-bottom-color: #888888;
    color: black;
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin-right: 2px;
    min-width: 50px;
    padding: 2px 15px;
    text-align: center; }
  .arango-tab li {
    background-color: transparent;
    border: 0;
    margin-bottom: -1px;
    margin-left: 2px;
    position: relative;
    z-index: 900; }
    .arango-tab li.active a {
      background: white;
      border-bottom-color: white;
      border-left-color: #888888;
      border-right-color: #888888;
      border-top-color: #888888;
      height: 21px;
      margin-top: -1px; }

.jsoneditor {
  background-color: white !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important; }
  .jsoneditor .menu {
    background-color: #686766 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important; }
  .jsoneditor .search .frame {
    border: 0 !important;
    margin: 3px !important; }
  .jsoneditor .search .results {
    color: white !important;
    margin-top: 3px !important; }

.show-save-state {
  color: #008000;
  display: none;
  font-weight: 300;
  margin-top: 5px; }

.document-editor {
  height: 500px;
  margin-bottom: 5px;
  width: 100%; }

.disabledPag,
.disabledPag a {
  cursor: default !important;
  opacity: .5 !important; }

.pagination-mini ul > li.disabled:last-child > a,
.pagination-small ul > li.disabled:last-child > a,
.pagination-mini ul > li.disabled:last-child > span,
.pagination-small ul > li.disabled:last-child > span,
.pagination-mini ul > li.disabled:first-child > a,
.pagination-small ul > li.disabled:first-child > a,
.pagination-mini ul > li.disabled:first-child > span,
.pagination-small ul > li.disabled:first-child > span {
  pointer-events: none;
  cursor: default;
  background-color: #777;
  color: #666666; }

.pagination ul > li > a:hover, .pagination ul > .active > a, .pagination ul > .active > span {
  background-color: #8f8d8c;
  color: #FFFFFF; }

.pagination-mini ul > li:last-child > a, .pagination-small ul > li:last-child > a, .pagination-mini ul > li:last-child > span, .pagination-small ul > li:last-child > span,
.pagination-mini ul > li:first-child > a, .pagination-small ul > li:first-child > a, .pagination-mini ul > li:first-child > span, .pagination-small ul > li:first-child > span {
  box-shadow: none;
  background: #8f8d8c;
  border: none;
  color: #FFFFFF;
  position: relative;
  width: 14px;
  height: 20px; }

.arangoPagination li:first-child a {
  margin-right: 20px !important; }

.arangoPagination li:last-child a {
  margin-left: 30px !important; }

.pagination ul > li > a, .pagination ul > li > span {
  cursor: pointer;
  border-width: 0 0 0 0px; }

#documentsToolbarF .prePagi {
  margin-right: -5px !important; }

#documentsToolbarF a,
#logPaginationDiv a {
  margin-left: 11px; }

#documentsToolbarF {
  padding-bottom: 5px;
  margin-top: 20px; }

#documentsToolbarF span, #logPaginationDiv span {
  position: relative;
  top: 2px;
  font-size: 14px;
  color: black; }

table.dataTable thead th {
  font-weight: 400 !important;
  padding: 10px 14px; }

#documentsTableID_length, #documentsTableID_filter {
  display: none; }

#documentsTableID_wrapper {
  min-height: 513px !important;
  padding-bottom: 0px !important; }

#documentsTableID_wrapper .fg-toolbar {
  visibility: hidden; }

#documentsTableID_paginate, #documentsTableID_filter, #documentsTableID_length {
  visibility: hidden; }

.snippet-no-num {
  font-size: 1em;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px; }

.cuttedContent, .prettify ul li, .writeable a {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important; }

.prettify {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1em !important; }

.sorting_asc,
.sorting_desc {
  background: #e4e0dd; }

.new-index-view input[type='checkbox'] {
  float: left;
  margin-top: -9px; }
.new-index-view table tr {
  width: 600px !important; }
  .new-index-view table tr th:last-child {
    width: 50px !important; }
.new-index-view table th {
  font-weight: 300 !important;
  width: 200px !important; }

.edit-index-table {
  margin-top: 5px;
  min-width: auto !important; }
  .edit-index-table th {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px; }
  .edit-index-table .icon_arangodb_locked {
    font-size: 20px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.5);
    cursor: default; }
  .edit-index-table .icon_arangodb_roundminus {
    font-size: 20px;
    color: #BE342E;
    margin-left: 10px;
    cursor: pointer; }

.contentIn > div {
  padding: 10px; }
.contentIn .arangoicon {
  font-size: 25px;
  position: relative;
  top: -3px !important; }

.index-button-bar {
  margin-top: 15px; }
  .index-button-bar button {
    margin-left: 0; }

.docsFirstCol, .docsSecCol, .docsThirdCol {
  border: 0 !important; }

.docsFirstCol {
  width: 70%; }

.docsSecCol {
  min-width: 400px !important;
  width: 20%; }

.docsThirdCol {
  float: right; }

.add-filter-item {
  margin-left: 5px; }
  .add-filter-item i {
    margin-top: 0 !important; }

.upload-indicator {
  display: none;
  margin-top: -3px;
  padding-right: 10px; }
