//colorScheme
@import 'colors';
//THE body
@import 'body';
//shared
@import 'shared';
// All Abstract classes
// Navbar
@import 'statisticBar';
// Notifications
@import 'notification';
//contentTables
@import 'contentTables';
// Dropdown menu
@import 'userMenu';
// Tooltips
@import 'tooltips';
// dbSelection
@import 'dbSelection';
// new dashboard, will be the highlander
@import 'newDashboard';
// dashboard http group
@import 'dashboard';
// dashboard http group
@import 'dashboardHttpGroup';
// dashboard distribution charts
@import 'dashboardDistribution';
// dbSelection
@import 'searchBar';
// shortcuts info boxes
@import 'shortcuts';
// login view
//@import 'login';
// query view
@import 'queryView';
// some general stuff
@import 'general';
// The views containing tabs
@import 'tabViews';
// The json editor overwrites
@import 'jsonEditor';
// Pagination
@import 'pagination';
// accordion
@import 'accordion';
// shell view
@import 'shellView';
// api docs
@import 'api';
// alerts
@import 'alert';
// logs
@import 'logs';
// Graph Viewer
@import 'graphViewer';
// General Dialogs
@import 'dialogs';
// Collections
@import 'collection';
// Snippet coloring (docs view)
@import 'snippet';
// screen sizes
@import 'screenSizes';
// document view
@import 'documentView';
// progress view
@import 'progressView';
// application detail view
@import 'applicationDetailView';

// screen hotkeys
@import 'hotkeys';

//arangoTable Template
@import 'arangoTable';
//arangoTabbar Template
@import 'arangoTabbar';

// Data Tables, TODO: might all be superflous
@import 'dataTables';


// Temporary:
@import 'documentsView';

// Plugin
@import 'uploadfile';
