<ul class="thumbnails2">
  <div id="transparentHeader">
    <h4>Core - API - Documentation</h4>
  </div>
</ul>
<div class="form-actions">
  <div id="swagger-ui-container" class="swagger-ui-wrap">

  </div>
</div>
