<ul class="thumbnails2">
  <div id="transparentHeader">

    <!-- /btn-group -->
    <div class="btn-group pull-right">
      <button class="btn btn-inverse btn-small disabledHover">Filter:</button>
      <button data-toggle="dropdown" class="btn btn-inverse btn-small dropdown-toggle"><span class="caret"></span></button>

      <ul class="dropdown-menu">
        <li class="nav-header">Type</li>
        <li><a href="#"><label class="checkbox"><input type="checkbox" id="checkSystem">System</label></a></li>
        <li><a href="#"><label class="checkbox"><input type="checkbox" id="checkDocument">Document</label></a></li>
        <li><a href="#"><label class="checkbox"><input type="checkbox" id="checkEdge">Edge</label></a></li>
        <li class="divider"></li>
        <li class="nav-header">Status</li>
        <li><a href="#"><label class="checkbox"><input type="checkbox" id="checkLoaded">Loaded</label></a></li>
        <li><a href="#"><label class="checkbox"><input type="checkbox" id="checkUnloaded">Unloaded</label></a></li>
        <li class="nav-header">Sorting</li>
        <li><a href="#"><label class="radio"><input type="radio" id="sortName">Sort by name</label></a></li>
        <li><a href="#"><label class="radio"><input type="radio" id="sortType">Sort by type</label></a></li>
        <li><a href="#"><label class="checkbox"><input type="checkbox" id="sortOrder">Sort descending</label></a></li>
      </ul>
    </div>
    <!-- /btn-group -->


    <div id="transparentPlaceholder">
      <input type="text" id="searchInput" class="searchInput" placeholder="Search..."><img id="searchSubmit" width="16" height="16" src="/_admin/html/img/enter_icon.png">


    </div>
  </div>
  <br/>
</ul>
<ul class="thumbnails">
</ul>

