<ul class="thumbnails2">
  <div id="transparentHeader">

    <!-- /btn-group -->
    <div class="btn-group pull-right">
      <button class="btn btn-inverse btn-small disabledHover">Filter:</button>
      <button data-toggle="dropdown" class="btn btn-inverse btn-small dropdown-toggle"><span class="caret"></span></button>

      <ul class="dropdown-menu">
        <li class="nav-header">Type</li>
        <li><a href="#">
            <label class="checkbox checkboxLabel">
              <input class="css-checkbox" type="checkbox" id="checkSystem">
            <label class="css-label"></label>System
          </label>
        </a></li>

        <li><a href="#">
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="checkDocument">
            <label class="css-label"></label>Document
          </label>
        </a></li>

        <li><a href="#">
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="checkEdge">
            <label class="css-label"></label>Edge
          </label>
        </a></li>

        <li class="divider"></li>
        <li class="nav-header">Status</li>

        <li><a href="#">
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="checkLoaded">
            <label class="css-label"></label>Loaded
          </label>
        </a></li>

        <li><a href="#">
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="checkUnloaded">
            <label class="css-label"></label>Unloaded
          </label>
        </a></li>

        <li class="nav-header">Sorting</li>

        <li><a href="#">
          <label class="radio">
            <input type="radio" id="sortName">
            <label><span></span>Sort by name</label>
          </label>
        </a></li>

        <li><a href="#">
          <label class="radio">
            <input type="radio" id="sortType">
            <label><span></span>Sort by type</label>
          </label>
        </a></li>

        <li><a href="#">
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="sortOrder">
            <label class="css-label"></label>Sort descending
          </label>
        </a></li>
      </ul>
    </div>
    <!-- /btn-group -->


    <div id="transparentPlaceholder">
      <input type="text" id="searchInput" class="searchInput" placeholder="Search..."><img id="searchSubmit" width="16" height="16" src="img/enter_icon.png">


    </div>
  </div>
  <br/>
</ul>
<ul class="thumbnails">
</ul>

