
  <div class="pull-right">
    	<i class="icon-edit" alt="Change collection properties" title="Change collection properties"></i>
  </div>

  <div class="plain">                                                                                                                                    
    <img src="<%= attributes.picture %>" height="60" width="60" alt="" class="icon">
    <span class="badge badge-success <%= attributes.status %>"><div class="cornered"><%= attributes.status %></div></span>

    <h5 class="collectionName">
      <div class="pull-left"><%= attributes.name %></div>
    </h5>

  </div>

