<ul class="thumbnails2">
  <div id="dashboardHeader">
    <div class="pull-left">
      <h4 class="dashboardH4">Dashboard</h4>
    </div>


    <!-- /btn-group -->
    <div class="btn-group pull-right">
      <button class="btn btn-inverse btn-small disabledHover">Filter:</button>
      <button data-toggle="dropdown" class="btn btn-inverse btn-small dropdown-toggle"><span class="caret"></span></button>

      <ul class="dropdown-menu dashboard-dropdown" id="menuGroups">
      </ul>
    </div>
    <!-- /btn-group -->

    <!-- /btn-group update interval-->
    <div class="btn-group pull-right">
      <button class="btn btn-inverse btn-small disabledHover">Interval:</button>
      <button data-toggle="dropdown" class="btn btn-inverse btn-small dropdown-toggle"><span class="caret"></span></button>

      <ul class="dropdown-menu interval-dropdown">
        <li class="nav-header">Update every:</li>
        <li><a><label class="radio"><input type="radio" name="updateInterval" id="every10seconds" value="10"><label><span></span>5 seconds</label></label></a></li>
        <li><a><label class="radio"><input type="radio" name="updateInterval" id="every15seconds" value="15"><label><span></span>15 seconds</label></label></a></li>
        <li><a><label class="radio"><input type="radio" name="updateInterval" id="every30seconds" value="30"><label><span></span>30 seconds</label></label></a></li>
        <li><a><label class="radio"><input type="radio" name="updateInterval" id="every60seconds" value="60"><label><span></span>60 seconds</label></label></a></li>
        <li><a><label class="radio"><input type="radio" name="updateInterval" id="every120seconds" value="120"><label><span></span>120 seconds</label></label></a></li>
      </ul>
    </div>
    <!-- /btn-group -->

  </div>
</ul>

<ul class="thumbnails">
  <li id="detailReplication" class="statSingleClient" style="margin-bottom: 13px !important">
    <div class="boxHeader">
      <h6 class="dashboardH6">Replication</h6>
    </div>
    <div id="detailReplicationDiv" class="statChart">
      <div id="leftReplicationDiv">
        <h4>Log State</h4>
        <table id="logReplicationTable">
          <thead>
            <tr>
              <th>State</th>
              <th>Value</th>
            </tr>
          </thead>
          <tr>
            <td class="alignLeft" id="logRunning">Running</td>
            <td id="logRunningVal"></td>
          </tr>
          <tr>
            <td class="alignLeft" id="logLastTick">Last log tick</td>
            <td id="logLastTickVal"></td>
          </tr>
        </table>
      </div>

      <div id="rightReplicationDiv">
        <h4>Apply State</h4>
        <table id="applyReplicationTable">
          <thead>
            <tr>
              <th>State</th>
              <th>Value</th>
            </tr>
          </thead>
          <tr>
            <td class="alignLeft" id="applyRunning">Running</td>
            <td id="applyRunningVal"></td>
          </tr>
          <tr>
            <td class="alignLeft" id="applyLastTick">Last applied tick</th>
            <td id="applyLastAppliedTickVal"></td>
          </tr>
          <tr class="checkApplyRunningStatus">
            <td class="alignLeft" id="applyCurrentPhase">Current phase</td>
            <td id="applyCurrentPhaseLabel"></td>
          </tr>
          <tr class="checkApplyRunningStatus">
            <td class="alignLeft" id="applyProgress">Progress</td>
            <td id="applyProgressVal"></td>
          </tr>
          <tr class="checkApplyRunningStatus">
            <td class="alignLeft" id="applyLastError">Last error</td>
            <td id="applyLastError"></td>
          </tr>
        </table>
      </div>
    </div>
  </li>

  <li class="nocssli">
    <h4 class="">Detail Chart</h4>
  </li>

  <li id="detailGraph" class="statSingleClient">
    <div class="boxHeader">
      <h6 id="detailGraphHeader" class="dashboardH6">User Time</h6>
      <i id="dbHideSwitch" class="icon-minus icon-white db-minimize"></i>
    </div>
    <div id="detailGraphChart" class="statChart">
      <svg class="svgDetailClass"/>
    </div>
  </li>

</ul>
