<ul class="thumbnails2">
  <div id="dashboardHeader">
    <div class="pull-left">
      <h4 class="dashboardH4">Dashboard</h4>
    </div>


    <!-- /btn-group -->
    <div class="btn-group pull-right">
      <button class="btn btn-inverse btn-small disabledHover">Filter:</button>
      <button data-toggle="dropdown" class="btn btn-inverse btn-small dropdown-toggle"><span class="caret"></span></button>

      <ul class="dropdown-menu dashboard-dropdown" id="menuGroups">
      </ul>
    </div>
    <!-- /btn-group -->

    <!-- /btn-group update interval-->
    <div class="btn-group pull-right">
      <button class="btn btn-inverse btn-small disabledHover">Interval:</button>
      <button data-toggle="dropdown" class="btn btn-inverse btn-small dropdown-toggle"><span class="caret"></span></button>

      <ul class="dropdown-menu interval-dropdown">
        <li class="nav-header">Update every:</li>
        <li><a><label class="radio"><input type="radio" name="updateInterval" id="every5seconds" value="5">5 seconds</label></a></li>
        <li><a><label class="radio"><input type="radio" name="updateInterval" id="every15seconds" value="15">15 seconds</label></a></li>
        <li><a><label class="radio"><input type="radio" name="updateInterval" id="every30seconds" value="30">30 seconds</label></a></li>
        <li><a><label class="radio"><input type="radio" name="updateInterval" id="every60seconds" value="60">60 seconds</label></a></li>
        <li><a><label class="radio"><input type="radio" name="updateInterval" id="every120seconds" value="120">120 seconds</label></a></li>
      </ul>
    </div>
    <!-- /btn-group -->




  </div>
</ul>

<ul class="thumbnails">
</ul>
