<div class="thumbnails2" id="documentviewMain">
  <div id="transparentHeader">

  </div>


	<div id="tableDiv">
	
	  <ul class="nav nav-tabs arangoTab">
		<li class="pull-right" ><a id="sourceView">Sourceview</a></li>
		<li class="active pull-right">
		  <a>Listview</a>
		</li>
	  </ul>
	
	  <table cellpadding="0" cellspacing="0" border="0" class="display" id="documentTableID" width="100%">
		<thead>
		  <tr>
      <th>Attribute</th>
			<th>&nbsp;</th>
			<th>Value</th>
			<th>type</th>
			<th>&nbsp;</th>
			<th>
        <!--<button class="enabled" id="addRow"><img id="addDocumentLine" class="plusIcon" src="img/plus_icon.png"></button>--!>
        <a id="addRow"><span class="glyphicon glyphicon-plus-sign"></span></a>
      </th>
		  </tr>
		</thead>
	  </table>
	
	</div>

</div>
