<ul class="thumbnails2">
  <div id="transparentHeader">
    <div id="documentsToolbar" class="pagination pagination-small pagination-right">

    <div id="documentsUploadDiv" class="btn btn-primary btn-success btn-block">
      <img id="uploadIndicator" style="display: none;" src="/_admin/html/img/ajax-loader.gif"/>
        <input id="documentsUploadFile" name="documentsUploadFile" type="file" accept="application/json" />Import
    </div>

		<ul>
			<li class="enabled"><a id="collectionPrev"><i class="icon icon-white icon-chevron-left"></i></a></li>
			<li class="enabled"><a id="collectionNext"><i class="icon icon-white icon-chevron-right"></i></a></li>
		</ul>
	</div>
  </div>
</ul>

<div id="filterHeader" style="display:none">
    <div class="queryline">
       <input id="attribute_name" type="text" placeholder="Attribute name"><select name="operator" id="operator">
           <option value=" == ">==</option>
           <option value=" != ">!=</option>
           <option value=" > ">&lt;</option>
           <option value=" < ">&gt;</option>
       </select><input id="attribute_value" type="text" placeholder="Attribute value">
        <a id="addFilterItem"><i class="icon icon-white icon-plus"></i></a>
        <button id="filterSend">Filter</button>
    </div>
</div>

<div id="documentsDiv">
<div id="uploadMessages"></div>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="documentsTableID">
  <thead>
    <tr>
      <th style="width: 490px">Content</th>
      <th style="width: 100px">_key</th>
      <th style="width: 10px"></th>
    </tr>
  </thead>
</table>

    <div id="documentsToolbarFL">
        <div id="documentsToolbarF" class="pagination pagination-small pagination-centered">
        </div>
    </div>

<!-- Delete Modal -->
<div id="docDeleteModal" style="display:none" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Document?</h3>
  </div>
  <div class="modal-body" id="deleteDoc">
    <p>Theres no way back…</p>
  </div>
  <div class="modal-footer">
    <button id="confirmDeleteBtn" class="btn btn-danger" style="float:right" disabled="true">Delete</button>
  </div>
</div>

<!-- Create Edge Modal -->
<div id="edgeCreateModal" style="display:none" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create Edge</h3>
  </div>
  <div class="modal-body" id="createEdge">
    <p>Please complete your task:</p>
    <table>
      <tr>
        <th class="collectionTh">_from:</th>
        <th><input type="text" id="new-document-from" name="from" value=""/></th>
        <th><a class="modalTooltips" title="Document _id: document handle of the linked vertex (incoming relation)"><i class="icon-info-sign"></i></a></th>
      </tr>
      <tr>
        <th class="collectionTh">_to:</th>
        <th><input type="text" id="new-document-to" name="to" value=""/></th>
        <th><a class="modalTooltips" title="Document _id: document handle of the linked vertex (outgoing relation)"><i class="icon-info-sign"></i></a></th>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button id="confirmCreateEdge" class="btn btn-success" style="float:right">Create</button>
  </div>
</div>
