
<div class="footer-left">
  <p>&nbsp;<a id="currentUser" style="color:#FFFFFF"></a></p>
</div>

<div class="copy footer-mid">
  <p>Copyright (c) triAGENS GmbH | <a href="#about">About</a></p>
</div>

<div class="footer-right"><p>.</p></div>
