<ul class="thumbnails2">
  <div id="transparentHeader">
    <h4>Applications</h4>
  </div>
  <div class="btn-group pull-right">
    <button class="btn btn-inverse btn-small disabledHover">Filter:</button>
    <button data-toggle="dropdown" class="btn btn-inverse btn-small dropdown-toggle"><span class="caret"></span></button>

    <ul class="dropdown-menu dashboard-dropdown" id="menuGroups">
    </ul>
  </div>
</ul>


<ul class="thumbnails foxxList" id="foxxList">
</ul>