<form action="javascript:void(0);" autocomplete="on" class="form-horizontal" id="creationDialog">
  <fieldset>
    <legend>Please give the collections</legend>
    <div class="control-group">
      <label for="nodeCollection" class="control-label">Node Collection</label>
      <div class="controls">
        <input id="nodeCollection" type="text" name="nodeCollection" placeholder="Node Collection" maxlength="75" class="input-xlarge" value="Classes">
      </div>
    </div>
    <div class="control-group">
      <label for="edgeCollection" class="control-label">Edge Collection</label>
      <div class="controls">
        <input id="edgeCollection" type="text" name="edgeCollection" placeholder="Edge Collection" maxlength="75" class="input-xlarge" value="Connections">
      </div>
    </div>   
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary" id="createViewer" >Start</button>
      </div>
    </div>
  </fieldset>
</form>