<div id="loginWindow">
  <div id="loginSpace"/>
  <img id="loginLogo" src="/_admin/html/img/logo_arangodb_transp.png"/>
  <div id="loginSpace"/>
  <form id="loginForm">
    <input class="loginInput" placeholder="Username" id="loginUsername" type="text" name="username">
    <input class="loginInput" placeholder="Password" id="loginPassword" type="password" name="password">
  </form>
  Testing: Enter custom data!
  <button id="submitLogin" class="btn btn-success pull-right">Login</button>
</div>
