<div class="arango-top-nav navbar navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="arango-nav navbar-inner">
        <div class="container">

          <a class="arango-logo brand navlogo" href="#"><img src="img/logo_arangob_white.gif"/></a>

            <div class="nav-collapse">
                <ul class="nav">
                </ul>

                <ul class="arango-nav nav pull-right">
                    <li class="dashboard-menu" style="visibility:hidden"><a href="#dashboard">Dashboard</a></li>
                    <li class="dropdown applications-menu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Applications<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#applications">Overview</a></li>
                      <li><a href="#applications/swagger">Swagger</a></li>
                    </ul>
                    <li class="collections-menu"><a href="#">Collections</a></li>
                    <li class="query-menu"><a href="#query">AQL Editor</a></li>
                    <li class="shell-menu"><a href="#shell">JS Shell</a></li>
                    <li class="logs-menu"><a href="#logs">Logs</a></li>
                    <li class="about-menu"><a href="#about">About</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Documentation</li>
                            <li><a href="https://www.arangodb.org/manuals/current/UserManualArangosh.html" target="_blank">JS Shell Documentation</a></li>
                            <li><a href="https://www.arangodb.org/manuals/current/Aql.html" target="_blank">AQL Documentation</a></li>
                            <li><a href="https://www.arangodb.org/manuals/current/" target="_blank">General Documentation</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">ArangoDB</li>
                            <li><a href="https://github.com/triAGENS/ArangoDB" target="_blank">GitHub Repository</a></li>
                            <li><a href="https://www.arangodb.org" target="_blank">ArangoDB.org</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Social</li>
                            <li><a href="https://twitter.com/arangodb" target="_blank">Twitter</a></li>
                            <li><a href="https://www.arangodb.org/connect" target="_blank">Announcement List</a></li>
                            <li><a href="https://stackoverflow.com/questions/tagged/arangodb" target="_blank">StackOverflow</a></li>
                            <li><a href="https://groups.google.com/group/arangodb" target="_blank">Google Groups</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
