<ul class="thumbnails2">
  <div id="transparentHeader">
    <a class="arangoHeader">AQL Editor</a>
  </div>
</ul>

<div id="queryDiv" class="form-actions" style="display:none">
  <div id="outputToolbar">
    <div id="outputLabel">Result</div>
      <span class="arangoicon arango-icon-remove queryTooltips" title="Clear" id="clearOutput"></span>
      <span class="glyphicon glyphicon-resize-full queryTooltips" title="Unfold" id="bigOutput"></span>
      <span class="glyphicon glyphicon-resize-small queryTooltips" title="Fold" id="smallOutput"></span>
  </div>
  <div id="queryOutput" class="thumbnail">
  </div>

  <div id="editorToolbar">
    <div id="editorLabel">Query</div>
    <select id="querySelect"/>
    <span class="glyphicon glyphicon-cog queryTooltips" title="Edit custom queries" id="editAQL"/>
    <span class="arangoicon arango-icon-disk queryTooltips" title="Save current query" id="addAQL"/>
    <span class="arangoicon arango-icon-remove queryTooltips" title="Clear" id="clearInput"/>
<<<<<<< HEAD
    <span class="arangoicon arango-icon-uncomment queryTooltips" title="Uncomment" id="commentText"/>
    <span class="arangoicon arango-icon-comment queryTooltips" title="Comment" id="commentText"/>
=======
    <span class="arangoicon arango-icon-comment queryTooltips" title="Comment" id="commentText"/>
    <span class="arangoicon arango-icon-uncomment queryTooltips" title="Uncomment" id="commentText"/>
>>>>>>> d4cd6a392fba2637654569ad5175fe49ba00d280
    <span class="arangoicon arango-icon-redo queryTooltips" title="Redo" id="redoText"/>
    <span class="arangoicon arango-icon-undo queryTooltips" title="Undo" id="undoText"/>
  </div>
  <div id="aqlEditor"></div>
  <button id="submitQueryButton" class="btn btn-success">Submit</button>
  <div id="shortcutDiv"><b>Submit:</b> CTRL/CMD + Return ; <b>Undo:</b> CTRL/CMD + Z ; <b>Redo:</b> CTRL/CMD + SHIFT + Z </div>
</div>

<div id="new-aql-query" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="show-collection-name">Save new query</h3>
  </div>
  <div id="new-aql-body" class="modal-body">
    <table>
      <tr>
        <th class="queryTH">Name:</th>
        <th class="queryTH2"><input type="text" id="new-query-name" name="name" value=""/></th>
      </tr>
    </table>
  </div>
  <div id="colFooter" class="modal-footer">
    <button class="btn btn-close" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="save-new-query" class="btn btn-success pull-right">Save</button>
  </div>
</div>

<div id="edit-aql-queries" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="show-collection-name">Edit custom queries</h3>
  </div>
  <div id="edit-aql-body" class="modal-body">
    Name
    <table>
      <tr>
        <th style="width:100% !important;">
          <select id="queryModalSelect"/>
        </th>
      </tr>
    </table>
    Query<br/>
    <textarea id="edit-aql-textarea"/>
  </div>
  <div id="colFooter" class="modal-footer">
    <button id="save-edit-query" class="btn btn-success pull-right">Save</button>
    <button id="delete-edit-query" class="btn btn-danger">Delete</button>
    <button class="btn btn-close btn-margin" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
  <div class="alert alert-error" style="display:none" id="reallyDeleteQueryDiv">
    <strong>Really delete query?</strong>
    <button id="confirmDeleteQuery" class="btn btn-danger pull-right" style="margin-top: -4px; margin-right: -18px !important;">Yes</button>
    <button id="abortDeleteQuery" class="btn pull-right" style="margin-top: -4px; margin-right:10px;">No</button>
  </div>

</div>
