<ul class="thumbnails2">
  <div id="transparentHeader">
    <h4>AQL Editor</h4>
  </div>
</ul>

<div id="queryDiv" class="form-actions">
  <div id="outputLabel">Result</div>
  <div id="queryOutput" class="thumbnail">
  </div>
  <i class="icon-trash clearicon"></i>

  <div id="editorLabel">Query</div>
  <div id="editorToolbar">
    <i class="icon-comment queryTooltips" title="Comment" id="commentText"/>
    <i class="icon-arrow-right queryTooltips" title="Redo" id="redoText"/>
    <i class="icon-arrow-left queryTooltips" title="Undo" id="undoText"/>
  </div>
  <div id="aqlEditor"></div>
  <button id="submitQueryButton" class="btn btn-success">Submit</button>
</div>


