<div id='header'>
    <div class="swagger-ui-wrap">
        <a id="logo" href="http://www.arangodb.org">REST-API</a>
    </div>
</div>

<div id="message-bar" class="swagger-ui-wrap">
    &nbsp;
</div>

<div id="swagger-ui-container" class="swagger-ui-wrap">

</div>