.span3 {
  min-height:100px;
  width: 280px;
  margin-left: 8px !important;
  margin-bottom: 8px !important;
  border: 0px;
  position:relative;
  text-align:center;
  box-shadow: 0 0 0 !important;
}

.span3 a {
  border: 0;
  box-shadow: 0 0 0 !important;
}

.span3 h5 {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  width: 264px;
  color: #fff;
  border: 0;
  background:#676665;
  padding: 4px 8px;
  margin:0;
}

.collectionName {
  text-align:left;
  position:absolute;
  bottom:0px;
}

.thumbnail {
  padding:0;
  box-shadow: 0 0 0  !important;
}

.span3 .ICON {
  position: absolute;
  margin-top: 3px;
  margin-right: 5px;
  opacity: 0.5;
  cursor: pointer;
}

.span3 .ICON{
  right: 0px;
}

.span3 .spanInfo {
  right: 20px;
}

.span3 .ICON:hover {
  opacity: 1.0;
}

.spanDisabled {
  right: 20px !important;
  opacity: 0.2 !important;
}

.spanDisabled:hover {
  opacity: 0.2 !important;
  cursor: default !important;
}
