#save-new-collection, #save-modified-collection {
  margin-right: 2px !important;
}

#delete-modified-collection {
  margin-left: 1px !important;
}

.svgFigures {
  margin-top: 0px !important;
  width: 250px;
  height: 250px;
}
