.span3 {
  min-height:100px;
  width: 280px;
  margin-left: 8px !important;
  margin-bottom: 8px !important;
  border: 0px;
  border-radius: 2px 2px 2px 2px;
/*  opacity: 0.8 !important;*/
  -moz-box-shadow:     0 0 3px #333;
  -webkit-box-shadow:  0 0 3px #333;
  box-shadow:          0 0 3px #333;
  position:relative;
  text-align:center;
}

.span3:hover {
/*  -moz-box-shadow:    inset 0 0 3px #5E7B36;
  -webkit-box-shadow: inset 0 0 3px #5E7B36;
  box-shadow:         inset 0 0 3px #5E7B36;*/
}

.span3 a {
  border: 0;
  box-shadow: 0 0 0 !important;
}

.span3 h5 {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  width: 264px;
  color: #fff;
  border: 0;
  background:#676665;
  padding: 4px 8px;
  margin:0;
}

.collectionName {
  text-align:left;
  position:absolute;
  bottom:0px;
}

.thumbnail {
  padding:0;
  box-shadow: 0 0 0  !important;
}

.icon-edit {
  margin-top: 3px;
  margin-right: 5px;
}
