/*.statGroups {
  float:left;
  margin-left:10px;
  margin-top: 10px;
  margin-bottom: 40px;
  border: 1px solid black;
  background-color: white;
  width: 886px;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 0 3px #333333;
  border: 8px solid #FFFFFF;
}
*/

#dashboardHeader .btn-group {
  margin-left: 10px;
  margin-top: 6px;
}

.db-zoom, .db-minimize, .db-hide, .db-info {
  float: right;
  margin-top: -4px !important;
  margin-right: 4px !important;
}

.db-zoom:hover, .db-minimize:hover, .db-hide, .db-info:hover {
  cursor:pointer;
}

.statGroups {
  margin-left: 0px;
  float:left;
  width: 100%;
  margin-bottom: -15px !important;
}

.statGroups h4 {
  padding-top: 5px;
  margin-right: 20px;
  height: 25px;
  text-align: center;
}

.statSystem th{
  width: 300px;
}

.dashboardH5 {

}

.dashboardH4 {
}

.statSingleClient {
  height: 300px;
  width: 888px;
  margin-top: 0px;
  margin-left: 9px !important;
  margin-bottom: 0px !important;
  border: 1px solid black;
  border-radius: 2px 2px 2px 2px;
  background-color: #F4F3F3;
  box-shadow: 0 0 3px #333333;
}

.statClient {
  float: left;
  height: 150px;
  width: 280px;
  margin-left: 9px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 2px 2px 2px 2px;
  background-color: #F4F3F3;
  box-shadow: 0 0 3px #333333;
}

.statChart {

}

.nv-axisMaxMin > text {
  font: 10px sans-serif;
}

.svgClass {
  margin-top: 0 !important;
  padding-top: 0 !important;
  height: 150px;
  width: 270px;
}

.svgDetailClass {
  margin-top: 0 !important;
  padding-top: 0 !important;
  height: 300px;
  width: 877px;
}

.boxHeader {
  background-color: #686766;
}

.boxHeader h6 {
  padding-top: 2px;
  color: white;
  margin-left: 5px;
  margin-bottom: -15px !important;
}

.statsHeader {
  margin-left: -10px;
  width: 940px;
  background-color: #686766;
  color: white;
  height: 36px;
}

#dashboardHeader {
  background-color: #686766;
  border-bottom: 1px solid #A0A0A0;
  border-top: 1px solid #A0A0A0;
  color: #FFFFFF;
  height: 36px;
  margin-bottom: 0px !important;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px !important;
  padding: 0 20px;
  position: relative;
}

/*NVD3*/
.nv-series {
  display: none;
}

.nv-x .nv-axislabel {
  display: none;
}

.nv-point {
  display: none;
}
