/*.statGroups {
  float:left;
  margin-left:10px;
  margin-top: 10px;
  margin-bottom: 40px;
  border: 1px solid black;
  background-color: white;
  width: 886px;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 0 3px #333333;
  border: 8px solid #FFFFFF;
}
*/

.dbNotVisible {
  opacity: 0 !important;
}

#dashboardHeader .btn-group {
  margin-left: 10px;
  margin-top: 6px;
}

.group-close, .group-open {
  float:right;
  margin-top: 17px !important;
  margin-right: 7px !important;
}

.db-zoom, .db-minimize, .db-hide, .db-info {
  float: right;
  margin-top: -4px !important;
  margin-right: 4px !important;
}

.db-zoom:hover, .db-minimize:hover, .db-hide, .db-info:hover, .group-close:hover, .group-open:hover {
  cursor:pointer;
}

.groupHidden li {
  display:none;
}

.statGroups {
  margin-left: 0px;
  float:left;
  width: 100%;
  margin-bottom: -15px !important;
}

.statGroups h4 {
  padding-top: 5px;
  margin-right: 20px;
  height: 25px;
  text-align: center;
}

.statSystem th{
  width: 300px;
}

.dashboardH5 {

}

.dashboardH4 {
}

.statSingleClient {
  height: 300px;
  width: 888px;
  margin-top: 0px;
  margin-left: 9px !important;
  margin-bottom: 0px !important;
  border: 1px solid black;
  border-radius: 2px 2px 2px 2px;
  background-color: #F4F3F3;
  box-shadow: 0 0 3px #333333;
}

.statClient {
  float: left;
  height: 120px;
  width: 203px;
  margin-left: 9px;
  margin-bottom: 12px;
  border: 1px solid black;
  border-radius: 2px 2px 2px 2px;
  background-color: #F4F3F3;
  box-shadow: 0 0 3px #333333;
}

#detailGraphChart {
  margin-left: -10px !important;
}

.statGroups .statChart {
  margin-left: -45px !important;
}

.nv-axislabel {
  margin-left: 20px;
}

.nv-axisMaxMin > text {
  font: 10px sans-serif;
}

.svgClass {
  margin-top: 0 !important;
  padding-top: 0 !important;
  height: 140px;
  width: 255px;
}

.svgDetailClass {
  margin-top: 0 !important;
  padding-top: 0 !important;
  height: 300px;
  width: 887px;
}

.boxHeader {
  background-color: #686766;
}

.boxHeader h6 {
  padding-top: 2px;
  color: white;
  margin-left: 5px;
  margin-bottom: -15px !important;
}

.statsHeader {
  margin-top: 12px;
  margin-left: -10px;
  width: 940px;
  background-color: #686766;
  color: white;
  height: 36px;
}

#dashboardHeader {
  background-color: #686766;
  border-bottom: 1px solid #A0A0A0;
  border-top: 1px solid #A0A0A0;
  color: #FFFFFF;
  height: 36px;
  margin-bottom: 0px !important;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px !important;
  padding: 0 20px;
  position: relative;
}

/*NVD3*/
.nv-series {
  display: none;
}

.nv-x .nv-axislabel {
  display: none;
}

.nv-point {
  display: none;
}

/*Dashboard Dropdown*/

.dropdown-menu li > a {
  padding: 0px 20px !important;
}

.checkboxLabel {
  margin-top: 4px;
  padding-left: 0;
}

.svgClass .nv-axisMaxMin text {
  visibility: hidden;
}

.svgClass .major text {
  visibility: hidden;
}

.svgClass .nv-axislabel {
  visibility: hidden;
}

/*Dashboard Checkbox*/
input[type=checkbox].css-checkbox {
  display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:20px;
  margin-top: 0px;
  margin-bottom: -0px;
  height:15px; 
  display:inline-block;
  line-height:15px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -15px;
}

.css-label {
  background-image:url(../img/dark-check-green.png);
}

/*Dashboard Radio */

.dropdown-menu .radio {
  margin-left: -21px;
}

input[type="radio"] {
  display:none;
}

input[type="radio"] + label {
  /*color:#f2f2f2;*/
  /*font-family:Arial, sans-serif;
  font-size:14px;*/
}

input[type="radio"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url(../img/check_radio_sheet.png) -38px top no-repeat;
  cursor:pointer;
}

input[type="radio"]:checked + label span {
  background:url(../img/check_radio_sheet.png) -57px top no-repeat;
}
