.sorting_1 textarea {
  display: inline !important;
  max-width: 120px !important;
  max-height: 20px !important;
  resize: none !important;
}

.textInline {
  display:inline !important;
}

.validateError {
  border: 2px solid red !important;
}

.disabledBtn {
  opacity: 0.4 !important;
  cursor: default !important;
}

#collectionPrev, #collectionNext{
  cursor: pointer;
}

.disabledPag, .disabledPag a{
  opacity: 0.5 !important;
  cursor: default !important;
}

#tableDiv,
#logContent {
  margin-top: -40px;
  padding: 20px 20px 20px 20px;
/*  background-color: rgba(0, 0, 0, 0.05);*/
}

#tableDiv .nav-tabs > li,
#sourceDiv .nav-tabs > li,
#logContent .nav-tabs > li {
  position: relative;
  z-index: 900;
}

#addDocumentLine {
  color: black;
}

#addDocumentLine:hover,
#sourceView:hover {
  cursor: pointer;
}

#deleteRow, #addRow {
  border: medium none;
  margin-top: -8px;
  background-color: transparent;
}

#documentTableID {
  font-weight: 500;
  border-collapse:separate;
  border-spacing:0 2px;
	padding:20px;
	margin-bottom: 5px;
	border:1px solid #c1bdba;
  background-color: #FFFFFF;
}

#documentTableID thead {
  text-align: left;
}

#documentTableID .writeable {
  cursor: pointer;
}

.read_only {
  cursor: default !important;
}

#editSecondRow {
  float:right;
  text-align:right;
  margin-right: -5px !important;
}

#documentTableID .icon-edit {
  margin-top: 0;
}

#documentTableID .icon-edit:hover {
  cursor: pointer;
}

#documentTableID.dataTable thead tr {
  background-color: #F1F0EE;
}

#documentTableID .odd,
#documentTableID .even {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#documentTableID .odd {
	background:#FFFFFF;
}
#documentTableID .even {
	background:#F1F0EE;
}

#documentTableID tr.odd td.sorting_1 {
    background:#FFFFFF; /*#fdfaec*/
}

#documentTableID tr.even td.sorting_1 {
    background:#F1F0EE;/* #fdf6df*/
}

#tableDiv .nav-tabs > .active > a, #tableDiv .nav-tabs > .active > a:hover {
	border:none;
}

#tableDiv .nav-tabs,
#sourceDiv .nav-tabs {
	margin-bottom:-1px; border-bottom:#FFFFFF solid 1px;
}

#tableDiv .nav-tabs > li > a,
#tableDiv .nav-tabs > li:hover > a,
#sourceDiv .nav-tabs > li > a,
#sourceDiv .nav-tabs > li:hover > a {
    border-top: 1px solid #F3EFEC;
    border-left: 1px solid #F3EFEC;
    border-right: 1px solid #F3EFEC;
    border-bottom: 1px solid #F3EFEC;
}

#tableDiv .nav-tabs > li.active > a,
#tableDiv .nav-tabs > li:hover.active > a,
#sourceDiv .nav-tabs > li.active > a,
#sourceDiv .nav-tabs > li:hover.active > a  {
	background: #FFF;
    border: 1px solid #FFF;
}

.rightCell{
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 600px !important;
}

.rightCell form {
  max-width: 600px; 
  min-width: 300px; 
  width: 100% !important;
}

.rightCell textarea {
  max-width: 580px;
  min-width: 580px;
  resize: vertical;
}

#tableDiv .nav-tabs li {
  background-color: #F2EEEB !important;
  margin-left: 2px;
}
