#tableView {
  cursor: pointer;
  background-color: #EEEEEE;
}

#sourceFooter {
  margin-top: 0;
  background: none;
  margin-bottom: 0;
  padding-right: 0;
  padding-top: 20px;
  padding-bottom: 0;
}

#sourceEditor {
  height: 400px;
  width: auto;
  overflow:hidden;
  margin-right: 0px;
  padding-bottom: 20px;
  border: 1px solid #A0A0A0;
}

#sourceDiv {
  margin-top: 0px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  min-height: 400px;
  margin-bottom: 20px;
}

.sourceBox {
}
