#tableView {
  cursor: pointer;
}

#sourceFooter {
  margin-top: 0;
  background: none;
  margin-bottom: 0;
  padding-right: 0;
  padding-bottom: 0;
}

#sourceEditor {
  height: 400px;
  width: 900px;
  overflow:hidden;
  padding-bottom: 20px;
  border: 1px solid #A0A0A0;
}

#sourceDiv {
  margin-top: -40px;
  padding: 20px 20px 20px 20px;
  min-height: 400px;
}

.sourceBox {
}
