.foxxList {
  padding-top: 30px;
}

.foxxList i:hover {
  cursor: pointer;
}

.foxxElement {
  cursor: pointer;
}

.foxxElement .glyphicon-edit {
  font-size: 18px;
  margin-right: 3px;
  position: absolute;
  top: 27px;
  right: 1px;
  opacity: 0.7;
}

.foxxElement .glyphicon-edit:hover {
  opacity: 1;
}

.foxxDescription {
  margin-top: 5px;
  width:140px;
  height: 90px;
  float: left;
  text-align: left;
  word-wrap: break-word;
}

#availableList .foxxDescription {
  margin-top: 8px !important;
  height: 60px !important;
}

.foxxIcon {
  width:64px;
  height:64px;
  float:left;
  padding:10px;
}

.badge-foxx {
  bottom: 0px;
}

li.applicationList {
  margin-left:-10px;
  background-color: transparent;
  border: none;
}

.applicationListHeader {
  margin-bottom: 10px;
  margin-top: 15px;
  color: #FFF;
  height: 36px !important;
  text-align: center;
  padding: 1px 0px;
  margin-left: 5px;
  margin-right: 5px;
}

.toggle-icon {
  margin: 10px;
}

.foxxList .boxHeader {
  background-color: #686766;
  opacity: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.applicationList {
  width: 100%;
  padding-left: 10px;
  margin-bottom: 0px !important;
}
