.searchSubmit {
  height: 14px;
  margin-left: -18px;
  margin-top: 11px;
  opacity: 0.2;
  position: absolute;
  width: 14px;
}

.searchSubmit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.toolbox > .btn {
  padding: 0px;
  background-color: rgb(51, 51, 51);
}

.btn-icon {
  padding: 4px 4px;
  background-color: rgb(56, 52, 52);
}

.searchByAttribute {
  margin-top: 3px;
  margin-right: 10px;
}

svg.graphViewer {
  border-style: groove;
}