img.searchSubmit {
  height: 14px;
  margin-left: -18px;
  margin-top: 11px;
  opacity: 0.2;
  position: absolute;
  width: 14px;
  content:url("../img/enter_icon.png");
}

.searchSubmit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.toolbox > .btn {
  width: 40px;
  height: 40px;
  padding: 0px;
  background-color: rgb(51, 51, 51);
}

.btn-icon {
  padding: 4px 4px;
  background-color: rgb(56, 52, 52);
}

.searchByAttribute, .searchEqualsLabel {
  margin-top: 3px;
  margin-right: 6px;
}

svg.graphViewer text {
  font: 16px Arial;
  pointer-events: none;
}

.capitalize {
  text-transform:capitalize;
}

svg.graphViewer {
  border-style: groove;
}

div.mousepointer {
  position: absolute;
  margin: 0;
  padding: 5px;  
}

button.graphViewer-icon-button {
  border: medium none;
  width: 20px;
  height: 20px;
  margin-top: -8px;
  padding: 0px;
  background-color: transparent;
}

button.graphViewer-icon-button > img {
  width:20px;
  height:20px;
  padding-bottom: 10px;
}


.modal-body th.actionCell {
  width: 30px;
  text-align: center;
}

.modal-body th.actionCell > button {
  margin-top: -12px;
}

.modal-body th.keyCell {
  width: 170px;
  text-align: center;
}

.modal-body th.valueCell {
  width: 300px;
  text-align: center;
}

.modal-body th.keyCell input {
  width: 150px;
}

.modal-body th.valueCell input {
  width: 290px;
}

img.gv-icon-small {
  width:16px;
  height:16px;
}

img.gv-icon-small.delete {
  content:url("../img/icon_delete.png");
}

img.gv-icon-small.add {
  content:url("../img/plus_icon.png");
}


img.gv-icon-btn {
  width:36px;
  height:36px;
}

img.gv-icon-btn.edit{
  content:url("../img/gv_edit.png");
}
img.gv-icon-btn.edit.active{
  content:url("../img/gv_edit_reverse.png");
}

img.gv-icon-btn.add{
  content:url("../img/gv_add.png");
}

img.gv-icon-btn.add.active{
  content:url("../img/gv_add_reverse.png");
}

img.gv-icon-btn.expand{
  content:url("../img/gv_expand.png");
}
img.gv-icon-btn.expand.active{
  content:url("../img/gv_expand_reverse.png");
}

img.gv-icon-btn.drag{
  content:url("../img/gv_drag.png");
}
img.gv-icon-btn.drag.active{
  content:url("../img/gv_drag_reverse.png");
}

img.gv-icon-btn.connect{
  content:url("../img/gv_connect.png");
}
img.gv-icon-btn.connect.active{
  content:url("../img/gv_connect_reverse.png");
}

img.gv-icon-btn.trash{
  content:url("../img/gv_trash.png");
}
img.gv-icon-btn.trash.active{
  content:url("../img/gv_trash_reverse.png");
}

