.searchSubmit {
  height: 14px;
  margin-left: -18px;
  margin-top: 11px;
  opacity: 0.2;
  position: absolute;
  width: 14px;
}

.searchSubmit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.toolbox > .btn {
  padding: 0px;
  background-color: rgb(51, 51, 51);
}

.btn-icon {
  padding: 4px 4px;
  background-color: rgb(56, 52, 52);
}

.searchByAttribute, .searchEqualsLabel {
  margin-top: 3px;
  margin-right: 6px;
}

svg.graphViewer text {
  font: 11px Arial;
  pointer-events: none;
  stroke: #000;
}

.capitalize {
    text-transform:capitalize;
}

svg.graphViewer {
  border-style: groove;
}

div.mousepointer {
  position: absolute;
  margin: 0;
  padding: 5px;  
}