.ui-layout-center {
    background-color: #E2FFD0;
}

.ui-layout-north {
    background-color: #FFFFFF;
}

.ui-layout-west {
    background-color: #E2FFD0;
}

.ui-layout-resizer {
    background-color: #E2FFD0;
}
