.collectionTh {
  width: 20% !important;
  text-align:left;
}

.collectinInfoTable {
  width: 200px !important;
  max-width: 200px !important;
}

.collectionInfoTh {
  text-align:left;
  min-width: 60px;
}

.modal-body-right, .modal-body-left {
  float:left;
  width:50%;
  max-width: 50% !important;
}

.tooltipInfoTh {
  width: 10%;
}

.modal-body .icon-info-sign {
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  opacity: 0.7;
}

.modal-body .icon-info-sign:hover {
  opacity: 1;
}

.modal-body table {
  margin-left: 15px;
}

.modal-body .accordion-inner {
  margin-left: 0;
  padding-left: 0;
}

.modal-body input {

  width: 320px;
}

.modal-body select {
  width: 334px;
}

.modal-text {
  font-weight: normal;
  padding-top: 3px;
  padding-bottom: 3px;
}

.collectionInfoTh {
  width: 320px;
}

.collectionInfoTh2 {
  text-align:left;
  width: 150px;
}

#figures table {
  padding: 3px;
  text-align: left;
  min-width: 200px;
  margin-top: 0px;
  margin-left: 0;
  margin-right: 0;
  float:left;
/*
  border-collapse: separate !important; 
  border-spacing: 0 6px !important;
*/
}

#figures1, #figures2 {
  margin-bottom: 20px;
  width: 255px;
}

#figures2 {
  margin-left: 20px !important;
}

#figures3 {
  width: 100%;
  margin-bottom: 0;
}

.figuresHeader {
  border-bottom: 1px solid #888888;
}

#collectionIndexTable {
  margin-left: 0;
  width: 100%;
}

.modal {
  border-radius: 0 !important;
}

.modalTooltips span {
  font-size: 20px;
  opacity: 0.5;
}

.modalTooltips span:hover {
  opacity: 0.8;
}

#infoTab {
  padding-right: 30px;
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 1px;
}

#infoTab li {
  float:right;
}

#infoTab a {
  margin-right: 4px;
  color: black;
  margin-bottom: -1px;
  background-color: #F1F0EE;
  border-bottom: 1px solid #888888;
  border-radius: 0 !important;
}

#infoTab .active > a {
  border-color: #888888 #888888 transparent !important;
  background-color: #FFFFFF;
}

#tab-content-collection-info #info,
#tab-content-collection-info #figures,
#tab-content-collection-info #index {
  padding-top: 10px;
  border-top: 1px solid #888888 !important;
  margin-left: 0px !important;
}

.modal-footer {
  border-top: 1px solid #888888 !important;
}

.modal-header {
  border-bottom: 1px solid #888888 !important;
}

.modal-body .glyphicon-info-sign {
  color: #736B68;
  font-size: 18px;
  margin-left: 5px;
  margin-top: 2px;
}

.modal-body .glyphicon-info-sign:hover {
  color: black;
}
