.collectionTh {
  width: 20% !important;
  text-align:left;
}

.collectinInfoTable {
  width: 200px !important;
  max-width: 200px !important;
}

.collectionInfoTh {
  text-align:left;
  min-width: 60px;
}

.modal-body-right, .modal-body-left {
  float:left;
  width:50%;
  max-width: 50% !important;
}

.tooltipInfoTh {
  width: 10%;
}

.modal-body .icon-info-sign {
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  opacity: 0.7;
}

.modal-body .icon-info-sign:hover {
  opacity: 1;
}

.modal-body table {
  margin-left: 15px;
}

.modal-body .accordion-inner {
  margin-left: 0;
  padding-left: 0;
}

.modal-body input {

  width: 320px;
}

.modal-body select {
  width: 334px;
}

.modal-text {
  font-weight: normal;
  padding-top: 3px;
  padding-bottom: 3px;
}
