.collectionTh {
  width: 20% !important;
  text-align:left;
}

.collectinInfoTable {
  width: 200px !important;
  max-width: 200px !important;
}

.collectionInfoTh {
  text-align:left;
  min-width: 60px;
}

.modal-body-right, .modal-body-left {
  float:left;
  width:50%;
  max-width: 50% !important;
}

.tooltipInfoTh {
  width: 10%;
}

.modal-body .icon-info-sign {
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  opacity: 0.7;
}

.modal-body .icon-info-sign:hover {
  opacity: 1;
}

.modal-body table {
  margin-left: 15px;
}

.modal-body .accordion-inner {
  margin-left: 0;
  padding-left: 0;
}

.modal-body input {

  width: 320px;
}

.modal-body select {
  width: 334px;
}

.modal-text {
  font-weight: normal;
  padding-top: 3px;
  padding-bottom: 3px;
}

.collectionInfoTh {
  width: 320px;
}

.collectionInfoTh2 {
  text-align:left;
  width: 150px;
}

#figures table {
  padding: 3px;
  text-align: left;
  min-width: 200px;
  margin-top: 0px;
  margin-left: 0;
  margin-right: 0;
  float:left;
/*
  border-collapse: separate !important; 
  border-spacing: 0 6px !important;
*/
}

#figures1, #figures2 {
  margin-bottom: 20px;
  width: 255px;
}

#figures2 {
  margin-left: 20px !important;
}

#figures3 {
  width: 100%;
  margin-bottom: 0;
}

.figuresHeader {
  background-image: -moz-linear-gradient(center top , #F3EFEC, #EBE7E3) !important;
  border-bottom: 1px solid #C1BDBA;
}

#collectionIndexTable {
  margin-left: 0;
  width: 100%;
}
/*
.figuresFirst {
  background-color: #F4F4F4 !important;
}

#figures table .modal-text {
  margin-bottom: 5px;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  padding: 0 !important;
}


