.ui-resizable-s {
  bottom: 0;
  height: 10px;
  background-color: #F0F0F0 !important;
  border: 1px solid #A0A0A0;
  cursor: ns-resize;
}

#queryOutput .ace_cursor-layer {
  display:none;
}

#editorToolbar {
  float: left;
  width: 99.8%;
  margin-top: 20px !important;
  border-top: 1px solid #A0A0A0;
  border-right: 1px solid #A0A0A0;
  border-left: 1px solid #A0A0A0;
  height: 20px;
  background-color: #F0F0F0;
}

#outputToolbar {
  margin-top: 10px;
  float: left;
  width: 99.8%;
  border-top: 1px solid #A0A0A0;
  border-right: 1px solid #A0A0A0;
  border-left: 1px solid #A0A0A0;
  height: 20px;
  background-color: #F0F0F0;
}

#editorToolbar i:hover, #outputToolbar i:hover {
  cursor: pointer;
}

#editorToolbar i , #outputToolbar i {
  float: right;
  margin-right: 5px;
  margin-top: 3px;
}

#editorToolbar select {
  float: left !important;
}

#addAQL, #editAQL {
  float: left !important;
  margin-left: 5px;
  margin-right: 0 !important;
}

#editor {
  min-width: 100px;
}

#editorLabel, #outputLabel {
  float: left;
  background-color: #F0F0F0;
  width: 150px;
  text-align: center;
  border-right: 1px solid #A0A0A0;
}

#aqlEditor .ace_error, #aqlEditor .ace_info, #queryOutput .ace_error, #queryOutput .ace_info {
  background:none;
}

#aqlEditor {
  width: 99.8%;
  height: 200px;
  min-height: 100px;
  border: 1px solid #C0C0C0;
  margin-bottom: 20px;
}

#queryDiv {
  background-color: rgba(0,0,0,0.05);
}

#submitQueryButton {
  float: right;
}

.querynavbar {
  width: 940px !important;
  background-color: #FAFAFA;
  background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
  background-repeat: repeat-x;
  margin-bottom: 20px;
}

.querynavbar h3 {
  padding-top: 5px;
}

#queryOutput {
  width: 99.8%;
  background-color: white;
  height: 200px;
  min-height: 100px;
  overflow-y: hidden;
  border: 1px solid #c0c0c0;
}

.preQuery {
  border: 0;
  border-radius: 0;
  background-color: white !important;
}

#querySelect {
  height: 20px !important;
  line-height: 20px !important;
  z-index: 9999 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

#querySelect option {
  z-index: 9999 !important;
}

.queryTH {
  width: 20% !important;
}

.queryTH2 {
  width: 75% !important;
}

#edit-aql-body table {
  margin-left: 0;
  width: 100%;
}

#edit-aql-body select {
  width: 100%;
}

#edit-aql-body textarea {
  width: 515px;
  resize: vertical !important;
}
