{
  "name": "<%= name %>",
  "description": "<%= description %>",
  "author": "<%= author %>",
  "version": "0.0.1",
  "license": "<%= license %>",
  "isSystem": false,

  "contributors": [
  ],

  "controllers": {
    <% _.each(controllers, function (controller) { %>
    "<%= controller.url %>": "<%= controller.path %>",
    <% }); %>
  },

  "setup": "",
  "teardown": ""
}
