'use strict';
const db = require('@arangodb').db;
const collections = <%= JSON.stringify(collections, null, 2) %>;

for (const localName of collections) {
  const qualifiedName = module.context.collectionName(localName);
  if (!db._collection(qualifiedName)) {
    db._create(qualifiedName);
  } else if (module.context.isProduction) {
    console.warn(`collection <%= '$' %>{qualifiedName} already exists. Leaving it untouched.`)
  }
}
