'use strict';
const db = require('@arangodb').db;
const collections = <%= JSON.stringify(collections, null, 2) %>;

for (const localName of collections) {
  const qualifiedName = module.context.collectionName(localName);
  db._drop(qualifiedName);
}
