'use strict';
var Foxx = require('org/arangodb/foxx'),
  joi = require('joi');

module.exports = Foxx.Model.extend({
  schema: {
    // Describe the attributes with joi here
    _key: joi.string()
  }
});