.link {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
}

.edgegradient {
  stroke: url("#edgegradient");
}

.node {
  cursor: pointer;
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1px;
}


text {
  font: 10px sans-serif;
  pointer-events: none;
  stroke: #fff;
  stroke-width: 1px;
}
marker#arrow {
  fill: #666;
}


capitalize {
    text-transform:capitalize;
}