ul#graphViewerMenu {
  margin-bottom: 0px;
}

ul#graphViewerMenu li {
  list-style-type: none;
  margin-left: -16px;
  margin-right: 16px;
  cursor: pointer;
}

ul#graphViewerMenu li:hover {
  text-decoration: underline;
}
