.toolbar {
  padding: 8px 0px;
  width: 100%;
  border: 1px solid #e9e9e9;
  height: 42px;
  z-index: 3;
  box-shadow: 0px 8px 12px 0px rgba(0, 52, 107, 0.04);
  position: absolute;
}
.toolbar *::before {
  font-size: 16px !important;
}
.toolbar .disable {
  color: rgba(0, 0, 0, 0.25);
}
.toolbar .icon-select.disable {
  background: #eeeeee;
}
.toolbar .separator {
  margin: 4px;
  border-left: 1px solid #e9e9e9;
}
.toolbar .command {
  width: 27px;
  height: 27px;
  margin: 0px 6px;
  border-radius: 2px;
  padding-left: 4px;
  display: inline-block;
  border: 1px solid rgba(2, 2, 2, 0);
}
.toolbar .command:nth-of-type(1) {
  margin-left: 24px;
}
.toolbar .command:hover {
  cursor: pointer;
  border: 1px solid #e9e9e9;
}
.toolbar .disable:hover {
  cursor: default;
  border: 1px solid rgba(2, 2, 2, 0);
}
