sudo: required
dist: precise
language: cpp

#cache:
#  directories:
#    - ${TRAVIS_BUILD_DIR}/deps/icu
#    - ${TRAVIS_BUILD_DIR}/deps/gtest
#    - ${TRAVIS_BUILD_DIR}/deps/snowball
#    - ${TRAVIS_BUILD_DIR}/deps/lz4
#    - ${TRAVIS_BUILD_DIR}/deps/boost-1.58.0
#    - ${TRAVIS_BUILD_DIR}/deps/boost-1.59.0
#    - ${TRAVIS_BUILD_DIR}/deps/boost-1.60.0
#    - ${TRAVIS_BUILD_DIR}/deps/boost-1.61.0
#    - ${TRAVIS_BUILD_DIR}/deps/boost-1.62.0
#    - ${TRAVIS_BUILD_DIR}/deps/boost-1.63.0

branches:
  only:
    - master

env:
  global:
    - MAKEFLAGS="-j 4"
    - BOOST_VERSION=default

matrix:
  include:
    ############################################################################
    # GCC 4.8
    ############################################################################

    ############################################################################
    # Debug build, static library
    ############################################################################
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
          packages:
            - g++-4.8
            - valgrind
            - cmake-data
            - cmake
      env:
        - SET_ENV="CC=gcc-4.8 && CXX=g++-4.8"
        - BUILD_TYPE="Debug" STATIC_LIB="true" TEST_PARAMS="--gtest_filter=*:-:*"
        - SUPPRESS_MAKE_ERRORS=true # travis is unable to handle log files > 4MB

    ############################################################################
    # Release build, static library
    ############################################################################
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
          packages:
            - g++-4.8
            - valgrind
            - cmake-data
            - cmake
      env:
        - SET_ENV="CC=gcc-4.8 && CXX=g++-4.8"
        - BUILD_TYPE="Release" STATIC_LIB="true"
        - SUPPRESS_MAKE_ERRORS=true # travis is unable to handle log files > 4MB

    ############################################################################
    # Debug build, shared library
    ############################################################################
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
          packages:
            - g++-4.8
            - valgrind
            - cmake-data
            - cmake
      env:
        - SET_ENV="CC=gcc-4.8 && CXX=g++-4.8"
        - BUILD_TYPE="Debug" TEST_PARAMS="--gtest_filter=*:-:*"
        - SUPPRESS_MAKE_ERRORS=true # travis is unable to handle log files > 4MB

    ############################################################################
    # Release build, shared library
    ############################################################################
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
          packages:
            - g++-4.8
            - valgrind
            - cmake-data
            - cmake
      env:
        - SET_ENV="CC=gcc-4.8 && CXX=g++-4.8"
        - BUILD_TYPE="Release"
        - SUPPRESS_MAKE_ERRORS=true # travis is unable to handle log files > 4MB

    ############################################################################
    # GCC 4.9
    ############################################################################

    ############################################################################
    # Debug build, static library
    ############################################################################
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
          packages:
            - g++-4.9
            - valgrind
            - cmake-data
            - cmake
      env:
        - SET_ENV="CC=gcc-4.9 && CXX=g++-4.9"
        - BUILD_TYPE="Debug" STATIC_LIB="true" TEST_PARAMS="--gtest_filter=*:-:*"
        - SUPPRESS_MAKE_ERRORS=true # travis is unable to handle log files > 4MB

    ############################################################################
    # Release build, static library
    ############################################################################
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
          packages:
            - g++-4.9
            - valgrind
            - cmake-data
            - cmake
      env:
        - SET_ENV="CC=gcc-4.9 && CXX=g++-4.9"
        - BUILD_TYPE="Release" STATIC_LIB="true"
        - SUPPRESS_MAKE_ERRORS=true # travis is unable to handle log files > 4MB

    ############################################################################
    # Debug build, shared library
    ############################################################################
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
          packages:
            - g++-4.9
            - valgrind
            - cmake-data
            - cmake
      env:
        - SET_ENV="CC=gcc-4.9 && CXX=g++-4.9"
        - BUILD_TYPE="Debug" TEST_PARAMS="--gtest_filter=*:-:*"
        - SUPPRESS_MAKE_ERRORS=true # travis is unable to handle log files > 4MB

    ############################################################################
    # Release build, shared library
    ############################################################################
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
          packages:
            - g++-4.9
            - valgrind
            - cmake-data
            - cmake
      env:
        - SET_ENV="CC=gcc-4.9 && CXX=g++-4.9"
        - BUILD_TYPE="Release"
        - SUPPRESS_MAKE_ERRORS=true # travis is unable to handle log files > 4MB

    ############################################################################
    # GCC 5
    ############################################################################

    ############################################################################
    # Debug build, static library
    ############################################################################
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
          packages:
            - g++-5
            - valgrind
            - cmake-data
            - cmake
      env:
        - SET_ENV="CC=gcc-5 && CXX=g++-5"
        - BUILD_TYPE="Debug" STATIC_LIB="true" TEST_PARAMS="--gtest_filter=*:-:*"

    ############################################################################
    # Release build, static library
    ############################################################################
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
          packages:
            - g++-5
            - valgrind
            - cmake-data
            - cmake
      env:
        - SET_ENV="CC=gcc-5 && CXX=g++-5"
        - BUILD_TYPE="Release" STATIC_LIB="true"

    ############################################################################
    # Debug build, shared library
    ############################################################################
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
          packages:
            - g++-5
            - valgrind
            - cmake-data
            - cmake
      env:
        - SET_ENV="CC=gcc-5 && CXX=g++-5"
        - BUILD_TYPE="Debug" TEST_PARAMS="--gtest_filter=*:-:*"

    ############################################################################
    # Release build, shared library
    ############################################################################
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
          packages:
            - g++-5
            - valgrind
            - cmake-data
            - cmake
      env:
        - SET_ENV="CC=gcc-5 && CXX=g++-5"
        - BUILD_TYPE="Release"

    ############################################################################
    # GCC 6
    ############################################################################

    ############################################################################
    # Debug build, static library
    ############################################################################
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
          packages:
            - g++-6
            - valgrind
            - cmake-data
            - cmake
      env:
        - SET_ENV="CC=gcc-6 && CXX=g++-6"
        - BUILD_TYPE="Debug" STATIC_LIB="true" TEST_PARAMS="--gtest_filter=*:-:*"

    ############################################################################
    # Release build, static library
    ############################################################################
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
          packages:
            - g++-6
            - valgrind
            - cmake-data
            - cmake
      env:
        - SET_ENV="CC=gcc-6 && CXX=g++-6"
        - BUILD_TYPE="Release" STATIC_LIB="true"

    ############################################################################
    # Debug build, shared library
    ############################################################################
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
          packages:
            - g++-6
            - valgrind
            - cmake-data
            - cmake
      env:
        - SET_ENV="CC=gcc-6 && CXX=g++-6"
        - BUILD_TYPE="Debug" TEST_PARAMS="--gtest_filter=*:-:*"

    ############################################################################
    # Release build, shared library
    ############################################################################
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
          packages:
            - g++-6
            - valgrind
            - cmake-data
            - cmake
      env:
        - SET_ENV="CC=gcc-6 && CXX=g++-6"
        - BUILD_TYPE="Release"

before_install:
  - eval "${SET_ENV}"

install:
  - cmake --version

  ############################################################################
  # All the dependencies are installed in ${TRAVIS_BUILD_DIR}/deps/
  ############################################################################
  - DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
  - mkdir -p ${DEPS_DIR} && cd ${DEPS_DIR}

  ############################################################################
  # Setup default versions and override compiler if needed
  ############################################################################
  - if [[ "${BOOST_VERSION}" == "default" ]]; then BOOST_VERSION=1.58.0; fi

  ############################################################################
  # Install ICU
  ############################################################################
  - |
    ICU_DIR=${DEPS_DIR}/icu
    if [[ -z "$(ls -A ${ICU_DIR})" ]]; then
      ICU_URL="http://download.icu-project.org/files/icu4c/57.1/icu4c-57_1-src.tgz"
      cd ${DEPS_DIR}
      wget -P icu ${ICU_URL}
      cd ${ICU_DIR}
      tar -zxf icu4c-57_1-src.tgz
      cd icu/source
      ./configure --enable-static
    fi
    sudo make install #DESTDIR=${ICU_DIR}
    export ICU_ROOT=/usr/local  

  ############################################################################
  # Install Boost
  ############################################################################
  - |
    if [[ "${BOOST_VERSION}" != "" ]]; then
      BOOST_DIR=${DEPS_DIR}/boost-${BOOST_VERSION}
      if [[ -z "$(ls -A ${BOOST_DIR})" ]]; then
        if [[ "${BOOST_VERSION}" == "trunk" ]]; then
          BOOST_URL="http://github.com/boostorg/boost.git"
          travis_retry git clone --depth 1 --recursive --quiet ${BOOST_URL} ${BOOST_DIR} || exit 1
        else
          BOOST_URL="http://sourceforge.net/projects/boost/files/boost/${BOOST_VERSION}/boost_${BOOST_VERSION//\./_}.tar.gz"
          mkdir -p ${BOOST_DIR}
          { travis_retry wget --quiet -O - ${BOOST_URL} | tar --strip-components=1 -xz -C ${BOOST_DIR}; } || exit 1
        fi
        (cd ${BOOST_DIR} && ./bootstrap.sh --with-libraries=filesystem,locale,system,thread,regex && ./b2 install --libdir=lib)
      fi
      export BOOST_ROOT=${BOOST_DIR}
    fi

  ############################################################################
  # Install Lz4
  ############################################################################
  - |
    LZ4_DIR=${DEPS_DIR}/lz4
    if [[ -z "$(ls -A ${LZ4_DIR})" ]]; then
      LZ4_URL="https://github.com/lz4/lz4.git"
      cd ${DEPS_DIR}
      travis_retry git clone --depth 1 --recursive --quiet ${LZ4_URL} ${LZ4_DIR} || exit 1
      cd ${LZ4_DIR}
      make install DESTDIR=${LZ4_DIR}/build PREFIX=""
    fi
    export LZ4_ROOT=${LZ4_DIR}/build

  ############################################################################
  # Install snowball
  ############################################################################
  - |
    SNOWBALL_DIR=${DEPS_DIR}/snowball
    if [[ -z "$(ls -A ${SNOWBALL_DIR})" ]]; then
      SNOWBALL_URL="https://github.com/snowballstem/snowball.git"
      cd ${DEPS_DIR}
      travis_retry git clone --quiet ${SNOWBALL_URL} ${SNOWBALL_DIR} || exit 1
      cd ${SNOWBALL_DIR}
      git reset --hard 9e0a8340d58c70f91e8a0233b985242dc69c6fb8
      mkdir build && cd build
      cmake -DENABLE_STATIC=OFF -DNO_SHARED=OFF -g "Unix Makefiles" ..
      cmake --build .
      cmake -DENABLE_STATIC=OFF -DNO_SHARED=ON -g "Unix Makefiles" ..
      cmake --build .
    fi
    export SNOWBALL_ROOT=${SNOWBALL_DIR}

  ############################################################################
  # Install gtest
  ############################################################################
  - |
    GTEST_DIR=${DEPS_DIR}/gtest
    if [[ -z "$(ls -A ${GTEST_DIR})" ]]; then
      GTEST_URL="https://github.com/google/googletest.git"
      cd ${DEPS_DIR}
      travis_retry git clone --depth 1 --recursive --quiet ${GTEST_URL} ${GTEST_DIR} || exit 1
      cd ${GTEST_DIR}
      mkdir build && cd build
      cmake -DCMAKE_INSTALL_PREFIX=${GTEST_DIR}/build/package ..
      make install
    fi
    export GTEST_ROOT=${GTEST_DIR}/build/package

before_script:
  ############################################################################
  # Go back to the root of the project and setup the build directory
  ############################################################################
  - CMAKE_OPTIONS="-DCMAKE_BUILD_TYPE=${BUILD_TYPE}"
  - cd ${TRAVIS_BUILD_DIR}
  - (mkdir build && cd build && cmake .. ${CMAKE_OPTIONS})

script:
    - if [[ "${STATIC_LIB}" == "true" ]]; then BUILD_TYPE_SUFFIX="-static" TEST_EXECUTABLE_SUFFIX="-s"; fi
    - cd ${TRAVIS_BUILD_DIR}/build
    - |
      if [[ "${SUPPRESS_MAKE_ERRORS}" == true ]]; then
        make iresearch-tests${BUILD_TYPE_SUFFIX} 2>/dev/null
      else
        make iresearch-tests${BUILD_TYPE_SUFFIX}
      fi
    - travis_wait 60 ./bin/iresearch-tests${TEST_EXECUTABLE_SUFFIX} ${TEST_PARAMS}
    - tar -czf iresearch-${TRAVIS_OS_NAME}-${BUILD_TYPE}${BUILD_TYPE_SUFFIX}-${TRAVIS_BUILD_NUMBER}.tar.gz bin

deploy:
  provider: releases
  api_key:
    secure: WldnAnXt5V7vZHmeAi/+tDxWYnQKOmgklgSRbjlRxCYpqNKwaqoIT/4W17+fd8UvPiB1wvsgfQ6DrrhN5ZUDKMUuH7OICuko6BJsOw2Ydx5e20BnbZaiU2+VmQpd6x1D90/CFjD3V6kSFRMnKd5crG/02A1UGTQnAtlzw+KTSoH7Vk3iHP6q9mq1fmnq4Aa0dLDMChIMLcPiLP/aJWh2+sdZqyaCMiMTaNW8aWLDxRVakHSUrie3CoMpWgraq5xQIwTskUm26NhS8v9d4BI3rbXBwQ50Hu7na/CqegjTJ3BIn9ePqeLWDfZewCGbQcSrJoBKSgMi70D3/BaZ8dvSCZODRH5hAPk7J4uPjQTkfkPws9Otj5iNlYlEQ3U/cGTNX2drzpSWKJS+9N5tiXhlAkegpZMW4czcsIISXA98CthMSxIT3rqxcNUL6ZlImZyFxa0bav7Jlx1SwQxrsIPFuxsX4qscG/D/QKu54l36h8qcmVKHThBL2UyQYDDgy4EPYXnO+cgi3aAuXkTS5a7jv6MEC9UTwSU6XAVYFZDhgRxlsq3xq/maOsVN/xCw1zY4cfFlHEG1/OLIX1sbJtct8mNMxsHCW+Xeku2NSLg/Vr5fgLQt8upOd49rMwhQyBn+3gp0eaEOlcIGbhDC/RnXS3UJtuO38DgkRvwfQ90B0gw=
  file: ${TRAVIS_BUILD_DIR}/build/iresearch-${TRAVIS_OS_NAME}-${BUILD_TYPE}${BUILD_TYPE_SUFFIX}-${TRAVIS_BUILD_NUMBER}.tar.gz
  skip_cleanup: true
  on:
    tags: true
    repo: iresearch-toolkit/iresearch
