version: 1.0.{build}

branches:
  only:
    - master

platform: x64

build:
  verbosity: normal

environment:
  BOOST_VERSION: default
  USE_SIMDCOMP: On
  CMAKE_BUILD_OPTIONS: --config %CONFIGURATION%
  matrix:

  ############################################################################
  # Visual Studio 2017
  ############################################################################

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      BUILD_TYPE: shared
      TEST_OPTIONS: --gtest_filter=*type_utils*
      VSINSTALL: "Microsoft Visual Studio\\2017\\Community\\VC\\Auxiliary\\Build"
      BOOST_ROOT: C:/Libraries/boost_1_64_0
      CONFIGURATION: Debug

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      BUILD_TYPE: static
      TEST_OPTIONS: --gtest_filter=*type_utils*
      VSINSTALL: "Microsoft Visual Studio\\2017\\Community\\VC\\Auxiliary\\Build"
      BOOST_ROOT: C:/Libraries/boost_1_64_0
      CONFIGURATION: Debug

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      BUILD_TYPE: shared
      TEST_OPTIONS: --gtest_filter=*:-:*europarl*/fs* # tests with europarl_docs take longer than an hour on MSVC2017
      VSINSTALL: "Microsoft Visual Studio\\2017\\Community\\VC\\Auxiliary\\Build"
      BOOST_ROOT: C:/Libraries/boost_1_64_0
      CONFIGURATION: Release

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      BUILD_TYPE: static
      TEST_OPTIONS: --gtest_filter=*:-:*europarl*/fs* # tests with europarl_docs take longer than an hour on MSVC2017
      VSINSTALL: "Microsoft Visual Studio\\2017\\Community\\VC\\Auxiliary\\Build"
      BOOST_ROOT: C:/Libraries/boost_1_64_0
      CONFIGURATION: Release

  ############################################################################
  # Visual Studio 2019
  ############################################################################

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      BUILD_TYPE: shared
      TEST_OPTIONS: --gtest_filter=*type_utils*
      VSINSTALL: "Microsoft Visual Studio\\2019\\Community\\VC\\Auxiliary\\Build"
      BOOST_ROOT: C:/Libraries/boost_1_71_0
      CONFIGURATION: Debug

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      BUILD_TYPE: static
      TEST_OPTIONS: --gtest_filter=*type_utils*
      VSINSTALL: "Microsoft Visual Studio\\2019\\Community\\VC\\Auxiliary\\Build"
      BOOST_ROOT: C:/Libraries/boost_1_71_0
      CONFIGURATION: Debug

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      BUILD_TYPE: shared
      TEST_OPTIONS: --gtest_filter=*:-:*europarl*/fs* # tests with europarl_docs take longer than an hour on MSVC2019
      VSINSTALL: "Microsoft Visual Studio\\2019\\Community\\VC\\Auxiliary\\Build"
      BOOST_ROOT: C:/Libraries/boost_1_71_0
      CONFIGURATION: Release

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      BUILD_TYPE: static
      TEST_OPTIONS: --gtest_filter=*:-:*europarl*/fs* # tests with europarl_docs take longer than an hour on MSVC2019
      VSINSTALL: "Microsoft Visual Studio\\2019\\Community\\VC\\Auxiliary\\Build"
      BOOST_ROOT: C:/Libraries/boost_1_71_0
      CONFIGURATION: Release

install:
  ############################################################################
  # All the dependencies are installed in %APPVEYOR_BUILD_FOLDER%\deps
  ############################################################################
  - set DEPS_DIR=%APPVEYOR_BUILD_FOLDER%\deps
  - mkdir %DEPS_DIR%

  ############################################################################
  # Install snowball
  ############################################################################
  - set SNOWBALL_DIR=%DEPS_DIR%\snowball
  - set SNOWBALL_URL="https://github.com/snowballstem/snowball.git"
  - cd %DEPS_DIR%
  - appveyor-retry git clone --quiet %SNOWBALL_URL% %SNOWBALL_DIR%
  - cd %SNOWBALL_DIR%
  - git reset --hard 53739a805cfa6c77ff8496dc711dc1c106d987c1
  - set SNOWBALL_ROOT=%SNOWBALL_DIR%

  ############################################################################
  # Install gtest
  ############################################################################
  - set GTEST_DIR=%DEPS_DIR%\gtest
  - set GTEST_URL="https://github.com/google/googletest.git"
  - cd %DEPS_DIR%
  - appveyor-retry git clone --depth 1 --recursive --quiet %GTEST_URL% %GTEST_DIR% || exit 1
  - cd %GTEST_DIR%
  - appveyor-retry git fetch --tags
  - appveyor-retry git checkout tags/release-1.8.0
  - set GTEST_ROOT=%GTEST_DIR%\googletest

  ############################################################################
  # Install ICU
  ############################################################################
  - set ICU_DIR=%DEPS_DIR%\icu
  - mkdir %ICU_DIR% && cd %ICU_DIR%
  - set ICU_URL="https://master.dl.sourceforge.net/project/icu/ICU4C/57.1/icu4c-57_1-Win64-msvc10.zip"
  - appveyor DownloadFile %ICU_URL% -FileName icu4c-57_1-win64-msvc10.zip
  - 7z x icu4c-57_1-win64-msvc10.zip -o. > nul
  - set ICU_ROOT=%ICU_DIR%\icu
  - set PATH=%PATH%;%ICU_ROOT%\bin64

  ############################################################################
  # Install Boost
  ############################################################################
  - cd %BOOST_ROOT%
  - bootstrap.bat
  - b2 --build-dir=%BOOST_ROOT%\build --build-type=complete stage address-model=64 --with-locale --with-system --with-thread

  ############################################################################
  # Install Lz4
  ############################################################################
  - set LZ4_DIR=%DEPS_DIR%\lz4
  - set LZ4_URL="https://github.com/lz4/lz4.git"
  - cd %DEPS_DIR%
  - appveyor-retry git clone --depth 1 --recursive --quiet %LZ4_URL% %LZ4_DIR%
  - cd %LZ4_DIR%
  - mkdir build && cd build
  - cmake -DCMAKE_INSTALL_PREFIX=%LZ4_DIR%\build -DBUILD_SHARED_LIBS=ON -DBUILD_STATIC_LIBS=ON -g %APPVEYOR_BUILD_WORKER_IMAGE% -Ax64 ../contrib/cmake_unofficial
  - cmake --build . %CMAKE_BUILD_OPTIONS%
  - cmake --build . --target install
  - set LZ4_ROOT=%LZ4_DIR%\build

  ############################################################################
  # Setup bison
  ############################################################################
  # bison 2.7 from Win flex-bison 2.4.12 is the least to generate buildable
  # parser.cc usable with Visual Studio 2019 image (has 3.4 bison via MSYS2)
  - if "%APPVEYOR_BUILD_WORKER_IMAGE%" == "Visual Studio 2019" (
      appveyor DownloadFile https://excellmedia.dl.sourceforge.net/project/winflexbison/win_flex_bison-2.4.12.zip -FileName win_flex_bison-2.4.12.zip&
      7z x win_flex_bison-2.4.12.zip -o"win_flex_bison-2.4.12" > nul&
      mv win_flex_bison-2.4.12\win_bison.exe win_flex_bison-2.4.12\bison.exe&
      set BISON_PATH=%cd%\win_flex_bison-2.4.12)
    else (set BISON_PATH=C:\cygwin64\bin)
  - set PATH=%BISON_PATH%;%PATH%
  - bison --version

before_build:
  - C:\"Program Files (x86)"\"%VSINSTALL%"\vcvarsall.bat amd64

build_script:
  - if "%BUILD_TYPE%" == "static" set EXECUTABLE_SUFFIX="-s"
  - cd %APPVEYOR_BUILD_FOLDER%
  - mkdir build
  - cd build
  - cmake -g %APPVEYOR_BUILD_WORKER_IMAGE% -Ax64 -DUSE_TESTS=On -DCMAKE_BUILD_TYPE=%CONFIGURATION% -DMSVC_BUILD_THREADS=16 -DUSE_SIMDCOMP=%USE_SIMDCOMP% ..
  - cmake --build . %CMAKE_BUILD_OPTIONS% --target iresearch-tests-%BUILD_TYPE%
  - if "%BUILD_TYPE%" == "static" ( cmake --build . %CMAKE_BUILD_OPTIONS% --target iresearch-benchmarks )
  - if "%BUILD_TYPE%" == "static" ( cmake --build . %CMAKE_BUILD_OPTIONS% --target iresearch-index-util )

test_script:
  ############################################################################
  # Execute tests
  ############################################################################
  - cmd: python ..\scripts\gtest-parallel\gtest_parallel.py %TEST_OPTIONS% bin\%CONFIGURATION%\iresearch-tests%EXECUTABLE_SUFFIX%.exe -- --gtest_output=xml:test_results.xml

on_finish:
  ############################################################################
  # Publish tests results
  ############################################################################
  - ps: (new-object net.webclient).UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\test_results.xml))
