body {
	box-sizing: border-box;
	font-family: 'Open Sans', Helvetica, sans-serif;
	background-color: #fbfbfb;
}

.container {
	padding-left: 0;
	padding-right: 0;
	max-width: none !important;
	width: 960px;
	margin:0 auto;
}

.top-wrapper {
	background-color: #617E2B;
	height: 51px;
	top: 0;
	border-width: 0 0 1px;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.logo {
	margin-top: 10px;
	width: 265px;
	height: 35px;
	background: url(http://www.myarangodb.com/img/myarangodb-logo-with-beta.png) no-repeat;
}

a {
	color: #617e2b;
}

a:hover {
	color:#ddd;
}

.panel {
	position:absolute;
	top:50%;
	left:50%;
	margin-left: -160px;
	margin-top: -225px;
	height:250px;
	width:320px;
}

.panel.confirmation {
	text-align: center;
	margin-top: -50px;
}

h1 {
	font-size: 28px;
}

label {
	display: block;
}

.button {
	background-color: #617e2b;
	border: 1px solid rgba(0,0,0,0.19);
	border-radius: 2px;
	color: #fff;
	float: right;
	font-size: 1.1em;
	font-weight: 300;
	margin: 5px 0 0;
	padding: 0.6em 1em;
	text-align: center;
	text-decoration: none !important;
	line-height: 1em;
}


form input[type='password'] {
	background-color: #FFFFFF;
	background-image: none;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
	color: #555555;
	display: block;
	font-size: 14px;
	height: 35px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	vertical-align: middle;
	width: 100%;
	margin-bottom: 20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}

form input[type='password']:focus {
	border-color: #617e2b;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(97,126,43,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(97,126,43,0.6);
}

footer {
	position: fixed;
	bottom: 0;
	left:0;
	right:0;
	background-color: #4A4A4A;
	margin: 30px 0 0 0;
	clear: both;
	width: 100%;
	font-family: "Helvetica",sans-serif;
	font-weight: 300;
	font-size: 11px;
	color: #fff;
	padding: 10px 0;
	background-color: #4A4A4A;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}

