<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>

	<key>Label</key>
	<string>org.avocadodb</string>

	<key>ProgramArguments</key>
	<array>
		<string>/usr/sbin/avocado</string>
		<string>-c</string>
		<string>/etc/voc/avocado.conf</string>
	</array>

        <key>UserName</key>
        <string>avocado</string>

        <key>GroupName</key>
        <string>avocado</string>

	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
