<% cols = this.data.collection.getColumns() %>
<table class="table table-condensed table-bordered">
  <tr>
    <th>Actions</th>
    <th>_key</th>
    <% _.each(cols, function(c) { %>
      <th><%=c.name%></th>
    <%});%>
  </tr>
  <% this.data.collection.each(function (d) { %>
    <tr id=<%=d.get("_key")%>>
      <td>
        <div class="btn-group">
          <a class="btn edit"><i class="icon-edit"></i></a>
          <a class="btn delete"><i class="icon-trash"></i></a>
        </div>
      </td>
      <td><%=d.get("_key")%></td>
      <% _.each(cols, function(c) { %>
        <td><%=d.get(c.name)%></td>
      <% }); %>
    </tr>
  <% }) %>
</table>
<div id="cmsMenuBar">
  <form class="form-inline">
    <button class="btn new" id="addNew">Add new Document</button>
  </form>
</div>


