<script id="clusterNavigationView.ejs" type="text/template">
  <ul class="navlist arango-collection-ul" id="arangoCollectionUl">
    <li class="health-menu"><a id="health" class="tab" href="#health">Health<i class="fa fa-heartbeat"></i></a></li>
    <li class="dashboard-menu"><a id="dashboard" class="tab" href="#">Dashboard</a></li>
    <li class="test-menu"><a id="test" class="tab" href="#">Storage Management</a></li>
    <li class="cluster-menu"><a id="cluster" class="tab" href="#cluster">Cluster Management</a></li>
    <li class="logs-menu"><a id="logs" class="tab" href="#logs">Logs</a></li>
  </ul>
</script>
