<script id="clusterUnreachable.ejs" type="text/template">
<div class="headerBar">
  <a class="arangoHeader">Cluster Unreachable</a>
</div>

<div class="cluster-unreachable-info">
  <p class="updateInfo">
    Refetching cluster state in a few seconds.
  </p>
  <p>
    Your cluster Coordinators are not (yet) reachable.
    The DBServer processes are still active. 
    They may still be in their startup phase, or network connectivity may be unavailable.
    Please check the network connection of the following servers:
  </p>
  <% if(coordinators.length > 0) { %>
  <ul>
    <% _.each(coordinators, function(c) { %>
      <li><b><%=c %></b></li>
    <% }); %>
  </ul>
  <% } %>
  <p>
    If your system is still very active, startup may take some more time.
    If none of these servers is reachable they are either located behind a firewall and 
    not accessable to the outside, or there is a network disconnection.
  </p>
  <p>
    If none of the above is true, consult the server logfiles for more error informations.
  </p>
  <p>
    <button id="clusterShutdown" class="button-danger shutdown">Shutdown Cluster</button>
  </p>
  <p>
  If you want to file a bug, please use <a href="https://github.com/arangodb/arangodb/issues">our issue tracker</a>. Or feel free to ask a question on <a href="https://groups.google.com/forum/#!forum/arangodb">our google group</a>.
</div>
</script>
