.accordion-flex {
    display: flex;
    justify-content: space-between;
  }
  
  .accordion-content {
    background: #545B62;
    text-align: left;
  }
  
  .rotate-180{
    transform: rotate(180deg);
  }
  
  .custom-content {
    color: #ffffff !important;
  }
  
  .ui.accordion,
  .ui.accordion .accordion {
    max-width: 100%;
  }
  
  .ui.accordion .accordion {
    margin: 1em 0em 0em;
    padding: 0em;
  }
  
  .ui.accordion .title,
  .ui.accordion .accordion .title {
    cursor: pointer;
  }
  
  .ui.accordion .title:not(.ui) {
    padding: 0.5em 0em;
    font-size: 18px;
    color: #272a2a;
  }
  
  .ui.accordion .title ~ .content,
  .ui.accordion .accordion .title ~ .content {
    display: none;
  }
  
  .ui.accordion:not(.styled) .title ~ .content:not(.ui),
  .ui.accordion:not(.styled) .accordion .title ~ .content:not(.ui) {
    margin: "";
    padding: 0.5em 0em 1em;
  }
  
  .ui.accordion:not(.styled) .title ~ .content:not(.ui):last-child {
    padding-bottom: 0em;
  }
  
  .ui.accordion .title .dropdown.icon,
  .ui.accordion .accordion .title .dropdown.icon {
    display: inline-block;
    float: none;
    opacity: 1;
    width: 1.25em;
    height: 1em;
    margin: 0em 0.25rem 0em 0rem;
    padding: 0em;
    font-size: 1em;
    -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out,
      -webkit-transform 0.2s ease-out;
    vertical-align: baseline;
    -webkit-transform: none;
    transform: none;
  }
  .ui.accordion.menu .item .title {
    display: block;
    padding: 0em;
  }
  
  .ui.accordion.menu .item .title > .dropdown.icon {
    float: right;
    margin: 0.19em 0em 0em 1em;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .ui.accordion .ui.header .dropdown.icon {
    font-size: 1em;
    margin: 0em 0.25rem 0em 0rem;
  }
  
  .ui.accordion .active.title .dropdown.icon,
  .ui.accordion .accordion .active.title .dropdown.icon {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .ui.accordion.menu .item .active.title > .dropdown.icon {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .ui.styled.accordion {
    width: 100%;
  }
  
  .ui.styled.accordion,
  .ui.styled.accordion .accordion {
    border-radius: 0.5em;
  }
  
  .ui.styled.accordion .title,
  .ui.styled.accordion .accordion .title {
    margin: 0em;
    padding: 0.5rem 0.5rem;
    background: #404a53;
    color: rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(17, 18, 19, 0.15);
    -webkit-transition: background 0.1s ease-out, color 0.1s ease-out;
    transition: background 0.1s ease-out, color 0.1s ease-out;
  }
  
  .ui.styled.accordion > .title:first-child,
  .ui.styled.accordion .accordion .title:first-child {
    border-top: none;
  }
  
  .ui.styled.accordion .content,
  .ui.styled.accordion .accordion .content {
    margin: 0em;
    padding: 0.5rem 0.5rem;
    border-top: 0px;
  }
  
  .ui.styled.accordion .accordion .content {
    padding: 0em;
    padding: 1.14285714rem 1.71428571rem;
  }
  
  .ui.styled.accordion .title:hover,
  .ui.styled.accordion .active.title,
  .ui.styled.accordion .accordion .title:hover,
  .ui.styled.accordion .accordion .active.title {
    background: #404a53;
    color: #272a2a;
  }
  
  .ui.styled.accordion .accordion .title:hover,
  .ui.styled.accordion .accordion .active.title {
    background: transparent;
    color: #272a2a;
  }
  
  .ui.styled.accordion .active.title {
    background: #404a53;
    color: rgba(0, 0, 0, 0.95);
    border-bottom: 0px !important;
  }
  
  .ui.styled.accordion .accordion .active.title {
    background: transparent;
    color: rgba(0, 0, 0, 0.95);
  }
  
  .ui.accordion .active.content,
  .ui.accordion .accordion .active.content {
    display: block;
  }
  
  .ui.fluid.accordion,
  .ui.fluid.accordion .accordion {
    width: 100%;
  }
  
  .ui.accordion .title .dropdown.icon,
  .ui.accordion .accordion .title .dropdown.icon {
    font-family: Accordion;
    line-height: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: normal;
    font-style: normal;
    text-align: center;
  }
  
  .ui.accordion .title .dropdown.icon:before,
  .ui.accordion .accordion .title .dropdown.icon:before {
    content: "\f0da";
  }
  
  .ui.accordion .title .chevron.icon,
  .ui.accordion .accordion .title .chevron.icon {
    display: inline-block;
    float: none;
    opacity: 1;
    width: 1.25em;
    height: 1em;
    margin: 0em 0.25rem 0em 0rem;
    padding: 0em;
    font-size: 1em;
    -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out,
      -webkit-transform 0.2s ease-out;
    vertical-align: baseline;
    -webkit-transform: none;
    transform: none;
  }
  
  .ui.accordion.menu .item .title > .chevron.icon {
    float: right;
    margin: 0.19em 0em 0em 1em;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .ui.accordion .ui.header .chevron.icon {
    font-size: 1em;
    margin: 0em 0.25rem 0em 0rem;
  }
  
  .ui.accordion .active.title .chevron.icon,
  .ui.accordion .accordion .active.title .chevron.icon {
    -webkit-transform: rotate(90deg) translateX(2px);
    transform: rotate(90deg) translateX(2px);
  }
  
  .ui.accordion.menu .item .active.title > .chevron.icon {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .ui.headlined.accordion .active.title {
    font-size: 1.28571429rem;
    font-weight: 700;
  }
  
  .ui.headlined.accordion .active.title .icon {
    display: none;
  }
  
  .ui.accordion.styled.hollow {
    background: transparent;
  }
  
  .ui.accordion.styled.hollow .title {
    color: #272a2a;
  }