.side-drawer {
    width: 400px;
    background-color: #3A4045;
    position: absolute;
    z-index: 1;
    overflow-y: scroll;
    text-align: left;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .side-drawer.left {
    left: -400px;
    width: 0;
  }
  
  .side-drawer.right {
    right: -400px;
    width: 0;
  }
  
  .side-drawer.left.open {
    width: 400px;
    left: 0;
    z-index: 1;
  }

  .side-drawer.right.open {
    width: 400px;
    right: 0;
    z-index: 1;
  }
  