<script id="apiView.ejs" type="text/template">
<div class="headerBar">
  <a class="arangoHeader">Core - API - Documentation</a>
</div>
<div class="form-actions api-actions">
  <div id="swagger-ui-container" class="swagger-ui-wrap api-container">

  </div>
</div>
</script>
