<ul class="thumbnails2">
  <div id="transparentHeader">
    <div class="pull-left">
      <a class="arangoHeader">Core - API - Documentation</a>
    </div>
  </div>
</ul>
<div class="form-actions api-actions">
  <div id="swagger-ui-container" class="swagger-ui-wrap api-container">

  </div>
</div>
