<ul class="thumbnails2">
  <div class="headerBar">
    <a class="arangoHeader">Core - API - Documentation</a>
  </div>
</ul>
<div class="form-actions api-actions">
  <div id="swagger-ui-container" class="swagger-ui-wrap api-container">

  </div>
</div>
