<ul class="thumbnails2">
  <div id="transparentHeader">
    <a class="arangoHeader">API - Documentation</a>
  </div>
</ul>
<div class="form-actions api-actions">
  <div id="swagger-ui-container" class="swagger-ui-wrap">

  </div>
</div>
