<script id="appDocumentationView.ejs" type="text/template">
<ul class="thumbnails2">
  <div class="headerBar">
    <a class="arangoHeader">API - Documentation</a>
  </div>
</ul>
<div class="form-actions api-actions">
  <div id="swagger-ui-container" class="swagger-ui-wrap">

  </div>
</div>
</script>
