<script id="appDocumentationView.ejs" type="text/template">
<div class="headerBar">
  <a class="arangoHeader">API - Documentation</a>
</div>
<div class="form-actions api-actions">
  <div id="swagger-ui-container" class="swagger-ui-wrap">

  </div>
</div>
</script>
