<script id="applicationsView.ejs" type="text/template">
<ul class="thumbnails2">
  <div class="headerBar">
    <a class="arangoHeader">Applications</a>

    <div class="headerButtonBar pull-right">
      <ul class="headerButtonList">
        <li>
          <a id="importFoxxToggle" class="headerButton">
            <span class="icon_arangodb_import" title="Upload foxx from ZIP file"></span>
          </a>
        </li>
        <li>
          <a id="foxxToggle" class="headerButton">
            <span class="icon_arangodb_settings2" title="Settings"></span>
          </a>
        </li>
      </ul>
    </div>

  </div>

  </div>
  <div id="foxxDropdownOut" class="headerDropdown">
    <div id="foxxDropdown" class="dropdownInner">

      <ul>
        <li class="nav-header">Type</li>
        <li><a href="#">
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="checkActive">
            <label class="css-label"></label>Active
          </label>
        </a></li>

        <li><a href="#">
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="checkDevel">
            <label class="css-label"></label>Development
          </label>
        </a></li>

        <!--li><a href="#">
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="checkInactive">
            <label class="css-label"></label>Inactive
          </label>
        </a></li-->
      </ul>

    </div>
  </div>

  <div id="foxxDropdownImport" class="headerDropdown">
    <div id="foxxDropdownImportInner" class="dropdownImport">
      <input id="importFoxx" name="importFoxx" type="file" accept="application/zip" />
      <button id="confirmFoxxImport" class="button-success btn-old-padding" style="float:right">
        <img id="uploadIndicator" style="display: none;" src="img/ajax-loader.gif"/>Import Foxx
      </button>
    </div>
  </div>
</ul>


<div class="contentDiv">
  <div id="installed">
    <div class="headerBar">
      <!-- <i id="toggleInstalled" class="pull-right icon-minus icon-white toggle-icon"></i> -->
      <a class="arangoHeader">Active</a>
    </div>
    <ul id="installedList" class="tileList"></ul>
  </div>
  <div id="available">
    <div class="headerBar">
      <!-- <i id="toggleAvailable" class="pull-right icon-minus icon-white toggle-icon"></i> -->
      <a class="arangoHeader">Available</a>
    </div>
    <ul id="availableList" class="tileList"></ul>
  </div>
</div>
</script>
