<ul class="thumbnails2">
  <div id="dashboardHeader">
    <div class="pull-left">
      <a class="arangoHeader">Applications</a>
    </div>

    <div class="pull-right pagination pagination-small pagination-right btn-group">
      <ul>
        <li>
          <a id="foxxToggle" class="arangoHeaderA">
            <span class="glyphicon glyphicon-cog" title="Settings"></span>
          </a>
        </li>
      </ul>
    </div>

    </div>

  </div>
    <div id="foxxDropdownOut">
      <div id="foxxDropdown">

        <ul>
          <li class="nav-header">Type</li>
          <li><a href="#">
            <label class="checkbox checkboxLabel">
              <input class="css-checkbox" type="checkbox" id="checkActive">
              <label class="css-label"></label>Active
            </label>
          </a></li>

          <li><a href="#">
            <label class="checkbox checkboxLabel">
              <input class="css-checkbox" type="checkbox" id="checkDevel">
              <label class="css-label"></label>Development
            </label>
          </a></li>

          <!--li><a href="#">
            <label class="checkbox checkboxLabel">
              <input class="css-checkbox" type="checkbox" id="checkInactive">
              <label class="css-label"></label>Inactive
            </label>
          </a></li-->
        </ul>

      </div>
    </div>

</ul>


<ul class="thumbnails foxxList">
  <li id="installed" class="span12 applicationList">
    <div class="boxHeader applicationListHeader">
      <i id="toggleInstalled" class="pull-right icon-minus icon-white toggle-icon"></i>
      <h5>Active or Installed</h5>
    </div>
    <div id="installedList"></div>
  </li>
  <li id="available" class="span12 applicationList">
    <div class="boxHeader applicationListHeader">
      <i id="toggleAvailable" class="pull-right icon-minus icon-white toggle-icon"></i>
      <h5>Available</h5>
    </div>
    <div id="availableList"></div>
  </li>
</ul>
