<script id="applicationsView.ejs" type="text/template">
  <div class="headerBar">
    <a class="arangoHeader">Applications</a>
  </div>

  <div class="contentDiv">
    <div id="installed">
      <div id="installedList" class="tileList"></div>
    </div>
  </div>
</script>
