<h3 class="clusterColumnHeader">Databases</h3>
<button id="_system" class="database">_system</button>
<button id="myDatabase" class="database">myDatabase</button>
<button id="otherDatabase" class="database">otherDatabase</button>
