<ul class="thumbnails2" id="dashboardHeader">
  <div>
    <a class="arangoHeader">Cluster Overview</a>
  </div>
</ul>

<div id="clusterDashboardDiv" class="thumbnails">
  <!-- display the cluster overview -->
  <div id="clusterOverview" class="clusterColumn">
  </div>

  <!-- display the server overview -->
  <div id="clusterServers" class="clusterColumn">
  </div>

  <!-- display the database overview -->
  <div id="clusterDatabases" class="clusterColumn">
  </div>

  <!-- display the collections overview -->
  <div id="clusterCollections" class="clusterColumn">
  </div>

  <!-- display the shards overview -->
  <div id="clusterShards" class="clusterColumn">
  </div>

</div>
