<h3 class="clusterColumnHeader">Primary Server</h3>
<div class="pull-right">
  <ul>
    <li>
      <button id="Pavel" class="server">Pavel</button>
    </li>
    <li>
      <button id="Paul" class="server">Paul</button>
    </li>
    <li>
      <button id="Peter" class="server">Peter</button>
    </li>
  </ul>
</div>
