<% var statusClass = function(s) {
    switch (s) {
      case "ok":
        return "success";
      case "warning": 
        return "warning";
      case "critical":
        return "danger";
    }
  };
%>
<h3 class="clusterColumnHeader">Coordinators</h3>
<% _.each(coordinators, function(v) { %>
  <div id="<%=v.name %>" class="domino coordinator">
    <div class="domino-inner btn-<%=statusClass(v.status)%>">
      <h4 class="domino-header"><%=v.name%></h4>
      <span><%=v.url%></span>
    </div>
  </div>
<% }); %>
