<h3 class="clusterColumnHeader">Collections</h3>
<button id="Documents" class="collection">Documents</button>
<button id="Edges" class="collection">Edges</button>
<button id="People" class="collection">People</button>
