<% var statusClass = function(s) {
    switch (s) {
      case "ok":
        return "success";
      case "warning": 
        return "warning";
      case "critical":
        return "danger";
    }
  };
%>
<h3 class="clusterColumnHeader">Databases</h3>
<ul>
  <% _.each(databases, function(v) { %>
    <li>
    <button id="<%=v.name %>" class="btn btn-server btn-<%=statusClass(v.status)%> database"><%=v.name %></button>
    </li>
  <% }); %>
</ul>
