<% var statusClass = function(s) {
    switch (s) {
      case "ok":
        return "success";
      case "warning": 
        return "warning";
      case "critical":
        return "danger";
    }
  };
%>
<h3 class="clusterColumnHeader">Collections</h3>
<ul>
  <% _.each(collections, function(v) { %>
    <li>
      <button id="<%=v.name%>" class="btn btn-server btn-<%=statusClass(v.status) %> collection"><%=v.name %></button>
    </li>
  <% }); %>
</ul>
