<h3 class="clusterColumnHeader">Overview</h3>
<div class="pull-right">
  <ul>
    <li>
      <button id="primary" class="btn btn-overview btn-warning">Primaries 2/3</button>
    </li>
    <li>
      <button id="secondary" class="btn btn-overview btn-danger">Secondaries 1/3</button>
    </li>
    <li>
      <button id="coordinator" class="btn btn-overview btn-success">Coordinators 3/3</button>
    </li>
  </ul>
</div>
