<div class="iconSet">
  <span id="editCollection" class="icon_arangodb_settings2" alt="Edit collection properties" title="Edit collection properties"></span>
  <% if(attributes.status === "loaded") { %>
    <span class="spanInfo icon_arangodb_info" title="Show collection properties"></span>
  <%} else {%>
    <span class="icon_arangodb_info disabled" alt="disabled"></span>
  <%}%>
</div>

<div class="plain">                                                                                                                                    
  <img src="<%= attributes.picture %>" height="50" width="50" alt="" class="icon">
  <span class="badge badge-success <%= attributes.status %>"><div class="cornered"><%= attributes.status %></div></span>
  <h5 class="collectionName"><%= attributes.name %></h5>
</div>
