<ul class="thumbnails2">
  <div id="transparentHeader">

    <div class="pagination pagination-small pagination-right btn-group">
      <ul><li class="enabled"><a id="collectionsToggle" class="arangoHeaderA"><span class="glyphicon glyphicon-cog" title="Settings"></span></a></li></ul>
    </div>

    <div id="transparentPlaceholder">
      <input type="text" id="searchInput" class="searchInput" placeholder="Search..."><img id="searchSubmit" width="16" height="16" src="img/enter_icon.png">
    </div>
  </div>


    <div id="collectionsDropdown2">

      <div id="collectionsDropdown">

        <ul>
        <li class="nav-header">Type</li>
        <li><a href="#">
            <label class="checkbox checkboxLabel">
              <input class="css-checkbox" type="checkbox" id="checkSystem">
            <label class="css-label"></label>System
          </label>
        </a></li>

        <li><a href="#">
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="checkDocument">
            <label class="css-label"></label>Document
          </label>
        </a></li>

        <li><a href="#">
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="checkEdge">
            <label class="css-label"></label>Edge
          </label>
        </a></li>
      </ul>

        <ul>
        <li class="nav-header">Status</li>

        <li><a href="#">
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="checkLoaded">
            <label class="css-label"></label>Loaded
          </label>
        </a></li>

        <li><a href="#">
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="checkUnloaded">
            <label class="css-label"></label>Unloaded
          </label>
        </a></li>

      </ul>
        <ul>
        <li class="nav-header">Sorting</li>

        <li><a href="#">
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="sortName">
            <label class="css-label css-label-round"></label>Sort by name
          </label>
        </a></li>

        <li><a href="#">
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="sortType">
            <label class="css-label css-label-round"></label>Sort by type
          </label>
        </a></li>

        <li><a href="#">
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="sortOrder">
            <label class="css-label"></label>Sort descending
          </label>
        </a></li>
      </ul>
    </div>

    </div>




</ul>
<div class="thumbnails" id="arangoCollectionsContainer">
    <div class="containerdivNewLine"/>
    <div id="collectionsThumbnailsIn"/>
</div>

