<div id="change-collection" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <a class="arangoHeader">Modify Collection</a>
  </div>
  <div class="modal-body">

    <ul id="collectionTab" class="nav nav-tabs" style="display:none">
      <li class="active"><a href="#main" data-toggle="tab" style="display:none">Main</a></li>
    </ul>

    <div class="tab-content" id="tab-content-collection-edit">
      <div class="tab-pane active" id="main">
        <table id="collectionEditTable">
          <tr>
            <th class="collectionTh">Name:</th>
            <th class="collectionTh"><input type="text" id="change-collection-name" name="name" value=""/></th>
            <th/>
          </tr>
          <tr id="collectionSizeBox" style="display:none">
            <th class="collectionTh">Journal size:</th>
            <th class="collectionTh"><input type="text" id="change-collection-size" name="size" value=""/></th>
            <th><a class="modalTooltips" title="The maximal size of a journal or datafile (in MB). Must be at least 1."><span class="glyphicon glyphicon-info-sign" style="color:black"></span></a></th>
          </tr>
          <tr id="collectionSyncBox" style="display:none">
            <th class="collectionTh">Wait for sync:</th>
            <th class="collectionTh">
              <select id="change-collection-sync">
                <option value="false">No</option>
                <option value="true">Yes</option>
              </select> 
            </th> 
            <th><a class="modalTooltips" title="Synchronise to disk before returning from a create or update of a document."><span class="glyphicon glyphicon-info-sign" style="color:black"></span></a></th>
          </tr> 

          <tr>
            <th class="collectionTh">ID:</th>
            <th class="collectionTh">
              <div id="change-collection-id" class="modal-text"/>
            <th>
          </tr>

          <tr>
            <th class="collectionTh">Type:</th> 
            <th class="collectionTh">
              <div id="change-collection-type" class="modal-text"/>
            </th>
            <th/>
          </tr>

          <tr>
            <th class="collectionTh">Status:</th>
            <th class="collectionTh">
              <div id="change-collection-status" class="modal-text"/>
            </th>
          </tr>
        </table>
      </div>

      <div class="tab-pane" id="editIndex">
      </div>
    </div>

  </div>
  <div id="colFooter" class="modal-footer">
    <button id="delete-modified-collection" class="btn btn-danger">Delete</button>
    <button id="save-modified-collection" class="btn btn-success" style="margin-right:8px">Save</button>
    <button class="btn btn-close btn-margin" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
  <div class="alert alert-error" style="display:none" id="reallyDeleteColDiv">
    <strong>Really delete Collection?</strong>
    <button id="confirmDeleteCollection" class="btn btn-danger pull-right" style="margin-top: -4px; margin-right: -18px !important;">Yes</button>
    <button id="abortDeleteCollection" class="btn pull-right" style="margin-top: -4px; margin-right:10px;">No</button>
  </div>
</div>

