<script id="dashboardView.ejs" type="text/template">

<ul class="thumbnails2">
  <div id="dashboardHeader" class="headerBar">
    <a class="arangoHeader"><%=header%></a>
  </div>
</ul>

<div class="contentDiv">
	<!--
  <div id="dashboardHeader" class="headerBar">
      <a class="arangoHeader">Distribution Charts</a>
   </div>
	<div id="distributionChartDiv"></div>
	-->
  <div id="dashboardHeader" class="headerBar">
      <a class="arangoHeader">Request Statistics</a>
  </div>
	<div class="lineChartDiv" id="requestStatistics"></div>
	<div id="dashboardHeader" class="headerBar">
      <a class="arangoHeader">System Resources</a>
  </div>
  <div class="lineChartDiv" id="systemResources"></div>
</div>

</script>
