<script id="dashboardView.ejs" type="text/template">

<ul class="thumbnails2">
  <div id="dashboardHeader" class="headerBar">
    <a class="arangoHeader">Dashboard</a>
  </div>
</ul>

<div class="contentDiv">
</div>

</script>
