<ul class="thumbnails2" id="databaseHeader">
  <div id="transparentHeader">
    <a class="arangoHeader">Databases</a>
  </div>
</ul>

<div id="databaseDiv">
  <div class="databaseLeft">
    <select id="selectDatabases" name="databases" size="10"/>
  </div>

  <div class="databaseRight">
  </div>

  <div class="databaseButtons">
    <button id="removeDatabase" class="btn btn-danger">Delete</button>
    <button id="createDatabase" class="btn btn-success">Create</button>
    <button id="selectDatabase" class="btn">Select</button>
  </div>
</div>
