<%
if (list.length > 1) {
%>
<select id="dbSelectionList">
  <%
    list.each(function(o) {
    var i = o.get("name");
  %>
    <option id=<%=i%> <%=i===current?"selected":""%>><%=i%></option>
  <%
    });
  %>
</select>
<%
}
%>
