<a href="#" class="tab" id="dbselection">DB: <%=current%> <b class="caret"></b></a>
<ul class="link-dropdown-menu" id="dbs_dropdown">
<%
if (list.length > 1) {
%>
    <li class="dropdown-header">DBs</li>
  <%
    list.each(function(o) {
    var i = o.get("name");
      if (i === current) {
          return;
      }
  %>
    <li class="dropdown-item">
        <a id=<%=i%> class="dbSelectionLink" href="#"><%=i%></a>
    </li>
  <%
    });
  %>
<%
}
%>
    <% if (current === "_system") { %>
    <li class="dropdown-header">Manager</li>
    <li id="databaseNavi" class="databases-menu"><a id="databases" class="" href="#databases">Manage DBs</a></li>
    <% } %>
</ul>
