<script id="deleteGraphView.ejs" type="text/template">
<div id="delete-graph" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <a class="arangoHeader">Delete Graph</a>
  </div>
  <div class="modal-body">
    <span class="deleteConfirm">
      Do you really want to to delete graph <%=name%>?
    </span>
  </div>
  <div class="modal-footer">
    <button id="cancel" class="btn btn-warning">Cancel</button>
    <button id="confirmDelete" class="btn btn-danger pull-right">Delete</button>
  </div>
</div>
</script>
