<script id="documentView.ejs" type="text/template">
  <div id="transparentHeader" class="headerBar">

  </div>


	<div id="tableDiv">
    <div id="documentEditor"></div>
    <button id="saveDocumentButton" class="button-success pull-right">Save</button>
    <div class="pull-left shortcuts">
      <b>Insert:</b> Ctrl + Ins<b>Append:</b> Ctrl + Shift + Ins<b>Duplicate:</b> Ctrl + D<b>Remove:</b> Ctrl + Del
    </div>
    <div id="showSaveState">Saved...</div>
	</div>

</script>
