<script id="documentsView.ejs" type="text/template">
<div id="transparentHeader" class="headerBar">
  <div id="documentsToolbar" class="headerButtonBar">


  <!-- remove marker for docupdiv-->
  <ul class="headerButtonList">
    <li class="enabled">
      <a id="collectionNext" class="headerButton">
        <span class="icon_arangodb_arrowright" title="Next collection"></span>
      </a>
    </li>
    <li class="enabled">
      <a id="collectionPrev" class="headerButton collection-pagination">
        <span class="icon_arangodb_arrowleft" title="Previous collection"></span>
      </a>
    </li>
    <li class="enabled">
      <a id="markDocuments" class="headerButton">
        <span class="icon_arangodb_edit" title="Edit documents"></span>
      </a>
    </li>
    <li class="enabled">
      <a id="importCollection" class="headerButton">
        <span title="Upload documents from JSON file"><i class="fa fa-upload"></i></span>
      </a>
    </li>
    <li class="enabled">
      <a id="exportCollection" class="headerButton">
        <span title="Download documents as JSON file"><i class="fa fa-download"></i></span>
      </a>
    </li>
    <li class="enabled">
      <a id="indexCollection" class="headerButton">
        <span class="icon_arangodb_checklist" title="Index collection"></span>
      </a>
    </li>
    <li class="enabled" style="margin-right: 15px">
      <a id="filterCollection" class="headerButton">
        <span class="icon_arangodb_filter" title="Filter collection"></span>
      </a>
    </li>
  </ul>

  </div>
</div>

<div class="arangoDropdown">
  <div id="filterHeader" class="headerDropdown">
    <div class="queryline">
       <input id="attribute_name0" type="text" placeholder="Attribute name"><select name="operator" id="operator0" class="filterSelect">
           <option value="==">==</option>
           <option value="!=">!=</option>
           <option value="&lt;">&lt;</option>
           <option value="&lt;=">&lt;=</option>
           <option value="&gt;">&gt;</option>
           <option value="&gt;=">&gt;=</option>
       </select><input id="attribute_value0" type="text" placeholder="Attribute value" class="filterValue">
       <a id="addFilterItem" class="add-filter-item"><i class="icon-plus arangoicon"></i></a>
       <button id="resetView" class="button-warning btn-old-padding">Reset</button>
       <button id="filterSend" class="button-success btn-old-padding">Filter</button>
       <input type="text" id="docsSort" placeholder="_key" style="float: right"></input>
       <div class="textDiv" style="float: right">Sort by:</div>
    </div>
  </div>

  <div id="importHeader" class="dropdownImport">
    <div class="queryline">
      <input id="importDocuments" name="importDocuments" type="file" accept="application/json" />
      <button id="confirmDocImport" class="button-success btn-old-padding" style="float:right" disabled>
        <img id="uploadIndicator" class="upload-indicator" src="img/ajax-loader.gif"/>Import JSON
      </button>
      <div title='Example input data:</br></br> I. Line-wise: </br> { "_key": "key1", ... } { "_key": "key2", ... } or </br></br> II. JSON documents embedded into a list: </br> [ </br> { "_key": "key1", ... }, </br> { "_key": "key2", ... }, </br> ... </br> ]' class="upload-info" style="float:left; margin-top:7px; margin-right: 10px;"><i style="font-size: 13pt;" class="fa fa-info-circle"></i></div>
    </div>
  </div>

  <div id="exportHeader" class="headerDropdown">
    <div class="queryline">
      <div style="float:left; margin-top:7px"><i class="fa fa-exclamation-circle"></i>Please be careful. If no filter is set, the whole collection will be downloaded.</div>
      <button id="exportDocuments" class="button-success btn-old-padding" style="float:right">Download JSON</button>
    </div>
  </div>

  <div id="editHeader" class="dropdownImport">
    <div class="queryline">
      <div style="float:left; margin-top:5px"><div style="float:left" class="selectedCount">0</div> &nbsp; document(s) selected</div>
      <button id="deleteSelected" class="button-neutral btn-old-padding" style="float:right">Delete</button>
      <button id="moveSelected" class="button-neutral btn-old-padding" style="float:right">Move</button>
    </div>
  </div>

  <div id="indexHeader" class="headerDropdown">
    <div class="contentIn" id="indexHeaderContent">
        <div id="indexEditView">
          <span class="arangoHeader">Indexes:</span>
          <table id="collectionEditIndexTable" class="edit-index-table">
            <tr class="figuresHeader">
              <th class="collectionInfoTh">ID</th>
              <th class="collectionInfoTh">Type</th>
              <th class="collectionInfoTh">Unique</th>
              <th class="collectionInfoTh">Fields</th>
              <th class="collectionInfoTh">Action</th>
            </tr>
          </table>
          <div class="index-button-bar">
            <button id="addIndex" class="button-success">Add Index</button>
          </div>
      </div>

        <div id="newIndexView" class="new-index-view" style="display:none">
          <span id="newIndexHeader" class="arangoHeader">Add Index:</span>
          <table>
            <tr>
              <th class="collectionTh">Type:</th>
              <th class="">
                <select id="newIndexType">
                  <option value="Cap">Cap Constraint</option>
                  <option value="Geo">Geo Index</option>
                  <option value="Hash">Hash Index</option>
                  <option value="Fulltext">Fulltext Index</option>
                  <option value="Skiplist">Skip-List Index</option>
                </select>
              </th>
              <th class="" style="width: 18px"/>
            </tr>
          </table>

          <div id="newIndexTypeCap" class="newIndexClass">
            <table>
              <tr>
                <th class="collectionTh">Size:</th>
                <th><input type="text" id="newCapSize" value=""/></th>
                <th class="tooltipInfoTh">
                  <div>
                    <a class="index-tooltip" data-toggle="tooltip" data-placement="left" title="The maximal number of documents for the collection.">
                      <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
                    </a>
                  </div>
                </th>
              </tr>
              <tr>
                <th class="collectionTh">Bytesize:</th>
                <th><input type="text" id="newCapByteSize" value=""/></th>
                <th class="tooltipInfoTh">
                  <div>
                    <a class="index-tooltip" data-toggle="tooltip" data-placement="left" title="The maximal size of the active document data in the collection. (min = 16384)">
                      <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
                    </a>
                  </div>
                </th>
              </tr>
            </table>
          </div>
          <div id="newIndexTypeGeo" class="newIndexClass" style="display: none">
            <table>
              <tr>
                <th class="collectionTh">Fields:</th>
                <th><input type="text" id="newGeoFields" value=""/></th>
                <th class="tooltipInfoTh">
                  <div>
                    <a class="index-tooltip" data-toggle="tooltip" data-placement="left" title="A list with one or two attribute paths.">
                      <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
                    </a>
                  </div>
                </th>
              </tr>
              <tr>
                <th class="collectionTh">Geo JSON:</th>
                <th>
                  <input id="newGeoJson" type="checkbox" name="newGeoJson" value="true">
                </th>
                <th class="tooltipInfoTh">
                  <div>
                    <a class="index-tooltip" data-toggle="tooltip" data-placement="left" title="If a geo-spatial index on a location is constructed and geoJson is true, then the order within the list is longitude followed by latitude.">
                      <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
                    </a>
                  </div>
                </th>
              </tr>
              <tr>
                <th class="collectionTh">Constraint:</th>
                <th>
                  <input id="newGeoConstraint" type="checkbox" name="newGeoConstraint" value="true">
                </th>
                <th class="tooltipInfoTh">
                  <div>
                    <a class="index-tooltip" data-toggle="tooltip" data-placement="left" title="If constraint is true, then a geo-spatial constraint is created.">
                      <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
                    </a>
                  </div>
                </th>
              </tr>
              <tr>
                <th class="collectionTh">Ignore Null:</th>
                <th>
                  <input id="newGeoIgnoreNull" type="checkbox" name="newGeoIgnoreNull" value="true">
                </th>
                <th class="tooltipInfoTh">
                  <div>
                    <a class="index-tooltip" data-toggle="tooltip" data-placement="left" title="If a geo-spatial constraint is created and ignoreNull is true, then documents with a null in location or at least one null in latitude or longitude are ignored.">
                      <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
                    </a>
                  </div>
                </th>
              </tr>
            </table>
          </div>

          <div id="newIndexTypeHash" class="newIndexClass" style="display:none">
            <table>
              <tr>
                <th class="collectionTh">Fields:</th>
                <th><input type="text" id="newHashFields" value=""/></th>
                <th class="tooltipInfoTh">
                  <div>
                    <a class="index-tooltip" data-toggle="tooltip" data-placement="left" title="A list of attribute paths.">
                      <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
                    </a>
                  </div>
                </th>
              </tr>
              <tr>
                <th class="collectionTh">Unique:</th>
                <th>
                  <input id="newHashUnique" type="checkbox" name="newHashUnique" value="true">
                </th>
                <th class="tooltipInfoTh">
                  <div>
                    <a class="index-tooltip" data-toggle="tooltip" data-placement="left" title="If true, then create a unique index.">
                      <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
                    </a>
                  </div>
                </th>
              </tr>
            </table>
          </div>
          <div id="newIndexTypeFulltext" class="newIndexClass" style="display:none">
            <table>
              <tr>
                <th class="collectionTh">Fields:</th>
                <th><input type="text" id="newFulltextFields" value=""/></th>
                <th class="tooltipInfoTh">
                  <div>
                    <a class="index-tooltip" data-toggle="tooltip" data-placement="left" title='A list of attribute names. Currently, the list is limited to exactly one attribute, so the value of fields should look like this for example: [ "text" ].'>
                      <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
                    </a>
                  </div>
                </th>
              </tr>
              <tr>
                <th class="collectionTh">Min. length:</th>
                <th><input type="text" id="newFulltextMinLength" value=""/></th>
                <th class="tooltipInfoTh">
                  <div>
                    <a class="index-tooltip" data-toggle="tooltip" data-placement="left" title="Minimum character length of words to index. Will default to a server-defined value if unspecified. It is thus recommended to set this value explicitly when creating the index.">
                      <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
                    </a>
                  </div>
                </th>
              </tr>
            </table>

          </div>

          <div id="newIndexTypeSkiplist" class="newIndexClass" style="display:none">
            <table>
              <tr>
                <th class="collectionTh">Fields:</th>
                <th><input type="text" id="newSkiplistFields" value=""/></th>
                <th class="tooltipInfoTh">
                  <div>
                    <a class="index-tooltip" data-toggle="tooltip" data-placement="left" title="A list of attribute paths.">
                      <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
                    </a>
                  </div>
                </th>
              </tr>
              <tr>
                <th class="collectionTh">Unique:</th>
                <th>
                  <input id="newSkiplistUnique" type="checkbox" name="newSkiplistUnique" value="true">
                </th>
                <th class="tooltipInfoTh">
                  <div>
                    <a class="index-tooltip" data-toggle="tooltip" data-placement="left" title="If true, then create a unique index.">
                      <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
                    </a>
                  </div>
                </th>
              </tr>
            </table>
          </div>

          <div class="index-button-bar">
            <button id="createIndex" class="button-success">Save</button>
            <button id="cancelIndex" class="button-danger">Cancel</button>
          </div>
      </div>
    </div>
  </div>

</div>

<div id="documentsDiv" class="innerContent">

<div id="uploadMessages"></div>
<div id="documentsTableID_wrapper" class="dataTables_wrapper" role="grid">
  <table cellpadding="0" cellspacing="0" border="0" class="display arangoDataTable dataTable" id="documentsTableID">
  </table>
</div>
    <div id="documentsToolbarFL">
      <div id="documentsToolbarF" class="pagination-line">
      </div>
        <select id="documentSize" class="documents-size">
          <option value="10" selected="">10 results</option>
          <option value="20">20 results</option>
          <option value="50">50 results</option>
          <option value="100">100 results</option>
          <option value="500">500 results</option>
          <option value="1000">1000 results</option>
          <option value="2500">2500 results</option>
          <option value="5000">5000 results</option>
          <option value="all">All results</option>
        </select>
    </div>

<!-- Delete Modal -->
<div id="docDeleteModal" style="display:none" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <a class="arangoHeader">Delete Document?</a>
  </div>
  <div class="modal-body" id="deleteDoc">
    <p>There is no way back…</p>
  </div>
  <div class="modal-footer">
    <button class="button-close" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="confirmDeleteBtn" class="button-danger" style="float:right" disabled="true">Delete</button>
  </div>
</div>

<!-- Delete Index Modal -->
<div id="indexDeleteModal" style="display:none" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <a class="arangoHeader">Delete Index?</a>
  </div>
  <div class="modal-body" id="deleteIndex">
    <p>There is no way back…</p>
  </div>
  <div class="modal-footer">
    <button class="button-close" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="confirmDeleteIndexBtn" class="button-danger" style="float:right">Delete</button>
  </div>
</div>

</script>
