<script id="documentView.ejs" type="text/template">
<div class="thumbnails2" id="documentviewMain">
  <div id="transparentHeader" class="headerBar">

  </div>


	<div id="tableDiv">
    <div id="documentEditor"></div>
    <button id="saveDocumentButton" class="btn btn-success pull-right">Save</button>
	</div>

</div>
</script>
