<script id="footerView.ejs" type="text/template">
<%
  var n,v,db;
  if (name) {
    n = name || "";
    v = version || "";
  }
%>
<div class="footer-left">
  <p>Copyright (c) triAGENS GmbH</p>
</div>

<div class="footer-center">
  <p>Show Help <i class="fa fa-keyboard-o"></i></p>
</div>

<div class="footer-right">
  <p><% if(n) { %><i class="isOnline fa fa-check-circle-o serverStatusIndicator"></i><a><%=n%> <%=v%> <% } %></a></i></p>
</div>
</script>
