<script id="footerView.ejs" type="text/template">
<%
  var n,v,db;
  if (name) {
    n = name || "";
    v = version || "";
  }
%>
<div class="footer-left">
  <p>Copyright (c) triAGENS GmbH</p>
</div>

<div class="footer-right">
  <p><% if(n) { %>Server: <%=n%> <%=v%> <% } %></p>
</div>
</script>
