
<div class="footer-left">
  <!--p>&nbsp;<a id="currentUser" style="color:#FFFFFF"></a></p-->
  <p>Copyright (c) triAGENS GmbH</p>
</div>

<div class="footer-right"><p> </p></div>
<div class="footer-invisible" id="databaseName"></div>
