<script id="loadingTableView.ejs" type="text/template">
<thead>
  <tr role="row">
    <th class="sorting_disabled docsFirstCol" role="columnheader" rowspan="1" colspan="1">Content</th>
    <th class="sorting_disabled docsSecCol" role="columnheader" rowspan="1" colspan="1">_key</th>
    <th class="sorting_disabled docsThirdCol" role="columnheader" rowspan="1" colspan="1">
      <a id="addDocumentButton" class="pull-right addButton"><span class="arangoicon icon_arangodb_roundplus" title="Add a document"></span></a>
    </th>
  </tr>
</thead>
<tbody>
  <tr class="odd">
    <td valign="top" colspan="3" class="dataTables_empty">Loading...</td>
  </tr>
</tbody>
</script>

