<script id="loginView.ejs" type="text/template">
<div id="loginWindow" class="login-window">
  <div id="loginSpace" class="login-space"/>
  <img id="loginLogo" src="img/logo_arangodb_transp.png"/>
  <div id="loginSpace" class="login-space"/>
  <form id="loginForm">
    <input class="login-input" placeholder="Username" id="loginUsername" type="text" name="username">
    <input class="login-input" placeholder="Password" id="loginPassword" type="password" name="password">
  </form>
  Testing: Enter custom data!
  <button id="submitLogin" class="button-success pull-right">Login</button>
</div>
</script>
