<script id="modalNewVersion.ejs" type="text/template">
  <p>
    A newer version of ArangoDB (<b><%= content.newVersion %></b>) has become available.
    You are using <b><%= content.oldVersion %></b>.
  </p>
</script>
