<script id="modalApplicationMount.ejs" type="text/template">
  <ul id="infoTab" class="nav nav-tabs">
    <li class="active"><a href="#appstore" data-toggle="tab">App Store</a></li>
    <li><a href="#github" data-toggle="tab">Github</a></li>
    <li><a href="#zip" data-toggle="tab">Zip</a></li>
  </ul>

  <div class="tab-content" id="tab-content-application-info">

    <div class="tab-pane active" id="appstore">
      <table id="appstore-content">
      </table>
    </div>

    <div class="tab-pane" id="github">
      <div>The repository has to be private. The version has to be a git tag LINKTOTAG.</div>
      <div>
        <table>
          <tr class="tableRow">
            <th class="collectionInfoTh">
              Repository*:
            </th>
            <th class="collectionInfoTh">
              <input type="text" id="repository" value="" placeholder="username/repository">
            </th>
          </tr>
          <tr class="tableRow">
            <th class="collectionInfoTh">
              Version*:
            </th>
            <th class="collectionInfoTh">
              <input type="text" id="tag" value="" placeholder="master">
            </th>
          </tr>
        </table>
        <button id="installGithub" class="button-success pull-right" style="margin-right:8px">Install</button>
      </div>
    </div>

    <div class="tab-pane" id="zip">
      <div>Todo how ZIP.</div>
      <div>
        <table>
          <tr class="tableRow">
            <th class="collectionInfoTh">
              File*:
            </th>
            <th class="collectionInfoTh">
              <input id="zip-file" name="zip-file" type="file"/>
            </th>
          </tr>
        </table>
        <button id="installZip" class="button-success pull-right" style="margin-right:8px">Install</button>
      </div>
    </div>
  </div>
</script>
