<script id="newLogsView.ejs" type="text/template">
  <div class="headerBar">
    <a class="arangoHeader">Logs</a>
  </div>

  <div id="logContent" class="log-content-id innerContent"></div>
  <div id="logPaginationDiv" class="pagination-line"></>
</script>
