<script id="notificationView.ejs" type="text/template">
<ul class="navlist" id="notificationViewUl">

  <div class="navlogo">
    <div id="stat_hd" class="notificationButton"><a id="stat_hd_counter">0</a></div>
  </div>

  <li class="dropdown">
    <ul class="user-dropdown-menu fixedDropdown" id="notification_menu">
      <li class="dropdown-header"><a>Notifications</a></li>
      <ul class="innerDropdownInnerUL"></ul>
      <button id="removeAllNotifications" class="button-danger">Clear</button>
    </ul>
  </li>

</ul>
</script>
