<script id="queryView.ejs" type="text/template">
  <div class="headerBar">
    <a class="arangoHeader">AQL Editor</a>
  </div>

  <div id="queryContent">
    <ul class="arango-tab">
      <li><a href="#result" data-toggle="pill" id="result-switch">Result</a></li>
      <li><a href="#query" data-toggle="pill" id="query-switch">Query</a></li>
    </ul>
    <div class="tab-content" id="tabContentQuery">
      <div class="tab-pane active" id="query">

        <div id="queryDropdown" class="headerDropdown query-dropdown">
          <div class="dropdownInner query-dropdown-in" id="queryDropdownIn">
            <a class="arangoHeader">Edit custom queries</a>

            <div id="queryDropdownLeft" class="query-dropdown-left">
              Name
              <select id="queryModalSelect" class="query-modal-select"/>
            </div>
            <div id="queryDropdownRight">
              Query
              <textarea id="edit-aql-textarea"/>
            </div>
            <div class="buttonContainer">
              <button id="delete-edit-query" class="button-danger">Delete</button>
              <button id="save-edit-query" class="button-success">Save</button>
            </div>
          </div>
          <div class="alert alert-error" style="display:none" id="reallyDeleteQueryDiv">
            <strong>Really delete query?</strong>
            <button id="confirmDeleteQuery" class="button-danger pull-right"
                    style="margin-top: -4px; margin-right: -18px !important;">Yes
            </button>
            <button id="abortDeleteQuery" class="button-neutral pull-right"
                    style="margin-top: -4px; margin-right:10px;">No
            </button>
          </div>
        </div>

        <div id="queryDiv" class="query-div">
          <div id="editorLabel" class="editor-label"><h6>Query</h6></div>
          <div id="editorToolbar" class="query-toolbar editor-toolbar">
            <span class="icon_arangodb icon_arangodb_trash queryTooltips tooltip-margin" title="Clear" id="clearInput"/>
            <span class="icon_arangodb icon_arangodb_adddoc queryTooltips" title="Save current query" id="addAQL"/>
            <span class="queryTooltips tooltip-margin" title="Comment" id="commentText"><i class="fa fa-comment"></i></span>
            <span class="icon_arangodb icon_arangodb_arrow6 queryTooltips tooltip-margin" title="Redo" id="redoText"/>
            <span class="icon_arangodb icon_arangodb_arrow5 queryTooltips tooltip-margin" title="Undo" id="undoText"/>
          </div>

          <div id="aqlEditor" class='aql-editor'></div>


          <div id="wideButtonDiv" class="wide-button-div">
            <div>

              <div id="shortcutDiv" class="shortcuts shortcut-div">
                <b>Submit:</b> Ctrl/Cmd + Return<b>Undo:</b> Ctrl/Cmd + Z<b>Redo:</b> Ctrl/Cmd + Shift + Z
                <b>Toggle Comments:</b> Ctrl/Cmd + Shift + C
                <br/><b class="clearShortcut">Warning:</b> Right now there is a bug in Safari, the cursor is misplaced. Please use a different
                browser for now. Fix in progress.
              </div>
            </div>
            <div>

              <button id="submitQueryButton" class="button-success query-button">Submit</button>
              <button id="clearQueryButton" class="button-close query-button">Clear</button>
              <div class="styled-select">
                <select id="querySelect" class="query-select"/>
              </div>
              <div class="styled-select querySizeDiv">
                <select id="querySize" class="query-size"/>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="tab-content" id="tabContentResult">

      <div class="tab-pane" id="result">
        <div id="editorLabel" class="editor-label"><h6>Result</h6></div>
        <div id="outputToolbar" class="query-toolbar output-toolbar">
          <span class="icon_arangodb icon_arangodb_trash queryTooltips tooltip-margin" title="Clear" id="clearOutput"></span>
          <span class="icon_arangodb icon_arangodb_arrow1 queryTooltips" title="Unfold" id="bigOutput"></span>
        </div>
        <div id="queryOutput" class="contentDiv query-output">
        </div>

      </div>

    </div>

  </div>

  <div id="new-aql-query" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <a class="arangoHeader">Save new query</a>
    </div>
    <div id="new-aql-body" class="modal-body">
      <table>
        <tr>
          <th class="queryTH">Name:</th>
          <th class="queryTH2"><input type="text" id="new-query-name" name="name" value=""/></th>
        </tr>
      </table>
    </div>
    <div id="colFooter" class="modal-footer">
      <button class="button-close" data-dismiss="modal" aria-hidden="true">Close</button>
      <button id="save-new-query" class="button-success pull-right">Save</button>
    </div>
  </div>

</script>

