<ul class="thumbnails2">
  <div id="transparentHeader">
    <div class="pagination pagination-small pagination-right toolbarUL">
      <ul><li class="enabled" style="visibility:hidden"><a id="aqlToggle" class="arangoHeaderA"><span class="glyphicon glyphicon-cog" title="Settings"></span></a></li></ul>
      <ul><li class="enabled"><a id="editAQL" class="arangoHeaderA"><span class="glyphicon glyphicon-th-list" title="Edit custom Queries"></span></a></li></ul>
    </div>
    <a class="arangoHeader">AQL Editor</a>
  </div>
</ul>

<div id="queryDropdown" class="dropdownOut" style="display:hidden">
  <div class="dropdownIn" id="queryDropdownIn">
    <a class="arangoHeader">Edit custom queries</a>
    <div id="queryDropdownLeft">
      Name
      <select id="queryModalSelect"/>
    </div>
    <div id="queryDropdownRight">
      Query
      <textarea id="edit-aql-textarea"/>
    </div>
    <div class="buttonContainer">
      <button id="delete-edit-query" class="btn btn-danger">Delete</button>
      <button id="save-edit-query" class="btn btn-success">Save</button>
    </div>
  </div>
  <div class="alert alert-error" style="display:none" id="reallyDeleteQueryDiv">
    <strong>Really delete query?</strong>
    <button id="confirmDeleteQuery" class="btn btn-danger pull-right" style="margin-top: -4px; margin-right: -18px !important;">Yes</button>
    <button id="abortDeleteQuery" class="btn pull-right" style="margin-top: -4px; margin-right:10px;">No</button>
  </div>
</div>

<div id="queryDiv" class="form-actions" style="display:none">
  <div id="editorLabel"><h6>Query</h6></div>
  <div id="editorToolbar">
    <span class="arangoicon arango-icon-remove queryTooltips" title="Clear" id="clearInput"/>
    <span class="arangoicon arango-icon-disk queryTooltips" title="Save current query" id="addAQL"/>
    <span class="arangoicon arango-icon-comment queryTooltips" title="Comment" id="commentText"/>
    <span class="arangoicon arango-icon-redo queryTooltips" title="Redo" id="redoText"/>
    <span class="arangoicon arango-icon-undo queryTooltips" title="Undo" id="undoText"/>
  </div>
  <div id="aqlEditor"></div>
  <div id="wideButtonDiv">
    <button id="submitQueryButton" class="btn btn-success">Submit</button>
    <button id="clearQueryButton" class="btn">Clear</button>
    <div class="styled-select">
      <select id="querySelect"/>
    </div>
    <div class="styled-select querySizeDiv">
      <select id="querySize"/>
    </div>
  </div>
  <div id="editorLabel"><h6>Result</h6></div>
  <div id="outputToolbar">
      <span class="arangoicon arango-icon-remove queryTooltips" title="Clear" id="clearOutput"></span>
      <span class="glyphicon glyphicon-resize-full queryTooltips" title="Unfold" id="bigOutput"></span>
  </div>
  <div id="queryOutput" class="thumbnail">
  </div>
    <div id="shortcutDiv">
      <b>Submit:</b> CTRL/CMD + Return ; <b>Undo:</b> CTRL/CMD + Z ; <b>Redo:</b> CTRL/CMD + SHIFT + Z ;
      <b>Toggle Comments:</b> CTRL/CMD + SHIFT + C
    </div>

</div>

<div id="new-aql-query" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <a class="arangoHeader">Save new query</a>
  </div>
  <div id="new-aql-body" class="modal-body">
    <table>
      <tr>
        <th class="queryTH">Name:</th>
        <th class="queryTH2"><input type="text" id="new-query-name" name="name" value=""/></th>
      </tr>
    </table>
  </div>
  <div id="colFooter" class="modal-footer">
    <button class="btn btn-close" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="save-new-query" class="btn btn-success pull-right">Save</button>
  </div>
</div>

</div>
