<script id="queryView.ejs" type="text/template">
  <div class="headerBar">
    <a class="arangoHeader">AQL Editor</a>
  </div>

  <div id="queryContent">
    <ul class="arango-tab">
      <li><a href="#result" data-toggle="pill" id="result-switch">Result</a></li>
      <li><a href="#query" data-toggle="pill" id="query-switch">Query</a></li>
      <li><a href="#customs" data-toggle="pill" id="customs-switch">My Queries</a></li>
    </ul>
    <div class="tab-content" id="tabContentCustoms">
      <div class="tab-pane" id="customs">
        <div id="customsDiv" class="query-div">
        </div>
      </div>
    </div>
    <div class="tab-content" id="tabContentQuery">
      <div class="tab-pane active" id="query">
        <div id="queryDiv" class="query-div">
          <div id="editorLabel" class="editor-label"></div>
          <div id="editorToolbar" class="query-toolbar editor-toolbar">
            <span class="icon_arangodb icon_arangodb_trash queryTooltips tooltip-margin" title="Clear" id="clearInput"/>
            <span class="icon_arangodb icon_arangodb_adddoc queryTooltips" title="Save current query" id="addAQL"/>
            <span class="queryTooltips tooltip-margin" title="Comment" id="commentText"><i class="fa fa-comment"></i></span>
            <span class="icon_arangodb icon_arangodb_arrow6 queryTooltips tooltip-margin" title="Redo" id="redoText"/>
            <span class="icon_arangodb icon_arangodb_arrow5 queryTooltips tooltip-margin" title="Undo" id="undoText"/>
          </div>

          <div id="aqlEditor" class='aql-editor'></div>


          <div id="wideButtonDiv" class="wide-button-div">
            <div>

              <div id="shortcutDiv" class="shortcuts shortcut-div showHotkeyHelp">
              </div>
            </div>
            <div>

              <button id="submitQueryButton" class="button-success query-button">Submit</button>
              <button id="clearQueryButton" class="button-close query-button">Clear</button>
              <div class="styled-select">
                <select id="querySelect" class="query-select"/>
              </div>
              <div class="styled-select querySizeDiv">
                <select id="querySize" class="query-size"/>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="tab-content" id="tabContentResult">

      <div class="tab-pane" id="result">
        <div id="editorLabel" class="editor-label"></div>
        <div id="outputToolbar" class="query-toolbar output-toolbar">
          <span class="icon_arangodb icon_arangodb_trash queryTooltips tooltip-margin" title="Clear" id="clearOutput"></span>
          <span class="icon_arangodb icon_arangodb_arrow1 queryTooltips" title="Unfold" id="bigOutput"></span>
        </div>
        <div id="queryOutput" class="contentDiv query-output">
        </div>

      </div>

    </div>

  </div>
</script>
