<script id="shellView.ejs" type="text/template">
  <div class="headerBar">
    <a class="arangoHeader">JS Shell</a>
  </div>
  <div id="shell_workspace_header"/>
  <div id="shell_workspace" class="shell_workspace">
    <div id="replShell" class="replShell"/>
  </div>
</script>
