<script id="statisticBarView.ejs" type="text/template">
  <div class="navlogo">
    <a href="#dashboard" style="padding-left: 15px;">
      <img id="stat_cpu"
        src="img/statusBar-cpu-16.png"
        style="background-color: #ef8787;margin-top: 9px;"
      />
      <img id="stat_ram"
        src="img/statusBar-ram-16.png"
        style="background-color: #FAFF92; margin-top: 9px; margin-left: 4px; margin-right: 2px;"
      />
      <img id="stat_req"
        src="img/statusBar-req-16.png"
        style="background-color: #8aa051; margin-top: 9px;"
      />
    </a>
  </div>
</script>
