<script id="statisticBarView.ejs" type="text/template">
<div class="navlogo">
  <a id="stat_cpu" href="#dashboard" style="padding-left: 5px">
    <img  src="img/tmp_dashbord_activity_yellow.jpg">
    <img src="img/tmp_dashbord_activity_green.jpg">
    <img height="23"src="img/tmp_dashbord_activity_red.jpg">
  </a>
</div>
</script>
