<script id="testView.ejs" type="text/template">
<h1>Text File Reader</h1>
    <div>
          Select a text file: 
                <input type="file" id="fileInput">
                    </div>
                        <pre id="fileDisplayArea"><pre>


</script>
