<script id="userBarView.ejs" type="text/template">
<ul class="navlist" id="userBarUl">

  <li class="dropdown user-menu">
    <a href="#" class="tab" id="user" >
      <img class="userMenuImg" src="<%=img%>" id="userimage" /> <b class="caret"></b>
    </a>
    <ul class="user-dropdown-menu" id="user_dropdown">
      <li class="dropdown-header" style="text-transform: none">
        <%
        if(username === null) {
          %>User Management<%
        } else {
          if (name) {%>
        <%=name%> (<%=username%>)
        <% } else {%>
        <%=username%>
        <%}

        }
       %>
      <% if(username !== null) { %>
      <li class="dropdown-item">
        <a id="userProfile" class="tab" href="#user">User profile</a>
      </li>
      <% } %>
      <li class="dropdown-item">
        <a id="userManagement" class="internalLink" href="#userManagement">User management</a>
      </li>
      <% if(username !== null) { %>
      <li class="dropdown-item">
        <a id="userLogout" class="tab" href="#user">Logout</a>
      </li>
      <% } %>
    </ul>
  </li>

</ul>
</script>
