<ul class="navlist" id="userBarUl">

  <div class="navlogo">
    <a id="stat_hd" class="notificationButton" href="#dashboard">
      <img src="img/tmpNotificationCounter.jpg">
    </a>
  </div>

  <li class="dropdown user-menu">
    <a href="#" class="tab" id="user" >
      <img src="<%=img%>" id="userimage" height="23" width="23" /> <b class="caret"></b>
    </a>
    <ul class="user-dropdown-menu" id="user_dropdown">
      <li class="dropdown-header"><%=prename%> <%=lastname%></li>
      <li class="dropdown-item">
        <a id="user" class="tab" href="#user">User profile</a>
      </li>
      <li class="dropdown-item">
        <a id="userManagement" class="internalLink" href="#userManagement">User management</a>
      </li>
      <li class="dropdown-item">
        <a id="user" class="tab" href="#user">Logout</a>
      </li>
    </ul>
  </li>
</ul>