<ul class="navlist" id="userBarUl">

  <div class="navlogo">
    <div id="stat_hd" class="notificationButton"><a id="stat_hd_counter">0</a></div>
  </div>

  <li class="dropdown">
    <a href="#" class="tab" id="user" >
      <img src="<%=img%>" id="userimage" height="23" width="23" /> <b class="caret"></b>
    </a>
    <ul class="user-dropdown-menu" id="user_dropdown">
      <li class="dropdown-header"><%=prename%> <%=lastname%></li>
      <li class="dropdown-item">
        <a id="user" class="tab" href="#user">User profile</a>
      </li>
      <li class="dropdown-item">
        <a id="user" class="tab" href="#user">User management</a>
      </li>
      <li class="dropdown-item">
        <a id="user" class="tab" href="#user">Logout</a>
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <ul class="user-dropdown-menu fixedDropdown" id="notification_menu">
      <li class="dropdown-header"><a>Notifications</a></li>
      <ul class="innerDropdownInnerUL"></ul>
      <button id="removeAllNotifications" class="btn btn-danger">Clear</button>
    </ul>
  </li>




</ul>
