<script id="userProfileView.ejs" type="text/template">
  <ul class="thumbnails2">
    <div class="headerBar">
      <a class="arangoHeader">
        User Profile
      </a>
    </div>
  </ul>
  <div class="contentDiv" id="profileContent">
    <table class="arangoDataTable contentTables">
      <tr>
        <td class="pull-right">
          <%=img%>
        </td>
        <td>
          <div>
            <div>USERNAME:</div>
            <div><%=username%></div>
          </div>
          <div>
            <div>NAME:</div>
            <div><%=name%></div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div id="editUserProfileModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true" style="display:none">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <a class="arangoHeader">Edit User Profile</a>
    </div>

    <div class="modal-body">
      <table>
        <tr>
          <th>Username:</th>
          <th id="editUsername"></th>
        </tr>
        <tr>
          <th>Name:</th>
          <th><input type="text" id="editName" name="name" value="" placeholder="Name"/></th>
        </tr>
        <tr>
          <th>Gravatar-Link:</th>
          <th><input type="text" id="editUserProfileImg" name="img" value="" placeholder="Gravatar"/></th>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button class="button-close" data-dismiss="modal" aria-hidden="true">Close</button>
      <button id="callEditUserPassword" class="button-danger pull-right">Change Password</button>
      <button id="submitEditUserProfile" class="button-success pull-right">Save</button>
    </div>
  </div>

  <div id="editUserPasswordModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true" style="display:none">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <a class="arangoHeader">Edit User Password</a>
    </div>

    <div class="modal-body">
      <table>
        <tr>
          <th>Old Password:</th>
          <th><input type="password" id="oldPassword" name="oldPassword" value="" placeholder="old password"/></th>
        </tr>
        <tr>
          <th>New Password:</th>
          <th><input type="password" id="newPassword" name="newPassword" value="" placeholder="new password"/></th>
        </tr>
        <tr>
          <th>Confirm New Password:</th>
          <th><input type="password" id="confirmPassword" name="confirmPassword" value="" placeholder="confirm password"/></th>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button class="button-close" data-dismiss="modal" aria-hidden="true">Close</button>
      <button id="submitEditUserPassword" class="button-success pull-right">Save</button>
    </div>
  </div>
</script>
