/* Design fix because of the header */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
  overflow: hidden;
  font-family: Roboto, Helvetica, sans-serif;
  background: #444444;
  margin: 10px;
}

.book .book-header h1 a, .book .book-header h1 a:hover {
  display: none;
}

/* GOOGLE START */

.google-search #gsc-iw-id1{
  border: none !important;
}

.google-search .gsst_b {
  position: relative;
  top: 10px;
  left: -25px;
  width: 1px;
}

.gsst_a .gscb_a {
  color: #c01a07 !important;
}

.google-search input {
  background-color: #fff !important;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 10pt !important;
  padding-left: 5px !important; 
  float: right;
  position: relative;
  top: 8px;
  width: 100% !important;
  height: 30px !important;
}

.google-search input:active {
}

.google-search {
  margin-right: 114px !important;
  margin-left: 10px !important;
  float: right !important;
}

.google-search td, 
.google-search table, 
.google-search tr, 
.google-search th {
  background-color: #444444 !important;
}

.google-search .gsc-input-box,
.google-search .gsc-input-box input {
  border-radius: 3px !important;
  width: 200px;
}

.gsc-branding-text,
.gsc-branding-img,
.gsc-user-defined-text {
  display: none !important;
}

.google-search .gsc-input-box input {
  font-size: 16px !important;
}

.google-search .gsc-search-button {
  display: none !important;
}

.google-search .gsc-control-cse {
  padding: 10px !important;
}

.google-search > div {
  float: left !important;
  width: 200px !important;
}

/* GOOGLE END */

.book-summary,
.book-body {
  margin-top: 48px;
}

.book-search,
.toggle-search,
.facebook-sharing-link {
  display: none !important;
}

.book .book-summary ul.summary li.active > a,
.book .book-summary ul.summary li a:hover {
  color: #fff !important;
}

/* Header Hack - to prevent using a custom theme */

/* Disable Search - temp. 
.book-search { visibility: hidden}
.toggle-search { visibility: hidden}
*/

#spacer {
  margin-top: 40px;
}

#searchx { padding-left: 100;}

#logo {
  display: block;
  float: left;
  color: #fff;
  width: 12%;
  line-height: 40px;
}

#logo img {
  width: 150px;
  margin-top: 0px;
  margin-left: 114px;
}

.wrap {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

#header {
  display: block;
  width: 100%;
  height: 48px;
  background: #444;
}

#header .socialIcons-googlegroups a img {
  position: relative;
  top: 3px;
}

#header .wrap,
#header .wrap .clearfix {
  max-height: 48px;
}

.absolute{
  position: absolute;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}

#navmenu {
  display: block;
  float: right;
  margin: 0px;
}

#navmenu li {
  display: block;
  float: left;
}

#navmenu li a {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 48px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  font-family: Roboto, Helvetica, sans-serif;
}

#navmenu li a:hover {
  background: #8aa051 !important;
}

.owntab {
  background-color: #444444;
}

.arangodb_version {
  float: left;
  padding-left: 130px;
  padding-top: 3px;
  padding-right: 0px;
  line-height: 40px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/** simple responsive updates **/

@media screen and (max-width: 1100px) {
  #logo {
    position: absolute;
    left: -100px;
  }

  .google-search {
    margin-right: -5px !important;
  }

  .socialIcons {
    display: none !important;
  }
}


@media screen and (max-width: 770px) {
  .google-search {
    margin-right: -5px !important;
    width: 200px !important;
  }
  #navmenu {
    display: none;
  }
  #navmenu li a { font-size: 0.8em; padding: 0 15px; }
  #navmenu li a img { width:11px; height:36px; padding-top: 4px; }
  #logo {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 4px;
    left: -100px;
    z-index: 9999;
  }
  #logo img {
    width: 100px;
    margin-top:4px;
    position: absolute;
    float: left;
    left: -10px;
  }
  .owntab { display: none !important; }

  .arangodb_version { display: none !important; }
}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
