.markdown-section small {
  font-size: 80%;
}
.markdown-section sub, .markdown-section sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.markdown-section sup {
  top: -.5em;
}
.markdown-section sub {
  bottom: -.25em;
}

div.example_show_button {
  border: medium solid lightgray;
  text-align: center;
  position: relative;
  top: -10px;
  display: flex;
  justify-content: center;
}

.book .book-body .navigation.navigation-next {
  right: 10px !important;
}

.book .book-summary ul.summary li.active>a,.book .book-summary ul.summary li a:hover {
  color: #fff !important;
  background: #80A54D !important;
  text-decoration: none;
}

.book .book-body .page-wrapper .page-inner section.normal .deprecated{
  background-color: rgba(240,240,0,0.4);
}

.book .book-body section > ul li:last-child {
  margin-bottom: 0.85em;
}

.book .book-body .alert p:last-child {
  margin-bottom: 0;
}

.columns-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  columns: 3;
}

.localized-footer {
  opacity: 0.5;
}

.example-container {
  position: relative;
}

.example-container a.anchorjs-link {
  position: absolute;
  top: 10px;
  right: 10px;
  font: 1em/1 anchorjs-icons;
}

.gsib_a {
padding: 0px !important;
}

.gsc-control-cse {
border: 0px !important;
background-color: transparent !important;
}


.gsc-input {
margin: 0px !important;
}
