div.example_show_button {
  border: medium solid lightgray;
  text-align: center;
  position: relative;
  top: -10px;
}

.book .book-body .navigation.navigation-next {
  right: 10px !important;
}

.book .book-summary ul.summary li.active>a,.book .book-summary ul.summary li a:hover {
  color: #fff !important;
  background: #80A54D !important;
  text-decoration: none;
}

.book .book-body .page-wrapper .page-inner section.normal .deprecated{
  background-color: rgba(240,240,0,0.4);
}

.book .book-body li:last-child {
  margin-bottom: 0.85em;
}

.columns-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  columns: 3;
}

.gsib_a {
padding: 0px !important;
}

.gsc-control-cse {
border: 0px !important;
background-color: transparent !important;
}


.gsc-input {
margin: 0px !important;
}
