<div id="background">
  <ul class="thumbnails2">
    <div class="headerBar">
      <a class="arangoHeader">Cluster Management</a>
    </div>
  </ul>

  <div class="content">
    <form action="javascript:void(0);" autocomplete="on" class="form-horizontal" id="planSelectionDialog">
      <fieldset>
        <div class="control-group">
          
          <fieldset id="scenario">
            <legend class="gv_inner">Please select a cluster scenario:</legend>
          
            <div class="controls">
              <label class="radio">
                <input type="radio" name="scenario" id="singleServer" checked>
                Lorem Ipsum
              </label>
            </div>
          

            <div class="controls">
              <label class="radio">
                <input type="radio" name="scenario" id="multiServerAsymmetrical">
                Lorem Ipsum
              </label>
            </div>
          
            <div class="controls">
              <label class="radio">
                <input type="radio" name="scenario" id="multiServerSymmetrical">
                Lorem Ipsum
              </label>
            </div>


        </fieldset>
              
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary" id="createViewer" >Start</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
