<div id="background">
  <ul class="thumbnails2">
    <div class="headerBar">
      <a class="arangoHeader">Cluster Management</a>
    </div>
  </ul>

  <div class="thumbnails">
      <div>
        <legend class="gv_inner">Please select a cluster scenario:</legend>

        <li class="bigtile" id="multiServerSymmetrical">
          <img src="img/multiMachineSym.png" class="scenarioImage" alt="">
          <h5 class="collectionName">Multi Machine Symmetrical</h5>
        </li>
        <li class="bigtile" id="multiServerAsymmetrical">
          <img src="img/multiMachineAsym.png" class="scenarioImage" alt="">
          <h5 class="collectionName">Multi Machine Asymmetrical</h5>
        </li>
        <li class="bigtile"  id="singleServer">
          <img src="img/singleMachine.png" class="scenarioImage" alt="">
          <h5 class="collectionName">Single Machine</h5>
        </li>
    </div>
  </div>
</div>
