<form>
  <label>Server:</label><input type="text" id="host" placeholder="Server" class="serverInput" ></input>:<input type="text" class="portInput" id="port" placeholder="port"></input>
  <label>Coordinators:</label><input type="text" id="coordintors" placeholder="1"></input>
  <label>DBServers:</label><input type="text" id="dbs"placeholder="1"></input>
</form>
