<script id="clusterDown.ejs" type="text/template">
<ul class="thumbnails2">
  <div class="headerBar">
    <a class="arangoHeader">Cluster Down</a>
  </div>
</ul>

<div id="relaunchCluster">relaunchCluster</div>
<div id="editPlan">editPlan</div>
<div id="deletePlan">deletePlan</div>
</script>
