<script id="clusterDown.ejs" type="text/template">
<ul class="thumbnails2">
  <div class="headerBar">
    <a class="arangoHeader">Cluster Down</a>
  </div>
</ul>

<div class="clusterDownBtn">
  <button class="green" id="relaunchCluster">
    Relaunch Cluster
  </button>
</div>
<div class="clusterDownBtn">
  <button id="editPlan">
    Edit Cluster Plan
  </button>
</div>
<div class="clusterDownBtn">
  <button id="deletePlan">
    Delete Cluster Plan
  </button>
</div>
</script>
