<script id="clusterDown.ejs" type="text/template">
<ul class="thumbnails2">
  <div class="headerBar">
    <a class="arangoHeader">Cluster Down</a>
  </div>
</ul>

<div class="clusterDownBtn">
  <button class="green" id="relaunchCluster">
    Relaunch Cluster
  </button>
</div>
<div class="clusterDownBtn">
  <button id="editPlan">
    Edit Cluster Plan
  </button>
</div>
<div class="clusterDownBtn">
  <button id="deletePlan">
    Delete Cluster Plan
  </button>
</div>

<div id="editPlanModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <a class="arangoHeader">Edit Cluster Plan</a>
  </div>

  <div class="modal-body">
    <table>
      <tr>
        <th>An edited plan can not be restored. Really edit?</th>
        <th></th>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-close" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="submitEditPlan" class="button-danger pull-right">Edit</button>
  </div>
</div>

<div id="deletePlanModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <a class="arangoHeader">Delete Cluster Plan</a>
  </div>

  <div class="modal-body">
    <table>
      <tr>
        <th>A deleted plan can not be restored. Really delete?</th>
        <th></th>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-close" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="submitDeletePlan" class="button-danger pull-right">Delete</button>
  </div>
</div>

</script>
