<script id="clusterUnreachable.ejs" type="text/template">
<div class="headerBar">
  <a class="arangoHeader">Cluster Unreachable</a>
</div>

<div class="clusterDownBtn">
  None of your Coordinators is reachable.
  Please check.
</div>
</script>
