<script id="clusterUnreachable.ejs" type="text/template">
<div class="headerBar">
  <a class="arangoHeader">Cluster Unreachable</a>
</div>

<div class="clusterDownBtn">
  <p>
    None of your Coordinators is reachable.
    However your DBServers are still running.
    This might be a network network problem.
  </p>
  <p>
  Please check the coordinators manually on the following servers:
  </p>
  <ul>
    <li>Bla</li>
    <li>blub</li>
  </ul>
</div>
</script>
