<script id="loginModal.ejs" type="text/template">
<div id="loginModalLayer" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <a class="arangoHeader">Coordinator User invalid</a>
  </div>
  <div class="modal-body">
    <table>
      <tr colspan="2">
        <th>The overview requires a valid login to the cluster's _system database:</th>
      <tr>
        <th class="collectionTh">Username:</th>
        <th class="collectionThSec"><input type="text" id="username" name="name" value="" class="modalInput" placeholder="Username" /></th>
      </tr>
      <tr>
        <th class="collectionTh">Password:</th>
        <th class="collectionThSec"><input type="password" id="password" name="passwd" value="" class="modalInput" placeholder="Password"/></th>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="button-close" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="confirmLogin" class="button-success" style="float:right">Login</button>
  </div>
</div>
</script>
