<script id="planScenarioSelector.ejs" type="text/template">

  <% var box = function(c, btm) { %>
    <div class="scenarioBox<%=btm?' bottomBox':''%>">
      <div class="scenarioBoxHeader">...</div>
      <div class="scenarioBoxText"><%=c%></div>
    </div>
  <% } 
  var row = function(c, d, noHead) { %>
        <div class="scenarioMachine">
          <% if (!noHead) { %>
          <div class="scenarioBoxHeader">...</div>
          <% } %>
          <%
            if (c) {box("C");}
            if (d) {box("D", true);}
          %>
        </div>
     <% 
    }
  %>


  <ul class="thumbnails2">
    <div class="headerBar">
      <a class="arangoHeader">Cluster Management</a>
    </div>
  </ul>

  <div class="tileList">
    <legend class="gv_inner">Please select a cluster scenario:</legend>

    <li class="bigtile"  id="singleServer">
      <div id="singleMachine" class="machineClass">
        <div class="scenarioSingleMachine">
          <div class="scenarioBoxHeader">...</div>
            <%
              row(true, true, true);
              row(true, true, true);
              row(false, true, true);
            %>
        </div>
      </div>
      <h5 class="collectionName">Single Machine / Development</h5>
    </li>
    </li>
    <li class="bigtile" id="multiServerAsymmetrical">
      <div id="multiMachineAsym" class="machineClass">
        <%
          row(false, true);
          row(true, false);
          row(false, true);
        %>
      </div>
    <h5 class="collectionName">Multi Machine / Productive</h5>
    </li>
  </div>
</script>
