<script id="planScenarioSelector.ejs" type="text/template">

  <% var box = function(c, btm) { %>
    <div class="scenarioBox<%=btm?' bottomBox':''%>">
      <div class="scenarioBoxText"><%=c%></div>
    </div>
  <% } 
  var row = function(c, d, nr) { %>
        <div class="scenarioMachine">
          <% if (nr) { %>
            <div class="scenarioBoxHeader">Machine <%=nr%></div>
          <% } %>
          <%
            if (c) {box("Coordinator");}
            if (d) {box("DBServer", true);}
          %>
        </div>
     <% 
    }
  %>


  <div class="headerBar">
    <a class="arangoHeader">Cluster Management</a>
  </div>

  <div class="tileList">
    <legend class="gv_inner">Please select a cluster scenario:</legend>

    <li class="bigtile informationtile">
      <div class="informationText">
        <p>A <b>Coordinator</b> receives requests, distributes them to the DBServers,
        executes AQL queries and returns the result to the clients. The
        coordinator also exposes information about cluster health and cluster
        statistics.
        </p>
        <p>
        A <b>DBServer</b> can both store sharded and non-sharded collections. A
        database and a coordinator can live on the same server.
        </p>

        <p>
        <b>Development setup</b>
        This setup is useful for development/testing purposes. It lets you
        define a coordinator and several database nodes on the save server with
        a few clicks.
        </p>
        <p>
        <b>Production setup</b>
        This setup is used in production. It lets you configure the different
        servers and how you want to distribute coordinators and database nodes
        among the cluster.</p>
      </div>
      <h5 class="collectionName">Information</h5>
    </li>
    <li class="bigtile"  id="singleServer">
      <div id="singleMachine" class="machineClass">
        <div class="scenarioSingleMachine">
          <div class="scenarioBoxHeader">Single Machine</div>
            <%
              row(true, true);
              row(true, true);
              row(false, true);
            %>
        </div>
      </div>
      <h5 class="collectionName">Single Machine / Development</h5>
    </li>
    </li>
    <li class="bigtile" id="multiServerAsymmetrical">
      <div id="multiMachineAsym" class="machineClass">
        <%
          row(false, true, 1);
          row(true, false, 2);
          row(false, true, "X");
        %>
      </div>
    <h5 class="collectionName">Multi Machine / Production</h5>
    </li>
  </div>
</script>
