<script id="serverEntry.ejs" type="text/template">
<div class="control-group dispatcher">
  <label class="control-label">Server:</label>
  <div class="controls">
    <input type="text" placeholder="Server" class="input-xlarge host"></input>
    <span class="searchEqualsLabel">:</span>
    <input type="text" maxlength="5" class="input-small port" placeholder="port"></input>
    <% if (isFirst) {%>
      <button class="graphViewer-icon-button gv-icon-small add"></button>
    <% } else { %>
      <button class="graphViewer-icon-button gv_internal_remove_line gv-icon-small delete"></button>
    <% } %>
  </div>
  <% if (!isSymmetric) { %>
  <div class="controls">
    <label class="checkbox inline">
      <input type="checkbox" value="isCoordinator" class="isCoordinator" checked> Coordinator
    </label>
    <label class="checkbox inline">
      <input type="checkbox" value="isDBServer" class="isDBServer" checked> DBServer
    </label>
  </div>
  <% } %>
</div>
</script>
