<ul class="thumbnails2">
  <div class="headerBar">
    <a class="arangoHeader">Cluster Dashboard</a>
  </div>
</ul>
<svg id="clusterLayout" height="400px"></svg>
<div class="headerBar">
	<a class="arangoHeader">Cluster Statistics</a>
</div>
<div id="clusterGraphs">

</div>
<div id="lineGraph">

</div>

<div class="headerBar">
	<a class="arangoHeader">Cluster Statistics</a>
</div>
