<script id="symmetricPlan.ejs" type="text/template">
  <div class="headerBar">
    <% if (isSymmetric) { %>
      <a class="arangoHeader">Plan a symmetric cluster</a>
    <% } else { %>
      <a class="arangoHeader">Plan a asymmetric cluster</a>
    <% } %>
  </div>
  <div class="innerContent">

    <form action="javascript:void(0);" autocomplete="on" class="form-horizontal">
      <fieldset id="server_list">
      </fieldset>
      <div class="control-group">
        <div class="controls">
          <button class="button-close" id="cancel">Cancel</button>
          <button class="button-notification" id="test-all-connections">Test all connections</button>
          <button class="button-neutral" id="startSymmetricPlan">Launch Cluster</button>
        </div>
      </div>
    </form>
  </div>
</script>
