<script id="symmetricPlan.ejs" type="text/template">
<ul class="thumbnails2">
  <div class="headerBar">
    <% if (isSymmetric) { %>
      <a class="arangoHeader">Plan a symmetric cluster</a>
    <% } else { %>
      <a class="arangoHeader">Plan a asymmetric cluster</a>
    <% } %>
  </div>
</ul>

<form action="javascript:void(0);" autocomplete="on" class="form-horizontal">
  <fieldset id="server_list">
  </fieldset>              
  <div class="control-group">
    <div class="controls">
      <button class="button-success" id="startSymmetricPlan">Launch Cluster</button>
    </div>
  </div>
</form>
</script>
