<script id="waitModal.ejs" type="text/template">
  <div id="waitModalLayer" class="modal hide fade waitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="waitModal icon">
         <i class="fa fa-spinner fa-spin"></i>
        </div>
        <div id="waitModalMessage" class="waitModal message" />
        </div>
      </div>
    </div>
  </div>
</script>
