# This file is part of package arangodb.
#
# Description:
#
#  Used to start ArangoDB
#
#  A universal open-source database with a flexible data model 
#  for documents, graphs, and key-values. Build high 
#  performance applications using a convenient sql-like query 
#  language or JavaScript/Ruby extensions.
#
#  http://www.arangodb.org
#

[Unit]
Description=ArangoDB
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/arangodb/arangod.pid
ExecStartPre=/usr/bin/install -g arangodb -o arangodb -d /var/run/arangodb
ExecStart=/usr/sbin/arangod -c /etc/arangodb/arangod.conf --uid arangodb --gid arangodb --pid-file /var/run/arangodb/arangod.pid --supervisor

[Install]
WantedBy=multi-user.target

