.addButton {
  position: relative;
  margin-right: 7px;
  font-size: 20px;
  color: #8AA050;
  margin-top: 2px;
}
.deleteButton {
  color: #B30000;
  font-size: 20px;
  padding-right: 3px;
  top: 3px;
  position: relative;
}

