.btn {
  border-radius: 4px;
  box-shadow: 0;
}

.addButton {
  position: relative;
  margin-right: 7px;
  font-size: 22px;
  color: #8AA050;
  margin-top: 2px;
  cursor: pointer;
}

.deleteButton {
  color: #DA4F49;
  font-size: 22px;
  padding-right: 3px;
  top: 3px;
  position: relative;
  cursor: pointer;
}

.deleteButton:hover {
  color: #BE342E;
}

ul.headerButtonList {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0!important;
}

ul.headerButtonList > li {
  display: inline;
  margin-right: 2px;
}

a.headerButton {
 float: left;
 margin-top: 0px; 
 margin-left: 5px;
 margin-right: 5px;
 min-height: 19px;
 border-radius: 3px;
 position: relative;
 box-shadow: none;
 background: #8AA051 !important;
 /*
 background: #8f8d8c !important;
 */
 color:#FFFFFF !important;
 height:20px;
 width:13px;
 padding: 5px 11px 2px 9px;
}

a.paginationButton, ul.arangoPagination a {
  border-radius: 2px;
}

/* better look of some icons */
a.headerButton .icon_arangodb_filter {
  top: 1px !important;
}

a.headerButton .icon_arangodb_import {
  top: -1px !important;
}

a.headerButton .icon_arangodb_arrowleft,
a.headerButton .icon_arangodb_arrowright {
  font-weight:bold;
}

/*
#documentsToolbar span {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 25px;
  margin-right: 3px;
  margin-left: 0px;
}

#documentsToolbar li a {
  margin-top: 0px !important;
  padding: 5px 11px 2px 9px;
}

*/
