.span3 {
  min-height:100px;
  width: 230px;
  margin-left: 13px !important;
  margin-bottom: 13px !important;
  border: 0px;
  position:relative;
  text-align:center;
  box-shadow: 0 0 0 !important;
}

.span3 a {
  border: 0;
  box-shadow: 0 0 0 !important;
}

.span3 h5 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 500;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  width: 214px;
  color: #fff;
  border: 0;
  background:#676665;
  padding: 4px 8px;
  margin:0;
}

.collectionName {
  text-align:left;
  font-weight: 300 !important;
  position:absolute;
  bottom:0px;
}

.thumbnail {
  padding:0;
  box-shadow: 0 0 0  !important;
}

.span3 .ICON {
  position: absolute;
  margin-top: 5px;
  margin-right: 5px;
  opacity: 0.5;
  cursor: pointer;
  font-size: 20px;
}
.span3 .glyphicon-edit {
  margin-top: 4px !important;
  font-size: 19.5px;
}

.span3 .ICON{
  right: 0px;
}

.span3 .spanInfo {
  right: 25px;
}

.span3 .ICON:hover {
  opacity: 1.0;
}

.spanDisabled {
  right: 25px !important;
  opacity: 0.2 !important;
}

.spanDisabled:hover {
  opacity: 0.2 !important;
  cursor: default !important;
}

.span3 .badge-success {
  font-weight: 300;
}

.badge, .label, .btn {
  text-shadow: none !important;
}
