.arango-nav li {
  margin-left: 1px !important;
}

#addFilterItem, .removeFilterItem {
  cursor: pointer;
}
#transparentHeader .btn-group {
  margin-top: 6px !important;
}

#newCollection {
  margin-left: 22px;
  font-size: 25px;
  margin-top: -3px;
  margin-right: 10px;
}


.thumbnail, .navbar-inner, .btn, .btn-primary {
  border-radius:0;
  box-shadow: 0;
}

.thumbnails2 {
  padding-top: 1px !important;
  background-color: rgba(0, 0, 0, 0.15);
  margin-left:0;
  margin-bottom:0;
}

.thumbnails {
  margin-left:0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-top: 13px;
  background-color: rgba(0, 0, 0, 0.15);
}

.thumbnails li {
  background-color: #f4f3f3;
  /*border: 2px solid rgba(0, 0, 0, 0.1);*/
}

.thumbnails a.add {
	padding:40px 0;
	display:block;
	font-weight: 400;
	text-align:left;
}

.thumbnails .icon {
	padding-right:5px;
	padding-left: 5px;
	padding-top: 5px;
  cursor: pointer;
}

.btn-group {
  border-radius: 2px 2px 2px 2px !important;
}

.searchInput {
  background-color: #FFFFFF;
  border: 0 !important;
  box-shadow: 0 !important;
  color: #555555;
  display: inline-block;
  font-size: 12px;
  height: 18px !important;
  line-height: 18px;
  margin-top: 5px;
  padding: 2px;
  vertical-align: middle;
  width:214px !important;
  border-radius: 0px 0px 0px 0px !important;
}

#searchInput:focus {
  outline: none;
  border-color: #8AA051;
  box-shadow: 0 0 10px #8AA051;
}

#searchSubmit {
  height: 14px;
  margin-left: -18px;
  margin-top: 11px;
  opacity: 0.2;
  position: absolute;
  width: 14px;
}

#searchSubmit:hover {
  opacity: 0.8;
  cursor: pointer;
}

#transparentHeader .breadcrumb {
  padding-left: 5px !important;
}

#transparentHeader {
  width: auto;
  height: 36px;
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  background-color:#686766;
  color:#FFF;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 10px;
  position:relative;
  font-size: 16px;
}


#transparentHeader i {
  margin-top: 0px;
  margin-right: 0px;
  left: 10px;
  position: absolute;
}

#transparentHeader a.disabledBread {
	color:#fff;
}

#transparentHeader a {
}

#transparentHeader .pagination {
	position:absolute;
	right:5px;
	margin:4px 0;
}

.arangoHeaderA {
  width: 14px !important;
  height: 20px !important;
  margin-right: 5px !important;
  margin-top: -2px !important;
  padding-bottom: 2px !important;
  padding-left: 9px !important;
  padding-right: 11px !important;
  padding-top: 5px !important;
  font-size: 17px !important;
}

#transparentHeader ul, #transparentHeader li, #transparentHeader a {
  border-radius: 0 !important;
}

#transparentHeader .pagination-small ul > li:last-child > a {
}

#transparentHeader .btn-group {
  margin-top:4px;
}

/* option 1 - dropdown filter  */
#transparentHeader .dropdown-menu {
  border-radius: 0 0 0px 0px !important;
  margin-top: 6px !important;
  margin-right: -20px !important;
  background-color: rgba(0, 0, 0, 0.7);
  /*background-color: #BFBDBC;*/
  border: solid 1px #686766;
}

#transparentHeader .dropdown-menu .checkboxLabel {
  color: white !important;
}

#transparentHeader .dropdown-menu .divider {
  background-color: #686755 !important;
  border-bottom: 0 !important;
  color: #686755 !important;
}

/* option 2 */
/*
#transparentHeader .dropdown-menu {
border-radius: 0 0 4px 4px !important;
margin-top: 6px !important;
margin-right: -3px !important;
background-color: #686766;
border-left: solid 1px #BFBDBC;
border-bottom: solid 1px #BFBDBC;
border-right: solid 1px #BFBDBC;
border-top: 0;
}

  #transparentHeader .dropdown-menu .checkboxLabel {
  color: white !important;
}

  #transparentHeader .dropdown-menu .divider {
  background-color: #BFBDBC !important;
  border-bottom: 0 !important;
  color: #686755 !important;
}

  #transparentHeader .dropdown-menu .nav-header {
  color: #BFBDBC !important;
}
 */

  .dropdown-toggle {
    border-radius: 0 !important;
}

.dashSwitch {
  border-radius: 0 !important;
}

#collectionsDropdown2, #dashboardDropdownOut, #foxxDropdownOut, .dropdownOut {
  background-color: white;
  position:relative;
  display:none;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
}

#collectionsDropdown, #dashboardDropdown, #foxxDropdown, .dropdownIn{
  position: relative;
  min-height: 125px;
  width: auto;
  box-shadow: 0 !important;
}

#collectionsDropdown .nav-header, #dashboardDropdown .nav-header, #foxxDropdown .nav-header, .dropdownOut .nav-header{
  font-size: 13px;
  font-weight: 400;
  color: black;
}

#collectionsDropdown label, #dashboardDropdown label, #foxxDropdown label, .dropdownIn label{
  color: black;
  font-weight: 300;
}

#collectionsDropdown ul, #dashboardDropdown ul, #foxxDropdown ul, .dropdownIn ul{
  border-left: 1px solid black;
}

.dropdownOut ul:last-of-type,
#collectionsDropdown ul:last-of-type,
#dashboardDropdown ul:last-of-type,
#foxxDropdown ul:last-of-type {
  border-left: 1px solid black;
}

.dropdownOut ul:first-of-type,
#collectionsDropdown ul:first-of-type, 
#dashboardDropdown ul:first-of-type,
#foxxDropdown ul:first-of-type {
  border: 0 !important;
}

.dropdownIn ul,
#collectionsDropdown ul, #foxxDropdown ul {
  min-height: 105px;
}

.dropdownIn ul,
#collectionsDropdown ul, #dashboardDropdown ul, #foxxDropdown ul{
  float: left;
  margin-top: 10px;
  width: 238px;
  display: inline;
}

.dropdownIn ul li label,
#collectionsDropdown ul li label,
#dashboardDropdown ul li label,
#foxxDropdown ul li label {
  padding-left: 35px;
  color: black;
}

.containerdivNewLine {
  clear: both;
  float: left;
  /*display: block;*/
  display:none;
  position: relative;
  margin-bottom: 30px;
}

#collectionsThumbnailsIn {
  background-color: none;
  margin-left: -7px;
}

#arangoCollectionsContainer {
  padding-bottom: 0 !important;
}
