.arango-nav li {
  margin-left: 1px !important;
}

#addFilterItem, .removeFilterItem {
  cursor: pointer;
}

#newCollection {
  position: relative;
  margin-left: 22px;
  font-size: 22px;
  margin-top: -5px;
  margin-right: 10px;
}

.thumbnail, .navbar-inner {
  border-radius:0;
  box-shadow: 0;
}

.thumbnails2 {
  padding-top: 1px !important;
  margin-left:0;
  margin-bottom:0;
}

.btn-group {
  border-radius: 2px 2px 2px 2px !important;
}

input.searchInput {
  border: none;
  height: 18px;
  line-height: 18px;
  margin-top: 5px;
  width:214px;
}

#searchInput:focus {
  outline: none;
  border-color: #8AA051;
  box-shadow: 0 0 10px #8AA051;
}

#searchSubmit {
  height: 14px;
  margin-left: -18px;
  margin-top: 11px;
  opacity: 0.2;
  position: absolute;
  width: 14px;
}

#searchSubmit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.arangoHeaderA {
  width: 14px !important;
  height: 20px !important;
  margin-right: 5px !important;
  margin-top: -2px !important;
  padding-bottom: 2px !important;
  padding-left: 9px !important;
  padding-right: 11px !important;
  padding-top: 5px !important;
  font-size: 17px !important;
}

.dropdown-toggle, .dashSwitch {
  border-radius: 0 !important;
}

div.dropdownInner > .nav-header {
  font-size: 13px;
  font-weight: 400;
  color: black;
}

div.dropdownInner > label {
  color: black;
  font-weight: 300;
}

div.dropdownInner > ul {
  border-left: 1px solid black;
}

div.dropdownInner > ul:first-of-type {
  border: none;
}

div.dropdownInner ul {
  min-height: 105px;
  float: left;
  margin-top: 10px;
  width: 238px;
  display: inline;
}

div.dropdownInner ul li label {
  padding-left: 35px;
  color: black;
}

/*
#collectionsDropdown2, #dashboardDropdownOut, #foxxDropdownOut, .dropdownOut {
  background-color: white;
  position:relative;
  display:none;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
}
*/
/*
#collectionsDropdown, #dashboardDropdown, #foxxDropdown, .dropdownIn{
  position: relative;
  min-height: 125px;
  width: auto;
  box-shadow: 0 !important;
}
#collectionsDropdown .nav-header, #dashboardDropdown .nav-header, #foxxDropdown .nav-header, .dropdownOut .nav-header{
  font-size: 13px;
  font-weight: 400;
  color: black;
}

#collectionsDropdown label, #dashboardDropdown label, #foxxDropdown label, .dropdownIn label{
  color: black;
  font-weight: 300;
}

#collectionsDropdown ul, #dashboardDropdown ul, #foxxDropdown ul, .dropdownIn ul{
  border-left: 1px solid black;
}
.dropdownOut ul:last-of-type,
#collectionsDropdown ul:last-of-type,
#dashboardDropdown ul:last-of-type,
#foxxDropdown ul:last-of-type {
  border-left: 1px solid black;
}

.dropdownOut ul:first-of-type,
#collectionsDropdown ul:first-of-type, 
#dashboardDropdown ul:first-of-type,
#foxxDropdown ul:first-of-type {
  border: 0 !important;
}

.dropdownIn ul,
#collectionsDropdown ul, #foxxDropdown ul {
  min-height: 105px;
}

.dropdownIn ul,
#collectionsDropdown ul, #dashboardDropdown ul, #foxxDropdown ul{
  float: left;
  margin-top: 10px;
  width: 238px;
  display: inline;
}

.dropdownIn ul li label,
#collectionsDropdown ul li label,
#dashboardDropdown ul li label,
#foxxDropdown ul li label {
  padding-left: 35px;
  color: black;
}

*/
.containerdivNewLine {
  clear: both;
  float: left;
  /*display: block;*/
  display:none;
  position: relative;
  margin-bottom: 30px;
}

#arangoCollectionsContainer {
  padding-bottom: 0 !important;
}
