/*.statGroups {
  float:left;
  margin-left:10px;
  margin-top: 10px;
  margin-bottom: 40px;
  border: 1px solid black;
  background-color: white;
  width: 886px;
  box-shadow: 0 0 3px #333333;
  border: 8px solid #FFFFFF;
}
*/
.dashboardContent {
  padding-bottom: 16px !important;
  padding-top: 10px !important;
  margin-bottom: 10px !important;
}

.dbNotVisible {
  opacity: 0 !important;
}

#dashboardHeader .btn-group {
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 0;
  padding-bottom: 0;
}

#dashboardHeader ul a {
  border-radius: 0 !important;
}

.group-close, .group-open {
  opacity: 0 !important;
  float:right;
  margin-top: 18px !important;
  margin-right: 10px !important;
  z-index: 9999 !important;
}

.db-zoom, .db-minimize, .db-hide, .db-info, #detailReplicationMinimize{
  float: right;
  margin-top: -4px !important;
  margin-right: 4px !important;
}

.db-zoom:hover, .db-minimize:hover, .db-hide, .db-info:hover, .group-close:hover, .group-open:hover,
#detailReplicationMinimize:hover {
  cursor:pointer;
}

.groupHidden li {
  display:none;
}

.statGroups {
  margin-top: 10px !important;
  margin-left: 0px;
  float:left;
  width: 100% !important;
  margin-bottom: -15px !important;
}

.statGroups h4 {
  padding-top: 5px;
  margin-right: 20px;
  height: 25px;
  text-align: center;
}

.statSystem th{
  width: 300px;
}

.statSingleClient {
  height: 400px;
  padding-bottom: 8px;
  width: auto !important;
  margin-top: 11px;
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-bottom: -10px !important;
  border-top: 1px solid #888888 !important;
  background-color: #FFFFFF !important;
}

.statSingleClient h6 {
  opacity: 1 !important;
  padding-left: 4px;
}

.statClient {
  float: left;
  height: 101px;
  width: 230px;
  margin-left: 13px !important;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
  background-color: #FFFFFF !important;
}

#detailGraph .boxHeader {
  padding-top: 5px;
}

#detailGraphChart {
  margin-left: -10px !important;
}

.statGroups .statChart {
  float:left;
}

.svgClass .nv-linesWrap {
  margin-left: -20px !important;
}

.nv-axislabel {
  margin-left: 20px;
}

.nv-axisMaxMin > text {
  font: 10px sans-serif;
}

.svgCollections {
  height: 300px;
  width: 300px;
}

.svgClass {
  height: 155px;
  width: 300px;
}

.svgDetailClass {
  margin-top: 0 !important;
  padding-top: 0 !important;
  height: 420px;
  width: 99%;
  overflow: visible;
}

li:hover  i, li.hover i,
li:hover h6, li.hover h6 {
  opacity: 0.8 !important;
  -webkit-transition-property: background color;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: background color;
  -moz-transition-duration: 1s;
  -moz-transition-timing-function: linear;
  -o-transition-property: background color;
  -o-transition-duration: 1s;
  -o-transition-timing-function: linear;
  -ms-transition-property: background color;
  -ms-transition-duration: 1s;
  -ms-transition-timing-function: linear;
  transition-property: background color;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.boxHeader i {
  opacity: 0;
  margin-top: -2px !important;
}

.boxHeader h6 {
  opacity: 0.8;
  padding-top: 0 !important;
  color: black;
  margin-left: 5px;
  margin-top: 0 !important;
  margin-bottom: -15px !important;
}

#statsHeaderDiv {
  margin-bottom: 16px;
  margin-top: 0px;
  margin-right: 5px !important;
  margin-left: 12px !important;
  padding: 0 !important;
  height: 24px !important;
  width: auto !important;
  color: white;
  height: 36px;
}

.statsHeaderDiv h4 {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif !important;
}

.statsHeader {
  width: 100%;
  background-color: #686766 !important;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif !important;
}

#dashboardHeader {
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #686766;
  color: #FFFFFF;
  height: 36px;
  margin-top: 5px !important;
}

#dashboardHeader .btn-group {
  border-radius: 0 !important;
  max-height: 30px !important;
}

/*NVD3*/
.nv-series {
  display: none;
}

.nv-x .nv-axislabel {
  display: none;
}

.nv-point {
  display: none;
}

/*Dashboard Dropdown*/

.dropdown-menu li > a {
  padding: 0px 20px !important;
}

.checkboxLabel {
  margin-top: 4px;
  padding-left: 0;
}

.svgClass .nv-axisMaxMin text {
  visibility: hidden;
}

.svgClass .major text {
  visibility: hidden;
}

.svgClass .nv-axislabel {
  visibility: hidden;
}

/*Dashboard Checkbox*/
.dropdownOut input[type=checkbox].css-checkbox,
#dashboardDropdownOut input[type=checkbox].css-checkbox,
#transparentHeader input[type=checkbox].css-checkbox,
#collectionsDropdown input[type=checkbox].css-checkbox,
#foxxDropdown input[type=checkbox].css-checkbox {
  display:none;
}

.dropdownOut input[type=checkbox].css-checkbox + label.css-label,
#dashboardDropdownOut input[type=checkbox].css-checkbox + label.css-label,
#transparentHeader input[type=checkbox].css-checkbox + label.css-label, 
#foxxDropdownOut input[type=checkbox].css-checkbox + label.css-label, 
#collectionsDropdown input[type=checkbox].css-checkbox + label.css-label {
  padding-left:20px;
  margin-top: 0px;
  height:15px;
  display:inline-block;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}

.dropdownOut input[type=checkbox].css-checkbox:checked + label.css-label,
#dashboardDropdownOut input[type=checkbox].css-checkbox:checked + label.css-label,
#transparentHeader input[type=checkbox].css-checkbox:checked + label.css-label,
#foxxDropdownOut input[type=checkbox].css-checkbox:checked + label.css-label,
#collectionsDropdown input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -15px;
}

.css-label {
  background-image:url(../img/dark-check-green.png);
}

.css-label-round {
  background-image:url(../img/dark-check-green-round.png);
}

/*Dashboard Radio */

.dropdown-menu .radio {
  margin-left: -21px;
}

#dashboardDropdownOut input[type="radio"],
#transparentHeader input[type="radio"],
.dropdownOut input[type="radio"] {
  display:none;
}

#dashboardDropdownOut input[type="radio"] + label span,
#transparentHeader input[type="radio"] + label span,
.dropdownOut input[type="radio"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url(../img/check_radio_sheet.png) -38px top no-repeat;
  cursor:pointer;
}

#dashboardDropdownOut input[type="radio"]:checked + label span,
.dropdownOut input[type="radio"]:checked + label span,
#transparentHeader input[type="radio"]:checked + label span {
  background:url(../img/check_radio_sheet.png) -57px top no-repeat;
}

.detailChartHeader {
  height: 25px;
  border: 1px solid red;
  background-color: #686766;
}

.nocssli {
  margin-left: -10px !important;
  border: 0 !important;
  height: 25px;
  padding: 0;
  margin: 0;
  height: 30px;
  background-color: #686766 !important;
  width: 940px;
}

.nocssli h4 {
  margin-top: 5px;
  color: white;
  text-align: center;
}

#detailReplicationDiv {
  width: 100%;
  padding-right: 20px;
}

#detailReplicationDiv table {
  margin-top: 10px;
  border-spacing: 0 0px;
}

#detailReplicationDiv table thead {
  /*background-image: -moz-linear-gradient(center top , #F3EFEC, #EBE7E3) !important;*/
  border-bottom: 1px solid #888;
}

#detailReplicationDiv table thead tr th{
  font-weight: 400 !important;
}

#detailReplicationDiv table {
  width: 100%;
}

#detailReplicationDiv table {
  text-align:left !important;
}

#detailReplicationDiv table tr {
}

#detailReplicationDiv table tbody tr th {
  padding-bottom: 4px;
  padding-top: 4px;
}

#rightReplicationDiv {
  min-height: 150px;
  padding-top: 5px;
  margin-right: 10px;
  margin-bottom: 8px;
  background-color: #FFFFFF;
}

#leftReplicationDiv, #rightReplicationDiv {
  padding: 10px !important;
}

#leftReplicationDiv h4, #rightReplicationDiv h4 {
}

#leftReplicationDiv table, #rightReplicationDiv table {
  width: 100%;
  padding-right: 10px !important;
  padding-left: 10px !important;
  padding-bottom: 10px;
}

#leftReplicationDiv table td, #rightReplicationDiv table td {
  padding-top: 4px;
  padding-bottom: 5px;
}

#leftReplicationDiv table tr, #rightReplicationDiv table tr {
  background-color: #FFFFFF !important;
  border-bottom: 1px solid #F7F3F2;
  padding-top: 3px;
  padding-bottom: 3px;
}

#leftReplicationDiv table tr:last-child, #rightReplicationDiv table tr:last-child {
  border-bottom: 0;
}

#leftReplicationDiv tbody, #rightReplicationDiv tbody {
  background-color: #F9F9F9 !important;
}

#leftReplicationDiv tbody tr, #rightReplicationDiv tbody tr {
}

#leftReplicationDiv {
  padding-top: 5px;
  width: auto;
  min-height: 150px;
  margin-right: 10px;
  margin-top: -1px;
  border-top: 1px solid #888;
  background-color: #FFFFFF;
}

.alignLeft {
  width: 240px !important;
  text-align:left !important;
  padding-left: 7px;
}

.checkApplyRunningStatus {
  display:none;
}

#detailReplication {
  margin-top: 1px;
  margin-bottom: -17px !important;
  border-top: 1px solid #888;
  height: auto !important;
  width: 100% !important;
}

.trueClass {
  color: green;
}

.falseClass {
  color: red;
}

#applyReplicationTable {
  width: 100% !important;
}

.firstTh {
  padding-left: 8px;
}

#shortcutDiv {
  font-size: 12px;
  font-weight: 200;
}

.headerH6 {
  margin-left: 30px;
  float:left;
}

.headerH4 {
  margin-top: 9px;
  float:left;
}

.statClient:hover {
  opacity: 1 !important;
}

#detailReplication {
  margin-right: 20px;
  background-color: transparent !important;
  border: 0 !important;
}

#detailGraphPadding {
  margin-top: -11px !important;
  margin-bottom: 5px;
}

.dashboardContent .arangoTab {
  border-bottom: 0 !important;
}

#dashboardDropdown {
  min-height: 260px !important;
  background-color: white;
}

#dashboardDropdown ul {
  min-height: 236px !important;
}

.dashboardContent .arangoTab {
  float:none;
}

#statSwitch, #replSwitch {
  float:right;
}

#statSwitch {
  margin-right: -3px;
}

.arangoHeaderBar {
  width: 100%;
  background-color: #686766;
  height: 27px;
  padding-top: 3px;
  border-radius: 2px;
}

.arangoSubHeader {
  font-weight: 400;
  padding-left: 5px;
  color: white;
  margin-top: 5px;
  font-size: 15px;
}

#dbThumbnailsIn {
  margin-left: -7px;
}

.nvd3 .nv-axis path {
  stroke: #BFBFBF;
}

.dashboardH6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
   .svgClass{margin-top: 10px !important;}
   .statSingleClient{margin-top: 10.5px !important;}
   #detailReplication{margin-top: 1.5px !important;}
}

.nvd3 .nv-axis .nv-axisMaxMin text {
  font-weight: 400;
  font-size: 12px !important;
}

.nvd3 .nv-wrap .nv-axis:last-child {
  visibility: hidden !important;
}

.greenLight {
  background: green;
  background-image: radial-gradient(lime, transparent);
  background-size: 3px 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow:
  margin-top: 1px;
  0 0 10px #111 inset,
  0 0 5px lime;
  animation: 13s green infinite;
}

.redLight {
  background: red;
  background-image: radial-gradient(brown, transparent);
  background-size: 3px 3px; 
  margin-top: 1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: 13s red infinite;
  box-shadow:
    0 0 10px #111 inset,
    0 0 5px red;
}

#dashboardDropdown > ul > li > a > .radio {
  padding-left: 0 !important;
}

#replicationDropdown {
  min-height: 260px !important;
}

#replicationDropdown > ul > li > a > .radio {
  padding-left: 0 !important;
}
