table.dataTable-fixed {
  table-layout: fixed;
}

table.dataTable-fixed thead {
  text-align: left;
}

table.dataTable-fixed thead tr{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #C2C2C2;
}
