/*
#documentsTable thead {
  border: 0 !important;
}
*/

#tableDiv table.dataTable td {
  padding:12px 18px !important;
}


table.dataTable thead th {
  border-bottom:none;
  cursor: default !important;
}

table.arangoDataTable.dataTable td {
  padding:10px 18px;
}

.arangoDataTable thead {
  font-weight: 400 !important;
  background-color: #FFFFFF !important;
  text-align: left;
}

.arangoDataTable {
  width: 100% !important;
  position: relative;
  table-layout:fixed !important;
  border-spacing:0 0px;
}

.arangoDataTable.dataTable thead tr {
  border-bottom: 1px solid #C2C2C2;
}

table.arangoDataTable tr {
  cursor: pointer;
}

table.arangoDataTable.noPointer tr {
  cursor: default;
}

.arangoDataTable .key {
  margin-top: 4px;
}

/* Odd / Even coloring */
.api-container ul#resources > li.resource:nth-child(even),
table.arangoDataTable tr.even {
  background-color: #FFFFFF;
}

.api-container ul#resources > li.resource:nth-child(odd),
table.arangoDataTable tr.odd {
  background-color: #F1F0EE;
}
