#databaseDiv {
  padding: 13px 5px 0px 5px;
}

.databaseButtons {
  clear:both;
  width: 100%;
}

.databaseButtons #createDatabase {
  margin-left: 0;
}

.databaseButtons {
  margin-bottom: 10px;
}

#databaseTable thead {
  text-align: left;
}

#databaseTable thead tr {
  border-bottom: 1px solid #C2C2C2;
  background-color: #FFFFFF !important;
}

#databaseTable {
  width: 100%;
  margin-bottom: 10px;
}

#databaseTable .dbThFirst {
  width: 90%;
}

#databaseTable .dbThSecond {
  width: 10%;
}

#databaseTable td.dbThSecond span {
  color: #8AA050;
}

#databaseTable td span {
  float: right;
  color: #B30000;
  font-size: 22px;
}

#databaseTable td {
    padding:12px 18px;
}

#createDatabaseModal table {
  width: 100%;
}

#databaseTable .collectionThSec {
  width: 80%;
  margin-right: 0;
}

#databaseTable .collectionTh {
  width: 5%;
  margin-right: 0;
}

.databaseActive {
  background-color: #BDCC92 !important;
  font-weight: 400;
}

.databaseActive a {
  color: black !important;
}

.databaseActive span {
  display:none;
}

.databaseInactive a {
  color: black !important;
}

.databaseInactive a:hover {
  font-weight: 400;
  color: black !important;
  cursor: pointer;
}
