#documentAddBtn {
  margin-left: 6px;
}

.docleftico {
  width: 30px !important;
}

#documentsFooterBox {
  height: 56px;
}

.marginRight5 {
  margin-right: 10px;
}

#documentsToolbarF {
  padding-bottom: 5px;
  margin-top: 20px;
}

#documentsToolbarF span, #logPaginationDiv span {
  position: relative;
  top: 2px;
  font-size: 14px;
  color: black;
}

#totalDocuments{
  float: left;
  color: black;
  padding-left: 10px;
  margin-top: -54px !important;
}

.arangoDropdownIn {
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  position:relative;
}

#confirmDocImport {
  margin-right: 0px;
  margin-bottom: 11px;
  height: 30px;
}


#documentsStatus {
  padding-top: 10px;
  float:left;
  width: 40%;
}

#documentsPaging {
  padding-top: 5px;
  margin: 0;
  float: right;
  text-align: right;
  width: 40%;
}

#documentsPaging a {
  font-size: 1.4em;
}

#documentsTableID_length, #documentsTableID_filter {
  display: none;
}

#documentsTableID_wrapper {
  min-height: 513px !important;
  padding-bottom: 0px !important;
}

#documentsTableID_wrapper .fg-toolbar {
  visibility: hidden;
}

.docsFirstCol, .docsSecCol, .docsThirdCol {
  border: 0 !important;
}

#documentsTableID_paginate, #documentsTableID_filter, #documentsTableID_length {
  visibility: hidden;
}

.sorting_asc, .sorting_desc {
  background:#e4e0dd;
}

.snippet-container {
  /*  margin-top: 5px;*/
}

.snippet-no-num {
  font-size: 1em;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin-bottom:0px;
}

.cuttedContent, .prettify ul li, .writeable a {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.prettify {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1em !important;
}

#collectionPrev, #collectionNext {
  padding-top: 5px !important;
  padding-bottom: 2px !important;
}

#collectionPrev {
  margin-left: 25px;
}

#collectionNext {
  margin-right: -5px;
}

.arangoPagination li:first-child a {
  margin-right: 20px !important;
}

.arangoPagination li:last-child a {
  margin-left: 30px !important;
}

.pagination ul > li > a, .pagination ul > li > span {
	cursor:pointer;
	border-width:0 0 0 0px;
}

/*
.pagination-mini ul > li:first-child > a, .pagination-small ul > li:first-child > a, .pagination-mini ul > li:first-child > span, .pagination-small ul > li:first-child > span {
	margin-right: 5px;
}
.pagination-mini ul > li:last-child > a, .pagination-small ul > li:last-child > a, .pagination-mini ul > li:last-child > span, .pagination-small ul > li:last-child > span {
	margin-left: 0px;
}*/

.pagination-mini ul > li:last-child > a, .pagination-small ul > li:last-child > a, .pagination-mini ul > li:last-child > span, .pagination-small ul > li:last-child > span,
.pagination-mini ul > li:first-child > a, .pagination-small ul > li:first-child > a, .pagination-mini ul > li:first-child > span, .pagination-small ul > li:first-child > span {
 	box-shadow: none;
	background: #8f8d8c;
	border: none;
	color:#FFFFFF;
	position:relative;
	width:14px;
	height:20px;
}

.pagination ul > li > a:hover, .pagination ul > .active > a, .pagination ul > .active > span {
  /*
  background-color: #8aa050;
  */
  background-color: #8f8d8c;
  color:#FFFFFF;
}

.pagination-mini ul > li.disabled:last-child > a,
.pagination-small ul > li.disabled:last-child > a,
.pagination-mini ul > li.disabled:last-child > span,
.pagination-small ul > li.disabled:last-child > span,
.pagination-mini ul > li.disabled:first-child > a,
.pagination-small ul > li.disabled:first-child > a,
.pagination-mini ul > li.disabled:first-child > span,
.pagination-small ul > li.disabled:first-child > span {
   pointer-events: none;
   cursor: default;
   background-color: ##777;
   color:#666666;
}

.icon-backward, .icon-forward, .icon-step-backward, .icon-step-forward {
    position: absolute;
    top: 3px;
	left:10px;
}

#documentsToolbarF .prePagi {
  margin-right: -5px !important;
}

.badge {
  border-radius:0;
}

.badge-success, .badge-important, .badge-inverse {
  background: none;
  padding-left: 0px;
  padding-right: 0px;
  position:absolute;
  bottom:27px;
  right:0px;
}

.cornered {
  padding-left: 4px;
  padding-right: 9px;
}

.badge-success .cornered,
.badge-important .cornered,
.badge-inverse .cornered {
  height: 0px;
  border-left: 16px solid transparent;
  border-bottom-width: 16px;
  border-bottom-style: solid;
}
.badge-success .cornered {
  border-bottom-color: #8AA051;
}

.badge-important .cornered {
  border-bottom-color: #B94A48;
}

.badge-inverse .cornered {
  border-bottom-color: #333333;
}

.badge .arrow:after {
  border-left-width: 0;
  border-right-color: #8AA051;
  bottom: -10px;
  left: 1px;
  border-width: 10px;
  content: "";
}

.badge .arrow, .badge .arrow:after {
  border-color: transparent;
  border-style: solid;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.span3 .unloaded div {
  border-bottom: 16px solid #FF8F35;
}

.span3 .deleted div {
  border-bottom: 16px solid red;
}

#documentsUploadDiv {
  position: absolute;
  right: 200px;
  height: 24px;
  width: 70px;
  margin: 0px !important;
}

#documentsUpload {
  width: 70px;
}

#documentsUploadDiv input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px !important;
  opacity: 0;
  width: 1;
}

#uploadIndicator {
  padding-right: 10px;
  margin-top: -3px;
}

#documentsUploadDiv:hover, #documentsUpload:hover {
  cursor: pointer !important;
}

#addFilterItem {
  margin-left: 5px;
}

#addFilterItem i {
  margin-top: 0px !important;
}

.readOnlyClass a {
  color: black !important;
}

.readOnlyClass a:hover {
  color: black !important;
  opacity: 0.8 !important;
}

.docsFirstCol{
  width: 70%;
}
.docsSecCol {
 width: 20%;
 min-width: 400px !important;
}

.docsThirdCol {
  float:right;
}

#documentsToolbarF a, #logPaginationDiv a {
  margin-left: 11px;
}


#indexHeaderContent > div {
  padding: 10px;
}

#indexHeaderContent .arangoicon {
  font-size: 25px;
  position: relative;
  top: -3px !important;
}

#figuresHeader th {
  width: 100% !important;
}

#figuresHeader .collectionInfoTh {
  width: 25% !important;
}

#createIndex, #addIndex, #cancelIndex {
  margin-top: 15px !important;
  margin-left: 0;
}

#collectionEditIndexTable {
  margin-top: 5px;
  min-width: auto !important;
}

#collectionEditIndexTable th {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#newIndexView input[type='checkbox'] {
  float: left;
  margin-top: -9px;
}

#newIndexView table tr {
  width: 600px !important;
}

#newIndexView table tr th:last-child {
  width: 50px !important;
}

#newIndexView table th {
  width: 200px !important;
  font-weight: 300 !important;
}

#indexEditView a {
  font-size: 16px;
  font-weight: 300;
  color: black;
}

#collectionEditIndexTable .icon_arangodb_locked {
  font-size: 20px;
  margin-left: 10px;
  color: rgba(0,0,0,0.5);
  cursor: default;
}

#collectionEditIndexTable .icon_arangodb_roundminus {
  font-size: 20px;
  color: #BE342E;
  margin-left: 10px;
  cursor: pointer;
}
