.sorting_1 textarea {
  display: inline !important;
  max-width: 120px !important;
  max-height: 20px !important;
  resize: none !important;
}

.textInline {
  display:inline !important;
}

.validateError {
  border: 2px solid red !important;
}

.disabledBtn {
  opacity: 0.4 !important;
  cursor: default !important;
}

.docLink {
}

.docPreview {
  text-align: right;
  float: right;
  margin-right: -17px !important; 
}

#collectionPrev, #collectionNext{
  cursor: pointer;
}

.disabledPag, .disabledPag a{
  opacity: 0.5 !important;
  cursor: default !important;
}

#tableDiv, #logContent{
  padding: 13px 5px 10px 5px;
}

#logContent .tab-content {
  margin-top: 1px !important;
}

.arangoTab a {
  color: black !important;
  cursor: pointer;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.arangoTab > li {
  background-color: transparent !important;
  border: 0 !important;
  position: relative;
  z-index: 900;
  margin-left: 2px;
  cursor: pointer;
}

#addDocumentLine {
  padding-top: 7px;
  padding-right: 0;
  margin-right: -1px;
  float: right;
  color: black;
}

#addDocumentLine:hover,
#sourceView:hover {
  cursor: pointer;
}

#addRow {
  color: #8AA050;
}

.deleteAttribute {
  color: #B30000;
}

.editSecondAttribute, .editFirstAttribute {
  color: #444444;
  font-size: 16px;
  float:right;
  padding-top: 4px;
}

.addAttribute, .deleteAttribute {
  font-size: 20px;
  float:right;
  padding-top: 2px;
}

#documentTableID {
  font-weight: 300;
  font-size: 15px !important;
  border-collapse:separate;
  border-spacing:0 0px;
  border-top: 1px solid #888;
  background-color: #FFFFFF;
}

table.dataTable thead th {
  font-weight: 400 !important;
}

#documentTableID thead {
  text-align: left;
  padding-top: 6px;
  padding-bottom: 6px;
}

#documentTableID .writeable {
  cursor: pointer;
}

.read_only {
  cursor: default !important;
}

.editFirstAttribute {
  float:right;
  text-align:right;
  margin-right: -17px !important;
}

.editSecondAttribute {
  float:right;
  text-align:right;
  margin-right: -30px !important;
  padding-bottom: 1px;
}

#documentTableID .icon-edit {
  margin-top: 0;
}

#documentTableID .icon-edit:hover {
  cursor: pointer;
}

#documentTableID.dataTable thead tr {
/*  background-color: #F1F0EE;*/
  background-color: #FFFFFF;
}

#documentTableID .odd,
#documentTableID .even {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#documentTableID .odd, #documentsTableID .odd {
	background:#F1F0EE;
}
#documentTableID .even, #documentsTableID .even {
	background:#FFFFFF;
}

#documentTableID tr.odd td.sorting_1 {
    background:#F1F0EE;/* #fdf6df*/
}

#documentTableID tr.even td.sorting_1 {
    background:#FFFFFF; /*#fdfaec*/
}

.arangoTab > li > a,
.arangoTab > li:hover > a {
    border-radius: 0 !important;
    background-color: #F1F0EE;
    border-bottom: 1px solid #888;
    font-size: 13px !important;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.arangoTab > li.active {
  width: auto;
}

.arangoTab > li > a {
  min-width: 50px;
  text-align: center;
  background-color: none;
}

.arangoTab > li.active > a,
.arangoTab > li:hover.active > a {
  background: #FFF;
  border-left: 1px solid #888;
  margin-top: -1px;
  padding-bottom: -2px;
  border-right: 1px solid #888;
  border-top: 1px solid #888;
  border-bottom: 1px solid #FFFFFF;
  height: 21px;
}

.rightCell{
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 600px !important;
}

.rightCell form {
  max-width: 600px; 
  min-width: 300px; 
  width: 100% !important;
}

.rightCell textarea {
  max-width: 580px;
  min-width: 580px;
  resize: vertical;
}

.arangoTab {
  padding-bottom: 0 !important;
  margin-bottom: -1px !important;
  margin-right: 15px;
}

.arangoTab .nav-tabs li {
  margin-left: 2px;
}

#logContent .tab-content {
  margin-top: 5px;
}

table.dataTable thead th {
  padding: 10px 14px;
  /*padding: 7px 18px 5px 15px;*/
}

.tdRoundButton {
  padding-top: 7px !important;
  float: right;
}

#documentTableID.dataTable thead tr th {
  border-bottom: 1px solid #C2C2C2;
}
