#tableView {
  cursor: pointer;
  background-color: #EEEEEE;
}

#sourceFooter {
  margin-top: 0;
  background: none;
  margin-bottom: 0;
  padding-right: 0;
  padding-top: 30px;
  padding-bottom: 5px;
}

#sourceEditor {
  height: 400px;
  width: auto;
  overflow:hidden;
  margin-right: 0px;
  padding-bottom: 20px;
  border-top: 1px solid #888;
  border-left: 1px solid #C0C0C0;
}

#sourceEditor .ui-resizable-handle {
  border-left: 0;
}

#sourceDiv {
  margin-top: 0px;
  padding-left: 5px;
  padding-top: 13px;
  padding-right: 5px;
  padding-bottom: 5px;
  min-height: 400px;
  margin-bottom: 20px;
}

.sourceBox {
}
