#documentsTableID .key {
  margin-top: 4px;
}

#addDocumentButton {
  position: relative;
  margin-right: 6px;
  font-size: 20px;
  color: #8AA050;
  margin-top: 2px;
}

table.dataTable thead th {
  cursor: default !important;
}

#tableDiv table.dataTable td {
  padding:12px 18px !important;
}

#documentsDiv table.dataTable td {
  padding:10px 18px !important;
}

#documentAddBtn {
  margin-left: 6px;
}

.docleftico {
  width: 30px !important;
}

#deleteDoc {
  color: #B30000;
  font-size: 20px;
  padding-right: 3px;
  top: 3px;
  position: relative;
}

#deleteDoc span {
}

#documentsFooterBox {
  background-color: rgba(0,0,0,0.15);
  height: 56px;
}

#documentsToolbar {
  margin-bottom: 0 !important;
}

.marginRight5 {
  margin-right: 10px;
}

#documentsToolbarF {
  padding-bottom: 5px;
  margin-top: 20px;
}

#documentsToolbarF span, #logPaginationDiv span {
  position: relative;
  top: 2px;
  font-size: 14px;
  color: black;
}

#documentsToolbarF .glyphicon-backward, #logPaginationDiv .glyphicon-backward {
  right: 2px;
}

#totalDocuments{
  float: left;
  color: black;
  padding-left: 10px;
  margin-top: -54px !important;
}

.arangoDropdown {
  background-color: rgba(0,0,0,0.15);
  margin-bottom: -10px;
}

#filterHeader, #importHeader, .arangoDropdownIn {
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  position:relative;
}

#importHeader input {
  line-height: 0px !important;
  (;margin-top: 5px;margin-bottom: -5px;)
}

#confirmDocImport {
  margin-right: 0px;
  margin-bottom: 11px;
  height: 30px;
}

#filterHeader #sendFilter{
    margin-right: 0px;
    margin-left: 0px;
    background-color:#686766;
    border-bottom: 1px solid #a0a0a0;
    color:#FFF;
    padding:0 20px;
    position:relative;
    float: right;
}
#filterHeader select {
    width: 100px;
}
#documentsStatus {
  padding-top: 10px;
  float:left;
  width: 40%;
}

#documentsPaging {
  padding-top: 5px;
  margin: 0;
  float: right;
  text-align: right;
  width: 40%;
}

#documentsPaging a {
  font-size: 1.4em;
}

#documentsDiv {
  margin-top: 10px !important;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 13px;
  background-color: rgba(0, 0, 0, 0.15);
}

#documentsTableID thead {
  font-weight: 400 !important;
  background-color: #FFFFFF !important;
  text-align: left;
}

#documentsTableID_length, #documentsTableID_filter {
  display: none;
}

#documentsTableID_wrapper {
  min-height: 513px !important;
  padding-bottom: 0px !important;
}

#documentsTableID_wrapper .fg-toolbar {
  visibility: hidden;
}

#documentsTableID {
  padding-left: 5px !important;
  padding-right: 5px !important;
  width: 100% !important;
  position: relative;
  table-layout:fixed !important;
  border-spacing:0 0px;
}

#documentsTable thead {
  border: 0 !important;
}

.docsFirstCol, .docsSecCol, .docsThirdCol {
  border: 0 !important;
}

table.dataTable thead th {
  border-bottom:none;
}

#documentsTableID.dataTable thead tr {
  border-bottom: 1px solid #C2C2C2;
}

#documentsTableID tbody {
}

#documentsTableID.dataTable tr,
#logContent .dataTable tr {
}

#logContent .odd {
  background-color: #F1F0EE;
}

#logContent .even {
  background-color: #FFFFFF;
}


#documentsTableID .odd:hover,
#documentsTableID .even:hover,
#logContent .odd:hover,
#logContent .even:hover {
  cursor: pointer;
  /*background-color: #D4DFC3 !important;*/
}

#documentsTableID.dataTable tr.even td.sorting_1,
#documentsTableID.dataTable tr.odd td.sorting_1,
#logContent tr.even td.sorting_1,
#logContent tr.odd td.sorting_1 {
}

#documentsTableID tr.even:hover td.sorting_1,
#documentsTableID tr.odd:hover td.sorting_1,
#logContent tr.even:hover td.sorting_1,
#logContent tr.odd:hover td.sorting_1 {
}


#documentsTableID_paginate, #documentsTableID_filter, #documentsTableID_length {
  visibility: hidden;
}

.sorting_asc, .sorting_desc {
  background:#e4e0dd;
}

.snippet-container {
  /*  margin-top: 5px;*/
}

.snippet-no-num {
  font-size: 1em;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin-bottom:0px;
}

.cuttedContent, .prettify ul li, .writeable a {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.prettify {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1em !important;
}

#collectionPrev, #collectionNext {
  padding-top: 5px !important;
  padding-bottom: 2px !important;
}

#collectionPrev {
  margin-right: 11px;
  margin-left: 20px;
}

#collectionNext {
  margin-right: -5px;
}

.arangoPagination li:first-child a {
  margin-right: 20px !important;
}

.arangoPagination li:last-child a {
  margin-left: 30px !important;
}

.pagination ul > li > a, .pagination ul > li > span {
	cursor:pointer;
	border-width:0 0 0 0px;
}

#documentsToolbar li {
  margin-right: 6px;
}

#documentsToolbar .pagination-mini ul > li:first-child > a,
#documentsToolbar .pagination-small ul > li:first-child > a,
#documentsToolbar .pagination-mini ul > li:first-child > span,
#documentsToolbar .pagination-small ul > li:first-child > span {
	margin-right: 5px;
}
/*
.pagination-mini ul > li:first-child > a, .pagination-small ul > li:first-child > a, .pagination-mini ul > li:first-child > span, .pagination-small ul > li:first-child > span {
	margin-right: 5px;
}
.pagination-mini ul > li:last-child > a, .pagination-small ul > li:last-child > a, .pagination-mini ul > li:last-child > span, .pagination-small ul > li:last-child > span {
	margin-left: 0px;
}*/

.pagination-mini ul > li:last-child > a, .pagination-small ul > li:last-child > a, .pagination-mini ul > li:last-child > span, .pagination-small ul > li:last-child > span,
.pagination-mini ul > li:first-child > a, .pagination-small ul > li:first-child > a, .pagination-mini ul > li:first-child > span, .pagination-small ul > li:first-child > span {
 	box-shadow: none;
	background: #8f8d8c;
	border: none;
	color:#FFFFFF;
	position:relative;
	width:14px;
	height:20px;
}

.pagination ul > li > a:hover, .pagination ul > .active > a, .pagination ul > .active > span {
  background-color: #8aa050;
  color:#FFFFFF;
}

.pagination-mini ul > li.disabled:last-child > a, .pagination-small ul > li.disabled:last-child > a, .pagination-mini ul > li.disabled:last-child > span, .pagination-small ul > li.disabled:last-child > span,
.pagination-mini ul > li.disabled:first-child > a, .pagination-small ul > li.disabled:first-child > a, .pagination-mini ul > li.disabled:first-child > span, .pagination-small ul > li.disabled:first-child > span {
   pointer-events: none;
   cursor: default;
   background-color: ##777;
   color:#666666;
}

.icon-backward, .icon-forward, .icon-step-backward, .icon-step-forward {
    position: absolute;
    top: 3px;
	left:10px;
}

#documentsToolbarF .prePagi {
  margin-right: -5px !important;
}

.badge {
  border-radius:0;
}

.badge-success, .badge-success, .badge-important, .badge-inverse {
  background: none;
  padding-left: 0px;
  padding-right: 0px;
  position:absolute;
  bottom:27px;
  right:0px;
}

.cornered {
  padding-left: 4px;
  padding-right: 9px;
}

.badge-success .cornered {
  height: 0px;
  border-bottom: 16px solid #8AA051;
  border-left: 16px solid transparent;
}

.badge-important .cornered {
  height: 0px;
  border-bottom: 16px solid #B94A48;
  border-left: 16px solid transparent;
}

.badge-inverse .cornered {
  height: 0px;
  border-bottom: 16px solid #333333;
  border-left: 16px solid transparent;
}

.badge .arrow:after {
  border-left-width: 0;
  border-right-color: #8AA051;
  bottom: -10px;
  left: 1px;
}

.badge .arrow:after {
  border-width: 10px;
  content: "";
}

.badge .arrow, .badge .arrow:after {
  border-color: transparent;
  border-style: solid;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.span3 .unloaded div {
  border-bottom: 16px solid #FF8F35;
}

.span3 .deleted div {
  border-bottom: 16px solid red;
}

#documentsUploadDiv {
  position: absolute;
  right: 200px;
  height: 24px;
  width: 70px;
  margin: 0px !important;
}

#documentsUpload {
  width: 70px;
}

#documentsUploadDiv input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px !important;
  opacity: 0;
  width: 1;
}

#uploadIndicator {
  padding-right: 10px;
  margin-top: -3px;
}

#documentsUploadDiv:hover, #documentsUpload:hover {
  cursor: pointer !important;
}

#filterHeader button {
  float: right;
  margin-top: 1px;
  margin-left: 10px !important;
}

#addFilterItem {
  margin-left: 5px;
}

#addFilterItem i {
  margin-top: 0px !important;
}

#filterHeader input, #filterHeader select, #filterHeader button {

}

#filterHeader select {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.readOnlyClass a {
  color: black !important;
}

.readOnlyClass a:hover {
  color: black !important;
  opacity: 0.8 !important;
}

.docsFirstCol{
  width: 70%;
}
.docsSecCol {
 width: 20%;
 min-width: 400px !important;
}

.docsThirdCol {
  padding-right: 15px !important;
  float:right;
}

/*RADIUS*/
#documentsToolbarF a , #documentsToolbar a{
  border-radius: 0 !important;
}

#documentsToolbarF ul, #documentsToolbar ul {
  border-radius: 0 !important;
}

#documentsToolbarF li ,#documentsToolbar li{
  border-radius: 0 !important;
}

#documentsToolbarF a, #logPaginationDiv a {
  margin-left: 11px;
}

#documentsToolbar ul {
  margin-left: 0 !important;
  padding-left: 0!important;
}

.queryline select, .queryline input {
  margin-bottom: 5px !important;
}

.queryline {
  color: black;
  height: 50px;
  margin-bottom: -15px;
}

.querylineAdd span {
  position: relative;
  top: -21px;
  color: white;
  padding-left: 10px;
}

.removeFilterItem i {
  margin-top: 0px !important;
  margin-left: 5px !important;
}

#documentsToolbar li a {
  margin-top: 0px !important;
  padding: 5px 11px 2px 9px;
}

#documentsToolbar span {
  font-size: 16px;
  margin-right: 3px;
  margin-left: 0px;
}

#resetView, #filterSend, #confirmDocImport {
}

#indexHeaderContent {
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
}

#indexHeaderContent > div {
  padding: 10px;
}

#figuresHeader th {
  width: 100% !important;
}

#figuresHeader .collectionInfoTh {
  width: 25% !important;
}

#createIndex, #addIndex, #cancelIndex {
  margin-top: 15px !important;
  margin-left: 0;
}

#collectionEditIndexTable {
  margin-top: 5px;
  min-width: 100% !important;
}

#collectionEditIndexTable tr:nth-child(even) {
  background-color: white !important;
}

#collectionEditIndexTable tr:nth-child(odd) {
  background-color: #F1F0EE !important;
}

#collectionEditIndexTable th {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#collectionEditIndexTable .glyphicon {
  font-size: 18px !important;
  position: relative;
  top: 2px;
}

#collectionEditIndexTable .glyphicon-minus-sign {
  color: #B30000;
}

#collectionEditIndexTable .glyphicon-ban-circle {
  color: #C2C2C2;
  cursor: default !important;
}

#newIndexView input[type='checkbox'] {
  float: left;
  margin-top: -9px;
}

#newIndexView table tr {
  width: 600px !important;
}

#newIndexView table tr th:last-child {
  width: 50px !important;
}

#newIndexView table th {
  width: 200px !important;
  font-weight: 300 !important;
}

#indexEditView a {
  font-size: 16px;
  font-weight: 300;
  color: black;
}
