.disabledPag, .disabledPag a{
  opacity: 0.5 !important;
  cursor: default !important;
}

#tableDiv, #logContent, #documentsDiv, #sourceDiv, #graphManagementDiv {
  padding-top: 13px;
}

#logContent .tab-content {
  margin-top: 1px !important;
}


table.dataTable thead th {
  font-weight: 400 !important;
  padding: 10px 14px;
}

#documentTableID thead {
  text-align: left;
  padding-top: 6px;
  padding-bottom: 6px;
}

#logContent .tab-content {
  margin-top: 5px;
}

#documentTableID.dataTable thead tr th {
  border-bottom: 1px solid #C2C2C2;
}

#documentEditor {
  width:100%;
  height: 500px;
}

#saveDocumentButton {
  margin-top: 5px;
}

#showSaveState {
  display:none;
  color: green;
  float:right;
  margin-top: 10px;
  font-weight: 300;
}
