#addFilterItem, .removeFilterItem {
  cursor: pointer;
}

#documentAddBtn {
  margin-left: 6px;
}

#documentsFooterBox {
  height: 56px;
}

#totalDocuments{
  float: left;
  color: black;
  padding-left: 10px;
  margin-top: -54px !important;
}

#confirmDocImport {
  margin-right: 0px;
  margin-bottom: 11px;
  height: 30px;
}

#collectionPrev {
  margin-left: 23px;
}

.icon-backward, .icon-forward, .icon-step-backward, .icon-step-forward {
    position: absolute;
    top: 3px;
	left:10px;
}

