.dropdownImport {
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  position:relative;
}

.dropdownImport input {
  line-height: 0px !important;
  margin-top: 5px;
  margin-bottom: -5px;
}
