input.gv_searchInput {
  border: 1px solid #cccccc;
}

div.gv_background {
  position: relative;
  height: 685px;
}


.searchSubmit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.searchByAttribute, .searchEqualsLabel {
  margin-right: 6px;
  margin-left: 6px;
}

.capitalize {
  text-transform: capitalize;
}

img.gv-throbber {
  background-image:url("../img/swagger/throbber.gif");
}

pre.gv_object_view {
  text-align: left;
  white-space: pre;
}

input.gv_radio_button {
  display: block;
  width: auto;
  margin-top: 3px;
}

legend.gv_inner {
  font-size: 16px;
}

ul.gv_configure_menu {
  position: absolute;
  left: auto;
  right: 24px;
  top: 18px;
}

span.gv_caret {
  margin-top: 2px !important;
}
