/* The bar on top of each page */
div.headerBar {
  position: relative;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #686766;
  color: #FFFFFF;
  height: 36px;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

/* The title of the page */

div.headerBar a.arangoHeader,
.modal-header .arangoHeader {
  color: white;
  position: relative;
  top: 7px;
  left: 5px;
  font-size: 16px;
}

/* The buttons on the right side */

div.headerBar > div.headerButtonBar {
  margin: 4px 0px;
  margin-bottom: 0 !important;
}

/* Breadcrumbs on the left side */

div.headerBar > div.breadcrumb {
  padding-left: 5px !important;
}

/* Disabled breadcrumb */
div.breadcrumb a.disabledBread {
  color:#fff;
}

/* #transparentHeader */

/* Unused
div.headerBar > .btn-group {
  margin-top: 6px !important;
}

#transparentHeader i {
  margin-top: 0px;
  margin-right: 0px;
  left: 10px;
  position: absolute;
}
*/

/* option 1 - dropdown filter  */
div.headerBar .dropdown-menu {
  border-radius: 0px 0px 0px 0px;
  margin-top: 6px;
  margin-right: -20px;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid 1px #686766;
}

div.headerBar .dropdown-menu .checkboxLabel {
  color: white !important;
}

div.headerBar .dropdown-menu .divider {
  background-color: #686755 !important;
  border-bottom: 0 !important;
  color: #686755 !important;
}

/* option 2 */
/*
#transparentHeader .dropdown-menu {
border-radius: 0 0 4px 4px !important;
margin-top: 6px !important;
margin-right: -3px !important;
background-color: #686766;
border-left: solid 1px #BFBDBC;
border-bottom: solid 1px #BFBDBC;
border-right: solid 1px #BFBDBC;
border-top: 0;
}

  #transparentHeader .dropdown-menu .checkboxLabel {
  color: white !important;
}

  #transparentHeader .dropdown-menu .divider {
  background-color: #BFBDBC !important;
  border-bottom: 0 !important;
  color: #686755 !important;
}

  #transparentHeader .dropdown-menu .nav-header {
  color: #BFBDBC !important;
}
 */


/* arangoHeader */
.arangoHeader {
  font-weight: 400;
}

