.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.4 ;
}

.arango-logo img {
  margin-left: 22px;
}

.arangoBtn {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #333232;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 4px 10px;
  text-decoration: none;
}

.arangoBtnSuccess {
  background: none repeat scroll 0 0 #5E7B36;
  color: #FFFFFF;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 4px 10px;
  text-decoration: none;
}

/* Radius */
.thumbnail, .navbar-inner, .btn, .btn-primary {
  border-radius:0;
  box-shadow: 0;
}

.btn-margin {
 /* margin-left: 15px !important;*/
}

#transparentHeader .arangoHeader, #dashboardHeader .arangoHeader, .modal-header .arangoHeader{
  color: white;
  position: relative;
  top: 7px;
  left: 5px;
  font-size: 16px;
}

.arangoHeader {
  font-weight: 400;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background: #788f3d;
}

textarea, .alert {
  border-radius: 0 !important;
}

.alert {
  padding: 15px 35px 15px 14px;
}

.btn {
 	box-shadow:none;
	background: #8f8d8c;
	border: none;
	color:#FFFFFF;
	margin-left:10px;
  padding: 5px 16px;
  font-weight: 300 !important;
  font-size: 14px;
}

.btn-old-padding {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.btn:hover {
	background: #736b68;
	color:#FFFFFF;
}

.btn-primary {
	background: #564e4a;
}

.btn-primary:hover {
	background: #3a322e;
}

.btn-notification {
  background-color: #FAA020;
  margin-right: 5px;
}

.btn-notification:hover {
  background-color: #F87C0F;
}

.btn-success {
	background: #8AA051;
}

.btn-success:hover {
  cursor: pointer;
	background: #788f3d;

}

.btn-danger {
    background-color: #DA4F49;
}

.btn-danger:hover {
    background-color: #be342e;
}

.btn-group > .btn + .dropdown-toggle {
	box-shadow: 1px 0 0 rgba(255, 255, 255, 0.125) inset, 0 1px 0 rgba(255, 255, 255, 0.2) inset;

}

.btn-group.open .btn-inverse.dropdown-toggle {
	background-color: #736b68;
}


.breadcrumb {
  background-color: #F5F5F5;
  background: transparent;
  border-radius: 0px;
  border:none;
  padding:8px 0px;
}

.breadcrumb a.activeBread {
  color:#b9d375;
}

#content {
  margin-top: 74px;
  margin-bottom: 33px;
  min-height: 80px;
  height: 100%;
  width: 100%;
  margin-left: 20px;
  margin-left: 0;
}

body {
  background-color: white !important;
  /*background: url("../img/bg_paper.gif") repeat scroll 0 0 #E5E1DD !important;*/
}

#footer {
  width: 100%;
}

.form-actions {
  background-color: #FFFFFF;
  border:none;
}

/* ICONS */
.icon-info-sign:hover {
  cursor: pointer;
}

.about-icon {
  float: left;
  margin-right: 12px;
}

.clearicon {
  opacity: 0.2;
  cursor: pointer;
  margin-top: 3px;
  top: 20px;
  right: 25px;
  position: absolute;
}

#plusIcon {
  margin-right: 10px;
  margin-top: 11px;
  margin-right: 22px;
  opacity: 0.3;
}

#plusIcon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.reloadicon {
  opacity: 0.2;
  cursor: pointer;
  margin-top: 3px;
  top: 20px;
  right: 45px;
  position: absolute;
}

.clearicon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.reloadicon:hover {
  opacity: 0.8;
  cursor: pointer;
}

table .sorting {
  background: none !important;
}

/* ABOUT VIEW */
#aboutDiv {
  background-color: rgba(0,0,0,0.15);
  padding-bottom: 5px;
}

#aboutDiv .row {
  border: 8px solid #F4F3F3 !important;
  margin-bottom: 25px;
  background-color: white;
  padding-bottom: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

#aboutHeader {
  padding-bottom: 33px;
}

#aboutDiv h3 {
}

#aboutDiv .row a {
  padding-left: 20px;
}

.disabledHover {
  cursor: default !important;
}

.disabledHover:hover {
  background-color: #8F8D8C !important;
}

/* TESTING DYN */

.container {
  width: auto !important;
  margin-left: 20px;
  margin-right: 20px;
}

.row {
  margin: 0;
}

.marginRight10 {
}

.form-actions {
  margin-top: -10px !important;
}

input,select,option {
  border-radius: 0 !important;
}

button {
  font-family: 'Open Sans', sans-serif !important;
}

.glyphicon:hover {
  cursor: pointer !important;
}

.arangoicon:hover {
  cursor: pointer !important;
}

.accordion-group {
  border: 0;
}

.accordion-inner {
  border-top: 0;
}

.accordion-heading a {
  border: 1px solid #cccccc;
  color: black;
  width: 397px !important;
  font-weight: 400;
}
