/* Radius */

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background: #788f3d;
}



table .sorting {
  background: none !important;
}

/* TESTING DYN */

.container {
  width: auto !important;
  margin-left: 20px;
  margin-right: 20px;
}

.row {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 20px;
}


input,select,option {
  border-radius: 0 !important;
}

li a [class^="icon_arangodb"], li a [class*=" icon_arangodb"] {
  font-size: 18px;
  position: absolute;
  right: 4px;
  top: 2px;
}

