.arangoBtn, .arangoBtnSuccess {
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 4px 10px;
  text-decoration: none;
}

.arangoBtn {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #333232;
}

.arangoBtnSuccess {
  background: none repeat scroll 0 0 #5E7B36;
  color: #FFFFFF;
}

.arangoHeader {
  font-weight: 400;
}
/* Radius */
.thumbnail, .navbar-inner { 
  border-radius:0;
  box-shadow: 0;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background: #788f3d;
}

textarea, .alert {
  border-radius: 0 !important;
}

.alert {
  padding: 15px 35px 15px 14px;
}

.breadcrumb {
  background-color: #F5F5F5;
  background: transparent;
  border-radius: 0px;
  border:none;
  padding:8px 0px;
}

.breadcrumb a.activeBread {
  color:#b9d375;
}

body {
  background-color: white !important;
  /*background: url("../img/bg_paper.gif") repeat scroll 0 0 #E5E1DD !important;*/
}

#footer {
  width: 100%;
}

.form-actions {
  margin-top: -10px !important;
  border:none;
  background: none;
}

table .sorting {
  background: none !important;
}

/* TESTING DYN */

.container {
  width: auto !important;
  margin-left: 20px;
  margin-right: 20px;
}

.row {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 20px;
}


input,select,option {
  border-radius: 0 !important;
}

button {
  font-family: 'Open Sans', sans-serif !important;
}

.arangoicon:hover {
  cursor: pointer !important;
}

li a [class^="icon_arangodb"], li a [class*=" icon_arangodb"] {
  font-size: 18px;
  position: absolute;
  right: 4px;
  top: 2px;
}

.icon_arangodb_info {
  font-size: 23px;
  color: #736B68;
}
