@media (max-width: 798px) {
  #arangoCollectionUl {
    display: none;
  }
  #collectionsDropdown ul {
    width: auto !important;
  }
  #arangoCollectionSelect {
    display: inline-block;
  }
}

@media (min-width: 799px) and (max-width: 1041px) {
  #arangoCollectionUl a {
    font-size: 12px;
    padding: 7px 5px 10px;
  }
}


@media (min-width: 1042px) and (max-width: 1284px) {
  #arangoCollectionUl a {
    font-size: 13px;
  }
}
