#!/usr/bin/make -f
%:
	dh $@

build:
	echo We are assuming that the buildStaticArangoDB has already run.

override_dh_auto_configure:
	echo Skipping configure

override_dh_auto_build:
	echo Building static binaries here, downloading starter...

override_dh_auto_install:
	echo Copying files...
	cp -a build/install/* debian/@EDITION@
	mkdir -p debian/@EDITION@/lib/systemd/system
	cp debian/arangodb3.service debian/@EDITION@/lib/systemd/system
	mkdir -p debian/@EDITION@/etc/init.d
	cp debian/arangodb3.init debian/@EDITION@/etc/init.d/arangodb3
	cd build/install ; for i in arangobench arangodump arangoexport arangoimport arangoinspect arangorestore arangosh arangovpack foxx-manager; do cp -a --parents etc/arangodb3/$$i.conf usr/bin/$$i ../../debian/@EDITION@-client; done
	cd build/install ; for i in arangoimp; do cp -a --parents usr/bin/$$i ../../debian/@EDITION@-client; done
	cd build/install ; cp -a --parents usr/share/arangodb3/icudtl*.dat ../../debian/@EDITION@-client
	cd build/install ; if test -d usr/share/arangodb3/js/common; then cp -a --parents usr/share/arangodb3/js/common usr/share/arangodb3/js/client usr/share/arangodb3/js/node ../../debian/@EDITION@-client; else cp -a --parents usr/share/arangodb3/js/*/common usr/share/arangodb3/js/*/client usr/share/arangodb3/js/*/node ../../debian/@EDITION@-client; fi
	cd build/install ; if test -x usr/bin/arangobackup ; then cp -a --parents etc/arangodb3/arangobackup.conf usr/bin/arangobackup ../../debian/@EDITION@-client ; fi

override_dh_strip:
	@DEBIAN_STRIP_ALL@dh_strip --exclude usr/bin/arangodb --dbg-package @EDITION@-dbg
	@DEBIAN_STRIP_EXCEPT_ARANGOD@dh_strip --exclude usr/bin/arangodb --exclude usr/sbin/arangod --dbg-package @EDITION@-dbg
	@DEBIAN_STRIP_NONE@

override_dh_builddeb:
	dpkg-deb -Zgzip --build debian/@EDITION@ .. 
	dpkg-deb -Zgzip --build debian/@EDITION@-client ..
	@DEBIAN_STRIP_ALL@dpkg-deb -Zgzip --build debian/@EDITION@-dbg ..
	@DEBIAN_STRIP_EXCEPT_ARANGOD@dpkg-deb -Zgzip --build debian/@EDITION@-dbg ..
