<div class="headerBar">
  <div class="headerButtonBar">
    <ul class="headerButtonList">
      <li>
        <a id="foxxToggle" class="headerButton">
          <span class="icon_arangodb_settings2" title="Settings"></span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div id="foxxDropdownOut" class="headerDropdown">
  <div id="foxxDropdown" class="dropdownInner">
    <ul>
      <li class="nav-header">Type</li>
      <li><a href="#services">
        <label class="checkbox checkboxLabel">
          <input class="css-checkbox" type="checkbox" id="checkProduction"/>
          <i class="fa"></i>
          Production
        </label>
      </a></li>

      <li><a href="#services">
        <label class="checkbox checkboxLabel">
          <input class="css-checkbox" type="checkbox" id="checkDevel"/>
          <i class="fa"></i>
          Development
        </label>
      </a></li>

      <li><a href="#services">
        <label class="checkbox checkboxLabel">
          <input class="css-checkbox" id="checkSystem" type="checkbox"/>
          <i class="fa"></i>
          System Services
        </label>
      </a></li>
    </ul>
  </div>
</div>

<div class="contentDiv">
  <div id="installed">
    <div id="installedList" class="tileList pure-u">
      <div class="tile pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 pure-u-xl-1-5">
        <div class="fullBorderBox">
          <a id="addApp" class="add"><span class="pull-left add-Icon"><i class="fa fa-plus-circle"></i>
</span> Add Service</a>
        </div>
      </div>
    </div>
  </div>
</div>
