<script id="applierView.ejs" type="text/template">
  <div id="applierContent" class="innerContent applierContent replicationContent">
    
    <div class="repl-applier">
      <div class="categoryBar">
        <h4>Follower States</h4>
      </div>

      <table id="repl-follower-table" class="pure-table" style="width: 100%">
        <thead>
          <tr>
            <th>Endpoint</th>
            <th>Running</th>
            <th>Version</th>
            <th>Server ID</th>
            <th>Time</th>
          </tr>
        </thead>

        <tbody>
        </tbody>

      </table>
    </div>

  </div>
</script>
