<div class="arango-tabbar" id="<%=content.id%>">
  <% _.each(content.titles, function(k,v) { %>
  <% var name = content.titles[v][0];  %>
  <% var elid = content.titles[v][1];  %>
  <button class="arangodb-tabbar" id="<%=elid%>"><%=name%></button>
  <%});%>
</div>
