
  <div class="headerBar" style="margin-top: -60px">
    <div class="headerButtonBar">
      <ul class="headerButtonList">
      </ul>
    </div>
  </div>

  <div id="clusterContent" class="innerContent">

    <div class="pure-g cluster-values">

      <div class="pure-u-1-2 pure-u-md-1-4">
        <div class="valueWrapper">
          <div id="clusterCoordinators" class="value"><i class="fa fa-spin fa-circle-o-notch" style="color: rgba(0, 0, 0, 0.64);"></i></div>
          <div class="graphLabel">coordinators</div>
        </div>
      </div>

      <div class="pure-u-1-2 pure-u-md-1-4">
        <div class="valueWrapper">
          <div id="clusterDBServers" class="value"><i class="fa fa-spin fa-circle-o-notch" style="color: rgba(0, 0, 0, 0.64);"></i></div>
          <div class="graphLabel">DB Servers</div>
        </div>
      </div>

      <div class="pure-u-1-2 pure-u-md-1-4">
        <div class="valueWrapper">
          <div id="clusterRam" class="value"><i class="fa fa-spin fa-circle-o-notch" style="color: rgba(0, 0, 0, 0.64);"></i></div>
          <div class="graphLabel">RAM</div>
        </div>
      </div>

      <div class="pure-u-1-2 pure-u-md-1-4">
        <div class="valueWrapper">
          <div id="clusterConnections" class="value"><i class="fa fa-spin fa-circle-o-notch" style="color: rgba(0, 0, 0, 0.64);"></i></div>
          <div class="graphLabel">Connections</div>
        </div>
      </div>

    </div>


    <div class="pure-g cluster-graphs">

      <div class="pure-u-1-1 pure-u-md-24-24 pure-u-lg-12-24">
        <div class="graphWrapper">
          <div id='clusterData'></div>
          <div class="graphLabel">DATA</div>
        </div>
      </div>

      <div class="pure-u-1-1 pure-u-md-12-24 pure-u-lg-6-24">
        <div class="graphWrapper">
          <div id='clusterHttp'></div>
          <div class="graphLabel">HTTP</div>
        </div>
      </div>

      <div class="pure-u-1-1 pure-u-md-12-24 pure-u-lg-6-24">
        <div class="graphWrapper">
          <div id='clusterAverage'></div>
          <div class="graphLabel">AVG Request Time</div>
        </div>
      </div>

    </div>

  </div>

