  <div class="headerBar">
    <div class="headerButtonBar">
    </div>
  </div>

  <div class="innerContent computedValues-info-div">
      <span>
        <a target="_blank" href="https://docs.arangodb.com/<%=parsedVersion%>/concepts/data-structure/documents/computed-values/" class="button-warning button-help-inline"><i class="fa fa-question-circle" style="margin-left: auto;"></i> Help</a>
      </span>
      <div id="computedValuesEditor"> </div>
      <div class="bottomButtonBar">
        <button id="saveComputedValuesButton" class="pull-right button-success">Save</button>
      </div>
  </div>
