  <div class="headerBar">
    <div class="headerButtonBar">
    </div>
  </div>

  <div class="innerContent computedValues-info-div">
      <div id="computedValuesEditor"> </div>
      <div class="bottomButtonBar">
        <button id="saveComputedValuesButton" class="pull-right button-success">Save</button>
      </div>
  </div>
