  <div class="headerBar">
    <div class="headerButtonBar">
    </div>
  </div>

  <div class="innerContent computedValues-info-div">
      <span>
        <a target="_blank" href="https://www.arangodb.com/docs/<%=parsedVersion%>/data-modeling-documents-computed-values.html" class="button-warning"><i class="fa fa-question-circle" style="margin-left: auto;"></i> Help</a>
      </span>
      <div id="computedValuesEditor"> </div>
      <div class="bottomButtonBar">
        <button id="saveComputedValuesButton" class="pull-right button-success">Save</button>
      </div>
  </div>
