<script id="databaseView.ejs" type="text/template">
  <div class="headerBar">
    <div class="search-field">
      <input type="text" value="<%=searchString%>" id="databaseSearchInput" class="search-input" placeholder="Search..."/>
      <!-- <img id="databaseSearchSubmit" class="search-submit-icon">-->
      <i id="databaseSearchSubmit" class="fa fa-search"></i>
    </div>
    <div class="headerButtonBar">
        <ul class="headerButtonList">
          <li class="enabled">
            <a id="databaseToggle" class="headerButton">
              <span class="icon_arangodb_settings2" title="Settings"></span>
            </a>
          </li>
        </ul>
      </div>

    <div class="pull-left">
      <a class="arangoHeader">Databases</a>
    </div>
  </div>


  <div id="databaseDropdown2" class="headerDropdown">

    <div id="databaseDropdown" class="dropdownInner">
      <ul>
        <li class="nav-header">Sorting</li>
        <li><a>
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="dbSortDesc">
            <i class="fa"></i>
            Sort descending
          </label>
        </a></li>
      </ul>
    </div>

  </div>


  <div class="contentDiv" id="arangoCollectionsContainer">
    <div id="userManagementThumbnailsIn" class="tileList">
      <div class="tile">
        <div class="fullBorderBox"></div>
        <a href="#" id="createDatabase" class="add">
          <span id="newDatabase" class="pull-left icon_arangodb_roundplus arangoicon add-Icon"/>
          Add Database
        </a>
      </div>
      <% collection.forEach(function(db) {
          var name = db.get("name");
      %>

      <div class="tile">
        <div class="borderBox"></div>
        <div class="iconSet">
          <span class="icon_arangodb_settings2 editDatabase" id="<%=name %>_edit-database" alt="Edit database" title="Edit database"></span>
        </div>
        <img src="img/databaseIcon.svg" class="tile-icon-svg svgToReplace"/>
        <div class="tileBadge">
        </div>
        <h5 class="collectionName"><%=name %></h5>
      </div>

      <%});%>
     </div>
  </div>

</script>
