<script id="demoView.ejs" type="text/template">
  <div class="headerBar">
    <a class="arangoHeader">Demo</a>
    <div class="styled-select">
      <select id="flightQuerySelect" class="query-select">
        <option>Please select your query</option>
        <optgroup label="Example queries"></optgroup>
      </select>
    </div>
  </div>

  <div id="demoContent" class="innerContent">
    <div id="demo-mapdiv" style="width: 100%; height: 500px;"></div>
  </div>
</script>
