<script id="demoView.ejs" type="text/template">
  <div class="headerBar">
    <div class="search-field">
      <input type="text" id="demoSearchInput" class="search-input" placeholder="Search...">
      <i id="demoSearchSubmit" class="fa fa-search"></i>
      <!-- <img id="demoSearchSubmit" class="search-submit-icon"> -->
      <!--<div id="searchResults" class="demo-dropdown-menu"><ul></ul></div>-->
    </div>
    <div class="pull-left">
      <a class="arangoHeader">Demo</a>
    </div>
    <div class="styled-select">
      <select id="flightQuerySelect" class="query-select" style="margin-top: 5px; height: 25px">
        <option>Please select your query</option>
        <optgroup label="Example queries"></optgroup>
      </select>
    </div>
  </div>

  <div id="demoContent" class="innerContent">
    <div id="demo-mapdiv" style="width: 100%; height: 490px;"><div id="demo-mapdiv-info"></div></div>
  </div>
</script>
