<script id="foxxActiveView.ejs" type="text/template">
  <img src="foxxes/thumbnail/<%=attributes.app %>" height="50" width="50" alt="Icon for App" class="icon">
  <h5 class="collectionName">
    <%= attributes.mount %>
  </h5>
</script>
