<script id="graphManagementView.ejs" type="text/template">
  <div class="headerBar">
    <div class="search-field">
      <input type="text" value="<%=searchString%>" id="graphManagementSearchInput" class="search-input" placeholder="Search..."/>
      <i id="graphManagementSearchSubmit" class="fa fa-search"></i>
      <!-- <img id="graphManagementSearchSubmit" class="search-submit-icon"> -->
    </div>
     <div class="headerButtonBar">
        <ul class="headerButtonList">
          <li class="enabled">
            <a id="graphManagementToggle" class="headerButton">
              <span class="icon_arangodb_settings2" title="Settings"></span>
            </a>
          </li>
        </ul>
      </div>
    <div class="pull-left">
      <a class="arangoHeader">Graphs</a>
    </div>
  </div>


  <div id="graphManagementDropdown2" class="headerDropdown">

    <div id="graphManagementDropdown" class="dropdownInner">
      <ul>
        <li class="nav-header">Sorting</li>
        <li><a>
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="graphSortDesc">
            <i class="fa"></i>
            Sort descending
          </label>
        </a></li>
      </ul>
    </div>

  </div>


  <div class="contentDiv" id="arangoCollectionsContainer">
    <div id="graphManagementThumbnailsIn" class="tileList">
      <div class="tile">
        <div class="fullBorderBox">
          <a href="#" id="createGraph" class="add">
            <span id="newGraph" class="pull-left icon_arangodb_roundplus arangoicon add-Icon"/>
            Add Graph
          </a>
        </div>
      </div>


      <% graphs.forEach(function(graph) {
        var graphName = graph.get("_key");
      %>

      <div class="tile tile-graph" id="<%=graphName %>_tile">
      <div class="borderBox"></div>
      <div class="iconSet">
        <span class="icon_arangodb_settings2 editGraph" id="<%=graphName %>_settings" alt="Edit graph" title="Edit graph"></span>
      </div>
      <span class="icon_arangodb_edge5 tile-icon"></span>
      <span class="icon_arangodb_edge5 icon_arangodb_edge5-2 tile-icon"></span>
        <div class="tileBadge">
    </div>

      <h5 class="collectionName"><%=graphName %></h5>
    </div>
      <%});%>
     </div>
  </div>

</script>
