<script id="graphTestView.ejs" type="text/template">
  <div class="headerBar">
    <div class="pull-left">
      <a class="arangoHeader">Graphs</a>
    </div>
  </div>

  <div class="contentDiv" id="graphTest">
    <div id="graphContainer" style="height: 100px"></div>
</div>

</script>
