<script id="graphTestView.ejs" type="text/template">
  <div class="headerBar">
    <div class="pull-left">
      <a class="arangoHeader">Graphs Test</a>
    </div>
  </div>

  <div class="contentDiv" id="graphTest">

    <div id="cy" style="height:500px; width: 100%; background-color: #fff"></div>

  </div>
</script>
