  <div class="graphContent" id="graphContainer">

    <div class="headerBar">
      <div class="headerButtonBar" style="margin: 0;">
        <ul class="headerButtonList">
          <li class="enabled">
            <a id="settingsMenu" class="headerButton">
              <span title="Configure graph settings">
                <i class="fa fa-bars fa-stack-1x"></i>
              </span>
            </a>
          </li>
          <li class="enabled">
            <a id="graph-fullscreen-btn" class="headerButton">
              <span title="Switch to fullscreen mode">
                <i class="fa fa-television"></i>
              </span>
            </a>
          </li>
          <li class="enabled">
            <a id="downloadPNG" class="headerButton">
              <span title="Download visible graph as png image">
                <i class="fa fa-camera fa-stack-1x"></i>
              </span>
            </a>
          </li>
          <li class="enabled">
            <a id="loadFullGraph" class="headerButton">
              <span title="Fetch full graph - use with caution">
                <i class="fa fa-share-alt"></i>
              </span>
            </a>
          </li>
          <!--
          <li class="enabled">
            <a id="selectNodes" class="headerButton">
              <span title="Lasso tool - Select and delete multiple nodes">
                <i class="fa fa-paint-brush fa-stack-1x"></i>
              </span>
            </a>
          </li>
          -->
        </ul>
      </div>
    </div>

    <!--<div id="graph-fullscreen-btn"><i class="fa fa-desktop"></i></div>-->
    <div id="graph-container" oncontextmenu="return false;"></div>
  </div>

