	<div id="lineChartDetail" class="modal hide fade modal-chart-detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<a class="arangoHeader"><%=figure%></a>
		</div>
		<div id="dashboardDetailedLineChart" class="dashboardDetailChart" style="position: absolute"></div>
	</div>
