<thead>
  <tr role="row">
    <th class="sorting_disabled docsFirstCol">Content</th>
    <th class="sorting_disabled docsSecCol">_key</th>
    <th class="sorting_disabled docsThirdCol">
      <a id="addDocumentButton" class="pull-right addButton"><span class="arangoicon icon_arangodb_roundplus" title="Add a document"></span></a>
    </th>
  </tr>
</thead>
<tbody>
  <tr class="odd">
    <td valign="top" class="dataTables_empty">Loading...</td>
  </tr>
</tbody>
