<script id="loginView.ejs" type="text/template">
<div class="loginFixedWindow">

<div class="resizecontainer"><div class="navlogo"><a class="logo" href="#"><img class="arangodbLogo" src="img/logo_arangodb_transp.png"></a></div></div>

  <div id="loginWindow" class="login-window">
    <p class="wrong-credentials" style="display:none" >Wrong credentials!</p>
    <form id="loginForm">
      <input class="login-input" placeholder="Username" id="loginUsername" type="text" name="username"><i class="fa fa-user"></i>
      <input class="login-input" placeholder="Password" id="loginPassword" type="password" name="password"><i class="fa fa-lock"></i>
      <button id="submitLogin" class="button-success pull-right">Login</button>
    </form>
  </div>
</div>
</script>
