<script id="modalFoxxDevPath.ejs" type="text/template">
  <div>
    We have generated a new Foxx Application in development mode for you.
    You can find the Application on the ArangoDB machine within the following path:<br />
    <span><%=content.path %></span>
  </div>
</script>
