	<div class="detail-chart">
		<div id="lineChartDetail" class="modal-inner-detail"></div>
		<div class="modal-dashboard-legend">
			<div class="dashboard-legend-inner" id="detailLegend"></div>
		</div>
	</div>
