<script id="modalDeleteConfirmation.ejs" type="text/template">
  <table>
    <tbody>
      <tr class="tableRow">
        <th class="collectionInfoTh">Run teardown?:</th>
        <th class="collectionInfoTh">
          <input type="checkbox" id="app_delete_run_teardown" checked>
        </th>
      </tr>
    </tbody>
  </table>
  <p>Are you sure? There is no way back...</p>
</script>

