  <ul class="navlist arango-collection-ul" id="arangoCollectionUl">
    <% if (isCluster && frontendConfig.clusterApiJwtPolicy !== 'jwt-all') { %>
      <% if (currentDB.get('isSystem') || statisticsInAllDatabases) { %>
        <li class="cluster-menu"><a id="cluster" class="tab" href="#cluster"><i class="fa fa-circle-o"></i>Cluster</a></li>
      <% } %>
      <li class="nodes-menu"><a id="nodes" class="tab" href="#nodes"><i class="fa fa-server"></i>Nodes</a></li>
    <% } else if (!isCluster) { %>
      <li class="dashboard-menu"><a id="dashboard" class="tab" href="#dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
    <% } %>
    <li class="navbar-spacer big"></li>
    <!-- <li id="dbSelect" class="dropdown databases-menu disabled"></li> -->
    <li class="collections-menu"><a id="collections" class="tab" href="#collections"><i class="fa fa-folder"></i>Collections</a></li>
    <li class="views-menu"><a id="views" class="tab" href="#views"><i class="fa fa-eye"></i>Views</a></li>
    <li class="queries-menu"><a id="queries" class="tab" href="#queries"><i class="fa fa-bolt"></i>Queries</a></li>
    <li class="graphs-menu"><a id="graphs" class="tab" href="#graphs"><i class="fa fa-sitemap"></i>Graphs</a></li>
    <% if (foxxApiEnabled) { %>
    <li class="services-menu">
      <a id="services" class="tab" href="#services"><i class="fa fa-cogs"></i>Services</a>
    </li>
    <% } %>
    <% if (currentDB.get('isSystem')) { %>
      <% if (!readOnly) { %>
        <li class="users-menu"><a id="users" class="tab" href="#manage"><i class="fa fa-users"></i>Users</a></li>
      <% } %>
    <% } %>
    <!--
    <% if (currentDB.get('isSystem')) { %>
      <li class="navbar-spacer big"></li>
      <li class="settings-menu"><a id="settings" class="tab" href="#settings"><i class="fa fa-cog"></i>Settings</a></li>
    <% } %>
    -->
    <% if (currentDB.get('isSystem') || currentDB.get(!isCluster)) { %>
      <li class="navbar-spacer big"></li>
    <% } %>
    <% if (currentDB.get('isSystem')) { %>
      <li class="databases-menu"><a id="databases" class="tab" href="#databases"><i class="fa fa-database"></i>Databases</a></li>
    <% } %>
    <% if (currentDB.get('isSystem') && !isCluster) { %>
      <li class="replication-menu"><a id="replication" class="tab" href="#replication"><i class="fa fa-server"></i>Replication</a></li>
    <% } %>
    <% if (!isCluster) { %>
      <li class="logs-menu"><a id="logs" class="tab" href="#logs"><i class="fa fa-file-text"></i>Logs</a></li>
    <% } %>
    <li class="navbar-spacer big"></li>
    <li class="support-menu"><a id="support" class="tab" href="#support"><i class="fa fa-support"></i>Support</a></li>
    <li class="helpus-menu"><a id="helpus" class="tab" href="#helpus"><i class="fa fa-heart"></i>Help Us</a></li>
    <li class="enterprise-menu" style="display: none; cursor: pointer"><a id="enterprise" class="tab" target="_blank"><i class="fa fa-external-link-square"></i>Get enterprise</a></li>
    <!--
    <li class="navbar-spacer big"></li>
    <li class="dropdown tools-menu" id="toolsDropdown">
      <a href="#" class="tab" id="tools">Tools <b class="caret"></b></a>
      <ul class="link-dropdown-menu" id="tools_dropdown">
        <li class="dropdown-header">Tools</li>
        <li class="dropdown-item">
          <a id="shell" class="tab" href="#shell">JS Shell</a>
        </li>

        <% if (!isCluster) { %>
          <li class="dropdown-item">
            <a id="logs" class="tab" href="#logs">Logs</a>
          </li>
        <% } %>

        <li class="dropdown-item">
          <a id="userManagement" class="tab" href="#userManagement">User Management</a>
        </li>
        <li class="dropdown-item">
          <a id="queryManagement" class="tab" href="#queryManagement">Query Management</a>
        </li>
        <li class="dropdown-item">
          <a id="workMonitor" class="tab" href="#workMonitor">Work Monitor</a>
        </li>
      </ul>
    </li>
    <li class="dropdown" id="linkDropdown">
      <a href="#" class="tab" id="links">Links <b class="caret"></b></a>
      <ul class="link-dropdown-menu" id="link_dropdown">
        <li class="dropdown-header">Documentation</li>
        <li class="dropdown-item"><a href="/_db/<%= currentDB.get('name') %>/_admin/aardvark/api/index.html?collapsed" target="_blank">API Documentation</a></li>
        <li class="dropdown-item"><a href="https://www.arangodb.com/docs/stable/programs-arangosh.html"
                                     target="_blank">JS Shell Documentation</a></li>
        <li class="dropdown-item"><a href="https://www.arangodb.com/docs/stable/aql/" target="_blank">AQL
          Documentation</a></li>
        <li class="dropdown-item"><a href="https://www.arangodb.com/docs/stable/" target="_blank">General
          Documentation</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">ArangoDB</li>
        <li class="dropdown-item"><a href="https://github.com/arangodb/arangodb" target="_blank">GitHub
          Repository</a></li>
        <li class="dropdown-item"><a href="https://www.arangodb.com" target="_blank">ArangoDB.com</a></li>
      </ul>
    </li>
  -->
  </ul>


  <div class="shortcut-icons">
    <p class="shortcut"><i class="fa fa-keyboard-o"></i></p>
  </div>

  <div class="social-icons">
    <p><a href="https://twitter.com/arangodb" target="_blank"><i class="fa fa-twitter"></i></a></p>
    <p><a href="https://slack.arangodb.com" target="_blank"><i class="fa fa-slack"></i></a></p>
    <p><a href="https://stackoverflow.com/questions/tagged/arangodb" target="_blank"><i class="fa fa-stack-overflow"></i></a></p>
    <p><a href="https://groups.google.com/group/arangodb" target="_blank"><i class="fa fa-google"></i></a></p>
  </div>
