<script id="nodeInfoView.ejs" type="text/template">

<div class="nodeInfoView">
  <div class="modal-body">
    <table id="serverInfoTable" class="arango-table">
      <tbody>
        <% _.each(entries, function (entry, name) { %> 
          <tr>
            <th class="collectionInfoTh2"><%=name%></th>
            <th class="collectionInfoTh">
              <div id="server-<%=name%>" class="modal-text"><%=entry%></div>
            </th>
            <th>
              <% if (entry.description) { %>
                <th class="tooltipInfoTh">
                  <span class="tippy" title="<%=entry.description%>"></span>
                </th>
              <% } %>
            </th>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

</script>
