<script id="nodesView.ejs" type="text/template">

  <div id="nodesContent" class="innerContent">

  <% if(coords.length > 0) { %>

    <div class="pure-g cluster-nodes-title pure-table pure-table-header pure-title">
      <div class="pure-table-row">
        <div class="pure-u-1-4 mid">Name</div>
        <div class="pure-u-1-4 mid">Address</div>
        <div class="pure-u-1-4 mid">Protocol</div>
        <div class="pure-u-1-4 mid">Status</div>
      </div>
    </div>

    <div class="pure-g cluster-nodes pure-table pure-table-body">

      <% _.each(coords, function(node) { %>

        <div class="pure-table-row" node="<%=node.name%>">

          <div class="pure-u-1-4 mid"><%= node.name %></div>
          <div class="pure-u-1-4 mid"><%= node.address %></div>
          <div class="pure-u-1-4 mid"><%= node.protocol %></div>

          <% if(node.status === 'ok') { %>
            <div class="pure-u-1-4 mid"><i class="fa fa-check-circle"></i></div>
          <% } else { %>
            <div class="pure-u-1-4 mid"><i class="fa fa-exclamation-circle"></i></div>
          <% } %>

        </div>

      <% }); %>

    </div>

  <% } %>

  </div>

</script>
