<ul class="navlist" id="notificationViewUl">

  <div class="navlogo">
    <div id="stat_hd" class="notificationButton"><p id="stat_hd_counter">0</p></div>
  </div>

  <li class="dropdown no-left-margin" style="border: 0">
    <ul class="user-dropdown-menu fixedDropdown" id="notification_menu">
      <li class="dropdown-header"><a>Notifications</a></li>
      <ul class="innerDropdownInnerUL"></ul>
      <button id="removeAllNotifications" class="button-close">Clear</button>
    </ul>
  </li>

</ul>
