  <div class="progress-view">
    <div class="progress-content">
      <div class="progress-text"></div>
      <div class="pong-spinner"><i /></div>
    </div>
    <div class="progress-message">
      <div class="progress-action"></div>
    </div>
  </div>
