<script id="progressBase.ejs" type="text/template">
  <div class="progress-view">
    <p class="progress-content">
      <i class="fa fa-spinner fa-spin"></i>
    </p>
    <div class="progress-message">
      <div class="progress-text"></div>
      <div class="progress-action"></div>
    </div>
  </div>
</script>
