<script id="progressBase.ejs" type="text/template">
  <div class="progress-view">
    <div class="progress-content">
      <!--<i style="visibility:hidden" class="fa fa-spinner fa-spin"></i>-->
      <div class="pong-loader">
        Loading…
      </div>
    </div>
    <div class="progress-message">
      <div class="progress-text"></div>
      <div class="progress-action"></div>
    </div>
  </div>
</script>
