<script id="queryManagementViewActive.ejs" type="text/template">
  <div class="headerBar">
    <a class="arangoHeader">Query Management</a>
  </div>

  <div id="queryManagementContent" class="innerContent">
  </div>
</script>
