<script id="queryView.ejs" type="text/template">
  <div class="headerBar">
    <a class="arangoHeader">AQL Editor</a>

    <div id="queryToolbar" class="headerButtonBar">
      <ul class="headerButtonList">
        <li class="enabled">
          <a id="importQueriesToggle" class="headerButton">
            <span class="icon_arangodb_import" title="Upload queries from JSON file"></span>
          </a>
        </li>
      </ul>
    </div>

  </div>

  <div id="importHeader" class="dropdownImport queryImport">
    <div class="queryline">
      <input id="importQueries" name="importQueries" type="file"/>
      <button id="confirmQueryImport" class="button-success" style="float:right">Import</button>
      <button id="confirmQueryExport" class="button-success" style="float:right">Export</button>
    </div>
  </div>

  <div id="queryContent">
    <ul class="arango-tab">
      <li><a href="#result" data-toggle="pill" id="result-switch">Result</a></li>
      <!--<li><a href="#explain" data-toggle="pill" id="explain-switch">Explain</a></li>-->
      <li><a href="#query" data-toggle="pill" id="query-switch">Query</a></li>
      <li><a href="#customs" data-toggle="pill" id="customs-switch">My Queries</a></li>
    </ul>
    <div class="tab-content" id="tabContentCustoms">
      <div class="tab-pane" id="customs">
        <div id="customsDiv" class="query-div">
        </div>
        <div class="queryMethods">
        </div>
      </div>
    </div>
    <div class="tab-content" id="tabContentQuery">
      <div class="tab-pane active" id="query">
        <div id="queryDiv" class="query-div">
          <div id="editorLabel" class="editor-label"></div>
          <div id="editorToolbar" class="query-toolbar editor-toolbar">
            <span class="icon_arangodb icon_arangodb_trash queryTooltips tooltip-margin" title="Clear" id="clearInput"/>
            <span class="icon_arangodb icon_arangodb_adddoc queryTooltips" title="Save current query" id="addAQL"/>
            <span class="queryTooltips tooltip-margin" title="Comment" id="commentText"><i class="fa fa-comment"></i></span>
            <span class="icon_arangodb icon_arangodb_arrow6 queryTooltips tooltip-margin" title="Redo" id="redoText"/>
            <span class="icon_arangodb icon_arangodb_arrow5 queryTooltips tooltip-margin" title="Undo" id="undoText"/>
          </div>

          <div id="aqlEditor" class='aql-editor'></div>


          <div id="wideButtonDiv" class="wide-button-div">
            <div>

              <div id="shortcutDiv" class="shortcuts shortcut-div showHotkeyHelp">
              </div>
            </div>
            <div>

              <button id="submitQueryButton" class="button-success query-button">Execute</button>
              <button id="explainQueryButton" class="button-success query-button">Explain</button>
              <button id="clearQueryButton" class="button-close query-button">Clear</button>
              <div class="styled-select">
                <select id="querySelect" class="query-select"/>
              </div>
              <div class="styled-select querySizeDiv">
                <select id="querySize" class="query-size"/>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
<!--
    <div class="tab-content" id="tabContentExplain">

      <div class="tab-pane" id="explain">
        <div id="editorLabel" class="editor-label"></div>
        <div id="outputToolbar" class="query-toolbar output-toolbar">
        </div>
        <div class="explain-warnings"></div>
        <div class="contentDiv query-output">
          <svg id="explainOutput" class="explain-tree"></svg>
        </div>
      </div>

    </div>
-->
    <div class="tab-content" id="tabContentResult">

      <div class="tab-pane" id="result">
        <div id="editorLabel" class="editor-label"></div>
        <div id="outputToolbar" class="query-toolbar output-toolbar">
          <!--
          <span class="icon_arangodb icon_arangodb_trash queryTooltips tooltip-margin" title="Clear" id="clearOutput"></span>
          <span class="icon_arangodb icon_arangodb_arrow1 queryTooltips" title="Unfold" id="bigOutput"></span>
          -->
        </div>
        <div id="queryOutput" class="contentDiv query-output">
        </div>
        <button id="downloadQueryResult" class="button-success query-button">Download</button>
      </div>

    </div>

  </div>

<div id="explainDialog" title="Query explain" style="display:none"></div>

</script>
