<script id="queryManagementViewSlow.ejs" type="text/template">
  <div class="headerBar">
    <a class="arangoHeader">Query Management</a>
  </div>

  <div id="queryManagementContent" class="innerContent">
  </div>

  <div>
    <button id="deleteSlowQueryHistory" style="margin-top: 5px" class="button-danger query-button">Delete History</button>
  </div>
</script>
