<div class="arangoToolbar arangoToolbarTop" style="margin-bottom: 5px;">
  <div class="pull-left">
    <button id="rebalanceShards" style="margin-right: 10px;" class="button-warning">Rebalance Shards</button>
  </div>
</div>

