<div class="arangoToolbar arangoToolbarTop" style="margin-bottom: 5px;" id="rebalanceShards">
  <div class="pull-right">
    <button id="rebalanceShards" style="margin-left: 10px;" class="button-warning">Rebalance Shards</button>
  </div>
</div>

