

<div class="arangoToolbar arangoToolbarTop arangoFoxxToolbarTop">

  <div class="pull-left">
  </div>

  <div class="pull-right">
    <div class="search-field">
      <input type="text" id="foxxSearch" class="search-input" placeholder="Search..."/>
      <i id="searchSubmit" class="fa fa-search"></i>
    </div>

    <button id="categorySelection" class="button-default filterSelect">Category <i class="fa fa-caret-down"></i></button>
    <button style="display: none" class="button-default filterSelect" id="foxxFilters">
      <i class="fa fa-close"></i>Clear current <a id="filterDesc"></a> filter
    </button>
  </div>

</div>

<div class="contentDiv">
  <div id="repositories">
    <div id="availableFoxxes" class="tileList pure-u">
    </div>
  </div>
</div>
