<div id="shardDistributionContent" class="innerContent">

  <div class="pure-g cluster-values">

    <div class="pure-u-1-2 pure-u-md-1-4">
      <div class="valueWrapper">
        <div id="clusterDatabases" class="value"><i class="fa fa-spin fa-circle-o-notch" style="color: rgba(0, 0, 0, 0.64);"></i></div>
        <div class="graphLabel">databases</div>
      </div>
    </div>

    <div class="pure-u-1-2 pure-u-md-1-4">
      <div class="valueWrapper">
        <div id="clusterCollections" class="value"><i class="fa fa-spin fa-circle-o-notch" style="color: rgba(0, 0, 0, 0.64);"></i></div>
        <div class="graphLabel">collections</div>
      </div>
    </div>

    <div class="pure-u-1-2 pure-u-md-1-4">
      <div class="valueWrapper">
        <div id="clusterDBServers" class="value"><i class="fa fa-spin fa-circle-o-notch" style="color: rgba(0, 0, 0, 0.64);"></i></div>
        <div class="graphLabel">db servers</div>
      </div>
    </div>

    <div class="pure-u-1-2 pure-u-md-1-4">
      <div class="valueWrapper">
        <div id="clusterLeaders" class="value"><i class="fa fa-spin fa-circle-o-notch" style="color: rgba(0, 0, 0, 0.64);"></i></div>
        <div class="graphLabel">leaders</div>
      </div>
    </div>

    <div class="pure-u-1-2 pure-u-md-1-4">
      <div class="valueWrapper">
        <div id="clusterRealLeaders" class="value"><i class="fa fa-spin fa-circle-o-notch" style="color: rgba(0, 0, 0, 0.64);"></i></div>
        <div class="graphLabel">real leaders</div>
      </div>
    </div>

    <div class="pure-u-1-2 pure-u-md-1-4">
      <div class="valueWrapper">
        <div id="clusterFollowers" class="value"><i class="fa fa-spin fa-circle-o-notch" style="color: rgba(0, 0, 0, 0.64);"></i></div>
        <div class="graphLabel">followers</div>
      </div>
    </div>

    <div class="pure-u-1-2 pure-u-md-1-4">
      <div class="valueWrapper">
        <div id="clusterShards" class="value"><i class="fa fa-spin fa-circle-o-notch" style="color: rgba(0, 0, 0, 0.64);"></i></div>
        <div class="graphLabel">shards</div>
      </div>
    </div>

  </div>


</div>
