  <div class="navlogo display-none">
    <a href="#dashboard" style="padding-left: 15px;">
      <img class="svg stat_cpu"
        src="img/cpu.svg"
      />
      <img class="svg stat_ram"
        src="img/ram.svg"
        style="background-color: #FAFF92; margin-top: 9px; margin-left: 4px; margin-right: 2px;"
      />
      <img class="svg stat_req"
        src="img/requests.svg"
        style="background-color: #8aa051; margin-top: 9px;"
      />
    </a>
  </div>
