<script id="subNavigationView.ejs" type="text/template">

  <ul class="subMenuEntries top">
    <li class="subMenuEntry pull-left">
      <div class="breadcrumb"></div>
    </li>
    <li class="subMenuEntry pull-right">
      <a class="health-info">HEALTH: </a>
      <a class="health-state">GOOD</a>
      <a class="health-icon">
        <i class="fa fa-check-circle"></i>
      </a>
    </li>
    <li class="subMenuEntry pull-right" style="margin-right: 10px;">
      <div class="usermenu" id="userBar"></div>
      <div class="notificationmenu" id="notificationBar"></div>
    </li>
  </ul>

  <ul class="subMenuEntries bottom">
  </ul>

</script>
