<script id="subNavigationView.ejs" type="text/template">

  <ul class="subMenuEntries left">
    <li class="subMenuEntry">
      <a class="health-info">HEALTH: </a>
      <a class="health-state">GOOD</a>
      <a class="health-icon">
        <i class="fa fa-check-circle"></i>
      </a>
    </li>
  </ul>

  <ul class="subMenuEntries right">
  </ul>

</script>
