
  <ul class="subMenuEntries top">
    <li class="subMenuEntry pull-left">
      <div class="breadcrumb"></div>
    </li>
    <li id="healthStatus" class="infoEntry subMenuEntry pull-right positive">
      <a class="info health-info">HEALTH: </a>
      <% if (frontendConfig.clusterApiJwtPolicy !== 'jwt-all') { %>
        <a class="state health-state">GOOD</a>
      <% } else { %>
        <a class="state health-state" title="cluster API is inaccessible due to missing permissions">n/a</a>
      <% } %>
      <a class="icon health-icon">
        <i class="fa fa-check-circle"></i>
      </a>
    </li>
    <li id="dbStatus" class="infoEntry subMenuEntry pull-right positive">
      <a class="info">DB:</a>
      <a class="state"><span><%= currentDB.name %></span></a>
      <a class="icon db-icon default-icon">
        <i class="fa fa-refresh"></i>      
      </a>
    </li>
    <li id="userBar" class="infoEntry subMenuEntry pull-right" style="margin-right: 10px;">
    </li>
  </ul>

  <ul class="subMenuEntries bottom">
  </ul>

