
  <div class="supportView">
    <ul class="subMenuEntries subViewNavbar">
      <li id="documentation-support" class="subMenuEntry active"><a>Documentation</a></li>
      <li id="community-support" class="subMenuEntry"><a>Support</a></li>
      <li id="swagger-support" class="subMenuEntry "><a>Rest API</a></li>
    </ul>
 
    <div class="innerContent" id="supportContent">

      <div id="community" style="display: none">
        <div class="pure-g" style="width: 100%;">

          <div class="pure-u-1-1">
            <h3 style="font-weight: 100;">Feeling stuck? Not for long…</h3>
          </div>

          <div class="pure-u-1-1" style="margin-bottom: 20px;">
            <h4>Paying Customers</h4>
            If you are a Customer, please <a href="https://www.arangodb.com/supportlogin" target="_blank">log-in</a> to our Support Portal to request help.
          </div>

          <div class="pure-u-1-1" style="margin-bottom: 20px;">
            <h4>Community Support</h4>
            Join our experienced and growing community to get help, challenge ideas or discuss new features!</br></br>
            </br>
          </div>

          <div class="pure-u-1-1 pure-u-sm-1-1 pure-u-md-1-3 center">
            Place for stars and reporting issues</br></br>
            <a href="https://github.com/arangodb/arangodb" target="_blank"><img style="width: 60%;" src="img/comm_github.png"/></a>
          </div>

          <div class="pure-u-1-1 pure-u-sm-1-1 pure-u-md-1-3 center">
            Ask questions and get answers</br></br>
            <a href="https://stackoverflow.com/questions/tagged/arangodb" target="_blank"><img style="width: 70%;" src="img/comm_stack.png"/></a>
          </div>

          <div class="pure-u-1-1 pure-u-sm-1-1 pure-u-md-1-3 center">
            Join a lively conversation about ArangoDB</br></br>
            <a href="https://slack.arangodb.com/" target="_blank"><img style="width: 50%; margin-top: 5px;" src="img/comm_slack.png"/></a>
          </div>

          <div class="pure-u-1-1 pure-u-sm-1-1 pure-u-md-1-1 center" style="margin-top: 30px">
            Challenge ideas and discuss upgrades</br></br>
            <a href="https://groups.google.com/forum/#!forum/arangodb" target="_blank"><img src="img/comm_google.png"/></a></br></br>
          </div>

          <div class="pure-u-1-1" style="margin-top: 0px">
            <h4>Want to shorten your development cycle or securing your production system?</h4>
            Benefit from the deep understanding and decades of experience our core team has build up. Discuss architectures, data modeling, query optimization or anything you like. Get in contact for our individual development support, trainings or subscriptions.</br></br>
            <a href="https://www.arangodb.com/contact/" target="_blank">Contact us</a> to get detailed infos for enterprises and special offers for startups.
          </div>

        </div>

      </div>

      <div id="swagger" style="display: none; height: 100%;">
      </div>

      <div id="documentation">

        <div class="pure-g" style="width: 100%;">

          <div class="pure-u-1-1" style="margin-bottom: 30px">
            <h4>Find manuals for ArangoDB, AQL, Foxx and many other useful resources</h4>
          </div>

          <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-4">
            <div class="title">
              Manual
            </div>
            <ul class="menu">
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Manual/GettingStarted/">Getting started</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Manual/DataModeling/">Data models &amp; modeling</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Manual/Administration/">Administration</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Manual/Scaling/index.html">Scaling</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Manual/Graphs/index.html">Graphs</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Manual/index.html">Go to Manual startpage</a></li>
            </ul>
          </div>

          <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-4">
            <div class="title">
              AQL Query Language
            </div>
            <ul class="menu">
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/AQL/Fundamentals/index.html">Fundamentals</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/AQL/DataQueries.html">Data Queries</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/AQL/Functions/index.html">Functions</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/AQL/Examples/index.html">Usual Query Patterns</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/AQL/index.html">Go to AQL startpage</a></li>
            </ul>
          </div>

          <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-4">
            <div class="title">
              Foxx Framework
            </div>
            <ul class="menu">
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Manual/Foxx/index.html">What is Foxx?</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Manual/Foxx/Guides/index.html">Guides</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Manual/Foxx/Reference/index.html">Reference</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Manual/Foxx/Deployment.html">Deployment</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Manual/Foxx/GettingStarted.html">Writing Your First Microservice</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Manual/Foxx/index.html">Go to Foxx startpage</a></li>
            </ul>
          </div>

          <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-4">
            <div class="title">
              Official Drivers &amp; Integrations
            </div>
            <ul class="menu">
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Drivers/Java/index.html">ArangoDB Java Driver</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Drivers/JS/index.html">ArangoJS - Javascript Driver</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Drivers/PHP/index.html">ArangoDB-PHP</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Drivers/GO/index.html">ArangoDB Go Driver</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Drivers/SpringData/index.html">ArangoDB Spring Data</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Drivers/SparkConnector/index.html">ArangoDB Spark Connector</a></li>
              <li><a target="_blank" href="https://docs.arangodb.com/3.4/Drivers/index.html">Go to Drivers &amp; Integrations startpage</a></li>
            </ul>
          </div>

        </div>
      </div>
     </div>

   </div>

