<script id="supportView.ejs" type="text/template">

  <div class="supportView">
    <ul class="subMenuEntries subViewNavbar">
      <li id="community-support" class="subMenuEntry active"><a>Community</a></li>
      <li id="documentation-support" class="subMenuEntry "><a>Documentation</a></li>
      <li id="swagger-support" class="subMenuEntry "><a>HTTP API</a></li>
    </ul>
 
    <div class="innerContent" id="supportContent">

      <div id="community">

      </div>

      <div id="swagger" style="display: none; height: 100%;">
      </div>

      <div id="documentation" style="display: none">


      <div class="center">
        Documentation
        Find manuals for ArangoDB, AQL, Foxx and many other useful ressources
      </div>

        <div class="pure-u" style="width: 100%;">

          <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3">
            <div class="title">
              ArangoDB Manual
            </div>
            <ul class="menu">
              <li><a href="#">Getting started</a></li>
              <li><a href="#">Scalability</a></li>
              <li><a href="#">Data models and &amp; modeling</a></li>
              <li><a href="#">Graphs</a></li>
            </ul>
          </div>

          <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3">
            <div class="title">
              AQL Docs
            </div>
            <ul class="menu">
              <li><a href="#">Getting started</a></li>
              <li><a href="#">Scalability</a></li>
              <li><a href="#">Data models and &amp; modeling</a></li>
              <li><a href="#">Graphs</a></li>
            </ul>
          </div>

          <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3">
            <div class="title">
              Foxx Framework
            </div>
            <ul class="menu">
              <li><a href="#">Getting started</a></li>
              <li><a href="#">Scalability</a></li>
              <li><a href="#">Data models and &amp; modeling</a></li>
              <li><a href="#">Graphs</a></li>
            </ul>
          </div>


        </div>
      </div>
     </div>

   </div>

</script>
