<script id="testView.ejs" type="text/template">
  <div class="headerBar">
    <a class="arangoHeader">Test</a>
  </div>

  <div id="testContent" class="test-content-id innerContent">
    <div id="graph-container"></div>
  </div>

</script>
