  <div class="headerBar">
    <div class="headerButtonBar">
    </div>
  </div>

  <div class="innerContent validation-info-div">
      <span>
        <a target="_blank" href="https://www.arangodb.com/docs/<%=parsedVersion%>/data-modeling-documents-schema-validation.html" class="button-warning"><i class="fa fa-question-circle" style="margin-left: auto;"></i> Help</a>
      </span>
      <div id="validationEditor"> </div>
      <div class="bottomButtonBar">
        <button id="saveValidationButton" class="pull-right button-success">Save</button>
      </div>
  </div>
