  <div class="headerBar">
    <div class="search-field">
      <input type="text" value="<%=searchString%>" id="viewsSearchInput" class="search-input" placeholder="Search..."/>
      <i id="viewsSearchSubmit" class="fa fa-search"></i>
    </div>
    <div class="headerButtonBar">
      <ul class="headerButtonList">
        <li class="enabled">
          <a id="viewsToggle" class="headerButton">
            <span class="icon_arangodb_settings2" title="Settings"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id="viewsDropdown2" class="headerDropdown">
    <div id="viewsDropdown" class="dropdownInner">
      <ul>
        <li class="nav-header">Sorting</li>
        <li><a>
          <label class="checkbox checkboxLabel">
            <input class="css-checkbox" type="checkbox" id="viewsSortDesc">
            <i class="fa"></i>
            Sort descending
          </label>
        </a></li>
      </ul>
    </div>
  </div>

  <div class="contentDiv" id="">
    <div id="viewsThumbnailsIn" class="tileList pure-u">
      <div class="tile pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 pure-u-xl-1-6">
        <div class="fullBorderBox">
          <a id="createView" class="add">
            <span id="newView" class="pull-left add-Icon"><i class="fa fa-plus-circle"></i></span>
            Add View
          </a>
        </div>
      </div>


      <% views.forEach(function(view) {
        var viewName = view.name;
      %>

        <div class="tile tile-view pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 pure-u-xl-1-6" id="<%=viewName %>">
          <div class="paddingBox">
            <div class="borderBox"></div>
            <i class="collection-type-icon fa fa-clone"></i>
            <div class="tileBadge">
            <% if (view.type) { %>
              <span><div class="corneredBadge inProgress"><%=view.type%></div></span>
            <% } %>
            </div>
            <h5 class="collectionName"><%=viewName%></h5>
          </div>
        </div>

      <%});%>
     </div>
  </div>

