<script id="viewView.ejs" type="text/template">

  <div class="innerContent">
    <div id="propertiesEditor" class="document-editor"></div>
    <div class="bottomButtonBar">
      <span class="buttonBarInfo">To learn how to configure Views, please read our documentation <a href="https://docs.arangodb.com/3.4/Manual/Views/ArangoSearch/" target="_blank"><b>here</b>.</a></span>
      <button id="savePropertiesButton" class="button-close pull-right" disabled>Save</button>
      <% if (!window.frontendConfig.isCluster) { %>
        <button id="renameViewButton" class="button-warning pull-right">Rename</button>
      <% } %>
      <button id="deleteViewButton" class="button-danger pull-right">Delete</button>
    </div>
  </div>
  
</script>
