<script id="workMonitorView.ejs" type="text/template">
  <div class="headerBar">
    <a class="arangoHeader">Work Monitor</a>
  </div>

  <div id="workMonitorContent" class="innerContent">
  </div>
</script>
