/*
CSS: ArangoDB Manual
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}


body {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 24px;
    padding: 24px;
    font-family: "Helvetica",sans-serif;
    font-weight: 300;
   	color: #333333;
    font-size: 16px;
    line-height: 1.4em;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0; 
  height: 0;
  visibility: hidden;
}

/* IE-Patch für IE 7*/
*:first-child+html .clearfix { min-height: 0; } 

/* IE-Patch für IE 6*/
* html .clearfix { height: 1%; }



h1, h2, h3, h4, h5, h6 {
	font-family:Helvetica;
	font-weight:lighter;
	line-height:1.0em;
	text-align: left;
}

h1 {
    font-family: Rockwell,Georgia,"Times New Roman",Times,serif;
    font-size: 2em;
    margin-bottom: 48px;
    padding-top: 5px;
}

h2 {
    border-bottom: 1px solid #EFECE9;
    color: #404040;
    font-family: Helvetica,Times New Roman;
    font-size: 26px;
    margin-bottom: 10px;
    padding: 14px 0 34px;
}

a:link, a:visited {
    color: #7E9246;
}

p, ul, ol, dd, pre, hr {
    margin-bottom: 24px;
}

ul {
    list-style: square outside none;
    margin: 0 0 18px 1.5em;
}

hr {
    background-color: #E7E7E7;
    border: 0 none;
    clear: both;
    height: 1px;
}

code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    background-color: #FBFCFD !important;
    border: 1px solid #C4CFE5 !important;
    font-family: monospace,fixed;
    font-size: 105%;
    line-height: 175%;
    margin: 4px 8px 4px 2px;
    overflow: auto;
    padding: 2px 6px;
    word-wrap: break-word;
}


pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}

pre, pre.fragment {
    background-color: #FBFCFD !important;
    border: 1px solid #C4CFE5 !important;
    font-family: monospace,fixed;
    font-size: 105%;
    line-height: 125%;
    margin: 4px 8px 4px 2px;
    overflow: auto;
    padding: 4px 6px;
    word-wrap: break-word;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

input[type="text"],
input[type="email"],
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding:7px;
	border-radius:3px 3px 3px 3px;
}
