name: clang-format
on:
  workflow_dispatch:
  pull_request:
    branches: [ devel, "3.9" ]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Get changed files within arangod, client-tools (arangosh), lib, & tests
        run: echo "CHANGED_FILES=$(git diff --name-only --diff-filter=ACMRT ${{ github.event.pull_request.base.sha }}..${{ github.sha }} -- arangod/ client-tools/ arangosh/ lib/ tests/ | grep -e .cpp$ -e .hpp$ -e .cc$ -e .c$ -e .h$ | xargs)" >> $GITHUB_ENV
      - name: Echo changed files
        run: echo $CHANGED_FILES
      - name: arangodb-clang-format
        uses: arangodb/clang-format-action@1.0.1
        with:
          sources: ${{env.CHANGED_FILES}}
