name: clang-format
on:
  workflow_dispatch:
  pull_request:
    branches: [ devel, staging/replication-2.0 ]
    paths:
      - "arangod/**"
      - "client-tools/**"
      - "lib/**"
      - "tests/**"
jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: calculate diff
        run: |
          mkdir -p build 
          git diff --diff-filter=ACMRT --name-only ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }} -- arangosh/ arangod/ lib/ client-tools/ tests/ Enterprise/ > build/DIFF
      - name: arangodb-clang-format
        uses: arangodb/clang-format-action@1.0.3
